[2015-05-28 18:05] #141 closed, assigned to ahankinson

[2015-05-28 18:05] ahankinson opened #142 "documentation for "bounce" of pedal/@dir is backwards"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 12, 2013 14:34:06_

Should read "bounce release, then immediately depress the pedal"

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=142_

[2015-05-28 18:05] ahankinson commented on #142
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 13, 2013 14:30:47_

This issue was closed by revision r808 .

**Status:** Fixed

[2015-05-28 18:05] #142 closed, assigned to ahankinson

[2015-05-28 18:05] ahankinson opened #143 "make beam and beamSpan, tuplet and tupletSpan, etc. members of att.color"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 21, 2013 15:52:38_

Need ability to record color of more elements in order to not lose this info. on conversion from MusicXML

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=143_

[2015-05-28 18:05] ahankinson commented on #143
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 12:43:33_

This issue was closed by revision r865 .

**Status:** Fixed

[2015-05-28 18:05] ahankinson commented on #143
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 12:55:22_

This issue was closed by revision r866 .

[2015-05-28 18:05] #143 closed, assigned to ahankinson

[2015-05-28 18:05] ahankinson opened #144 "reserve @rend and @style for CSS-like renditional information"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 21, 2013 16:05:39_

Current @rend and @style attributes other than those on the <rend> element should be renamed in order to clear the path for generic @rend and @style attributes than can be applied to more elements (not global, but common). @rend will be used to record visual characteristics of the input doc

[2015-05-28 18:05] ahankinson commented on #144
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on December 10, 2014 12:10:18_

<desc> for del/@rend should be modified thus:

"contains an indication of how the deletion is rendered in the source document."

del/@rend may be restricted to a subset of the values provided by rend/@rend.  Or not.  :-)

[2015-05-28 18:06] ahankinson opened #145 "reduce the number of things called "dur""
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 21, 2013 16:29:37_

Using @dur to express an ending timestamp is confusing.  Control events should instead have @endtstamp for this purpose.  @-dur could then be used to express a true duration.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=145_

[2015-05-28 18:06] ahankinson commented on #145
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 09, 2013 19:18:03_

@-endtstamp should use the datatype allowed currently by att.duration.timestamp, i.e., data.MEASUREBEAT.

@-dur on control events should use the datatype allowed currently by tupletSpan/@dur:

<datatype>
  <rng:list>
    <rng:oneOrMore>
      <rng:data type="token">
        <rng:param name="pa

[2015-05-28 18:06] ahankinson commented on #145
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 09, 2013 19:26:56_

As an example of the issue, the following elements all have different requirements for the content of @-dur:

<slur tstamp="1" dur="0m+3"/>
<beamSpan color="aqua" slope="1" tstamp="1" dur="128"/>
<tupletSpan color="#AAAAAAAA" tstamp="1" dur="128."/>

[2015-05-28 18:06] ahankinson commented on #145
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 29, 2013 20:27:03_

This issue was closed by revision r902 .

**Status:** Fixed

[2015-05-28 18:06] #145 closed, assigned to ahankinson

[2015-05-28 18:06] ahankinson opened #146 "add new notehead shapes"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 10, 2013 19:35:18_

macro.HEADSHAPES needs new values:

"addslash" and "addbackslash"

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=146_

[2015-05-28 18:06] ahankinson commented on #146
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 29, 2013 20:40:00_

This issue was closed by revision r905 .

**Status:** Fixed

[2015-05-28 18:06] #146 closed, assigned to ahankinson

[2015-05-28 18:06] ahankinson opened #147 "add 'parsons' to incipCode/@form"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 14:42:26_

Add 'parsons' as suggested value for @-form on incipCode

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=147_

[2015-05-28 18:06] ahankinson commented on #147
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 11:44:30_

This issue was closed by revision r863 .

**Status:** Fixed

[2015-05-28 18:06] #147 closed, assigned to ahankinson

[2015-05-28 18:06] ahankinson opened #148 "revise handling of page size/geometry"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 15:47:18_

The specification of page size/geometry is currently ambiguous.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=148_

[2015-05-28 18:06] ahankinson commented on #148
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 13:54:17_

This issue was closed by revision r867 .

**Status:** Fixed

[2015-05-28 18:06] ahankinson commented on #148
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 14:14:13_

This issue was closed by revision r869 .

[2015-05-28 18:06] #148 closed, assigned to ahankinson

[2015-05-28 18:06] ahankinson opened #149 "add quarter-tone accidentals to data.ACCIDENTAL.IMPLICIT"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 17:20:36_

The values in data.ACCIDENTAL.IMPLICIT are used by accid.ges, which captures a performed accidental.  Providing quarter-tone values makes it easier to "detune" a sounded note.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=149_

[2015-05-28 18:06] ahankinson commented on #149
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 14:24:04_

This issue was closed by revision r870 .

**Status:** Fixed

[2015-05-28 18:06] #149 closed, assigned to ahankinson

[2015-05-28 18:06] ahankinson opened #150 "element with @subtype must also have @type"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 17:38:24_

add schematron rule to att.typed that enforces this

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=150_

[2015-05-28 18:06] ahankinson commented on #150
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 14:41:25_

This issue was closed by revision r871 .

**Status:** Fixed

[2015-05-28 18:06] #150 closed, assigned to ahankinson

[2015-05-28 18:06] ahankinson opened #151 "capture metronomic unit on M.M. tempo marking"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 17:44:25_

add mm.unit and mm.dots

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=151_

[2015-05-28 18:06] ahankinson commented on #151
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 14:46:54_

This issue was closed by revision r872 .

**Status:** Fixed

[2015-05-28 18:07] #151 closed, assigned to ahankinson

[2015-05-28 18:07] ahankinson opened #152 "permit rests to be explicitly positioned in terms of a pitch location"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 17:59:47_

add attributes to rest elements that allow this

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=152_

[2015-05-28 18:07] ahankinson commented on #152
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 15:04:04_

Looks like this wasn't completely fixed by rev. 700

[2015-05-28 18:07] ahankinson commented on #152
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 15:13:33_

This issue was closed by revision r873 .

**Status:** Fixed

[2015-05-28 18:07] #152 closed, assigned to ahankinson

[2015-05-28 18:07] ahankinson opened #153 "capture characters enclosing a rest"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 18:15:03_

make rest member of att.enclosingchars

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=153_

[2015-05-28 18:07] ahankinson commented on #153
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 15:16:37_

This issue was closed by revision r874 .

**Status:** Fixed

[2015-05-28 18:07] #153 closed, assigned to ahankinson

[2015-05-28 18:07] ahankinson opened #154 "Allow a measure-filling space to have an explicit duration"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 18:21:23_

make att.mSpace.log a member of att.duration.musical and att.augmentdots

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=154_

[2015-05-28 18:07] ahankinson commented on #154
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 14, 2013 15:22:59_

This issue was closed by revision r875 .

**Status:** Fixed

[2015-05-28 18:07] #154 closed, assigned to ahankinson

[2015-05-28 18:07] ahankinson opened #155 "allow @startid on <arpeg>"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 22, 2013 16:12:48_

`@startid` is permitted on several other control events, should be allowed on `<arpeg>` too.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=155_

[2015-05-28 18:07] ahankinson commented on #155
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 29, 2013 09:07:11_

**Labels:** -Priority-High Priority-Low

[2015-05-28 18:07] ahankinson opened #156 "make <zone> a member of att.typed"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 27, 2013 17:10:07_

It would be good to allow <zone> to be a member of att.typed.  This would make it easier to characterize what's contained by the image zone. Currently, zone content can be characterized only by examining the specific element pointed to by the @data attribute, such as a measure, or by searching

[2015-05-28 18:07] ahankinson commented on #156
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on March 29, 2013 20:36:08_

This issue was closed by revision r904 .

**Status:** Fixed

[2015-05-28 18:07] #156 closed, assigned to ahankinson

[2015-05-28 18:07] ahankinson opened #157 "Unequal durations of notes in a chord"
_From [craigsapp](https://code.google.com/u/craigsapp/) on May 21, 2013 11:46:31_

Coding standard-of-practice to add to documentation: If a <chord> contains notes with unequal score durations (@dur), then the <chord> parent element should have @-dur giving the intended duration of the chord in the graphic music notation.

Example:

<chord dur="4">
   <note dur="4">
   <note dur="2">
</chord>

The

[2015-05-28 18:07] ahankinson commented on #157
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on May 30, 2014 08:53:45_

**Labels:** Component-Docs

[2015-05-28 18:07] #157 closed, assigned to ahankinson

[2015-05-28 18:07] ahankinson opened #158 "cross staff stems doesn't work with mei2mup-1.0.4.xsl"
_From [siggelun...@gmail.com](https://code.google.com/u/110461478002540803867/) on June 04, 2013 09:28:00_

What steps will reproduce the problem? The whole input file is attached.

transforming a tune with cross staff stems lead to an exception when running mup on the result. See @@@@ in this example:

[code]

**Attachment:** [kaleidakustikon_10.xml](http://code.google.com/p/music-encoding/issues

[2015-05-28 18:07] ahankinson commented on #158
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on June 04, 2013 09:57:41_

**Owner:** pd...@virginia.edu
  **Labels:** Component-Tools Milestone-ReleaseNext

[2015-05-28 18:08] ahankinson commented on #158
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 11, 2014 13:29:31_

**Labels:** -Priority-Medium Priority-Low

[2015-05-28 18:08] ahankinson opened #159 "mei2mup-1.0.4.xsl tie impossible within measure"
_From [siggelun...@gmail.com](https://code.google.com/u/110461478002540803867/) on June 04, 2013 09:50:45_

What steps will reproduce the problem? The XML below gives a slur but the tie doesn't show up

[code]

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=159_

[2015-05-28 18:08] ahankinson commented on #159
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on June 04, 2013 06:52:48_

**Status:** Accepted
  **Owner:** pd...@virginia.edu
  **Labels:** Component-Tools

[2015-05-28 18:08] ahankinson commented on #159
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 11, 2014 13:30:04_

**Labels:** -Priority-Medium Priority-Low

[2015-05-28 18:08] ahankinson opened #160 "Clarify element description of <supplied>"
_From [stadlerp...@yahoo.fr](https://code.google.com/u/104774976997759771329/) on June 24, 2013 10:38:41_

As discussed on MEI-L [1] I propose to rephrase the element description of <supplied> to not only cover the reason "illegible for any reason" but also "not present in the source material". Additionally, this would make it consistent with section 11.4.1 "Omissions, Unclear Readings, Damage, an

[2015-05-28 18:08] ahankinson opened #161 "wrong datatype for @source"
_From [stadlerp...@yahoo.fr](https://code.google.com/u/104774976997759771329/) on June 25, 2013 04:28:27_

The example for Section 6.4.2 Encoding Variants shows a <rdg source="D">. That's not a "data.URIs"

There may be more of those, I haven't checked ...

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=161_

[2015-05-28 18:08] ahankinson commented on #161
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 06, 2015 14:38:29_

I can't locate the error. Closing because the report appears to be invalid.

**Status:** Invalid

[2015-05-28 18:08] ahankinson commented on #161
_From [stadlerp...@yahoo.fr](https://code.google.com/u/104774976997759771329/) on January 06, 2015 15:11:52_

well, literally source="D" means there is a file with name 'D' in the same directory as the current MEI file. That's of course possible but I suspect the 'D' is meant not to be a filename but some sort of identifier. Hence, I'd suggest to use at least '#D' or some other more URI-like attri

[2015-05-28 18:08] ahankinson commented on #161
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 06, 2015 15:50:04_

Maybe I should have been more precise -- I understand the error, but I can't find any instance of it in the documentation in /trunk.  I haven't done a line-by-line comparison between the PDF of the Guidelines and /trunk, but it appears the erroneous section has been replaced in the source an

[2015-05-28 18:08] ahankinson commented on #161
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 07, 2015 06:45:48_

Doh!  Sorry, I was looking in the wrong place.  Found the error, will re-open the issue, just so I can formally close it with a commit.

**Status:** New

[2015-05-28 18:08] ahankinson commented on #161
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 07, 2015 06:47:30_

This issue was closed by revision r1257 .

**Status:** Fixed

[2015-05-28 18:08] #161 closed, assigned to nobody

[2015-05-28 18:08] ahankinson opened #162 "&lt;Detmold&gt; will look like wrong XML in the Guidelines"
_From [zupf...@googlemail.com](https://code.google.com/u/113984963995030839842/) on June 25, 2013 06:05:52_

In the guidelines on pages 31, 56 and 57, inside the example XML code, <Detmold> is found.  This is obviously escaped (&lt;Detmold&gt;) in the source file (/trunk/source/guidelines/header.xml), but that is not carried over to the PDF.  I'd suggest making the examples copy&paste-able from th

[2015-05-28 18:08] ahankinson commented on #162
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 06, 2015 13:25:27_

This issue was closed by revision r1255 .

**Status:** Fixed

[2015-05-28 18:08] #162 closed, assigned to ahankinson

[2015-05-28 18:08] ahankinson opened #163 "Support angular fermatas"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 27, 2013 15:37:52_

att.fermata.vis/@shape currently allows only 'curved' or 'square' values.  'angular' should be added to support triangle-shaped fermatas.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=163_

[2015-05-28 18:08] ahankinson commented on #163
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 09, 2014 14:57:43_

This issue was closed by revision r1220 .

**Status:** Fixed

[2015-05-28 18:09] #163 closed, assigned to ahankinson

[2015-05-28 18:09] ahankinson opened #164 "Fix definition of 'rip' articulation"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 03, 2013 17:04:11_

The text explanation associated with the "rip" articulation actually defines the "scoop" articulation.  The value "rip" should be replaced by "scoop", "rip" added as a new value and a suitable definition provided.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=164_

[2015-05-28 18:09] ahankinson opened #165 "Interpreting @tstamp2 in relation to target measure"
_From [zolae...@gmail.com](https://code.google.com/u/104951529460473817913/) on July 19, 2013 09:29:24_

What steps will reproduce the problem? 1. Consider an encoding of two measures with different time signatures.
<scoreDef meter.count="4" meter.unit="4" />
<measure n=1>
  <staff/>
  <hairpin tstamp="1" tstamp2="1m+4" />
</measure>
<scoreDef meter.count="6" meter.unit="8" />
<measure n=2>
  <sta

[2015-05-28 18:09] ahankinson commented on #165
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 07, 2015 13:43:14_

The current guidelines say:

<p>For <soCalled>spanning</soCalled> elements like slurs, which are members of the <ident type="class">model.controleventLike</ident> class, it is often more intuitive to record two timestamps – one for the onset of the event and one for its termination. Because

[2015-05-28 18:09] #165 closed, assigned to nobody

[2015-05-28 18:09] ahankinson opened #166 "make elements derived from <dir>, such as mordent, trill, turn, etc., members of att.typed"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 23, 2013 17:40:16_

It is necessary to class these elements when transcoding from MusicXML. An alternative method would be to provide @analog on these elements and others.  At the same time, the documentation for @-label and <label> should be revised to indicate that these are normally reserved for _displayable_ l

[2015-05-28 18:09] ahankinson opened #167 "make <breath> a member of att.typography"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 23, 2013 17:41:37_

Currently, there's no way to capture typographical details of a breath mark.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=167_

[2015-05-28 18:09] ahankinson opened #168 "Add quarter-flat, quarter-sharp, three-quarters-flat, and three-quarters-sharp accidentals"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 29, 2013 11:11:24_

Currently, MEI lacks the fixed quarter-tone accidentals described by Gould in Behind Bars (p. 96).  Consider allowing optional textual content for <accid> that records which sign is to be used, e.g.,

<accid accid="qtrflat">[codepoint for flat-down]</accid> vs.
<accid accid="qtrflat">[codepoint

[2015-05-28 18:09] ahankinson commented on #168
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 29, 2013 13:22:13_

In addition, <accid> can be made a child of the current members of att.ornamentaccid (mordent, trill, and turn). Doing so will allow the accidental(s) associated with the ornament to be a first class object; i.e., permit it to have attributes of its own.  A schematron rule may be provided that

[2015-05-28 18:09] ahankinson opened #169 "enhancement of bend"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 29, 2013 17:50:21_

Currently, MEI lacks an indication that a guitar bend should be performed using the vibrato bar. An @-withbar attribute with data.BOOLEAN values (true|false) should be added to att.bend.log.

Also, the bend element currently relies on the relationship between its tstamp and tstamp2 attributes a

[2015-05-28 18:09] ahankinson commented on #169
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 30, 2013 06:33:49_

Scratch all that rot!  For a release, the @startid and @endid values are different, reflecting the fact that the bend starts on one note and ends on another.  Likewise, the @tstamp and @tstamp2 values are different.  For a pre-bend, @endid has the same value as @startid; that is, only a single

[2015-05-28 18:09] ahankinson commented on #169
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 30, 2013 07:04:32_

data.BEND.AMOUNT should allow a larger range of values -- any single-integer value should be permitted, also any integer followed by .25, .5, or .75.  The following macro definition should do it --

<macroSpec ident="data.BEND.AMOUNT" module="MEI" type="dt">
  <desc>Either an integer value, a d

[2015-05-28 18:09] ahankinson opened #170 "Support for aleatoric and other non-static compositional structures?"
_From [a...@kb.dk](https://code.google.com/u/101822190470135414035/) on July 30, 2013 04:48:40_

Some ossia- or choice-like element would be useful to encode non-fixed or optional contents like aleatoric pieces ("musikalische Würfelspiele" etc.).
The options in this case are given by the composer, but the choice is to be made by the performer during or prior to the performance (thus it is not an e

[2015-05-28 18:09] ahankinson commented on #170
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 11, 2014 13:30:27_

**Labels:** -Priority-Medium Priority-Low

[2015-05-28 18:09] ahankinson opened #171 "@midi.tempo must allow decimal values"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 14, 2013 10:42:20_

For fine-grained control over tempo, @-midi.tempo must allow decimal values.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=171_

[2015-05-28 18:09] ahankinson commented on #171
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 09, 2014 15:07:05_

This issue was closed by revision r1221 .

**Status:** Fixed

[2015-05-28 18:09] #171 closed, assigned to ahankinson

[2015-05-28 18:09] ahankinson opened #172 "add ending value for <dynam>"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 14, 2013 16:51:46_

Indications of dynamics that change over time, such as cresc. and dim., should allow not only a starting value (@val), but also an ending value (@val2). However, @val2 should only be permitted when @tstamp2 is provided.  The resulting 4 values (tstamp, val, tstamp2, val2) can be used to calcu

[2015-05-28 18:09] ahankinson opened #173 "data.COLOR description doesn't fit on the page"
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on August 25, 2013 11:23:52_

In the MEI 2013 Guidelines the data.COLOR regex does not wrap to the page. (Page 682)

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=173_

[2015-05-28 18:09] ahankinson opened #174 "Ending element doesn't allow multiple endings"
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on August 29, 2013 07:00:20_

The guidelines suggest using the @n attribute to encode the ending number for <ending /> (p. 7). However, this doesn't allow for encoding multiple endings in a single block. If one ending is for repeats 1,2,3, with a final ending provided for 4, you cannot use the @-n attribute since it only accepts

[2015-05-28 18:09] ahankinson commented on #174
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 30, 2013 10:54:54_

Repeat "numbers" are not always integers.  For example, taking Andrew's example, what if it said "1-3" under the first ending instead of "1, 2, 3"?  I can support adding @repeats if it has a function other than providing a label for the ending since @label already provides that.  What would @

[2015-05-28 18:09] ahankinson commented on #174
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on August 31, 2013 06:08:11_

That's why I put it in the ".log" attribute class -- I see it as a logical performance issue, rather than simply a label. For example, if I want to have notation software play it back I will need to specify how many times it should play, and where it should go after each repeat.

By all means we can

[2015-05-28 18:09] ahankinson commented on #174
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 31, 2013 09:02:52_

Specifying how a section can/should be expanded to its "through-composed" (i.e., performed) form is the function of <expansion>.  Using your example with 2 written endings, but lots of repetitions --

<section>
  <section xml:id="repeated">

  </section>
  <ending xml:id="end1" label="1,3,5">

[2015-05-28 18:09] ahankinson commented on #174
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 03, 2013 09:04:25_

Ok. It seems a bit weird, but I'll take your word for it. ;)

I'll close this with 'wont-fix'.

[2015-05-28 18:10] ahankinson commented on #174
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 03, 2013 09:08:18_

**Status:** WontFix

[2015-05-28 18:10] #174 closed, assigned to ahankinson

[2015-05-28 18:10] ahankinson opened #175 "relatedItem should be available in bibl"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 30, 2013 11:13:23_

In the ODD, <relatedItem> is a member of model.biblPart, which means it should be available within <bibl>.  However, it is strangely missing from the definition of model.biblPart in the RNG schemas.

<elementSpec ident="relatedItem" module="MEI.shared">
  <desc>(related item) – Contains or re

[2015-05-28 18:10] ahankinson commented on #175
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 31, 2013 09:04:59_

**Labels:** -Priority-Critical Priority-High

[2015-05-28 18:10] ahankinson commented on #175
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 07, 2015 13:28:40_

This appears to have been a problem related to the customization process that has since been resolved.

**Status:** Invalid

[2015-05-28 18:10] #175 closed, assigned to ahankinson

[2015-05-28 18:10] ahankinson opened #176 "barLine needs @staff attribute"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 03, 2013 11:41:33_

The `<barLine>` element must have an attribute that indicates which staff/staves it crosses.  This is particularly important for barlines that affect a sub-set of a score.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=176_

[2015-05-28 18:10] ahankinson opened #177 "use of tstamp.ges"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 26, 2013 16:35:50_

The documentation for tstamp.ges says it is "used to record the onset time in pulses per quarter note (ppq, MusicXML divisions, or MIDI clicks) _since the start of the file._"  However, so far, it has been used to record onset time since _the start of the current measure_.  The documentati

[2015-05-28 18:10] ahankinson opened #178 "overlapping staff groups not currently permitted"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on October 03, 2013 11:55:52_

Overlapping staff groups can be handled by adding @startid, @endid, and @level on <grpSym>. @startid and @endid point to the first and last staffDef included in the group, while @-level indicates how this symbol should be drawn relative to any other group symbols. Symbols with level='1' shou

[2015-05-28 18:10] ahankinson commented on #178
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on October 04, 2013 07:52:52_

The description of @level above is backwards -- symbols with level='1' should be drawn _farthest_ from the start of the staves, level='2' closer, etc.  @-level must work this way in order to allow <grpSym> elements following <staffGrp> to be used as a substitute for nested <staffGrp> element

[2015-05-28 18:10] ahankinson opened #179 "content model of <fw>"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on October 03, 2013 13:41:30_

Adding <anchoredText> will give <fw> the same content model as <pgHead>, <pgFoot>, etc.  In fact, <pgHead>, etc. are provided for the convenience of specifying forme work content once at the beginning of a score.  Hence, the content models should be the same.

_Original issue: http://code.go

[2015-05-28 18:10] ahankinson opened #180 "modify @symbol values on grpSym"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on October 04, 2013 11:35:18_

The top and bottom components of a bracket can be rendered as curved (similar to Unicode #x1D115) or straight (similar to Unicode #x0005B). The simplest method of dealing with this distinction is to add "bracketsq" (bracket square) to the values allowed by @-symbol.  "bracket" will continue

[2015-05-28 18:10] ahankinson opened #181 "Make verse a member of att.color"
_From [raffaele...@gmail.com](https://code.google.com/u/117612283088052098592/) on October 16, 2013 09:53:55_

This will allow @-color on <verse>, but not on <syl>. Individual syllables can be colored with <rend>.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=181_

[2015-05-28 18:10] ahankinson opened #182 "staff group symbols"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on October 21, 2013 15:14:16_

MEI and MusicXML employ different meanings for the "line" grouping symbol value.  In MusicXML, "line" is used to indicate a heavy line used as a grouping symbol.  MEI, however, uses "line" to indicate that the staves within the group are joined at their left end by a thin (barline-like) line

[2015-05-28 18:10] ahankinson commented on #182
_From [kep...@edirom.de](https://code.google.com/u/113787537940489926112/) on October 22, 2013 01:16:21_

Sorry, but I didn't get it completely. Could you point to images of heavy line vs. standard line? Also, you seem to propose to disallow line on all inner staffGrps. I would like to keep that value, since sometimes all you have is a line. Manuscripts tend to disagree with Gardner Read…

[2015-05-28 18:10] ahankinson commented on #182
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on October 22, 2013 13:44:18_

I don't see my earlier response, so I'm going to try again, breaking my comment into two parts.

I don't have a practical example at hand so I've attached a screenshot of the Finale group attributes dialog box.  The second symbol from the left under "Bracket Options" is the symbol we're talk

[2015-05-28 18:10] ahankinson commented on #182
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on October 22, 2013 13:55:28_

The line MEI is trying to describe is the line that joins the staves of a system on the left side, as in the attached image.  I agree that manuscripts often don't conform to Read or other notions of "correct" practice.  That's exactly why MEI attempts to indicate the presence/absence of this

[2015-05-28 18:11] ahankinson commented on #182
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 11, 2014 13:30:52_

**Labels:** -Priority-Medium Priority-High

[2015-05-28 18:11] ahankinson opened #183 "need @analog on <castItem>"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on November 12, 2013 18:19:51_

<castItem> (and other elements in <meiHead>) may map directly to entities in other encoding schemes; therefore, @-analog is needed to capture the name of the target entity.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=183_

[2015-05-28 18:11] ahankinson commented on #183
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 17, 2014 07:38:07_

This issue was closed by revision r1224 .

**Status:** Fixed

[2015-05-28 18:11] #183 closed, assigned to ahankinson

[2015-05-28 18:11] ahankinson opened #184 "modify documentation for @level on <title>"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on December 02, 2013 18:29:41_

The value 'a' indicates 'analytic' of which an article is just one type.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=184_

[2015-05-28 18:11] ahankinson opened #185 "need method for capturing non-filing part of title"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on December 02, 2013 18:33:34_

Titles often begin with articles and other words that don't figure into sorting the title, such as "a", "an", and "the".  MARC indicates the number of these characters in indicator1.  The number "4" in the following example indicates the number of characters to skip (3 letters and a space)

[2015-05-28 18:11] ahankinson opened #186 "revise content of <incip>"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on December 02, 2013 18:41:42_

<incip> should permit the capture of metadata (key, time, role, instrument, etc.) that is currently allowed in bibliographic data, such as MARC.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=186_

[2015-05-28 18:11] ahankinson commented on #186
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 17, 2014 11:56:00_

This issue was closed by revision r1226 .

**Status:** Fixed

[2015-05-28 18:11] #186 closed, assigned to ahankinson

[2015-05-28 18:11] ahankinson opened #187 "The element head is not allowed in projectDesc"
_From [siggelun...@gmail.com](https://code.google.com/u/110461478002540803867/) on December 19, 2013 03:06:13_

What steps will reproduce the problem? 1. 2. 3. What is the expected output? What do you see instead? What version of the product are you using? On what operating system? Please provide any additional information below. In my view <projectDesc> and elements with similar function should h

[2015-05-28 18:11] ahankinson commented on #187
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on December 03, 2014 08:50:14_

Several elements already allow <head>:

castList, contents, event, eventList, history, lg, list, and perfMedium

What other elements are good candidates for inclusion of <head>?

[2015-05-28 18:11] ahankinson commented on #187
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on December 12, 2014 11:22:37_

The availability of <head> could be considered for the following elements:

._Decl (editorialDecl, samplingDecl)
._Desc (changeDesc, encodingDesc, figDesc, fileDesc, pgDesc, physDesc, projectDesc, revisionDesc, roleDesc, sourceDesc, workDesc)
._Grp (castGrp, componentGrp)
._Info (appInfo)
.

[2015-05-28 18:11] ahankinson opened #188 "provide method for capturing script and transliteration scheme in which text is written"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 17, 2014 16:08:07_

xml:lang indicates the language of a segment of text, but there's no way to indicate the script/alphabet in which the text is written.  For example, Chinese can be written in the Roman alphabet (Pinyin, Wade-Giles, etc.) or in actual Chinese characters. (See http://en.wikipedia.org/wiki/Roma

[2015-05-28 18:11] ahankinson commented on #188
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 17, 2014 13:47:26_

http://www.iso.org/schema/isosts/v0.6/doc/n-22d0.html describes how to use fuller values of xml:lang to identify script

[2015-05-28 18:11] ahankinson commented on #188
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 17, 2014 07:25:16_

Since, in accordance with IETF RFC 5646, the script can be indicated as part of the xml:lang attribute, there's no need to add @-script.  An indication of the transliteration scheme is still necessary, however, for example, to differentiate between Chinese written in Roman characters using the

[2015-05-28 18:11] ahankinson commented on #188
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 17, 2014 07:33:02_

This issue was closed by revision r1223 .

**Status:** Fixed

[2015-05-28 18:11] #188 closed, assigned to ahankinson

[2015-05-28 18:11] ahankinson opened #189 "Allow <seriesStmt> to be repeatable"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 17, 2014 16:12:12_

A publication can belong to more than one series.  There is also sometimes a need to provide the same series information in multiple forms, say, in multiple languages.  Therefore, seriesStmt should be made repeatable.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id

[2015-05-28 18:11] ahankinson commented on #189
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 17, 2014 08:22:00_

This issue was closed by revision r1225 .

**Status:** Fixed

[2015-05-28 18:11] #189 closed, assigned to ahankinson

[2015-05-28 18:11] ahankinson opened #190 "provide @xml:lang on all elements that may contain text"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 17, 2014 17:25:09_

Any element that permits textual content should allow capture of its language, script, etc.  This should probably be done at the element level instead of at the class level in order to avoid redundant specifications.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=

[2015-05-28 18:11] ahankinson commented on #190
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 17, 2014 07:33:03_

This issue was closed by revision r1223 .

**Status:** Fixed

[2015-05-28 18:12] #190 closed, assigned to ahankinson

[2015-05-28 18:12] ahankinson opened #191 "duplicate constraintSpecs"
_From [stadlerp...@yahoo.fr](https://code.google.com/u/104774976997759771329/) on April 02, 2014 05:12:30_

in the current mei-source.xml there are duplicate constraintSpec/@ident
- "Check_clef_position_clef" (l. 10198 and 10208)
- "Check_tab_strings" (l. 15534 and 15544).

These @-idents should better be unique since schematron validation chokes on the resulting schema files (tested with the embe

[2015-05-28 18:12] ahankinson commented on #191
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on May 15, 2014 16:45:34_

**Status:** Accepted
  **Labels:** Milestone-ReleaseNext

[2015-05-28 18:12] ahankinson commented on #191
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 11, 2014 13:25:37_

Fixed by commits 1198 & 1199

**Status:** Fixed

[2015-05-28 18:12] #191 closed, assigned to nobody

[2015-05-28 18:12] ahankinson opened #192 "extent should support xml:lang"
_From [klaus.re...@gmail.com](https://code.google.com/u/105834722588578911678/) on May 20, 2014 14:18:52_

As the extent can be quite complicated to describe it should allow @-xml:lang.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=192_

[2015-05-28 18:12] ahankinson commented on #192
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on June 17, 2014 07:33:03_

This issue was closed by revision r1223 .

**Status:** Fixed

[2015-05-28 18:12] #192 closed, assigned to nobody

[2015-05-28 18:12] ahankinson opened #193 "Updating tei_odds.rng"
_From [zolae...@gmail.com](https://code.google.com/u/104951529460473817913/) on June 20, 2014 10:29:56_

There's a duplicate schematron pattern ID ('relatedItem-constraint-targetorcontent11, line 5621) in
/source/tei_odds.rng (file attached) which breaks the validation of customization files (e.g. when trying to validate mei-CMN.xml)

The latest release of tei_odds seems to solve this problem: htt

[2015-05-28 18:12] ahankinson commented on #193
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on June 20, 2014 08:16:08_

Sure, it doesn't make sense to stay with an older version of the TEI RNG.

[2015-05-28 18:12] ahankinson commented on #193
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 12, 2014 03:35:39_

This issue was closed by revision r1246 .

**Status:** Fixed

[2015-05-28 18:12] #193 closed, assigned to nobody

[2015-05-28 18:12] ahankinson opened #194 "staffGrp allowed as a child of measure"
_From [zolae...@gmail.com](https://code.google.com/u/104951529460473817913/) on July 04, 2014 08:54:07_

staffGrp is actually allowed as child of measure:

[code]

Is this intentional? Guidelines ("<staffDef> is allowed only within <staffGrp>, <staff> and <layer>. ") and also Issue 86 suggests it's not.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=194_

[2015-05-28 18:12] ahankinson commented on #194
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on July 04, 2014 05:59:54_

I think you made a typo in your example? Do you mean "<staffGrp label="B" n="1" />" ?

[2015-05-28 18:12] ahankinson commented on #194
_From [zolae...@gmail.com](https://code.google.com/u/104951529460473817913/) on July 04, 2014 06:03:18_

Sorry, the typo is in the title. The title should read:  staffDef allowed as child of measure... can't edit the title so will open a new issue.

[2015-05-28 18:12] ahankinson commented on #194
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on July 04, 2014 06:11:02_

**Status:** WontFix

[2015-05-28 18:12] #194 closed, assigned to nobody

[2015-05-28 18:12] ahankinson opened #195 "staffDef allowed as child of measure:"
_From [zolae...@gmail.com](https://code.google.com/u/104951529460473817913/) on July 04, 2014 09:04:26_

staffDef is actually allowed as child of measure:

[code]

Is this intentional? Guidelines ("<staffDef> is allowed only within <staffGrp>, <staff> and <layer>. ") and also Issue 86 suggests it's not.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=195_

[2015-05-28 18:12] ahankinson commented on #195
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 09, 2014 14:08:01_

It is intentional. <staffDef> is also allowed inside <staff>. It occurs in so many places so that MEI can offer multiple encoding possibilities (and therefore accommodate multiple software designs). If this is a feature that isn't needed in a particular notational repertoire, say CMN, then the

[2015-05-28 18:12] ahankinson commented on #195
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 12, 2014 03:38:20_

**Status:** WontFix

[2015-05-28 18:12] ahankinson commented on #195
_From [zolae...@gmail.com](https://code.google.com/u/104951529460473817913/) on September 12, 2014 03:47:10_

My question targets the discrepancy between the documentation and the actual behaviour, (I didn't try to suggest that it shouldn't be allowed somewhere).

In this case I think the relevant passage of the documentation should be updated to reflect that staffDef isn't only allowed within "wi

[2015-05-28 18:13] #195 closed, assigned to nobody

[2015-05-28 18:13] ahankinson opened #196 "Usage of saxon:evaluate() in musicxml2mei-3.0.xsl"
_From [roewenst...@gmail.com](https://code.google.com/u/107386258860154419675/) on July 31, 2014 10:12:27_

The usage of the Saxon extension function evaluate() forces users to have a Saxon EE license and it doesn't seem to be necessary.

The line 1790 could be rewritten from

<xsl:value-of select="saxon:evaluate(ancestor::part[attributes/time/beats]/attributes/time/beats)"/>

to

<xsl:value-of se

[2015-05-28 18:13] ahankinson commented on #196
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 31, 2014 12:18:03_

Most of the time, plain old, run-of-the-mill time signatures don't need the evaluate() function. BUT, its use is necessary to calculate a common time-base for compound time signatures, for example in /tools/musicxml2mie/Lilypond-MusicXML-TestSuite-0.1/timewise/11c-TimeSignatures-CompoundSimple.

[2015-05-28 18:13] ahankinson commented on #196
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on July 31, 2014 14:18:12_

I was wrong about the reason for using saxon:evaluate. It seems that it's actually being used to choose between <space> and <mSpace> when a MusicXML rest doesn't specify that its duration equals a measure (using @-measure='yes') and <type> is missing.

A better option might be to use the rest's

[2015-05-28 18:13] ahankinson opened #197 "Endless loop in template 'greatestCommonDenominator'"
_From [roewenst...@gmail.com](https://code.google.com/u/107386258860154419675/) on August 05, 2014 08:37:20_

musicxml2mei-3.0.xsl

In template 'greatestCommonDenominator' is no rule for equal values $a and $b. This ends up in an endless loop.

We probably should add something like:

<xsl:when test="$a = $b">
    <xsl:value-of select="$a"/>
</xsl:when>

If you need an example file, let me know.

C

[2015-05-28 18:13] ahankinson commented on #197
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 08, 2014 15:26:21_

This issue was closed by revision r1230 .

**Status:** Fixed

[2015-05-28 18:13] #197 closed, assigned to ahankinson

[2015-05-28 18:13] ahankinson opened #198 "Last note of tuplet dropped"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 08, 2014 18:34:51_

The last note of m. 101 (beginning on line 37137 in the attached MusicXML file) is not output, leading to a warning message that the tuplet beginning 2 notes earlier (@xml:id="d1e45104" / m. 101, staff 10) could not be resolved.

Assigning this to Johannes since he wrote the code for handling

[2015-05-28 18:13] ahankinson opened #199 "Sample Encodings: Incorrect Duration"
_From [crant...@gmail.com](https://code.google.com/u/101624653826735241194/) on August 21, 2014 10:36:50_

In "Joplin_Elite_Syncopations.mei," a sixteenth note is erroneously given @-dur="8". This is on line 346 of the file as of r1215 . In the accompanying PDF file, the corresponding note is the left-hand C on beat 2.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=199_

[2015-05-28 18:13] ahankinson commented on #199
_From [crant...@gmail.com](https://code.google.com/u/101624653826735241194/) on August 21, 2014 07:51:26_

In "Beethoven_op.18.mei," a sixteenth note is erroneously given @dots="1", though no @-dots attribute should be present. This is on line 19682 of the file as of r1206 . In the accompanying PDF file, the corresponding note is on page 5, first system, sixth measure, tenth 16th note in the first

[2015-05-28 18:13] ahankinson commented on #199
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on August 21, 2014 11:30:19_

**Status:** Accepted
  **Owner:** andrew.hankinson
  **Labels:** Component-Docs Milestone-ReleaseNext

[2015-05-28 18:13] ahankinson commented on #199
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 21, 2014 12:47:44_

This issue was closed by revision r1237 .

**Status:** Fixed

[2015-05-28 18:13] ahankinson commented on #199
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on August 21, 2014 12:49:28_

Did you also get the Beethoven Op. 18 correction?

[2015-05-28 18:13] #199 closed, assigned to ahankinson

[2015-05-28 18:13] ahankinson opened #200 "Sample Encodings: Missing Tuplet Information"
_From [crant...@gmail.com](https://code.google.com/u/101624653826735241194/) on August 21, 2014 11:07:18_

In "Brahms_StringQuartet_Op51_No1.mei," tuplet information is missing in measure 26 and on. For example, refer to the second violin part that starts on line 5045 ( r1207 ). Each of the eighth notes has @-tuplet="m1" set, and none of them appears in a <tupletSpan> or <tuplet>.

This correspond

[2015-05-28 18:13] ahankinson commented on #200
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on August 21, 2014 11:30:45_

**Status:** Accepted
  **Owner:** andrew.hankinson
  **Labels:** Milestone-ReleaseNext Component-Docs

[2015-05-28 18:13] ahankinson commented on #200
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 21, 2014 15:20:56_

Hand corrected the @-tuplet attributes. Corresponding <tupletSpan> elements may still be missing or incorrect. Leaving this issue open to remind myself to revisit the <tupletSpan> issue.

**Status:** Started

[2015-05-28 18:13] ahankinson opened #201 "Sample Encodings: Incorrect Duration values"
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on August 21, 2014 14:32:03_

Running Jing validation on the sample collection:

xchord.mei:171:28: error: value of attribute "dur" is invalid; token "0m+2.875" invalid; must be a string matching the regular expression "(long|breve|1|2|4|8|16|32|64|128|256|1024|2048)(.)*"

There are a number of other occurrences of this in that

[2015-05-28 18:13] ahankinson commented on #201
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on August 21, 2014 12:40:22_

Resolved by commit 1236

**Status:** Fixed

[2015-05-28 18:14] #201 closed, assigned to ahankinson

[2015-05-28 18:14] ahankinson opened #202 "data.HEADSTYLE needs an overhaul"
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 09, 2014 17:30:21_

The data types in data.HEADSTYLE are incomplete, and largely a port from MUP.

Also, we should add "none" as a possible notehead type. This differs from a hidden note, since it will should still show the stem and reserve the appropriate amount of note time.

_Original issue: http://code.google.co

[2015-05-28 18:14] ahankinson commented on #202
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 09, 2014 15:40:49_

Upon further inspection there is a 'blank' note head style.

[2015-05-28 18:14] ahankinson commented on #202
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 10, 2014 12:55:41_

Sorry about missing that. No one really expects me to remember every detail about MEI anymore, do they?

Anyway, in order to better accommodate medieval notation (and modern notation too), it would be a good idea to separate the information currently in @-head.shape into multiple attribute

[2015-05-28 18:14] ahankinson commented on #202
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 10, 2014 17:51:11_

What are the values of head.angle? Is it data.DEGREES?

[2015-05-28 18:14] ahankinson commented on #202
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 11, 2014 07:27:11_

Probably, yes.  data.DEGREES is modeled after the CSS rotation property.

[2015-05-28 18:14] ahankinson commented on #202
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 11, 2014 11:16:44_

What would be the impact of having one parameter without others?

For example, if I have:

<note pname="c" dur="2" head.shape="square" />

Would this mean a void square (i.e., a whole-note as a square)?

[2015-05-28 18:14] ahankinson commented on #202
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 11, 2014 14:31:39_

Yes, that's the intention.

When one says

<note pname="c" oct="4" dur="2"/>

the rendered notehead is based on a set of assumptions -- that the notehead is an oval, is "stroked" in black, and isn't filled. Those assumptions can be made explicit or contradicted by adding more attributes.

[2015-05-28 18:14] ahankinson commented on #202
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 11, 2014 15:39:53_

Yeah, "coloration" is different than a note's color, so we should definitely keep those separate.

The reason I'm being so active on this front lately is that I'm trying to work through the numerous options for Sibelius and figuring out how to encode them in MEI. Making a distinction between fill

[2015-05-28 18:14] ahankinson commented on #202
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 12, 2014 07:26:15_

I figured you were doing something like that.  It would be great to chronicle your progress on MEI-L.

[2015-05-28 18:14] ahankinson opened #203 "Add 'triangle' or 'carat' for fermata"
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 10, 2014 18:04:27_

The @-shape on <fermata /> is missing a value for a "short pause," or triangle-shaped fermata. This should be added.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=203_

[2015-05-28 18:14] ahankinson commented on #203
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 10, 2014 15:37:57_

There's an "angular" value that represents a triangle above or below the dot.  Is that not what you're asking for?

[2015-05-28 18:14] ahankinson commented on #203
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 10, 2014 15:40:36_

I'm looking at @-shape on <fermata /> and not seeing it there (MEI 2013 Guidelines). All I see is 'curved' or 'square.'

Am I missing something?

[2015-05-28 18:14] ahankinson commented on #203
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 10, 2014 15:42:21_

Ah! I see it's been added now.

[2015-05-28 18:15] ahankinson commented on #203
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on September 11, 2014 07:30:35_

Remember that the 2013 Guidelines represent a particular point in time in MEI's development.  The latest (and sometimes greatest) version is always in /trunk.  Even there it's difficult to keep the Guidelines in sync with the ODD.  I make more of an effort to keep the RNG schemas in sync w

[2015-05-28 18:15] ahankinson commented on #203
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 11, 2014 09:54:51_

I know that, but it's easier to read the documentation than troll through the schema, so I missed it.

[2015-05-28 18:15] ahankinson commented on #203
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 12, 2014 03:26:18_

Closing since it's already implemented.

**Status:** Invalid

[2015-05-28 18:15] #203 closed, assigned to ahankinson

[2015-05-28 18:15] ahankinson opened #204 "data.ARTICULATIONS is missing 'scoop'"
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on September 10, 2014 18:35:27_

I'm not sure if there's an equivalent value in there, but I can't seem to find anything that relates to a scoop.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=204_

[2015-05-28 18:15] ahankinson opened #205 "description of accid.ges"
_From [zolae...@gmail.com](https://code.google.com/u/104951529460473817913/) on October 09, 2014 04:45:26_

See the description of accid.ges:

"Records the performed pitch inflection when it differs from the written accidental."

I think this description is slightly inaccurate, because @-accid.ges can describe the performed pitch regardless whether it is the same or not as the written accidental,

[2015-05-28 18:15] ahankinson opened #206 "Malformed xml mei-source!"
_From [raffaele...@gmail.com](https://code.google.com/u/117612283088052098592/) on November 07, 2014 11:50:19_

Root element has two xmlns definitions.

Can I just commit the fix or do we need to wait for a release?

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=206_

[2015-05-28 18:15] ahankinson commented on #206
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on November 07, 2014 19:23:51_

Which file is this in?

I think you should push the fix to trunk and then tag a new bugfix release (2.1.2?).

[2015-05-28 18:15] ahankinson commented on #206
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on November 07, 2014 19:26:34_

If you let me know how to detect this, I can add a test case for it to catch these kinds of errors in the future. (BTW, we have a Jenkins server set up to build and test commits: http://dev.simssa.ca:8080/jenkins/job/music-encoding-initiative/ )

[2015-05-28 18:15] ahankinson commented on #206
_From [raffaele...@gmail.com](https://code.google.com/u/117612283088052098592/) on November 08, 2014 05:19:02_

I'm sorry - looks like I messed up and spoke too soon. The file is correct, closing.

**Status:** Invalid

[2015-05-28 18:15] #206 closed, assigned to ahankinson

[2015-05-28 18:15] ahankinson opened #207 "tapeConfig duplicates soundChan"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on November 17, 2014 15:51:02_

<tapeConfig> and <soundChan> contain the same information, but for different media -- analog tape in the first instance and other recordings in the second.  Since <tapeConfig> is for a specialized case of <soundChan>, it should be deprecated/removed and <soundChan> used in all cases.  The d

[2015-05-28 18:15] ahankinson commented on #207
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on December 11, 2014 14:54:08_

The MARC subfields to which tapeConfig and soundChan map appear to deal with _input_ (or physical tracks) on a sound medium and _output_ (or playback) channels for reproduction.  For example, an 8-track tape has 8 physical tracks of which only 2 at a time are employed during playback.  Ther

[2015-05-28 18:15] ahankinson opened #208 "pubStmt in driver.xml invalid"
_From [b.w.b...@googlemail.com](https://code.google.com/u/113548304175748789496/) on January 15, 2015 03:35:24_

What steps will reproduce the problem? 1. open driver.xml
2. validate
3. go to: line 59 What is the expected output? What do you see instead? in tei:pubStmt tei:availability has to be preceeded by one of (tei:ab | tei:authority | tei:distributor | tei:p | tei:publisher)

Currently avail

[2015-05-28 18:15] ahankinson commented on #208
_From [b.w.b...@googlemail.com](https://code.google.com/u/113548304175748789496/) on January 15, 2015 00:42:22_

Fixed by Revision: 1269

**Status:** Fixed

[2015-05-28 18:15] #208 closed, assigned to ahankinson

[2015-05-28 18:15] ahankinson opened #209 "guidelines performance.xml validation error classRef"
_From [b.w.b...@googlemail.com](https://code.google.com/u/113548304175748789496/) on January 15, 2015 04:13:49_

What steps will reproduce the problem? 1. open guidelines/performance.xml
2. validate
3. inspect errors in lines 73 and 125 What is the expected output? What do you see instead? Although a good idea, te:classRef is not allowed in tei:p;
Generating the guidelines will just ignore the tei

[2015-05-28 18:15] ahankinson commented on #209
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 14:26:28_

This issue was closed by revision r1274 .

**Status:** Fixed

[2015-05-28 18:15] #209 closed, assigned to ahankinson

[2015-05-28 18:15] ahankinson opened #210 "Simplify relationship between textphraseLike.limited and textphraseLike models"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 17:37:58_

Since textphraseLike.limited is a subset of textphraseLike, it should be a member of textphraseLike.  milestoneLike.txt should _not_ be a member of either textphraseLike.limited or textphraseLike.

memberOf textphraseLike.limited:
addressLike, bibLike, dateLike, editorialLike, figureLike, id

[2015-05-28 18:15] ahankinson commented on #210
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 14:59:06_

**Labels:** Milestone-ReleaseNext

[2015-05-28 18:16] ahankinson opened #211 "Allow relative letter-spacing & line-height"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 17:40:00_

Currently, only absolute values are permitted. Adding an optional '&#37;' will allow relative values.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=211_

[2015-05-28 18:16] ahankinson commented on #211
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 14:59:22_

**Labels:** Milestone-ReleaseNext

[2015-05-28 18:16] ahankinson opened #212 "Revise line rendition"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 17:43:50_

The current configuration of att.linerend/data.LINERENDITION doesn't allow independent line type and width values. att.linerend should provide 2 attributes (for example, @lform and @-lwidth).

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=212_

[2015-05-28 18:16] ahankinson opened #213 "Support SMuFL"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 17:46:02_

Allow SMuFL code point references on musical elements.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=213_

[2015-05-28 18:16] ahankinson commented on #213
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 14:59:35_

**Labels:** Milestone-ReleaseNext

[2015-05-28 18:16] ahankinson opened #214 "extend data.ARTICULATION, data.ACCIDENTAL, etc. to include SMuFL code points"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 17:56:57_

While it's not necessary to allow all the possibilities of SMuFL, adding some additional values (additional quarter-tone and just intonation accidentals and additional articulations, for example)

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=214_

[2015-05-28 18:16] ahankinson commented on #214
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 14:59:51_

**Labels:** Milestone-ReleaseNext

[2015-05-28 18:16] ahankinson opened #215 "Harmonize models of line and gliss"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 27, 2015 17:58:38_

gliss should allow text content (as line currently does). @-text can be removed.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=215_

[2015-05-28 18:16] ahankinson opened #216 "Add "clones" of SVG elements to model.graphicprimitives"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:13:09_

MEI already has anchoredText, curve, line, and symbol elements that allow the capture of graphic elements on the score and permit the definition of user-defined symbols. Unlike similar SVG elements, these MEI versions allow relative positioning. It would be helpful to create additional eleme

[2015-05-28 18:16] ahankinson opened #217 "Revise content model of figDesc"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:21:18_

The current content model figDesc is too broad, creating an opportunity for abuse. model.graphicprimitive should be removed and a schematron rule added to stop the mixing of structured and unstructured text; that is, disallowing the use of p, list, table, etc. when plain text is used, and vi

[2015-05-28 18:16] ahankinson opened #218 "Harmonize models of list-like elements"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:22:38_

biblList, eventList, handList, list, termList should all allow <head>.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=218_

[2015-05-28 18:16] ahankinson opened #219 "Allow <lg> within <p>"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:25:23_

All the other members of model.textcomponentLike (except <p> itself) are allowed within <p>, but not <lg>.  Adding it will facilitate copying/transforming other markup (HTML, TEI) to MEI.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=219_

[2015-05-28 18:16] ahankinson opened #220 "Move <head> to MEI.shared"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:26:12_

Since <head> is used by members of more than one other module, it should be moved to MEI.shared.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=220_

[2015-05-28 18:16] ahankinson opened #221 "Allow <head> in more places with meiHead and text-containing elements"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:29:01_

Allowing <head> in more elements that occur in the header (not just <projectDesc> as covered by issue `#187` ) will permit the header to better capture existing (printed) thematic catalogs. In addition, wherever head is allowed, it should be allowed to occur multiple times in order to captur

[2015-05-28 18:16] ahankinson opened #222 "Provide markup examples and illustrations within elementSpec"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:32:25_

While some redundancy may occur (swelling the complete Guidelines even more), markup examples and illustrations within elementSpec provide for better quick reference than having to seek out this info in the textual part of the Guidelines.

_Original issue: http://code.google.com/p/music-enco

[2015-05-28 18:16] ahankinson opened #223 "Support page-based markup"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:34:24_

The page-based markup employed by Verovio should be made an official part of MEI.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=223_

[2015-05-28 18:16] ahankinson opened #224 "Add a generic fingering element"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:38:19_

Currently, fingerings (guitar, piano, etc.) can be recorded using <dir>. The new <fingering> element can be a syntactic sugar replacement for <dir> or permit a more structured representation that captures individual finger indications and their relationships to each other (e.g. substitutions

[2015-05-28 18:16] ahankinson opened #1600 "Create a "visual index" for the Guidelines"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 11:46:19_

An image of music notation where features are labelled and/or linked to explanations and/or examples of MEI markup would be useful.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=225_

[2015-05-28 18:16] ahankinson opened #226 "enforce constraints on @altsym, @resp, @hand, @classcode"
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 28, 2015 18:05:25_

The Guidelines declare constraints on these attributes but they're not enforced by Schematron rules.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=226_

[2015-05-28 18:16] ahankinson opened #227 "<instrumentation> and subelements should allow att.edit"
_From [klaus.re...@gmail.com](https://code.google.com/u/105834722588578911678/) on January 29, 2015 08:11:10_

At some point it may not be possible to identify the original instrumation of a work (completely). So it should be possible to mark the coding with @-cert.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=227_

[2015-05-28 18:16] ahankinson commented on #227
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on January 29, 2015 07:52:08_

Examples of the use of att.edit on <instrumentation> and its sub-elements would be useful.

[2015-05-28 18:16] ahankinson commented on #227
_From [klaus.re...@gmail.com](https://code.google.com/u/105834722588578911678/) on February 02, 2015 09:13:59_

If there are no musical sources for a piece, which is only known to be a cantata maybe it could be coded like:

<instrumentation cert="unknown">
  <instrVoiceGrp>
    <head>Choir</head>
  </instrVoiceGrp>
  <instrVoiceGrp>
    <head>Orchestra</head>
  </instrVoiceGrp>
</instrumentation>

[2015-05-28 18:16] ahankinson commented on #227
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 02, 2015 13:07:35_

If what you're trying to accomplish is to differentiate between the instrumentation given by the manuscript vs. what is given by a catalog entry (presumably for the work), then the instrumentation for the work can be recorded in work/perfMedium/instrumentation (or in expression/perfMedium/i

[2015-05-28 18:16] ahankinson commented on #227
_From [a...@kb.dk](https://code.google.com/u/101822190470135414035/) on February 03, 2015 03:40:06_

If I understand this right there are two scenarios discussed here: One where the intended instrumentation of the work is uncertain because of lack of information and one where different instrumentations are used in the sources (of course, a missing part in a set of parts is not a different instrume

[2015-05-28 18:16] ahankinson commented on #227
_From [klaus.re...@gmail.com](https://code.google.com/u/105834722588578911678/) on February 03, 2015 05:45:27_

Indeed I was thinking of the work as abstract idea rather than the various sources. So the last example of Axel would be more source specific. (And I quite like the <add> in there.) But, to clarify this a little, for the instrumentation of a !work! you have to consider every piece of inf

[2015-05-28 18:17] ahankinson commented on #227
_From [pd...@virginia.edu](https://code.google.com/u/103686026181985548448/) on February 23, 2015 12:41:18_

Pursuing Axel's differentiation of 2 use cases of instrumentation -- at the work level and at the expression level (MEI _doesn't_ currently allow instrumentation at the manifestation level) -- it seems to me that a _work_ can ultimately have only 1 statement of its instrumentation.  This st

[2015-05-28 18:17] ahankinson commented on #227
_From [a...@kb.dk](https://code.google.com/u/101822190470135414035/) on February 24, 2015 07:10:05_

Making <instrumentation> and descendants members of att.edit is fine with me as an alternative to <add> since @-evidence="conjecture" is enough to indicate that the content has been added.

The question about <instrumentation> in <source> is a complex one, which I think deserves discussion on MEI-L

[2015-05-28 18:17] ahankinson opened #228 "allow app within verse"
_From [kep...@edirom.de](https://code.google.com/u/113787537940489926112/) on February 19, 2015 11:51:34_

citing from Laurent's mail:

Is there any particular reason why /app is not allowed within /verse? I could do:

/app
  /rdg
    /verse
      /syl
  /rdg
    /verse
      /syl

But since the verse is the same in my case, I would instinctively do:

/verse
  /app
    /rdg
      /syl
    /rdg

[2015-05-28 18:17] ahankinson opened #229 "Allow staffDef to specify the type of notation that occurs on it"
_From [lxpu...@gmail.com](https://code.google.com/u/115417461610980138677/) on February 26, 2015 17:30:05_

When dealing with several notation types (e.g., cmn and mensural), this would make it easy to now what is the content of a specific staff.

_Original issue: http://code.google.com/p/music-encoding/issues/detail?id=229_

[2015-05-28 18:17] ahankinson commented on #229
_From [andrew.hankinson](https://code.google.com/u/andrew.hankinson/) on February 26, 2015 14:33:59_

Related discussion: https://lists.uni-paderborn.de/pipermail/mei-l/2011/000432.html

[2015-06-05 16:59] ahankinson commented on #202
After MEC 2016, we had a discussion about SMuFL support in MEI, specifically related to notation head styles, so this issue is related to #213

[2015-06-08 15:57] raffazizzi opened #232 "Ornaments visual attribute classes should be members of att.altsym"
Currently it's not possible to specify an alternative symbol for an ornament, even though the guidelines say (from the desc of `@form` on mordent): "Another attribute in the visual domain would be necessary in order to be completely explicit about which visual symbol is actually to be rendered."

The following attribute classes should be members of att.altsym:
- att.mordent.vis
- att.turn.vis
- at

[2015-06-09 13:46] raffazizzi commented on #232
I would also suggest that this is a bug, not an enhancement: the element's description clearly states that there should be an attribute in the visual domain that is currently missing.

[2015-06-09 16:06] ahankinson commented on #102
I believe this one should in fact be closed.

[2015-06-09 16:06] #102 closed, assigned to ahankinson

[2015-06-27 19:10] lpugin opened #242 "Version number of the next release"
So far the next release is known as MEI 2015. Do we want to use this, or should it be 3.0.0?

[2015-06-28 02:12] ahankinson commented on #242
I think we should increment it by a major version, since the next version contains backwards-incompatible changes.

[2015-06-28 02:19] ahankinson commented on #53
@kepper SVG is available in MEI in the Beethoven Project. Is that a customization, or are you doing straight-up MEI?

[2015-06-28 03:32] ahankinson opened #243 "MEI 2013 to 2015 XSLT"
We should publish an XSLT to transform MEI 2013 files to MEI 2015.

[2015-06-30 11:20] kepper commented on #53
It's part of a customization (we also had it in Edirom already). Look for lines 72 - 78 in https://github.com/BeethovensWerkstatt/Data-Model/blob/master/odd/bw_data.model_2014.odd

[2015-06-30 12:11] lpugin opened #245 "Permanent links to the schema"
Since the Google Code repository will be dropped, the links to the schema previously hosted on Google Code will need to be changed to the new url. This is actually a pretty bad practice and I think we should avoid it in the future. So we should have a permanent url for the schema that does not rely on a repository system. We can use music-encoding.org and either copy each release there or redirect

[2015-06-30 14:20] raffazizzi commented on #245
:+1: Very good idea! I would prefer this format, however:

http://www.music-encoding.org/schema/latest/mei-all.rng
http://www.music-encoding.org/schema/3.0.0/mei-all.rng

[2015-06-30 14:23] zolaemil commented on #245
+1

Redirect is possibly the best...

[2015-07-01 08:09] lpugin commented on #245
Great. Would http://schema.music-encoding.org/latest/mei-all.rng be OK? Having a sub-domain might make it easier to manage redirections

[2015-07-01 09:55] ahankinson commented on #245
My preference would be for a sub-folder, not a sub-domain.

`http://music-encoding.org/schema/...`

I don't really know why, it just seems a bit clearer. I'm don't really care either way, though.

[2015-07-01 10:02] lpugin commented on #245
OK, let's see. I proposed the sub-domain since we are using WordPress for the site and redirect might be  more complicated with the sub-folder. We are looking at it.

[2015-07-01 13:43] pe-ro commented on #53
It's also covered in the 2015 customization, but commented out because it seemed like too large a topic to tackle at the time. In the customization, <svg> is a member of model.graphicLike, making it possible to use it anywhere one could previously use <graphic>. such as in <incip>.

[2015-07-02 07:15] lpugin commented on #245
@kepper is suggesting
http://www.music-encoding.org/schema/current/mei-all.rng in order to match the documentation url (current instead of latest). OK?

[2015-07-02 07:52] kepper commented on #245
actually, we can also change the documentation to support both (or just latest). No special preference here…

[2015-07-02 09:35] lpugin commented on #245
OK, a trial there
http://www.music-encoding.org/schema/2.1.1/mei-all.rng

However, this is not ideal because the end url is still the GitHub one. We would need another way to redirect, and at this stage I think it would be simpler to just have a copy of the files.

[2015-07-02 09:38] ahankinson commented on #245
I believe we've dropped the `www` prefix, so:

`http://music-encoding.org/schema/2.1.1/mei-all.rng`

[2015-07-02 09:47] kepper commented on #245
but isn't this exactly the behavior of a 301? It's a permanent redirect, which tells users (and crawlers) that the original resource is now available from the target pointed at. Not sure which consequences it would have to hide this. Oxygen doesn't choke on the redirect (I just tried the schema below), and only if people want to follow the link "manually", they would end up at GitHub. I think that

[2015-07-02 09:53] ahankinson opened #246 "Cleanup some old branches"
Currently we have a bunch of old branches which survived the move from the Google Code repo. While I think we can keep a few of them, there are some that can go away.

Perhaps the following could be scheduled for removal:
- Raffaele@197
- Raffaele
- FeatureRequests
- FeatureRequests@208
- Documents@208

@raffazizzi @pe-ro

[2015-07-02 10:00] lpugin commented on #245
Yes, it is ended the expected behavior. But I would try to avoid to have
the GitHub url visible since it will end up being used.

On Thu, Jul 2, 2015 at 11:47 AM, kepper notifications@github.com wrote:

[2015-07-02 10:09] kepper commented on #245
but where is it visible? Not to people using it in the MEI files. So probably it's only visible to people trying to download the file. This could be prevented by referring to it with a "download"-attribute (http://caniuse.com/#feat=download). But you're right, there is no way to ultimately prevent that people use the github URI…

Am 02.07.2015 um 12:00 schrieb Laurent Pugin notifications@github.co

[2015-07-02 10:11] ahankinson commented on #245
Since we release infrequently, we can copy the files over -- it might be different if we were releasing every week, but copying files is probably the best and easiest solution that will ensure that all tools can use it. (Will jing or xmllint follow the redirect too? Possibly not.)

[2015-07-02 10:16] lpugin commented on #245
I agree, it is clearer and not a significant overhead to copy the files

On Thu, Jul 2, 2015 at 12:11 PM, Andrew Hankinson notifications@github.com
wrote:

[2015-07-02 14:00] raffazizzi commented on #246
You can certainly removed the "Raffaele" ones. I think it's some old additions to musicxml2mei XSLTs that would be completely obsolete by now. Or first attempts at moving from rng to ODD

[2015-07-02 19:50] raffazizzi commented on #214
I wonder if it is a good idea to add the code points as a value? It could be problematic when there are compound glyphs. And SMuFL is not very semantic and may have different symbols to indicate an accent, but for MEI it should be an accent with different rendering.

Wouldn't it be better to allow `@altsym` to be used more generally and have it point to a `symbolTable` of SMuFL codepoints? We coul

[2015-07-02 20:32] pe-ro commented on #214
Allowing code points as the value of artic is a bad idea.  altsym should already point to a symbolDef element (not symbolTable).  symbolDef must be redefined along the lines of TEI's char element (in pseudo DTD syntax) --

symbolDef (symName?, symProp*, mapping*, model.graphicLike*, annotLike*)
symName (#PCDATA)
symProp ((unicodeName | localName), value)
mapping (#PCDATA | symbol)*  -- this is exp

[2015-07-02 20:39] ahankinson commented on #214
You can do that by enclosing your code with three backticks. Optionally, you can set the language by adding it to the end of the opening backticks, so:

<pre>
[code]
</pre>

becomes

[code]

[2015-07-02 20:40] raffazizzi commented on #214
I know that, and my example complies. What I meant is that I think `@altsym` should be more widely available, for example it is not on `<artic>` at the moment. That would be needed even with with what you're suggesting right? Or would you want an entirely new attribute for the codepoints or names?

[2015-07-02 20:44] pe-ro commented on #214
Sorry, I misunderstood your suggestion.  Yes, `@altsym` should be more widely available.  But it should be used only to point _internally_; that is, to the ID of a `<symbolDef>` element.  One or more new attributes have to be added to support the "quick and dirty" method.

[2015-07-03 06:44] ahankinson commented on #204
This is a duplicate of #164. Closing this one.

[2015-07-03 06:44] #204 closed, assigned to ahankinson

[2015-07-06 18:18] pe-ro commented on #214
The "quick and dirty" method I now think would be best accomplished by adding `@smuflname` and `@smuflcode` in a new MEI.smufl module. This would make it possible to "short circuit" the `@altsym / <symbolDef>` methodology in a very intuitive way. If SMuFL is eclipsed someday by some other system, then it would be very easy to ignore the SMuFL module and create another for the new thing.  But, I wa

[2015-07-06 18:40] kepper commented on #214
Am 06.07.2015 um 20:18 schrieb pe-ro notifications@github.com:

I'd like to see some real-world examples, ideally some that illustrate the problems where MEI and SMuFL implement a different level of granularity…

Just the other day, I encountered yet another problem with Beethoven, or better with expectations about the encoding of his scores. To make a long story short, it was about the expectatio

[2015-07-06 19:08] pe-ro commented on #214
I think you've just provided a very good example (better than any I can conjure at the moment).  Note heads, stems, and flags are the only examples I have found so far that require "elevation" to element status, since we already provide accid, artic, and dot elements inside `<note>`. BTW, `<notestem>` would be best expressed as simply `<stem>` as it must be allowed within `<chord>` too.

I share s

[2015-07-06 22:16] pe-ro commented on #214
I'm wondering (assuming the addition of `<notehead>`, `<stem>` and `<flags>` as children of `<note>`) if we can exclude these from `<app>`. It seems to me that since these things (along with `<accid>` and `<dot>`) influence the fundamental "character" of a note (as opposed to `<artic>` which affects only its performance), a change in their presence or value imply a completely **different** note, n

[2015-07-07 08:32] kepper commented on #214
Well, let me contradict myself. I agree that adding a flag significantly changes the character of a note. However, this is already a conceptual approach that may not be appropriate for every project under the sun. I know you'd like to restrict the possibilities for abusing edit.trans markup (app/rdg, add, etc.), but I don't think that's feasible. Probably, the best we can do is to add a whole lot

[2015-07-07 13:06] ahankinson commented on #246
OK, I've deleted the Raffaele ones. Anyone else have any feeling on this?

[2015-07-07 15:27] pe-ro commented on #214
I think we're in agreement: additional elements inside `<note>` for head, stem, and flags provide a great deal of encoding power, but power in the hands of the uninitiated they're problematic. So, encoders need guidance -- via Schematron, documentation, etc.

I also agree that mei.all is over-used and that it would be good to make some "pre-cooked" customizations available, but this is not a compl

[2015-07-07 15:35] kepper commented on #214
You're right, we're in agreement. It seems we've gone a long way in this ticket, and I hardly remember what actually started this discussion. Maybe someone who's more familiar with all these possibilities can move this into a separate ticket, with a more appropriate title?

What I would hope to get is a simplified version of roma, that is, a website where the user gets a very brief explanation of

[2015-07-07 15:48] ahankinson commented on #214
I have thought about a customization service where you can turn on/off modules. It would be a bit tricky since you would have to generate the ODD customization file, which would mean likely starting with the MEI-all template and then automatically commenting the disabled modules via an XSLT.

However, for this I would suggest just quickly filing an issue on the customeization repository as a featu

[2015-07-07 17:39] pe-ro commented on #214
Yeah, I figure that’s how it has to work.  Having a look at the TEI process probably wouldn’t hurt, too.

[2015-07-07 19:06] kepper commented on #214
I'm happy to write that XSLT. It would require some parameters from the website, indicating which modules to drop. You just need to specify in which way it is most comfortable for you to pass along that info. The task should be simple enough to be doable with XSLT1.0, if that helps for the workflow�

Am 07.07.2015 um 17:48 schrieb Andrew Hankinson notifications@github.com:

[2015-07-07 19:29] pe-ro commented on #214
I’m not sure what you mean by starting “with the MEI-all template”.  As long as the modification is limited to turning off modules, I think it could be as simple as creating an ODD customization file that contains nothing but <moduleSpec> elements for the desired modules.  This could be generated by applying an XSLT to the mei-source.xml file.

[2015-07-08 15:07] raffazizzi commented on #214
Hi, I'm just catching up with this discussion.

I wonder if the proposed `@smuflname` and/or `@smuflcode` should allow multiple values for combining glyphs. This may help avoiding having to match SMuFL's granularity. And it would certainly be useful for ornaments (see #241). SMuFL is uniquely concerned with the graphemic domain. We shouldn't jeopardize MEI's modelling of music notation to match SM

[2015-07-08 16:02] pe-ro commented on #214
Allowing multiple values in `@smuflname` and `@smuflcode` would, as you say, support combining glyphs.  I see how could work for `<trill>` or a generic `<ornam>` element, but I'm not so sure about using it on something like `<note>`.  Doing so could provide a "stop gap" solution, but I think we'd eventually have to deal with the cognitive dissonance it would create anyway.  In the proposals / disc

[2015-07-08 16:03] pe-ro commented on #214
@lpugin, you want to jump in here?

[2015-07-08 17:18] lpugin commented on #214
It seems to me that the SMuFL codepoints and the introduction of new elements are two different things (even though not completely unrelated, I agree). I don't think we need to rush for the SMuFL addition. Maybe we should wait until we have a clearer idea on what to do with it. By introducing the topic at MEC we wanted to make sure we do not duplicate things that are already defined in SMuFL. The

[2015-07-08 18:03] pe-ro commented on #214
I get where you're coming from, Laurent, but (and here we go with the interconnectedness of all these things), if we consider the needs of the black mensural notation crowd (and the not-yet-created postmodern notation IG), there will either have to be an increase in the number of elements or an explosion in the number of attributes for visual qualities.  My thinking is that a small increase in the

[2015-07-09 07:57] ahankinson commented on #214
I'll chime in to say I feel a bit uneasy about favouring sub-element encoding over attribute encoding. One of the best design features of MEI is, in my mind, the clear separation between the object and an object's properties via the use of elements/attributes where appropriate. This makes MEI much more human-readable and easy to understand.

I do undertand the need to talk about certain features a

[2015-07-09 09:03] kepper commented on #214
I whole-heartedly agree. We are in a dilemma here, having to balance quite different expectations and requirements. We probably all agree that in most cases, attributes will be absolutely sufficient, but we also recognize that there are cases where additional granularity is needed. At the same time, it seems like a good idea to use one approach (either attributes or elements) consistently througho

[2015-07-09 09:42] zolaemil commented on #214
Jo

Your question reminds me to Elena's keynote at MEC, where she clearly put her penny down beside the latter. On the other hand, the question is where is the border line between the two? I always wondered about the post-CMN notation in MEI, and I am glad that Perry mentioned "the not-yet-created postmodern notation IG". The further we go from CMN, the more important the graphical nature of the s

[2015-07-09 09:57] kepper commented on #214
Am 09.07.2015 um 11:42 schrieb Zoltan Komives notifications@github.com:

I strongly believe there is no natural border, and it is upon us to draw the one we want – which makes it so hard to decide…

Well, there is certainly room in MEI to cover parts of that, but I doubt that we can come up with an encoding _standard_ for non-recurring notational systems, made up for just one score. I believe that

[2015-07-09 13:00] raffazizzi commented on #214
Perhaps unsurprisingly, given that Elena is my teacher, but I argue that text encoding is always a tool for formalizing interpretation. The encoding always crystallizes an interpretation, regardless of whether the intention is transcribing the source as it stands (rather: as _you think_ it stands) or to provide a more hands on interpretation of it. It is impossible to create an unbiased model of a

[2015-07-09 14:17] pe-ro commented on #214
Raff, I see your reasoning here re: `<flag>` vs. `<flags>`, but I still think that may be a step too far.

I agree that we should investigate the possibility of putting these new "granularity" elements in some kind of module so that they can be isolated from "core" MEI.

I'm not in a great rush to take this path; i.e., going toward a more element-centric encoding, but in light of the fact that Mus

[2015-07-09 14:24] pe-ro opened #248 "restrict @n to positive integer vallues"
While most users so far have intuitively avoided it, there can be confusion between `@n` and `@label` if `@n` is allowed to continue to hold text values.  I believe there should be a clear separation in the way these attributes are used -- `@n` for numeric and `@label` for text labels/identifiers/names/whatever.  Restricting `@n` will allow the removal of several Schematron rules that validate the

[2015-07-09 14:41] pe-ro commented on #45
Adding `<extent>` to `<work>` is addressed in my 2015 customization.  HOWEVER, at this point I believe it's implemented entirely wrong and it's too complex.  Of course, `<extent>` may be allowed within `<work>` easily; the difficulty comes in effectively distinguishing between measurements of logical **size** and **duration** (intended and actual).  The simplest means, I now believe, is to add new

[2015-07-09 14:56] lpugin commented on #248
I agree that it is essentially a clarification. Maybe we can have somewhere in the release summary a list of them? Likely items for which the change is only in the Schematron rules.

[2015-07-09 15:03] pe-ro opened #249 "Revise handling of complex slurs and phrase marks"
Currently, `@curvedir` supports only the values above and below, making it difficult to indicate a complex slur that "meanders" above and below the items it covers. While it can't be used for rendering, a value of 'complex' would still be useful for classification/analytical purposes.

In addition, if `<slur>` were allowed to contain `<curve>`, then slurs that continue across system or page breaks

[2015-07-09 15:37] pe-ro commented on #249
In addition, the values of `@bezier` must be defined to be **offsets** rather than page coordinates.

[2015-07-09 16:57] zolaemil commented on #248
I think I have come across @n attributes holding strings in the past, but I totally agree, restricting to number could only make things cleaner.

However, positive integer seems to me a bit over restrictive. What about simply integer?

[2015-07-09 17:21] pe-ro commented on #248
What does @staff=”0” mean?  Or @staff=”-1”?

[2015-07-09 19:16] pe-ro commented on #242
My vote would be for 3.0 without the 3rd-level division.

[2015-07-09 19:17] pe-ro commented on #243
Yes, but we can't do that until we have a firm target; that is, the release has to be done first.

[2015-07-09 21:08] zolaemil commented on #248
Sure, I probably would never give staff/@n a negative value. But I think it's arguable that a measure/@n="0" could be used for anacrusis. I think it should at least be natural (non-negative) numbers. Do you see any harm in allowing the negative range? If the existing Schematron rules assert for integers, they could still be deprecated safely.

[2015-07-09 21:40] zolaemil commented on #249
slur/curve is a great idea! Also, I very much agree with the introduction of a new value in order to classify "complex" slurs! @curvedir="complex" seems to me a bit clumsy. Perhaps @curveshape would be a better attribute name for the purpose? But not sure what the values would be for this. At Tido, we currently use the terms c-shaped and s-shaped, but not convinced that they are the best choice fo

[2015-07-09 21:41] pe-ro commented on #248
Oh, yeah.  I’d forgotten about pick up measures.  So, I see the point in non-negative integers, but can’t see any usefulness in negative ones.

[2015-07-09 21:47] pe-ro commented on #249
I’ve been mulling over the value “mixed”, meaning a combination of “above” and “below” for @curvedir.  It’s better than “complex” and allows us to keep the same name for the attribute.

<slur> already allows @plist, which is intended to provide a way the events (notes, chords, rests, etc.) encompassed by the slur.

##

p.

[2015-07-09 21:54] zolaemil commented on #248
For the sake of argument, consider numbering <zone> elements, so that the one with @n="1" corresponds to page no.1 (you would probably add @label="page_1" too, I guess). In this case, the leading pages, such as table of contents, cover, leading blank pages, etc. would be negative numbers.

This is clearly bad practice, so I am with you on this one: the first <zone> should either have @n="0" or n@=

[2015-07-09 21:58] zolaemil commented on #249
Yes, I think "mixed" is better than "complex".

[2015-07-10 15:02] pe-ro commented on #248
Giving this a little more thought, I think we've been trying to apply the stricter standards for `staffDef/@n`, `layerDef/@n`, `staff/@n` and `layer/@n` too broadly.  In fact, I think the datatype defined for `@n` in att.common should be re-defined as “token” so that it can capture the broadest possible definition of “number”.  This provides the flexibility to define "number" (which the documentat

[2015-07-10 15:07] pe-ro commented on #242
This has some implications for the schema regardless of what the next release is actually called; that is, should the `@version` attribute be dropped and only the `@version.num` attribute retained?  or should `@version` be re-defined to take a more number-like value and `@version.num` dropped?

[2015-07-10 15:22] raffazizzi commented on #248
:+1: I think it's important and very useful to make this distinction. What about `<measure>`? I suppose it should keep the token datatype for things like '1a' or other unpredictable measure numbering. Right?

[2015-07-10 15:40] pe-ro commented on #248
Right, `<measure>` and `<pb>` should keep the token datatype.  Are there others?  Conversely, are there other elements besides `<staffDef>`, `<layerDef>`, `<staff>` and `<layer>` where `@n` needs an actual number (=nonNegativeInteger)?

[2015-07-13 15:02] raffazizzi commented on #242
I'd suggest to keep the third level division. We might need it for upcoming releases. Since breaking backwards compatibility is not a huge issue in this release.. I'd drop `@version.num` and redefine `@version`.

[2015-07-14 06:57] lpugin commented on #214
We can open it again if necessary

[2015-07-14 08:10] lpugin opened #250 "Improve consistency between attributes and equivalent elements"
In the cases where we can either have an attribute or an element for the same thing, my understanding it that one would use the element when either more detailed information needs to be provided or where there is a need to provide editorial information about it (e.g. having it in an app/rdg). We have quite a few of them in staffDef (clef, key, meter, etc.). So it seems to me that everything that i

[2015-07-14 14:14] pe-ro commented on #250
Can you be more specific than "everything that is available at the attribute level" as a target?

The grouping of attributes attached to `<scoreDef>` is addressed in issue #115 and in the 2015 ODD customization.  Several new attribute classes are added: att.endings (ending.rend), att.measurenumbers (mnum.visible), att.notationstyle (music.name, music.size), att.optimization (optimize), att.pages (

[2015-07-14 14:19] lpugin commented on #250
In `<staffDef>`, you can do clef.line="2" or clef.shape="G" that intuitively translates in `<clef>` to line="2" and shape="G". I could not find the equivalent of key.sig="1f" in `<keySig>`.

[2015-07-14 18:41] pe-ro commented on #144
related task: move attributes in att.beamrend to att.beam.vis and eliminate att.beamrend.

[2015-07-17 17:08] lpugin commented on #242
Sorry, I am confused. My proposal was 3.0.0. @raffazizzi and @ahankinson : are you suggesting it should be 2.2.0?

[2015-07-17 17:20] ahankinson commented on #242
Nope. 3.0.0 is my vote. I imagine "third level division" means "3.0.0" vs. "3.0".

[2015-07-17 19:11] ahankinson opened #251 "Update Sample Encodings to MEI 3.0.0"
The sample encodings will need to be updated for the upcoming MEI 3.0.0 release.

[2015-07-17 19:14] pe-ro commented on #251
I just started on an XSLT stylesheet to convert 2013 files to 3.0.0 (2015).  Where should I put it?

[2015-07-17 19:17] ahankinson commented on #251
Great! You can put it in the `tools/` directory, along with the others and then commit it to your `develop-perry` branch.

In your commit message you can add "Refs #251" and GitHub will pick up on that and link the commit with the issue so that we can watch the progress here.

[2015-07-17 19:18] ahankinson commented on #251
Also "Refs #243" for that issue as well.

[2015-07-18 00:59] pe-ro commented on #251
Sorry, I forgot.

[2015-07-18 21:08] lpugin commented on #242
OK, then it will be 3.0.0 and we can close this.

[2015-07-18 21:08] #242 closed, assigned to nobody

[2015-07-19 09:53] ahankinson commented on #251
S'ok.

[2015-07-23 16:02] bwbohl opened #252 "musicxml2mei"
Please see this as statement of documentation and potential discussion thread, not necessarily as  "issue" concerning the MEI code. (Rather an issue for MEI practitioners)
#

In my work with the Hoftheater project we have MusicXML files generated with finale 2012 and exported with Dolet Light for Finale 2012. A problem that will get passed through the XSLT transformations when going from MusicXML

[2015-07-26 22:51] raffazizzi opened #253 "Create a generic ornament element"
As suggested in a [MEI-L discussion](https://lists.uni-paderborn.de/pipermail/mei-l/2015/001612.html), I tried using `<dir>` for encoding ornaments that are not mordents, turns, or trils, but it lacks some attributes that would be quite helpful when encoding ornaments, such as `@accidupper` and `@accidlower`. Would it make sense to consider introducing a generic `<ornament>` element for ornaments

[2015-07-27 15:11] pe-ro commented on #253
This sounds fine to me, although since it's a generic ornament element, it should be placed in the MEI.shared module, not MEI.cmnOrnaments, and should be a member of model.controleventLike, not model.ornamentLike.cmn. Also, in keeping with upcoming changes, it should be a member of att.typed.

[2015-08-11 19:51] pe-ro commented on #214
Now that the customization service is humming along again (thanks to Andrew and Raffaele), I'd like to reopen this issue and provide a customization that supports SMuFL. Can I attach files here?

[2015-08-11 20:54] pe-ro commented on #214
The markup below demonstrates the SMuFL capabilities I've been talking about. `<note>` now allows `<notehead>` and `<stem>` children.  Schematron is used to constrain the use of `<notehead>` to a single occurrence.  Also, while `<stem>` can occur as a descendant of `<app>`, `<notehead>` cannot.  In addition, `<stem>` can only be used when it is a descendant of `<note>`, meaning that it can occur w

[2015-08-12 14:50] raffazizzi commented on #214
Hi Perry, looks like terrific work. A few comments and questions:

Why is Schematron needed for this?

I agree with this and I think it helps to avoid proliferation of unnecessary add/rdgs

This worries me and I see it as a regression. It's very procedural markup and I wish this information lived outside of MEI in a CSS-like document. This also includes other attributes like `@fontname`. I didn't

[2015-08-12 19:46] pe-ro commented on #214
Thanks.  I put _some_ effort into it.  :-)

I used schematron to constrain the occurrence of `<notehead>` in order to simplify the content model of `<note>`.  The content model of `<note>` is kept simple (in DTD-like syntax):

(notehead | stem | model.noteModifierLike | model.verseLike | model.sylLike | appLike | model.editLike | model.transcriptionLike)*

so that the order of the content isn't si

[2015-08-12 21:27] raffazizzi commented on #214
No, it will work: `distinct-values()` is applied to the count of tokens, not to the values. Basically given two attributes with values `"a a"` and `"b c"`, the XPath first counts the number of values for each attribute and returns a sequence: `(2, 2)`. Then `distinct-values()` makes sure that all counts are the same: `distinct-values((2, 2))` returns `2`. A final check makes sure that `distinct-va

[2015-08-12 22:05] pe-ro commented on #214
Ok, I'll take your word on the distinct-values() issue.  Still, I think this particular schematron constraint isn't necessary.

[2015-08-15 12:13] lpugin commented on #250
Another example: `<staffDef>` has key.sig.showchange attribute for displaying cautionary changes (or not). Here too, I am not sure there is an equivalent in `<keySig>`. So if I want to have encode the key signature within an app and rdg within staffDef, with one showing cautionary changes and the other not, I am not sure I can do it. So, to go back to the issue: I would expect every attribute in s

[2015-08-17 19:46] pe-ro commented on #250
Ever hear that "Consistency is the hobgoblin of small minds"?  :-)

Seriously, I see your point about making the so-called "attribute solution" and the "element solution" more consistent.  And I agree.  It's just that it may take some time to get around to it.  Version 4, perhaps?

I'm less willing to whole-heartedly support deprecating attributes in favor of elements, because each possibility wit

[2015-08-18 07:48] lpugin commented on #250
I never heard did. But I know that small minds usually have a bad memory ;-)

I understand that it would take some time, this is not urgent. Only missing features in the elements is more problematic, I think. I might add separate issues for them.

I think the interesting part of the discussion is in the end more the attribute/element thing. I can see many places in MEI where it makes sense to have

[2015-08-19 10:44] zolaemil commented on #160
+1

[2015-08-19 11:14] th-we commented on #250
Like Zoltan, I'd like to wholeheartedly support Laurent's suggestion of deprecating attributes where elements are available (don't forget `@syl` vs. `<syl>`).

[2015-08-21 10:13] lpugin commented on #250
I am not sure Zoltan supports this idea but I am glad you do ;-)

[2015-09-01 10:27] zolaemil commented on #250
I can't recall expressing any opinion on the matter, but very happy that is
still matters :)

But then let me stir up this thread once again, with perhaps the most
controversial suggestion. I don't actually see a problem of the two forms
to co-exist within a single MEI file, especially if they are the result of
a processing step, thus making sure that the redundancy is proper (i.e.
there is no con

[2015-09-04 04:49] th-we commented on #250
@zolaemil I'm sorry, I guess my telepathy skills need training as I don't see a post where you explicitly expressed the opinion implied by me. I have no idea what association chain made me link your name with that opinion - I can assure you I wasn't under the influence while writing!

[2015-09-04 07:14] lpugin commented on #250
Of course it is not a problem to have both attributes and elements. It just increases the complexity and the amount of work. When thinking "encoding", it clearly has no major impact (you can do this, or you can do that). It does when it comes to developing tools, and in particular when creating tools that are mean to "read" MEI - writing it is easy, you just do what you prefer ;-). So this is a co

[2015-09-08 16:52] zolaemil opened #256 "regularised ornament"
Recent discussion on [MEI-L](https://lists.uni-paderborn.de/pipermail/mei-l/2015/001612.html) concluded that the regularised notation should be encoded as part of the event stream:

[code]

This is in conflict with the Guidelines' recommendation that suggests to encode the regularised notation along with the ornament, _outside_ the staff (see the last example in [8.3.1](http://music-encoding.org/d

[2015-09-08 17:18] pe-ro commented on #256
I agree that the documentation should be expanded to describe each method and its possible advantages, but I don't think we can recommend one method over the other.  I believe that including the ornament resolution in the event stream is easier for human beings, but more difficult for mechanical processes.

[2015-09-09 11:24] zolaemil commented on #256
In my opinion processing (at least certain type of processing, such as substituting the written text with the regularised one) is also more straightforward when they are both contained within the event stream.

In any case, we could certainly allow both encoding. Regarding recommendation (or encouragement?), I thought that was the Guidelines' primary purpose.

[2015-09-09 13:47] pe-ro commented on #256
Of course, recommendations are the purpose of the Guidelines.  I think we just have to be careful about what we recommend.  ☺

Personally, I agree with you, Zoltan, that certain kinds of processing are easier/more straightforward when the written text and the regularized one are both in the event stream.  But, we have to recognize that placing the ornament and its realization (notice I didn’t say

[2015-09-09 15:06] zolaemil commented on #256
I guess there's a very fine line between realisation and regularisation. Since we have only one element (<reg>) maybe something like the following passage could make things clearer:

"In other cases it may be more convenient to encode the regularized text within the stream of events, thus providing a realization [perhaps resolution?] of the related ornament.

[code]

"

[2015-09-09 15:10] pe-ro commented on #256
Although I may give the regularization-in-the-event-stream explanation first, your text is fine with me.  I’ll work it into the Guidelines.

Thanks,

##

p.

From: Zoltan Komives [mailto:notifications@github.com]
Sent: Wednesday, September 09, 2015 11:07 AM
To: music-encoding/music-encoding
Cc: pe-ro
Subject: Re: [music-encoding] regularised ornament (#256)

I guess there's a very fine line betwee

[2015-09-18 09:18] rigaux opened #257 "<forward> elements sometimes ignored"
Hello there,

Thanks for the great tool. We converted our MusicXML collections to MEI. There seems (unless we misunderstood sth) to be an issue with <forward> elements. To give you an example: here is a piano score.

http://neuma.huma-num.fr/scorelib/opus?id=methodes:adampiano:092_1

At measure 12, there is a <forward> element in MusicXML, for both voices:

http://neuma.huma-num.fr/rest/methodes/a

[2015-09-18 15:38] pe-ro commented on #257
Hi Philippe,

The short answer --

I believe the MEI generated in this case is sufficiently correct.

The longer answer --

The MusicXML forward/backward mechanism (borrowed from MuseData BTW) has been misunderstood / abused by different implementations of MusicXML.  Since it is often (mis-)handled, dealing with it in a conversion is problematic.  In this particular case, I can't see why it has be

[2015-09-18 16:31] rigaux commented on #257
OK, thanks for the prompt answer. So, bottom line, we can take as a rule that any incomplete measure in MEI has to completed by silence/space. Let's do it.

[2015-09-18 16:31] #257 closed, assigned to nobody

[2015-09-18 16:58] rigaux opened #258 "Various issues with grace notes"
We found several cases where grace notes seem to be incorrectly copied from MusicXML to MEI by the XSLT stylesheet.
1) http://neuma.huma-num.fr/scorelib/opus?id=methodes:adampiano:091_1, measure 4. The second grace note (c5) is missing in the MEI file.
   http://neuma.huma-num.fr/rest/methodes/adampiano/091_1/score.xml
  http://neuma.huma-num.fr/rest/methodes/adampiano/091_1/mei.xml
2) http://neum

[2015-09-18 18:24] pe-ro commented on #257
Hmmm ... This one's more of a problem.

The MusicXML -> MEI stylesheet actually consists of two passes -- process and post-process steps, if you will.  In both the examples you provided, the grace notes are present at the end of the process phase, so obviously they're being removed in the post-process pass.  Since @kepper wrote that part of the stylesheet, he's probably the best equipped to fix it

[2015-09-21 13:19] rigaux opened #259 "Issue with grace + tuplet conversion"
This score:
http://neuma.huma-num.fr/opus/timbres:cdc:0037
MusicXML: http://neuma.huma-num.fr/rest/timbres/cdc/0037/score.xml
MEI: http://neuma.huma-num.fr/rest/timbres/cdc/0037/mei.xml

Measures 5 and 9: each time, one note from the tuplet is missing, as well as the grace note

[2015-09-26 13:40] ahankinson commented on #259
I believe this one is fixed now.

[2015-09-28 17:42] pe-ro commented on #259
Partially fixed, I believe.  The stylesheet raises an error --

"Description: The attribute axis starting at an attribute node will never select anything
Start location: 10431:0"

and the problems reported in #258 aren't completely resolved; that is, the beamed grace notes in m. 4 and m. 5 aren't beamed properly.

[2015-09-28 17:46] kepper commented on #259
will look into this asap. Paid no attention to #258 (yet).

Am 28.09.2015 um 19:42 schrieb pe-ro notifications@github.com:

[2015-09-28 17:49] pe-ro commented on #259
Sorry, didn’t mean to get ahead of you.

##

p.

From: kepper [mailto:notifications@github.com]
Sent: Monday, September 28, 2015 1:47 PM
To: music-encoding/music-encoding
Cc: pe-ro
Subject: Re: [music-encoding] Issue with grace + tuplet conversion (#259)

will look into this asap. Paid no attention to #258 (yet).

Am 28.09.2015 um 19:42 schrieb pe-ro <notifications@github.com<mailto:notifications@

[2015-09-28 17:50] kepper commented on #259
All good. I hadn't noticed #258 as separate issue, so it's good you pointed me at it :-)

Am 28.09.2015 um 19:49 schrieb pe-ro notifications@github.com:

[2015-09-29 19:16] pe-ro commented on #256
Here's what I've got so far.  Comments appreciated.

[code]

[2015-09-30 09:27] zolaemil commented on #256
Thanks Perry, this looks good to me!

[2015-10-02 17:59] ahankinson opened #264 "Schematron validation in build process"
Related to #262

Schematron validation should be integrated into the build process. I'm willing to do this, but would appreciate some guidance (@kepper, @pe-ro, @raffazizzi, @th-we ), especially around getting a command-line (i.e., no oXygen) system for validating.

I've extracted the attached schematron rules (***) from the latest `mei-all.rng` using saxon-he. I can't seem to get it to validate w

[2015-10-02 18:44] aerhard commented on #264
One way that works fine with the MEI RNGs is to use the XSLTs from the Schematron website, that is, create a validation XSLT from the RNG and then use Saxon to validate MEI files by transforming them with the generated XSLT. You can create custom output messages (using `iso_schematron_message_xslt2.xsl` from the Schematron XSLT package as a starting point), which allows you to throw XSLT errors wh

[2015-10-05 02:56] ahankinson commented on #246
Fixed.

[2015-10-05 02:56] #246 closed, assigned to ahankinson

[2015-10-06 09:23] lpugin commented on #245
OK, we do not have all versions, but since we have 2.1.1 and nobody complains about it we can close the issue

[2015-10-06 09:23] #245 closed, assigned to nobody

[2015-10-06 10:25] th-we opened #266 "Clarifications required for pb/@func"
Is my understanding correct that if `@func` is present on `<pb>`, one has to assume a folio counting scheme, if it's absent, one has to assume a page counting scheme?  The reason I ask is that we have to deal with both and have to make sure we can distinguish both situations.

In case my understanding is right, I think that should be included in the guidelines.

[2015-10-06 11:38] th-we commented on #266
OT: I can't seem to add labels. Why is that?

[2015-10-06 12:09] lpugin commented on #266
Now you should be able

[2015-10-06 12:47] th-we commented on #266
@lpugin Thanks!

[2015-10-06 14:25] pe-ro commented on #266
Another, perhaps more explicit option is to add measurement units to `<pb>`, e.g., `<pb n="1" unit="page"/>`.  The `@unit` attribute could be restricted to "page" and "folium".  In light of this change, it might be beneficial to also rename `@func` to `@folium`.  Its presence could be allowed only when `@unit = "folium"` via schematron.

[2015-10-06 14:28] pe-ro commented on #266
Or `@func/@folium` could be dropped altogether and `@n` relied upon to carry (as it traditionally does) indication of the number and the side of the leaf, e.g., `@n="1v"` or `@n="2r"`.  This may not be quite as granular as some might like, but it fits with real, human expectations.

[2015-10-06 14:54] th-we commented on #266
I fear dropping `@func` might lead to ambiguity. The specs explicitly state that `@n` doesn't have to be a number, and we indeed have cases where `@n` carries a number followed by a letter.  If that letter would happen to be `r`or `v`, then we'd be screwed.

Apart from that I agree that renaming `@func` to `@folium` would be more descriptive.

[2015-10-06 15:28] th-we opened #267 "Add <cb> element like TEI?"
We have multi-column sources like [this](http://www.ceec.uni-koeln.de/ceec-cgi/kleioc/0010/exec/pagepro/%22kkd%23ebk%23gkz915-0001_574.jpg%22):

![Drachenfels-Missale](http://www.ceec.uni-koeln.de/projekte/CEEC/manuscripts/fit/kkd%23ebk%23gkz915%2d0001/kkd%23ebk%23gkz915%2d0001%5f574%2ejpg)

A `<cb>` (column break) element [like in TEI](http://www.tei-c.org/release/doc/tei-p5-doc/de/html/ref-cb.ht

[2015-10-06 21:43] #232 closed, assigned to nobody

[2015-10-07 10:47] th-we commented on #267
I guess `<cb>` might also be useful for encoding editions of songs where strophes are written in multiple columns, like [this](https://archive.org/stream/eindeutschesgei00bugoog#page/n101/mode/2up):

![strophe-columns](https://cloud.githubusercontent.com/assets/1147152/10422674/d11b3a82-70bd-11e5-97f3-d5cd9dea0119.png)

[2015-10-07 13:42] ahankinson commented on #267
I would support this. I think it will be targeted for the next MEI release, however.

[2015-10-07 15:36] lpugin commented on #267
This makes sense to me too.

[2015-10-12 07:12] th-we commented on #267
As the song facsimile above shows, layout may switch between column and non-column layout.  The question is then, how does one indicate where a column layout starts and ends.

One possible solution I can think of is regarding non-column layout to actually be 1-column layout.

[code]

One potential flaw I see with this is: When an encoded passage stops in column 1 of a 2-column layout, but the enco

[2015-10-13 18:00] pe-ro commented on #253
It's a small thing, but following the principle that often-used elements get abbreviated names, I'd prefer that the new element be called “ornam” rather than “ornament” for a couple of reasons: it’s shorter (just as easy to remember w/o increasing the size of the file) and it matches other uses of the term (for example, in `att.ornam/@ornam`).

[2015-10-13 18:13] raffazizzi commented on #253
I have no problem with that. I'll submit a new PR soon

[2015-10-13 18:55] pe-ro commented on #253
Grazie

[2015-10-15 15:47] annplaksin opened #269 "<accessRestrict> not available within <availability>"
When using `<accessRestrict>` within `<availability>` I get a validation error although it should work according to the Guidelines at the website. (see http://music-encoding.org/documentation/2.1.1/availability/)
Looking into the source I saw the elementSpec of `<accessRestrict>` is defined as a member of model.availabilityPart but this class is never specified. There is only macro.availabilityPar

[2015-10-15 16:06] ahankinson commented on #269
Edit: I've added code formatting since GitHub eats XML tags if they're not formatted as code.

[2015-10-15 17:54] pe-ro commented on #269
There's definitely a bug here.  I'll look into fixing it.

[2015-10-15 18:07] pe-ro commented on #269
Wait.  There's no bug, you just have to use `<acqSource>` first, then you can specify access restrictions.  For example,

[code]

Without an explanation of "where" to get it, access restrictions don't make sense.  But, this model may be too restrictive.  Can you provide a description of what you're trying to accomplish?

Since model.availabilityPart is never referenced, I've removed the declaratio

[2015-10-16 09:32] annplaksin commented on #269
Thank you for clarifying this topic. So I just didn't understand the way to use this part of the header.
I was looking for a way to store links to digitised sources and information about the accessability of them, e.g. if it is free or if you need anything special to access it. Because I stored the the information about the provider elsewhere I didn't think about using `<acqSource>`.

I want(ed) t

[2015-10-16 13:53] ahankinson opened #270 "Front doesn't allow mixes of div and pb"
I have the following markup:

[code]

The validators are saying that I'm not allowed to have the second div element following a pb. It will let me put as many div elements before the pb, but not afterwards.

@pe-ro is working on a fix. This is just filed to track this issue.

[2015-10-16 14:02] pe-ro commented on #269
Move the content of `<distributor>` to `<acqSource>` --

[code]

`<pubStmt>` needs more review at some point.  Thanks for "testing it out".  Please raise a flag if you find other weirdness.

[2015-10-16 14:47] pe-ro commented on #270
Changed content model of `<front>` to

[code]

This allows interleaving of any number of div, titlePage, pb and lb elements.  The prior model was too clever by half.  :-)

[2015-10-16 14:55] ahankinson commented on #270
Perfect, thanks!

[2015-10-16 15:18] ahankinson commented on #270
I just added a small test for this change.

[2015-10-16 15:58] annplaksin commented on #269
Moving to `<acqSource>` is a good idea. Thanks for this advice!

[2015-10-16 20:56] ahankinson opened #271 "Remove older sample encodings"
The sample encoding directory is quite large. Since we don't ship ways of generating MEI 2012 and MEI 2013 (i.e., older versions) in the directory, we don't really need to keep these old collections around in the repo.

I would suggest the following:

1) Move `MEI 2012` and `MEI 2013` sample encodings to their own repository (sample-encodings).
2) Rename the new `MEI 2015` to `MEI 3.0.0`

We might

[2015-10-17 15:28] ahankinson opened #272 "Cannot position and size text in front matter"
I can find no way to position and size text boxes in front matter. `<p>` supports `@x` and `@y`, but there may be multiple paragraphs in a box, and boxes may have width and height, which is not supported. I would think `<div>` would behave as a block-level element (like HTML) but it seems to be missing any positioning or sizing attributes.

![snap](https://cloud.githubusercontent.com/assets/163183

[2015-10-17 16:31] ahankinson opened #273 "Confusing notes and descriptions for <appInfo> and <application>"
The notes in both `appInfo` and `application` state:

""Application" in this context is not to be confused with software which was used to create the MEI file. The latter may be recorded in the projectDesc element."

While the description for both of them say:

"Provides information about an application which has acted upon the current document."

These seem to me to be contradictory. I'm assuming

[2015-10-18 14:37] ornam commented on #253
Hi guys,

I'm new to Github so forgive my naivety, but am I going to get notifications every time someone calls the @ornam element?

Thanks,
Orna M.

[2015-10-19 03:14] ahankinson commented on #253
Whoops! :) Sorry about that Orna.

In XML notation, `@ornam` is a common way to refer to an element's attributes. On GitHub, prefixing an `@` with a user name alerts that user that they have been mentioned.

We can prevent this by escaping it with backticks, so `@ornam` will appear as code and won't alert you.

Our apologies!

[2015-10-19 14:07] pe-ro commented on #271
Random thoughts --

I agree that it might be a good idea to move all the sample encodings to a separate repo. It's still useful, I think, to provide a set of examples with each release, but that could just as easily be accomplished by providing a link to them.  We could even maintain only the ones that conform to the latest spec. My major concern is that we don't duplicate files unnecessarily duri

[2015-10-19 14:14] pe-ro commented on #271
Another thing -- in some cases, it might be best to compose and validate highly-targeted examples against the mei-all_anyStart RNG.  That will eliminate the need for the "extra baggage" of a header and contextual markup if it's not central to the example.

[2015-10-19 16:07] ahankinson commented on #271
How about this as a course of action:
- Move all the sample encodings into a separate repository
- Create a 'samples' directory in music-encoding repository
- Move a few selected examples (chosen to exemplify particular features) into the music-encoding samples.

For the 'another thing' -- can this be the role of the tests? I think any 'targeted' encodings would be ideal for testing against since

[2015-10-19 17:34] pe-ro commented on #271
Yes, precisely what I had in mind, although I think we still need a mixture of targeted and general examples.  The test files can be the targeted examples, but how can we make sure to preserve them once the testing of a new release is complete?  Would it work to put all the files (targeted and general) in a single directory and have the build script look for the test files there?  But, if we do th

[2015-10-19 19:06] ahankinson commented on #271
I don't know that we need to explicitly preserve them once the testing of a new release is complete, since we can always go back and see the state of a repository at any point in time. (e.g., here's the 2.0.0 release: https://github.com/music-encoding/music-encoding/tree/1233176080667060f375ed11ce92d4994fd9326c)

I can also change the build script to validate both the targeted (testing) and genera

[2015-10-19 19:56] pe-ro commented on #271
Is it useful to have access to the testing files even after a release, for example at this point for the 2.0.0 release?  Would it be helpful to move the testing files to the example directory just prior to a release as a way of preserving them? @lpugin?  @kepper?

I think we should continue to provide PDFs (or other image formats) for examples whenever possible.  Anyone have any objections?

[2015-10-19 21:27] pe-ro commented on #273
The distinction between agents that created the current file and those that "acted upon it" at a later time was borrowed from TEI.  I agree that for our purposes the distinction is confusing and not very useful.  Would it be sufficient to simply remove the remarks provided for `<application>`?  I think the result would simply be that information about any application connected to the document woul

[2015-10-20 08:12] lpugin commented on #271
Would it make sense to make a "release" of the test files for each release we make of the schema and once they are ready?

Having the PDFs is very useful, I think

[2015-10-20 15:55] pe-ro commented on #272
Would allowing `@x` and `@y` on `<div>` be sufficient?  Or does it also need `@x2` and `@y2` in order to define its bounding box?  Would `@ulx, @uly, @lrx, and @lry` better suit this purpose?  Should these bounding box attributes be added to all block-level elements -- those in model.textcomponentLike (lg, model.listLike (biblList, castList, list), p, quote, table)  -- and any `x` and `y` coordina

[2015-10-20 15:56] pe-ro commented on #272
Do the same requirements also apply to `<anchoredText>`?

[2015-10-20 17:09] ahankinson commented on #272
It might be splitting hairs, but I see `@ulx`, etc. to be defining a box that sits on top of the content (e.g., in the `<zone>` element), while `@x`, `@y`, `@x2` and `@y2` to be defining a box **for** the content. So for this particular case, I think the latter would be a better solution.

I tried looking it up in TEI, but it doesn't seem like they have the same concept of block-level elements.

I

[2015-10-20 17:14] ahankinson commented on #273
Right now I'm recording the Sibelius to MEI plugin info in the `<appInfo>` block along with the date and time it was exported. I want it to be more 'data-like' in that I can envision using it to check for known bugs later (i.e., if v. 2.1.0 had a bug with encoding beams, this would provide a quick way to see if a particular encoding has some expected gotchas.)

But the bug report is really not abo

[2015-10-20 17:14] pe-ro commented on #272
When you say "[i]t would be nice to have it", what "it" are you referring to -- `@style` or the x/y attributes?

BTW, I think you're right -- your view of `@ulx, etc.` vs. `@x, etc.` is splitting hairs.  :-)

[2015-10-20 17:15] pe-ro commented on #273
OK, so what's your recommendation on clearing up the contradiction?  Will eliminating the offending statement do the trick?

[2015-10-20 17:16] ahankinson commented on #272
"It" = the `@x/@y/@x2/@y2` constellation of attributes for positioning and sizing blocks.

[2015-10-20 17:20] ahankinson commented on #273
Yeah, remove the language that seems to imply that "`application` isn't really for data about applications."

[2015-10-20 17:25] pe-ro commented on #272
As used up to this point, the `@x/@y/@x2/@y2` attribute set has been used to identify a start/end pair of coordinates.  As a simple example, `<line>` uses `x, y` to mark its starting point and `@x2, @y2` to identify its terminal point.  I don't think a bounding box fits with this approach.  I'm more inclined to see bounding boxes as bounding boxes, regardless of whether they contain content or are

[2015-10-20 17:32] ahankinson commented on #272
If that's the case, then I think we should choose one system and stick with it, since we now have at least three ways of defining spatial layout**:
- `@x/@y/@x2/@y2` -- could be a line, but can also be a box.
- `@x/@y/@width/@height`
- `@ulx/@uly/@lrx/@lry`

Personally, I think that if we're to tackle any sort of overhaul of this, it should be for the next release since it will affect backwards co

[2015-10-20 18:08] pe-ro commented on #272
The "problem" is not as dire you imply --
- `@x/@y/@x2/@y2` is employed for lines and curves, not boxes (although there's some fudging going on with `<hairpin>`)
- `@x/@y/@width/@height` is only used on `<graphic>` where it mimics HTML usage
- `@ulx/@uly/@lrx/@lry` is used for bounding boxes/coordinate system definitions

A single system cannot work in all cases.  For example, some things, such as

[2015-10-20 18:57] pe-ro opened #274 "new ligature elements"
Currently, MEI provides a `<ligature>` element to identify ligatures in mensural notation.  It is _not_ intended for use in the CMN repertoire where notes are marked with a so-called 'ligature' (usually rendered as a bracket) to indicate notes that were part of a ligature _in a mensural notation original document_.  The definition of the `<ligature>` element could be expanded to include CMN usage,

[2015-10-22 05:41] lpugin commented on #274
I would vote for `ligatureSpan`, but maybe I am missing a point concerning the use of ligatures in CMN. If the primarily purpose of the element is to represent mensural ligatures in CMN transcriptions, then I would not change the name to `lig` and `ligSpan`.

[2015-10-22 19:40] pe-ro commented on #274
I'm concerned that ligatures in Mensural notation and in CMN serve different purposes.  Since they're an integral part of the notation, ligatures in Mensural notation have an existence in the logical domain, while ligatures in CMN have a more editorial and therefore visual function.  It's a subtle difference, but the `<ligature>` element in Mensural notation indicates an alteration of rhythm, whil

[2015-10-23 13:54] ornam commented on #253
No problem!

Thanks for that!!

Orna.

[2015-10-23 20:20] #253 closed, assigned to nobody

[2015-10-25 22:04] ahankinson commented on #272
OK, so possibly just `@x/@y/@width/@height` for `<div>` would be a suitable solution?

[2015-10-26 13:43] pe-ro commented on #272
That's ok with me, but I think we need to decide which corner `@x/@y` represents -- the bottom left, top left or something else?  I don't want to make this decision willy-nilly as it may have far-reaching implications.  So, I'd like to gather a lot more input before moving ahead.  @kepper? @lpugin?

[2015-10-26 13:52] kepper commented on #272
The problem I see with `@x / @y / @height / @width` is exactly the ambiguity you're describing. Of course we may state clearly in the guidelines which point is meant by `@x / @y`, but this doesn't force people to look in the guidelines in the first place. `@ulx / @uly / @lrx / @lry` seems much safer in this regard. I understand the motivation for more styling options, especially since it may be pr

[2015-10-26 14:15] pe-ro commented on #272
I'm inclined to agree, but wanted someone else to confirm it.  I think this mean that `@ulx / @uly / @lrx / @lry` should be available on elements that currently use `@x / @y` and that we have to keep `@x / @y / @x2 / @y2` to identify start-end _points_ for things like ties and slurs, but that we can add `@ulx / @uly / @lrx / @lry` for _bounding boxes_.  Some elements may end up with one or the oth

[2015-10-26 14:33] pe-ro commented on #272
My previous comment implies that I'm not as conflicted as I actually am.  For instance, what should be used on `<accid>` -- `@x / @y`, `@ulx / @uly / @lrx / @lry`, just `@ulx / @uly` or some other "corner"?

[2015-10-26 14:45] kepper commented on #272
I think this depends on the task at hand. Do you try to encode an existing source's accid? In that case, wouldn't a `@facs` be more appropriate? In case of prescribing how to render it: Wouldn't that require way more than just a simple bounding box? I'm thinking about the definition of an "attachment point" (probably somewhere at the notehead, but where?), about the definition of measurement units

[2015-10-26 14:58] raffazizzi commented on #272
Using positional attributes on text elements is way too procedural; the positioning of the divs in your example belongs outside of MEI (ie your processing).

[2015-10-26 15:03] pe-ro commented on #272
`@x / @y` are intended to be **page** coordinates (or viewport coordinates in the electronic realm):

[code]

Offsets (`@ho / @vo / @to`) address relative position, although not in terms of an attachment point, but rather in terms of the position determined by software (or by markup, I guess).

In many cases, certainly for an accidental attached to a note, it's not necessary to explicitly set the

[2015-10-26 15:08] pe-ro commented on #272
Raff -- While I agree that in most cases, text layout can be left to the renderer / browser, there has to be provision for absolute, author-determined positioning.  It's often best to put this info in an external location, like a CSS file, but it's also acceptable to put it inside the markup.  HTML allows it, why not MEI?

[2015-10-26 15:19] lpugin commented on #272
I am also not sure where this would lead us. We do not necessary want to have a full css system built-in and this should be a separated module, but since we have @x and @y on /p it is a good opportunity to clarify this. I am not sure the bounding box is a good way to go. They make sense for facsimile, where @ulx, @uly, etc. are perfect. To me, it would make more sense to have additional attributes

[2015-10-26 15:55] ahankinson commented on #272
Size of the text and alignment don't always capture all of the necessary information. You can have a text box that does not take up the full width of the page (as above) but is not positioned at either left, center, or right. So you would need, at a minimum, x/y/w/h.

If I don't store it in MEI, where should I store it, @raffazizzi? It seems like a strange line to draw (no pun intended!), especial

[2015-10-26 15:55] pe-ro commented on #272
We have `<rend>` to do these things.  As an element, it operates on the text inside the element.  This syntax was chosen specifically to avoid having to provide positional info on the outer element itself.  For instance,

[code]

The question remains, however, do we need to provide some mechanism for positioning the paragraph and/or giving its dimensions?  These can be left (as @raffazizzi has adv

[2015-10-26 15:57] ahankinson commented on #272
Even having x/y/w/h on `<rend>` would be fine, I think.

[2015-10-26 16:01] pe-ro commented on #272
But I think Jo's right that `ulx / uly / lrx / lry` are preferable to `x / y / w / h`.  Do you see a problem with this configuration?

[2015-10-26 16:02] pe-ro commented on #272
The next question is, Can `@x / @y` on text block elements go away?

[2015-10-26 16:09] raffazizzi commented on #272
If need be, I second adding x/y/w/h (or ulx/uly/lrx/lry) on `<rend>`. The element is explicitly procedural so at least it allows to keep this information off `<div>` (and other similar declarative elements).

[2015-10-26 16:44] ahankinson commented on #272
I still see an important distinction between a box "above" (i.e., in a descriptive role) and a box "containing" (i.e., in a prescriptive role). Maybe I'm just in a mental rut, wouldn't it be useful keep the two systems separate?

[2015-10-26 19:21] lpugin commented on #272
I am not sure `<rend>` makes a lot of difference. Actually, this would mix levels of what you are defining as procedural with declarative ones, which in a way makes is worse than having attributes.

[2015-10-26 19:28] lpugin commented on #272
Sorry, I did not see all the comments when sending my last one. @ahankinson : if `@x / @y` refer to the left point, center point, or right point of a text element (for left, center or right aligned text respectively), why do you need a box?

[2015-10-26 19:49] ahankinson commented on #272
Because text can wrap within these boxes, so you need to know the rightmost boundary (if x,y refers to the leftmost). Or am I missing something obvious?

[2015-10-26 19:56] lpugin commented on #272
OK, I would assume you would encode the line breaks, as we do for page or system breaks.

[2015-10-26 20:00] ahankinson commented on #272
I don't think I would assume that there would always be line breaks.

[2015-10-27 07:45] lpugin commented on #272
OK, so possibly just `@x/@y/@width/@height` for `<div>` would indeed be a suitable solution, I think. And since MEI uses left to right and bottom up orientation, I would assume the point to be the bottom left one.

[2015-10-27 12:34] pe-ro commented on #272
Isn't `@ulx / @uly / @lrx / lry` a better option?  It removes any question about which point `@x / @y` represent.

[2015-10-28 14:35] lpugin commented on #274
Having `ligature` in Mensural and `ligatureSpan` in CMN sounds like a good compromise to me. The possible confusion when using mei-all exists elsewhere in significantly more serious ways, I think. For example with possible values in duration that can include "breve" and "brevis".

Also, having only a spanning ligature element in CMN (and no containing element) seems appropriate to me, but again, I

[2015-10-31 09:11] ahankinson opened #275 "Allow accid.ges on <accid>"
Currently `@accid.ges` is not allowed on `<accid>`. From an e-mail exchange with Perry:

[code]

This is related to #261, where it was decided that `@accid.ges` would refer to a performed, but not visual accidental. If we want to use `<accid>` to specify the accidental on a note, but have it represent a performed but not visible accidental, we will need to add `@accid.ges` to `<accid>`.

[2015-10-31 22:21] ahankinson opened #276 "<hairpin> throws validation error with `@layer`"
When validating a `<hairpin>` element I get:

`element hairpin: Relax-NG validity error : Invalid attribute layer for element hairpin`

In MEI 2.1.1, `@layer` is definitely allowed. It seems like it should be allowed in 3.0.0, but I can't confirm this. Was `@layer` removed from this in 3.0.0?

[2015-10-31 22:41] ahankinson commented on #276
I also get the same error for `<trill>`.

[2015-11-01 09:34] th-we opened #1601 "Wrong use of <subst> in guidelines for <supplied>?"
In my understanding, `<subst>` is for encoding scribal substitutions, not editorial substitutions. That's how I read the guideline chapter [Substitutions, Restorations, and Handshifts](https://github.com/music-encoding/music-encoding/blob/e71f128296d9306ab631143ffa2eedaa5dbe12e9/source/guidelines/editTrans.xml#L488), which seems to match how the [TEI equivalent](http://www.tei-c.org/release/doc/te

[2015-11-01 10:23] raffazizzi commented on #1601
Indeed! That should be an orig/reg:

[code]

[2015-11-01 11:31] th-we commented on #1601
But then this isn't an illustration of the `<supplied>` element any more, so it needs to be replaced with something different.

[2015-11-01 12:32] ahankinson commented on #273
I'm going to close this one since it seems it was fixed in 2a13dd5bb2d99b90865754f7aa994ff82efbc501

[2015-11-01 12:32] #273 closed, assigned to nobody

[2015-11-02 09:10] zolaemil commented on #275
Interesting question. Do we not have the same problem with `<octave>`, `@oct` and `@oct.ges`?

[2015-11-02 09:14] ahankinson commented on #275
I don't think so -- `<octave>` is not a child of `<note>` like `<accid>` is. So `@oct` information is stored on the note anyway, and the presence of `<octave>` is explicitly gestural and applied to a full passage. From: http://music-encoding.org/documentation/2.1.1/octave/ :

[code]

[2015-11-02 15:16] raffazizzi commented on #1601
Huh. I'm surprised that's the only example. Something with music ficta, or adding an accidental forgotten in a manuscript would be much more relevant.

[2015-11-02 15:17] pe-ro commented on #1601
I wouldn't say that the `<subst>` example is wrong, but that perhaps the "Substitutions, Restorations, and Handshifts" part of the Guidelines is incomplete.  Without the use of `<subst>` to gather editorial interventions, what should be used instead?  I don't think the TEI method; that is, `<gap/>` immediately followed by `<supplied>`, is helpful as it doesn't signal the alternative paths availabl

[2015-11-02 15:19] raffazizzi commented on #1601
@pe-ro what's wrong with my choice/orig/reg rewrite of the example above? That's how it would be done in TEI and it does what was intended in the original example with `<subst>`.

[2015-11-02 15:22] pe-ro commented on #1601
Nothing wrong with your rewrite.  Please fix the Guidelines example.

But I'm looking for a way to group editorial interventions without resorting to `app/rdg`.

[2015-11-02 15:29] raffazizzi commented on #1601
Maybe this is for a different ticket, but what do you mean by grouping editorial interventions? If it's akin to the example above, then choice/orig/reg is the obvious solution, no need for app/rdg.

[2015-11-02 15:30] pe-ro commented on #1601
How does one group `<gap>` and `<supplied>`?

[2015-11-02 15:34] pe-ro commented on #1601
Or, how can `<supplied>` be grouped with `<damage>`?

[2015-11-02 15:36] raffazizzi commented on #1601
I would group them with choice/orig/reg.

`<gap>` is an editorial description of missing content (so not an intervention, per se), while `<supplied>` makes sense on its own, but in this case it's replaced by `<reg>` - also an editorial intervention that rather than supplying, it regularizes.

I would also do the same with `<damage>`: `<orig>` allows me to describe that something problematic was th

[2015-11-02 15:44] pe-ro commented on #1601
I see the logic, but that requires an extra layer in the hierarchy and it throws a significant wrench in the works re: the content models of `choicePart` and `substPart`.  But, if this is the way to go, let's break them now rather than later.

[2015-11-02 15:46] raffazizzi commented on #1601
I think that's worth it; so that we get to keep the definition of choice and subst well distinguished between editor and scribe. But we probably need to hear from @kepper as well.

[2015-11-02 16:30] pe-ro commented on #276
`@layer` is definitely available in 3.0.0 -- `<hairpin>` is a member of `att.hairpin.log`, which is a member of `att.controlevent`, which is a member of `att.layerident`, which defines `@layer`. Whew!

I have no problem validating `<hairpin form="cres" tstamp="1.25" tstamp2="0m+1" layer="3"/>` or `<trill xml:id="trill01" tstamp="1" layer="4"/>`.

What is the error message you're getting?

[2015-11-02 16:32] pe-ro commented on #276
Didn't read your original message carefully enough.  Sorry.  What parser are you using?

[2015-11-02 16:52] ahankinson commented on #276
I'm using xmllint.

[2015-11-02 18:30] pe-ro commented on #276
Do you get an error from oXygen?  If you don't have it, you can mail me your markup and I'll give it a go.

Are you using a schema generated from develop-perry or something else?  Can you mail me the schema too please?

[2015-11-02 19:35] kepper commented on #1601
Well, you certainly don't need to hear from me – but thanks for asking ;-) I'm not sure I really get the point of this discussion, but I totally agree that we need to be as clear as possible with a separation between "editor markup" and "scribal markup". It seems equally clear that this is the distinction between choice and x, but I'm not perfectly decided if x = subst. I guess everything a scribe

[2015-11-10 11:44] ahankinson commented on #276
I figured out the problem with this -- the validation error was misleading. The value of `@hairpin` in the problematic files was `0`. Changing it to a value `>0` fixed it.

[2015-11-10 11:44] #276 closed, assigned to nobody

[2015-11-10 15:26] pe-ro opened #278 "Pitch extremes: highest/lowest possible"
Modern composers sometimes write isolated notes in which the pitch is not precisely specified, but rather as "highest note possible"  or "lowest note possible".  MEI lacks a way to capture these pitch extremes.  One method would be to make the `att.pitched` class a member of a new class, `att.pitchextremes`, which has one attribute, `@extremis` that takes one of 2 values -- "highest" or "lowest".

[2015-11-10 15:44] pe-ro opened #279 "Tuning / intonation"
MEI currently allows specification of tuning  / intonation at the score level. It would be helpful to allow the `tune.*` attributes at the staff and note levels as well.  This would facilitate encoding these characteristics when different instrumental or vocal resources employ different tuning systems or for momentary intonation changes on individual notes.  In the latter case, intonation is usual

[2015-11-10 15:44] kepper commented on #278
Sounds good. Does it make sense to connect this somehow to a specification of an instrument's range (in order to say what "highest" technically could mean)? Isn't Goldsmiths working in this direction, @ironchicken? But even if there's no immediate connection, it could be beneficial to think about this connection – even if we wouldn't want to provide this connection on every single such note, but p

[2015-11-10 15:50] kepper commented on #279
Sounds reasonable. From my current experience with Freischütz, I would like to see this on layerDef as well – when two differently tuned horns share a staff, they have different trans.diat and trans.semi attributes, which aren't allowed at layerDef in 2.1.1. Since they don't really play together on that staff, but rather alternate, one might argue that there should be a redefining staffDef for eac

[2015-11-10 16:01] pe-ro opened #280 "ambitus"
"Literally the ‘course’ of a melodic line, but in the Middle Ages and later usually the range of scale degrees attributed to a given Mode, particularly in Gregorian chant, or the range of a voice, instrument or piece." (Grove Music Online)

While this information can be calculated from a complete encoding, it should be possible to record this data at the staff, staff group, and score levels, and p

[2015-11-10 16:51] ironchicken commented on #278
Yes, we've been working on improved semantics for instrumentation including the idea of instrument configurations. We've been working specifically on the tunings of stringed instruments. Our "configurations" might be a slightly different concept to the question in hand: configurations implies that they are normally variable properties of an instrument. The concept here is more like instrument affo

[2015-11-10 16:58] ironchicken commented on #278
The schema we worked on is here https://github.com/TransformingMusicology/mei-tmus/blob/master/schemata/instruments.odd

[2015-11-22 10:19] #36 closed, assigned to ahankinson

[2015-11-22 10:19] #90 closed, assigned to ahankinson

[2015-11-22 10:19] #123 closed, assigned to ahankinson

[2015-11-22 10:19] #160 closed, assigned to nobody

[2015-11-22 10:19] #166 closed, assigned to ahankinson

[2015-11-22 10:19] #168 closed, assigned to ahankinson

[2015-11-22 10:19] #169 closed, assigned to ahankinson

[2015-11-22 10:19] #172 closed, assigned to ahankinson

[2015-11-22 10:19] #177 closed, assigned to ahankinson

[2015-11-22 10:19] #210 closed, assigned to ahankinson

[2015-11-22 10:19] #256 closed, assigned to pe-ro

[2015-11-22 10:19] #264 closed, assigned to nobody

[2015-11-22 10:19] #45 closed, assigned to ahankinson

[2015-11-22 10:19] #179 closed, assigned to ahankinson

[2015-11-22 10:19] #180 closed, assigned to ahankinson

[2015-11-22 10:19] #181 closed, assigned to nobody

[2015-11-22 10:19] #182 closed, assigned to ahankinson

[2015-11-22 10:19] #187 closed, assigned to nobody

[2015-11-22 10:19] #207 closed, assigned to ahankinson

[2015-11-22 10:19] #211 closed, assigned to ahankinson

[2015-11-22 10:19] #212 closed, assigned to ahankinson

[2015-11-22 10:19] #215 closed, assigned to ahankinson

[2015-11-22 10:19] #217 closed, assigned to ahankinson

[2015-11-22 10:19] #219 closed, assigned to ahankinson

[2015-11-22 10:19] #220 closed, assigned to ahankinson

[2015-11-22 10:19] #224 closed, assigned to ahankinson

[2015-11-22 10:19] #228 closed, assigned to ahankinson

[2015-11-22 10:19] #229 closed, assigned to ahankinson

[2015-11-22 10:19] #53 closed, assigned to ahankinson

[2015-11-22 10:19] #94 closed, assigned to ahankinson

[2015-11-22 10:19] #144 closed, assigned to ahankinson

[2015-11-22 10:19] #164 closed, assigned to ahankinson

[2015-11-22 10:19] #167 closed, assigned to ahankinson

[2015-11-22 10:19] #178 closed, assigned to ahankinson

[2015-11-22 10:19] #184 closed, assigned to ahankinson

[2015-11-22 10:19] #185 closed, assigned to ahankinson

[2015-11-22 10:19] #202 closed, assigned to ahankinson

[2015-11-22 10:19] #213 closed, assigned to ahankinson

[2015-11-22 10:19] #218 closed, assigned to ahankinson

[2015-11-22 10:19] #221 closed, assigned to ahankinson

[2015-11-22 10:19] #226 closed, assigned to ahankinson

[2015-11-22 10:19] #227 closed, assigned to nobody

[2015-11-22 10:19] #266 closed, assigned to nobody

[2015-11-22 10:19] #270 closed, assigned to pe-ro

[2015-11-23 19:54] #269 closed, assigned to nobody

[2015-11-23 19:56] #251 closed, assigned to ahankinson

[2015-11-23 19:57] #243 closed, assigned to nobody

[2015-11-23 19:58] #249 closed, assigned to nobody

[2015-11-23 20:09] #115 closed, assigned to ahankinson

[2015-11-24 14:57] pe-ro commented on #56
Follow TEI practice.  See attached ODD.

[nameParts.ODD.txt](https://github.com/music-encoding/music-encoding/files/42815/nameParts.ODD.txt)

[2015-11-24 15:01] pe-ro opened #281 "Add <listHead>"
EAD provides a formatting element called <listHead> that could be useful for formatting lists in MEI, <eventList> in particular, though it could be applied to any list which precedes each item with a label; in other words, a "gloss" or "definition" kind of list.

[2015-11-24 15:10] pe-ro opened #282 "Capture non-MEI metadata"
Capture of non-MEI metadata could be useful at the project level. Standardization can't be guaranteed for exchange between projects, however.

[nonMEImetadata.ODD.txt](https://github.com/music-encoding/music-encoding/files/42818/nonMEImetadata.ODD.txt)

[2015-11-24 15:11] #248 closed, assigned to nobody

[2015-11-24 15:20] pe-ro opened #283 "Revise data.FRETNUMBER"
Replacing 'o' (oh) with '0' (zero) allows fret numbers (as used in `@tab.fret`) to be an ordered set of values, independent of any labels associated with the fret, such as 'o' (for open) or 'a', 'b', 'c' (as in lute tablature).

[code]

[2015-11-24 15:38] pe-ro opened #284 "Add attribute to capture horizontal position"
MEI already has `@loc` and `@ploc` attributes for recording the vertical position of some items. Adding `@hloc` would provide a method for recording the horizontal position of an item as measured from the left margin of the page (ala' SCORE).  [Note: the name `@loc` should be changed to `@vloc`] These attributes (`@hloc` and `@vloc`) can be used to provide explicit rendering information. Their val

[2015-11-24 15:41] pe-ro commented on #282
`<extMeta>` (extended or external metadata) may be allowed within `<meiHead>` and/or the various FRBR entities -- `<work>`, `<expression>`, `<source>`, and `<item>`.

[2015-11-30 16:59] pe-ro opened #285 "Create "MEI Go!""
It would be helpful to provide a more constrained version of MEI, comparable to TEI Lite or TEI Tite, for use in applications that don't require "full" MEI.  A reasonable staring point might be a schema with only the following modules turned on --

[code]

Conversely, the following modules would be turned off --

[code]

[2015-11-30 17:02] zolaemil commented on #285
+1

[2015-11-30 17:08] ahankinson commented on #285
I'm all for this!

What's the justification for leaving tablature, ptrref, or harmony in there?

[2015-11-30 19:12] pe-ro commented on #285
Now that there's a generic fingering element, tablature could go.  I kept ptrref to facilitate linking -- even if it's not used in the body, it could be useful within the header.  But, it could go away too.  The harmony module is necessary to mark chord names (e.g., 'Cmin', etc.) and functional names (e.g., 'I', 'iv', etc.).

[2015-11-30 19:18] pe-ro commented on #285
Beyond elimination of modules, we could also settle on a single method for encoding beams, accidentals, etc.  I believe this means preferring elements over attributes in most cases and `*Span` elements over containers.  Along with the former change, we may want to move some attributes, e.g., `@beam` and such on `<note>`, from the logical domain to the analytical one.  This would make them disappea

[2015-11-30 19:36] kepper commented on #285
I'm not sure if I wouldn't prefer containers over spanners. This comes with some functional limitations, but the structures are much simpler (at least compared to `@plist`, which you would need for crossing staves).
We may also want to restrict controlEvents to either `@startid / @endid` or `@tstamp`. I believe simplicity is key here, and we shouldn't try to replace "MEI all", but instead provide

[2015-11-30 20:08] pe-ro commented on #285
I readily agree that simplicity is the goal and that that "MEI Lite" is not a replacement for the breadth of MEI, so limiting controlEvents to `@startid`, `@endid`, or `@tstamp` and `@tstamp2` (when available) is a good idea.

However, without either `<beamSpan>` and `<tupletSpan>` elements or the `@beam` and `@tuplet` attributes, beams and tuplets across barlines become impossible.  This goes bey

[2015-11-30 20:16] kepper commented on #285
The question is how frequent barline-crossing beams and tuplets really are. I wouldn't mind to not support them, because they're probably not too common in real life. However, software which supports those cases should be able to support MEI beyond this "lite profile". I'd like to know what @donbyrd says about this…

[2015-11-30 21:19] pe-ro commented on #285
I understand trying to limit the scope of MEI Lite, but I don't think we should allow a feature's frequency to completely dominate whether it's included in MEI Lite or not.  It's more a question of handling the broadest scope with the simplest approach / smallest number of elements and attributes.  Regardless of how often one might encounter barline-crossing beams or tuplets, the point is that if

[2015-12-01 00:03] donbyrd commented on #285
I'd say barline-crossing beams are fairly common from the late 19th century on, but bar line-crossing tuplets are rare in every repertory I can think of. Anyway, such beams are certainly far more common than such tuplets. In 10 minutes of flipping through the Norton Scores, 3rd edition, I see bar line-crossing beams in Brahms, Puccini, Schönberg, Ives, and Stravinsky; I don't see any bar line-cros

[2015-12-01 10:00] zolaemil commented on #285
As much as I support this, I think it would be really important to be explicit about why exactly we are doing this. What are the problems we are trying to tackle?
- a subset that can be used more easily for data exchange?
- to facilitate conversion between MEI and MusicXML?
- to lower the barrier to entry in MEI?

[2015-12-01 10:04] ahankinson commented on #285
Yes to all of the above.

I see MEI Lite as an effort to reduce some of the complexity associated with trying to learn the whole MEI schema. I can see it being immediately useful for, e.g., the Sibelius plugin, where I can have an approved subset of functionality that I can target, without worrying that I have not explored the possibilities of the whole spec.

[2015-12-01 11:04] lpugin commented on #285
+1 for this idea too! Concerning the container vs span elements, I would be in favor of `<tuplet>` instead of `<tupletSpan>` since measure-crossing tuplets seem indeed to be quite rare. I am not sure what should be picked for the beams. I would lean towards `<beam>` since I see MEI Lite to be designed for simpler uses.

[2015-12-01 12:05] zolaemil commented on #285
If we want MEI-lite to serve as a common denominator between main MEI and other formats which does not necessarily support the full functionality of MEI, then I think disregarding cross-measure beams will limit usefulness. If this is not a goal, maybe it's fine. Don't get me wrong, I do like the simplicity of `<beam>` and I don't think we should expel it from MEI-lite.

However, I think we have mo

[2015-12-01 15:56] pe-ro commented on #285
Zoltan is "dead on" here -- Simplicity and clarity should be the driving forces behind MEI Lite.  Achieving these goals will require multiple actions -- reducing the number of encoding options and improving the Guidelines regarding particular situations, for example.  "Correctness"; that is, conformity with "full" MEI should not be compromised, but taking a step back and re-assessing some markup p

[2015-12-02 15:07] pe-ro commented on #278
"highest/lowest possible" indicates an indeterminate pitch (see Gould, p. 12), not the highest named pitch on an instrument.  In my experience, this indication is primarily used for wind instruments where the "highest note possible" depends on the player's abilities and for string instruments where the "lowest note possible" depends on how much a string is de-tuned; that is, by loosening the strin

[2015-12-02 15:18] pe-ro commented on #127
In the latest schema, `<name>` provides suggestions for `@type`, one of which is "process", which can be applied to software application names.

[2015-12-02 15:18] #127 closed, assigned to ahankinson

[2015-12-02 15:22] pe-ro commented on #113
The dimensions of the members of att.coordinated (surface, symbolDef, and zone) are _abstract_; that is, they are agnostic about their real-life dimensions.  Therefore, no unit attribute is necessary.

[2015-12-02 15:22] #113 closed, assigned to ahankinson

[2015-12-02 16:26] pe-ro commented on #267
Would it be better to place `@colcount` (or `@cols`) on the preceding `<pb>`?  This would permit one to indicate that the page is layed out in columns without actually specifying where the column breaks are.  This could be beneficial for situations that require re-flowing the text.

[2015-12-02 16:33] ahankinson commented on #267
How would you tell what text was supposed to be in which column?

[2015-12-02 16:42] pe-ro commented on #267
You couldn't without the use of `<cb>`.  But with `<pb cols="2"/>` a renderer could break the text as it saw fit.

[2015-12-02 16:46] pe-ro commented on #267
`@cols` says "this page is rendered in columns". The `<cb>` elements provide specific column break points.  In their absence, the rendering engine can break the columns as it wishes.

[2015-12-02 16:47] pe-ro commented on #267
Even in their presence, the rendering engine can choose to ignore them and still render the page in columns.

[2015-12-04 15:43] pe-ro commented on #285
My goal for creating MEI "Lite" is to focus on simplicity and unambiguity (thanks for the terminology, Zoltan) **while keeping the range of capabilities of the customization unchanged**.  That is, none (few?) of the notational features that MEI-all supports should be excluded.  This is why I don't support providing only `<beam>` and `<tuplet>` -- doing so fits the first two goals but violates the

[2015-12-04 15:44] pe-ro commented on #285
Another possibility is to just make this new customization a refinement of mei-CMN.

[2015-12-09 10:50] ironchicken commented on #278
No such resource of instrument configurations, or affordances/constraints exists. And you're right, it would be very significant undertaking to create one. But to start one that's open ended would not be insurmountable, although would require the resources of a small team.

However, it seems that we should be able to go ahead with the main suggestion of adding `@extremis` to `att.note.log`.

[2015-12-09 12:50] ran-mo opened #286 "9 flats"
In order to encode some harmonic studies from Max Reger, I need to encode a piece with a key signature of 9 flats (f sharp). Currently, it's not possible to do that with `@key.sig`, but only with the `<keySig>` element. It would be much simpler to have this functionality on `@key.sig` as well.

<img width="443" alt="nineflats" src="https://cloud.githubusercontent.com/assets/14043371/11685679/2558f

[2015-12-09 13:24] ahankinson commented on #286
Hi Ran-mo! Thanks for bringing this up. I might suggest that you contact our mailing list to extend this discussion, as there are quite a few more people there who would be able to advise on this.

From a preliminary look, though, it seems that "theoretical keys" are non-standardized across repertoires, so a value of '9' in `@key.sig` would not be unambiguous to which flats are present in the key

[2015-12-09 13:36] zolaemil commented on #285
I agree, for what you describe, _lite_ may not be the best name. Maybe _strict_ could be added to the list of candidates too, out of your suggestions my favourites are _common_ and _regular_.

[2015-12-09 14:02] lpugin commented on #285
What about MEI-exchange?

If the idea is not to restrict its possible use (and for example to use `tupletSpan` instead of `tuplet`), then the rule of thumb should be that elements (where available) should be used instead of attributes. That is, we should always have `<keySig>` and not use `@key.sig` in `<staffDef`>. Is this the idea?

I personally think that MEI-Lite should not necessary support e

[2015-12-10 02:31] donbyrd commented on #285
I've come to the conclusion that cross-measure tuplets are a fantastic example of an unimportant piece of notation. The only piece I know of that uses them is Ives' Three Places in New England; cf. "More Counterexamples in Conventional Music Notation" (http://homes.soic.indiana.edu/donbyrd/MoreCMNCounterexamples.htm), Sec. 4k. I'm sure there are many other examples (suggestions, anyone?), but they

[2015-12-10 17:05] pe-ro commented on #286
Just a small clarification -- the **visual appearance of key signatures** for "theoretical keys" are non-standard, but going around the circle of fifths beyond the usual 7 positions is fine.

Since `@key.sig` is a bit of a misnomer anyway (it's really about key, not key signature), then I don't see any harm in allowing values up to and including 12.  It is, however, as Andrew points out, a good id

[2015-12-10 17:58] ahankinson commented on #286
I will admit that all I know of this topic is what I read on Wikipedia, but it was the examples there that gave me pause.

https://en.m.wikipedia.org/wiki/Theoretical_key

Ordering and content is not necessarily obvious given just a single integer.

In 99% of the use cases for key signatures it can be covered by the usual 7 positions. Should exceptions need to be made I understand that is what the

[2015-12-10 18:43] pe-ro commented on #286
Yes, order and content is not necessarily obvious given a single integer.  That's true whether the integer is '1' or '12'. :-)  So, I don't see any problem with also allowing integers 9-12.  `<keySig>` isn't there to address exceptions in `@key.sig`.  It's there to enhance the info that's in `@key.sig` in terms of order and content.

**_Not**_ allowing integers 9-12 in `@key.sig` creates inconsist

[2015-12-10 18:45] pe-ro commented on #286
Another possible substitute for `@key.sig` is `@key.fifths`.

[2015-12-10 20:52] ahankinson commented on #286
I would strongly advocate against removing or altering`@key.sig`. It may not be philosophically accurate, but it is intuitive and easy to understand.

Like I said, `@key.sig` as it is covers 99% of the common use cases.

That said, _If_ we were to change `@key.sig` I would recommend that it be pushed off two releases in the future. Almost every piece of software and encoding uses it, so we would n

[2015-12-10 20:59] pe-ro commented on #286
Adding new values (that is, `8, 9, 10, 11, 12`) to `@key.sig` doesn't break any software that only uses the currently available subset of the full range of values (`1-7`, for example).  What's the issue with making this change?

[2015-12-10 21:19] ahankinson commented on #286
What does `@key.sig="1"` mean? Don't you need to qualify it with s or f?

For that matter, wouldn't we have to allow 9f to differentiate between 9s? And shouldn't it technically be something like 7f2ff?

It just seems like a huge structural change  to accommodate a very niche use case.

[2015-12-11 02:57] pe-ro commented on #286
Sorry, I guess I wasn't specific enough.  The full range of values for key.sig is

0 (zero) = no sharps, no flats
mixed = mixed sharps and flats
1-12 [fs] = steps around the circle of 5ths; f = flats (counter-clockwise), s = sharps (clockwise); for example, "1s" indicates the key of G major or E minor.

The key.sig attribute doesn't actually record the sharps, flats, etc. of the displayed key sign

[2015-12-11 09:53] ahankinson commented on #286
How would you encode the example given on the wikipedia page for Db minor? Is that 7f? or 8f?

[2015-12-11 10:07] kepper commented on #286
it's clearly 8f.

1f = d
2f = g
3f = c
4f = f
5f = b♭
6f = e♭
7f = a♭
8f = d♭
9f = g♭
10f = c♭
11f = f♭

./@key.sig just doesn't say anything about how it's rendered, it's logical information on which fingers need to be twisted for translating written staff positions in corresponding piano keys (or similar). The whole discussion about values of "9" (without f or s) is probably just a misunderstand

[2015-12-16 21:08] shino-funayama opened #287 "several <mdiv>"
In order to encode some harmonic studies from Max Reger.Alltogether there are six different (mdiv) for six different groups of tonalities, namely C-major, C sharp-major, a-minor, C flat-major, d flat-minor and a sharp-minor. Each (mdiv) has a (score) and multiple (section) as modulation examples.
In Verivio is only shown the first (mdiv). That means that we can see in Verovio only examples of C-ma

[2015-12-16 21:17] shino-funayama opened #288 "<choise>"
This is about major and minor cadence in one example. We have taken (choice) here and two different variations as input. But in Verovio (choice) is not displayed. Does anyone have ideas?
![frage2](https://cloud.githubusercontent.com/assets/16317856/11854098/ee2442b0-a441-11e5-8056-8d0c0e7069ec.JPG)

[2015-12-16 21:21] shino-funayama opened #289 "two notes side by side?"
It's about two different note values of two different voices which, however, have the same pitch. They appear to overlap in verovio. Is it somehow possible to display two notes side by side?
![frage3](https://cloud.githubusercontent.com/assets/16317856/11854287/346bb586-a443-11e5-98e7-42b038e21c65.JPG)

[2015-12-16 21:25] shino-funayama opened #290 "double flat"
It's about twice the flat. ♭ ♭ is not displayed in verovio. Are there other ways to encode double  ♭ signs?
![frage4](https://cloud.githubusercontent.com/assets/16317856/11854365/c7908e9a-a443-11e5-9bc0-fe13a1b376ae.JPG)

[2015-12-16 21:29] shino-funayama opened #291 "encode a clip"
How can I encode a clip without (choice)?
![frage5](https://cloud.githubusercontent.com/assets/16317856/11854449/44685f60-a444-11e5-95d9-b580ac4a3c9d.JPG)

[2015-12-16 21:32] shino-funayama opened #292 "double signs at a note"
How can at a note  a  natural and a sharp side by side be encoded? In Verovio this is not displayed correctly.
![frage6](https://cloud.githubusercontent.com/assets/16317856/11854537/caff2298-a444-11e5-8755-d8618c38e8fe.JPG)

[2015-12-16 22:34] ahankinson commented on #287
Hi Shino,

You should file any Verovio rendering issues on the Verovio GitHub repository, available here:

https://github.com/rism-ch/verovio

I will close the issues that you filed that should be directed there, but please, if you feel that this is a core MEI problem, re-open them with a justification for why you think so and we'll take it from there.

[2015-12-16 22:34] #287 closed, assigned to nobody

[2015-12-16 22:34] ahankinson commented on #288
Should be filed at rism-ch/verovio

[2015-12-16 22:34] #288 closed, assigned to nobody

[2015-12-16 22:35] ahankinson commented on #289
Should be filed at rism-ch/verovio

[2015-12-16 22:35] #289 closed, assigned to nobody

[2015-12-16 22:35] ahankinson commented on #290
Should be filed at rism-ch/verovio

[2015-12-16 22:35] #290 closed, assigned to nobody

[2015-12-16 22:35] ahankinson commented on #291
Unclear if this is a rendering issue or an encoding issue. Could you please elaborate?

[2015-12-16 22:36] ahankinson commented on #292
This looks like a Verovio issue and should be filed at rism-ch/verovio

[2015-12-16 22:36] #292 closed, assigned to nobody

[2015-12-17 15:04] zolaemil commented on #284
I was thinking about these positioning attributes the other day. Despite not being very useful for dynamic display, I can see that `@hloc` could be useful to capture positioning information in the horizontal axis from a printed source.

Regarding `@vo` and `@ho` attributes, I am not really sure what they are useful in the first place, for 'programatically-determined position' is practically an und

[2015-12-17 15:22] ahankinson commented on #284
`@facs` already defines a zone on a surface, so if you wanted to align with an image of a digitized printed source you would use the `@facs`/zone/surface functionality.

`@hloc` would have to be confined to 'dynamic' (i.e., engraved) presentation, perhaps as a way of "locking" elements at a specific spot on the staff.

[2015-12-17 15:26] pe-ro commented on #284
As is many times the case, perhaps it's the definition ("programatically-determined position") that's problematic, not the thing itself.  This phrase was an attempt to convey the idea that the position of the thing bearing `@ho and/or @vo` is not absolute.  For example, `<note ho=".5"/>` is meant to be a way to say "place this note slightly to the right of where it would otherwise have been locate

[2015-12-17 15:31] pe-ro commented on #284
Yes, `@hloc` is intended to "lock" elements at a particular horizontal location.

I hope to be able to support files that "lock" items to particular locations as well as completely dynamic layout.  One probably would not employ both methods simultaneously, however.

[2015-12-17 15:32] ahankinson commented on #284
`@loc` is currently defined with respect to the staff lines. So `@loc=1` would be something that is located on staff line 1.

What would the unit be for `@hloc`? Is it `@hloc=5` which would be 5 staff-line height measurements? or `@hloc=5mm` which would lock it 5 mm from the edge of the staff?

[2015-12-17 15:40] pe-ro commented on #284
Not completely determined yet, but I think the reference point has to be related to something that doesn't move, something related to the page, not the staff.  SCORE uses the left edge of the page (or the left page margin, I can't remember which). The values would follow the pattern of other measurements; that is, `(\+)?\d+(\.\d+)?(cm|mm|in|pt|pc|px|vu)?`

Just for consistency's sake, it might be

[2015-12-17 15:52] pe-ro commented on #284
If the left edge of the page were chosen as the reference point, one could never use negative values for `@hloc`.  If the left page margin were used, then both positive and negative values have to be allowed.  I don't see any reason to prefer one over the other, but I'm willing to be convinced otherwise.

[2015-12-17 15:53] ahankinson commented on #284
What if there is no page?

[2015-12-17 15:55] pe-ro commented on #284
I'm not sure what you mean.  The notation has to be displayed on a page/surface/view port, whatever you want to call it, that has dimensions.  So, there's always a page in some sense.

[2015-12-17 15:56] pe-ro commented on #284
If the notation is intended for display, that is.

[2015-12-17 16:03] pe-ro commented on #284
Of course `@hloc` has to be optional, for the case when "fully automatic" layout is desired.  Even when present, renderers could choose to ignore it.  But doing so would "mess up" the layout intended by the encoder, so it might be a good idea for software to ask before throwing away any positional stuff in the file.

[2015-12-17 16:11] ahankinson commented on #284
It does have dimensions, but they're not always satisfactory dimensions to work in. Pixels, SVG units, etc. are all rendering-level measurements, but it seems unsatisfactory to specify 'locations' in terms of absolute units.

I guess what I'm trying to say is that if you're looking to fix an object's horizontal position on the page, pixels or millimeters are poor units to do it in since screens do

[2015-12-17 16:46] zolaemil commented on #284
For the record `@loc` is defined in half-staffspace units with bottom staff line being 0.

[2015-12-17 16:47] ahankinson commented on #284
OK, thanks for correcting me!

[2015-12-17 17:07] zolaemil commented on #284
Agreeing with all the points Andrew made,
1. I support to keep on the path of using musical units, i.e. spaces or half-spaces.
2. I strongly suggest defining the origin well, or provide a generic mechanism to define the origin well.

Margins, "programatically determined" or positions where things "normally" would be, aren't very useful for processing, staves are much better.

[2015-12-17 18:42] pe-ro commented on #291
The term "clip" is confusing.  Do you mean parenthesis?

To capture attributes of the accidental, it should be encoded using <accid>, not `@accid`.  For example,

[code]

[2015-12-18 12:46] shino-funayama commented on #291
Thank you for your answer!
I mean here parenthesis.
Excuse me please
Because I can not English well,I badly translated into English.

I think that's rendering issue.
Although we have properly coded, in Verovio is not displyed correctly.

2015-12-17 19:42 GMT+01:00 pe-ro notifications@github.com:

##

_Shino Funayama (舟山 詩乃)_

Post: Greiteler Gärten 14
           33102 Paderborn

Email: shino.funay

[2016-01-06 12:21] #291 closed, assigned to nobody

[2016-01-06 12:29] lpugin opened #293 "Making the distinction between various types of tempo indications"
It could be valuable to be able to make the distinction between various types of tempo indications. One example is the metric modulations when the tempo indication has typically the form ♩= 𝅗𝅥
Making the difference between different types of tempo indications will also facilitate rendering decisions. The metric modulation is generally centered with the bar line separating two measures, whilst norma

[2016-01-06 12:35] lpugin opened #294 "Scaling element with att.typography"
att.typography has a fontsize attribute for specifying point size. In many cases, however, determining a point font size is not straightforward. It would probably be useful to be able to specify the size in a more general (or relative) way. Having a scale attribute for specifying a percentage would be more appropriate in many case. Values as in CSS (small, x-small, etc.) could be another option.

[2016-01-07 16:35] zolaemil commented on #293
+1

[2016-01-07 17:52] th-we commented on #294
`att.typography` and [`data.TEXTRENDITION`](http://music-encoding.org/documentation/2.1.1/data.TEXTRENDITION/) are doing sort of the same thing. Maybe both should be unified?  `data.TEXTRENDITION` already covers the qualitative CSS property values, but in a rather unstructured way. Not sure whether I read the syntax declaration correctly, but it mixes both CSS property names and property values (l

[2016-01-07 19:24] pe-ro commented on #294
You're reading the declaration correctly.  The addition of the font-related attributes to `<rend>` causes the confusion/redundancy.  My plan is to remove the font size related values  (xx-small, x-small, small, medium, large, x-large, xx-large, smaller, and larger) from data.TEXTRENDITION and then allow them in `@fontsize`.  `@fontsize` will also be allowed to have percentage values.  It will cont

[2016-01-07 20:30] pe-ro commented on #293
Since `@type` is generally reserved for _ad hoc_ extension, a new attribute must be added for this purpose (proposed name = _func_).

I'm thinking that a marking with the form [value] = [value] can use one of the following values --
- "metricmod" (so-called 'metric modulation', where the first value indicates the preceding tempo and the second value represents the succeeding tempo),
- "precedente"

[2016-01-11 16:49] pe-ro commented on #279
I think "tuning" and "transposition" are different beasts and conflating them would be abuse  of `@tune` attributes.

[2016-03-10 15:44] pe-ro opened #295 "data.MIDITEMPO"
The datatype data.MIDITEMPO is defined incorrectly and its value range is too restrictive.  Therefore, the explanation for `@midi.tempo` is also incorrect.  Rather than "number of quarter notes per minute", it should be defined as "the number of microseconds per quarter note" (per the MIDI file specification at http://www.somascape.org/midi/tech/mfile.html).  At 120 beats-per-minute (and where a q

[2016-03-14 19:31] pe-ro commented on #295
To be included in the next revision --

[code]

[2016-03-30 19:55] pe-ro commented on #295
Closed by [6f09893]

[2016-03-30 19:56] pe-ro commented on #286
Closed by [4fe34c9]

[2016-03-30 19:56] #286 closed, assigned to nobody

[2016-03-30 19:58] pe-ro commented on #275
Closed by [081eb58]

[2016-03-30 19:58] #275 closed, assigned to nobody

[2016-03-30 20:05] #283 closed, assigned to nobody

[2016-03-31 21:02] #294 closed, assigned to nobody

[2016-04-01 17:01] #279 closed, assigned to nobody

[2016-04-01 17:39] #282 closed, assigned to nobody

[2016-04-01 20:13] #56 closed, assigned to ahankinson

[2016-04-01 21:10] #293 closed, assigned to nobody

[2016-04-04 12:52] kepper opened #297 "meiHead model wrong?"
the content model of `<meiHead>` seems to be wrong, as it allows `model.headerPart_sequenceOptional`, which I believe should be just `model.headerPart` (there is no model with the long name).

https://github.com/music-encoding/music-encoding/blob/develop/source/specs/mei-source.xml#L15997

[2016-04-04 15:53] pe-ro commented on #297
It's not incorrect, but it is somewhat misleading.  model.headerPart_sequenceOptional and model.encodingPart_sequenceOptional aren't defined anywhere in the schema, but are supplied by the ODD -> RNG stylesheet instead.  In other words, these are shortcuts that get defined explicitly later.  I've noticed this approach has an odd quirk (no pun intended!) in that the order of the expansion matches t

[2016-04-04 20:27] #297 closed, assigned to nobody

[2016-04-19 16:53] ironchicken opened #298 "Add a class for things that can be inside a chord"
At the moment the permissible contents of `<chord>` elements is `<note>`, `<artic>` and two generic models. I'd like to suggest that instead of the two specific elements, we have a `model.chordPart` as the principal content of `<chord>` (`<note>` and `<artic>` would then be members of this class).

This way, if I want to be able to add new elements to `<chord>`s in my own extensions I can just add

[2016-04-19 17:48] ahankinson commented on #298
Hi Richard,

We prefer to receive proposals for changes as pull requests so that they may be reviewed and commented on with the collaboration tools available on GitHub. We have details for this process in our  [Contributing](https://github.com/music-encoding/music-encoding/blob/develop/CONTRIBUTING.md) guidelines.

I would invite you to submit your patch as a pull request, and we can review your p

[2016-04-26 00:42] ahankinson commented on #252
This issue was moved to music-encoding/encoding-tools#4

[2016-04-26 00:42] #252 closed, assigned to nobody

[2016-04-26 00:43] ahankinson commented on #259
This issue was moved to music-encoding/encoding-tools#5

[2016-04-26 00:43] #259 closed, assigned to ahankinson

[2016-04-26 00:44] ahankinson commented on #258
This issue was moved to music-encoding/encoding-tools#6

[2016-04-26 00:44] #258 closed, assigned to nobody

[2016-04-26 00:45] ahankinson commented on #200
This issue was moved to music-encoding/sample-encodings#6

[2016-04-26 00:45] #200 closed, assigned to ahankinson

[2016-04-26 00:46] ahankinson commented on #271
The sample encodings have been moved to music-encoding/sample-encodings. Closing this issue.

[2016-04-26 00:46] #271 closed, assigned to nobody

[2016-04-26 00:47] ahankinson commented on #159
This issue was moved to music-encoding/encoding-tools#7

[2016-04-26 00:47] #159 closed, assigned to ahankinson

[2016-04-26 00:47] ahankinson commented on #158
This issue was moved to music-encoding/encoding-tools#8

[2016-04-26 00:47] #158 closed, assigned to ahankinson

[2016-04-26 00:48] ahankinson commented on #196
This issue was moved to music-encoding/encoding-tools#9

[2016-04-26 00:48] #196 closed, assigned to ahankinson

[2016-04-26 00:49] ahankinson commented on #198
This issue was moved to music-encoding/encoding-tools#10

[2016-04-26 00:49] #198 closed, assigned to ahankinson

[2016-04-26 00:57] ahankinson opened #301 "Separate MEI Core into modules"
Opening for discussion.

`mei-source.xml` is currently over 20,000 lines long. A few years ago @raffazizzi and I prototyped a method of separating MEI Source into different files, each containing a separate module. We were able to do this and still maintain all of the fun and fancy code completion tools in oXygen.

I think this might prove to be a bit less intimidating for moderately-experienced p

[2016-04-27 12:41] zolaemil commented on #301
It could also help development tools like github handling diffs. We've had problems when the diff was too bit for github to display.

[2016-04-27 21:10] pe-ro commented on #301
I see the advantages of breaking up mei-source into more manageable units. But, I'm not sure that splitting it up by module is the best way to go because it presumes that declarations never move.  It's fairly rare, but moving a declaration from one module to another is sometimes necessary.

It would be going too far to put every declaration in a separate file, so I think a reasonable compromise mi

[2016-04-27 21:24] pe-ro commented on #214
Closed by commit de72af3e7595ccb6f3e9ae6da1f0cddaf9e03d66

[2016-04-27 21:24] #214 closed, assigned to ahankinson

[2016-04-27 21:26] ahankinson commented on #301
I suggested a by-module separation because I thought it might help with the development of customizations. Adding a new module (e.g., Turkish Makam or Page-based layouts) or editing an existing module (e.g., neumes) would be a lot easier if we could develop this independently and keep all of the elements, attributes, and data types for that particular module together.

From what I understand, in y

[2016-04-27 21:41] #155 closed, assigned to ahankinson

[2016-04-27 21:49] #298 closed, assigned to nobody

[2016-04-27 22:00] pe-ro commented on #205
This is related to #263, which has been closed.  So I'm closing this one too.

[2016-04-27 22:00] #205 closed, assigned to nobody

[2016-04-28 12:09] pe-ro commented on #216
Closing this since SVG is now allowed with symbolDef.

[2016-04-28 12:09] #216 closed, assigned to ahankinson

[2016-04-29 15:10] #99 closed, assigned to ahankinson

[2016-05-24 00:48] lpugin commented on #274
Any other comment on this? Otherwise I am going to add `ligatureSpan` as suggested by @pe-ro

[2016-05-24 18:07] pe-ro commented on #274
Add to Verovio?

Since we haven't yet worked out the difference between ligatures in mensural notation vs. CMN, can you delay implementation until MEI v. 4?

[2016-05-24 18:41] lpugin commented on #274
To both MEI and Verovio. I can wait v. 4., but I would add them to develop as soon as 3.0.0 is out.

The difference seems clear to me: the typical use of ligatureSpan will be for indicating in CMN original ligatures. They will very often be spanning across several measures and cannot be represented with ligature elements.

[2016-05-24 19:20] pe-ro commented on #274
I've already started a version 4.0 customization.  As soon as we finalize 3.0, we can start putting the things in the customization into the development version in Git.

I don't want to belabor the point, but technically CMN doesn't have ligatures -- it has indications of where ligatures occurred in the original mensural source of the transcription.  Putting `ligatureSpan` in the CMN module should

[2016-05-25 08:36] lpugin opened #305 "Pedal member of att.timestamp2.musical"
Following up on the discussion we had about trying to make pedal markings consistent down / up sequences, wouldn't it be simple to make pedal member of att.timestamp2.musical for making it possible to encode the start and end (with ids or tstamps) in one single element? This would also make it possible to render them with a line and to automatically add pedal remember indication at the beginning o

[2016-06-02 17:50] pe-ro commented on #305
Possible, but it would only work for pedal down/up pairs.  This highlights a couple of issues:
- Sometimes pedal markings are illogical; that is, a pedal down mark may be followed by one or more pedal down indications without any intervening pedal up marks.
- Intermediate (i.e., half pedal) markings wouldn't fit this approach.

[2016-06-02 18:15] ahankinson opened #306 "Use Tido unit testing framework"
The Tido [mei-customization](https://github.com/tido/mei-customization) repo contains an excellent approach to building and unit testing MEI. I would like to investigate whether we can roll this into MEI proper and use it as our main build and unit test system.

The Tido approach seems to assume the unit tests are contained in the customization. I would like to see if we can incorporate the unit t

[2016-06-16 06:48] axgeertinger opened #307 "Allow time attributes on <tempo> in <incip>"
The schematron rule for tempo when used in the header seems to be too restrictive. The schema says:

[code]

This prevents the use of timing attributes when tempo is used as descriptive metadata, but it doesn’t take into account occurrences of tempo within incip, where the same attributes as within music are relevant. Shouldn’t the rule’s context be

mei:tempo[not(ancestor::mei:score)]

or similar

[2016-06-16 15:14] pe-ro opened #308 "Add attribute to specify which piano pedal is used"
Currently there's no indication on `<pedal>` of **which pedal to use**. Most often, pedal indications are for the sustain/damper pedal, but that's not always true.  One could rely on `@type` to make this distinction, but that attribute should be reserved for _ad hoc_ extension and classification.

Adding `@func` (function) with a semi-open value list is a reasonable approach, I think.  Possible va

[2016-06-16 16:02] lpugin commented on #308
#305 also relates to pedals, just for the record

[2016-06-16 16:11] lpugin commented on #305
- This would not mean that having only tstamp would not be possible for illogical markings. I think we have the same with dynam. They support tstamp2 but do not require it.
- We would need to think about intermediate markings. An intermediate marking could be the end / start of two successive pedal elements. Or we coud imagine having one long pedal marking (with tsamp and tsamp2) and the intermedi

[2016-06-16 17:38] pe-ro commented on #308
Yeah, but I thought this one was different enough and specific enough to warrant its own issue.

Out of curiosity, however, is there a way to combine/link issues (without creating a new one, of course)?

[2016-06-16 18:52] pe-ro commented on #305
There's some legitimacy to your first point above, but not the second.  In cases where there are intermediate markings, then the start / end of the sequence of pedal indications have to be separate elements that use only `@tstamp`.  For example,

Actually, I'm not so sure of this, but just for the sake of argument, let's assume `<pedal tstamp="1" tstamp2="1m+4"/>` is a useful substitute for a sing

[2016-06-16 19:17] lpugin commented on #305
It is not problematic once it is decided. I would vote for making it relative to the measure is occurs, as for a normal tstamp. This also avoids the issue of the membership to the sequence

So it would be

[code]

In the next measure, where we have a bounce...

[code]

There is no need to encode a membership since the bouncing mark occurs within a pedal event. This is actually quite similar to wha

[2016-06-16 19:30] pe-ro commented on #305
Mixing of these two pedal markup styles (your first 2 examples vs. the last 3) would always be a possibility because the current method (as in your last 3 examples, or is that a single example?) must be preserved in order to capture illogical pedaling.  Are you ok with that?

[2016-06-16 19:31] pe-ro commented on #305
At least now there's only one way to create pedal marks.  I thought having one way to do things was a high priority. :-)

[2016-06-16 19:42] lpugin commented on #305
It depends ;-) One way we could see this is to say that using the markup with tstamp / tstamp2 is recommended when the pedals are represented with a line (a line always stop somewhere, so I assume we cannot have illogical pedal marks with lines, can we?) and that the current markup (with tstamp only) is recommended with atomic pedal marks. Then of course illogical markup is possible.

This also al

[2016-06-16 19:59] pe-ro commented on #305
Conflicting priorities, whodathunkit?  ;-)

I agree that "illogical" pedal marks aren't possible when there are lines.

Is there good use for Schematron here?  That is, a test that a sequence of pedal marks intended to be rendered with lines be "logical" -- have a "down" and an "up"?  If that's the case, do we still need `@tstamp` and `@tstamp2`?

I'm not trying to be obtuse, just exercising the v

[2016-06-17 05:55] lpugin commented on #305
There are always various possibilities. I cannot say much about a possible good Schematron rule here, but `@tstamp2` and adjusting the guidelines would do it. I find it simpler to have the start and end in one element and quite MEI-like.

[2016-06-17 06:11] lpugin commented on #305
Actually we already have `@endid` on pedal. What purpose does it have?

Another way I can imagine would be to enforce the presence of a `@next` when a pedal mark is intended to be rendered with a line. This would probably make a Schematron rule easier to define. It could also check that an up mark has no next. Something like:

[code]

[2016-06-22 21:27] ahankinson opened #309 "Standardize attribute group capitalization"
Attribute classes currently use a mix of different capitalization schemes:  `att.staffGrp.vis` vs. `att.staffgroupingsym` and `att.staffident`

The latter should probably be changed to `att.staffGroupingSym` and `att.staffIdent`.

Refs: rism-ch/verovio#204

[2016-06-23 19:56] lpugin commented on #309
Also applies to `att.startendid` for `@startId` and `@endId`

[2016-06-24 10:51] lpugin opened #310 "Add schematron warning rule to check that startid is not used with tstamp"
Follows discussion https://github.com/music-encoding/encoding-tools/issues/3

Also applies to endid and tstamp2

[2016-06-24 10:55] lpugin opened #311 "Travis build failure"
See https://travis-ci.org/music-encoding/music-encoding

[2016-06-27 14:16] lpugin opened #312 "Add support for verses split in parts"
There are cases where a verse is split in parts. The music is identical and repeated.

Possible solution:

[code]

That is

[code]

We could also have a `@sym` on `<verse>` for the brace and a Schematron rule for checking that it is present only with `<versePart>`

Example provided by @craigsapp

![image](https://cloud.githubusercontent.com/assets/689412/16382750/6f520178-3c82-11e6-9ef8-3a185f410c

[2016-06-27 14:50] pe-ro commented on #173
This was fixed in the last release.

[2016-06-27 14:50] #173 closed, assigned to ahankinson

[2016-06-27 15:18] pe-ro commented on #309
We're only talking about changing the names of attribute classes, not individual attributes.  So, the names `@startid` and `@endid` will remain unchanged.

[2016-06-27 15:28] lpugin commented on #309
This is not how I understood the issue. `@startid` should be `@startId`

[2016-06-27 15:34] pe-ro commented on #309
Attribute names are already standardized; that is, they are all lowercase.

[2016-06-27 15:36] ahankinson commented on #309
The mixin class names in libmei are derived from the ODD attribute class names, so `att.staffgroupingsym.` Since some of the attribute class names are camel case, and some all-lowercase, we should standardize them, but it won't affect the actual names of the attributes.

See: https://github.com/DDMAL/libmei/blob/master/tools/parseschema2.py#L100

[2016-06-27 15:38] lpugin commented on #309
OK, my misunderstanding.

[2016-06-27 15:56] lpugin commented on #309
[code]

[2016-06-27 15:59] lpugin commented on #309
PS I left `timestamp`, `whitespace` and `xy` (and related)

[2016-06-27 18:06] pe-ro commented on #309
My suggestions for new names follow.  I left att.solfa unchanged as this is single concept (although it should be written as 'sol-fa').

[code]

[2016-06-27 18:11] pe-ro commented on #309
In order to draw attention to the `Like` and `Part` suffixes, it wasn't done before, but should this process also be applied to model classes? For instance, should `model.graphicprimitiveLike` be changed to `model.graphicPrimitiveLike`?

[2016-06-27 18:22] craigsapp commented on #309
For consistency, that would be good.

[2016-06-27 18:53] pe-ro commented on #309
OK, model.graphicprimitiveLike will be changed.  Also, model.controlevent.*

Any others from this list? --

[code]

[2016-06-27 20:56] pe-ro commented on #309
Many of the model class names are patterned after element names and shouldn't be modified.  But

[code]

can be changed to

[code]

[2016-06-28 01:21] craigsapp opened #313 "title/languages in meiHeader 2009->2016"
Given this MEI 2009 code:

[code]

What is the MEI 2016 expression?

Intended meaning:

[2016-06-28 03:11] craigsapp opened #314 "extMeta usage"
Regarding the new extMeta element:
     http://music-encoding.org/documentation/3.0.0/extMeta

Here are some Humdrum reference records:

[code]

that I used to encode as Processor Instructions in MEI XML:

[code]

How should the extMeta element be used for this purpose?
- extMeta@label maps to the above @key entries.
- The text content of extMeta holds the above @value

Questions:
- How do I indic

[2016-06-28 06:57] lpugin commented on #309
Sounds good to me. I would still change `att.solfa` to `att.solFa`

[2016-06-28 07:04] craigsapp commented on #309
It is technically one word: https://en.wikipedia.org/wiki/Tonic_sol-fa
in English, so not really "sol" and "fa".  But somewhat a corner case...

[2016-06-28 14:06] pe-ro commented on #314
`<extMeta>` is intended as a container for non-MEI, XML or plain text metadata.  In other words, it's a "bag" of metadata.  Its limitations are purposeful; that is, to encourage the use of the MEI header or other embedded XML.

Plain text metadata can be encoded this way --

[code]

No provision is made for mapping anything in `<extMeta>` to MEI or for indicating on `<extMeta>` anything beyond the

[2016-06-28 14:50] pe-ro commented on #313
`<profileDesc>` was eliminated in 2011 and its components moved to other locations.  Language(s) can be indicated at various levels.

If you're only concerned with capturing the language of the titles, you can encoded this way --

[code]

This approach should suffice for the majority of cases.

If you want to capture the fact that the _work_ is German, then use  `<workDesc>` --

[code]

This indic

[2016-06-28 14:50] #313 closed, assigned to nobody

[2016-06-28 15:04] ahankinson commented on #311
I've fixed the Stylesheets build error, so it looks like now it's just that the unit tests are not passing.

[2016-06-28 15:10] pe-ro opened #315 "Make <language> member of att.canonical"
`@xml:id` can't be used to hold the coded value of `<language>` as `<language>` may be used in multiple locations, for example --

[code]

Therefore, `@codedval` should be used instead --

[code]

[2016-06-28 16:54] craigsapp commented on #315
You were the one who told me to do it that way :-)

Using @codedval definitely looks better, particularly trying to enforce a unique id
- Why is @xml:lang in fileDesc/titleStmt/title and the language elaboration in fileDesc/sourceDesc/source/langUsage?
- @authuri might be good to add? Can I add any random string, such as you did for http://www.music-encoding.org/ns/mei?  For example https://www.lo

[2016-06-28 18:27] craigsapp commented on #295
random comment on this thread:

That looks authoritative :-)  Here is the official source:
    https://www.midi.org/specifications/item/the-midi-1-0-specification
The full spec is now free (originally was $50 for a paper copy), but you do have to register to see it.

MIDI file tempos are not in terms of beats, but in terms of quarter notes (as you note).  So a MIDI meta-message tempo of 500000 mic

[2016-06-28 18:30] pe-ro commented on #314
You can put any number of well-formed XML or text "chunks" in `<extMeta>` that you desire, except for MEI markup.

The processing instruction approach is a kludge that I recommend you move away from. I would recommend using the plain text reference records and use  `@xml:space="preserve"` on the element containing the text to indicate that whitespace is significant.  Not all do, but XML processors

[2016-06-28 18:33] pe-ro commented on #295
Thanks for the clarification.  I struggled to find the actual spec and therefore had to rely on some fairly shady secondary sources.  I'll reopen this issue to make sure the Guidelines get revised.

[2016-06-28 18:56] pe-ro commented on #315
The earlier versions of MEI only allowed `<langUsage>` to occur one time, so using `@xml:id` to hold the coded value was fine.  Now that that's no longer true, we have to move to `@codedval`, which is better anyway as it's more consistent with similar markup elsewhere in MEI.

`<langUsage>` occurs in several locations -- `<work>`, `<source>`, and `<expression>` -- to accommodate situations where e

[2016-06-28 19:00] pe-ro opened #316 "Add hyperlink to documentation of BCP 47"
Add hyperlink -- https://tools.ietf.org/html/bcp47 -- to documentation of BCP 47 in description of `@xml:lang` and/or in the chapter on the meiHead.

[2016-06-28 19:43] craigsapp commented on #295
Yes, most MIDI documentation does not note the subtlety very well, so it is difficult to track down the correct interpretation.

Here is the basic information you usually see:
![screen shot 2016-06-28 at 12 36 47 pm](https://cloud.githubusercontent.com/assets/3487289/16429719/1e75ab00-3d2d-11e6-8128-d7acec872d1a.png)
this is taken from a random webpage, but it looks like a close rip-off of the off

[2016-06-28 20:06] craigsapp commented on #315
BCP 47 is interesting in the sense that the short, harmonized German folksongs which I have been using as test encodings of Humdrum to MEI are from before German spelling reformation of 1901:

https://de.wikipedia.org/wiki/Orthographische_Konferenz_von_1901

I wonder if there is a way of specifying that information in BCP 47?  When there is a difference in orthography from modern German, I could p

[2016-06-28 20:13] #309 closed, assigned to ahankinson

[2016-06-28 20:56] pe-ro commented on #315
Check https://tools.ietf.org/html/bcp47#section-2.2.5 for info on constructing codes with language variants.  It specifically mentions German orthography.

You may also want to spend some time looking at http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry, which says "1901" is the subtag for "Traditional German orthography" and "1996" is the subtag for "German orthogr