[2021-05-14 12:25] rettinghaus commented on #796
+1 for 2)

[2021-05-14 15:16] pe-ro commented on #796
Imagine a visual interface (for a hairpin, for instance) that provides 3 “handles” – one that controls the left side of the hairpin, one that controls its right side, and one that controls the entire hairpin.  These functions require 3 attributes.  Removing ***@***.***`, etc. will leave no way to control the left side of an object independently of its overall position or vice versa.

[2021-05-14 15:33] lpugin commented on #796
I cannot really imagine it and must be missing something, but I trust you. Thank you for the explanation.

[2021-05-14 17:37] pe-ro commented on #796
Here’s a crude illustration --

![image](https://user-images.githubusercontent.com/5712877/118308986-a334df00-b4ba-11eb-81f3-d92efee8dcdf.png)

The left and right “handles” control the start and end points of the hairpin in both vertical and horizontal directions.  Angled hairpins can be created by independent control of the left and right handles.  The handle at the top controls the position of t

[2021-05-15 07:51] lpugin commented on #796
![image](https://user-images.githubusercontent.com/689412/118352091-d54c4c80-b55f-11eb-97c9-d14bf9e32d18.png)

(I could not see your image)

Now I think I understand. Basically, `<hairpin start.ho="-1" end.ho="-1"/>` would be the same as `<hairpin ho="-1">` and if you have both `@start.ho` and `@ho` they would simply add up. This is straight forward with MEI unit. However, with timestamps, we need

[2021-05-16 11:06] lpugin commented on #796
Thinking more about this I would still suggest a change for `@to` with control events. I now understand the idea to have `@ho`, `@startho` and `@endho` and how they work. I do not see any problems with them since they are based on virtual units.

The main issue I see now it for control events with an `@endid`. Even if we do not allow both `@startto` and `@endto` to be used together with `@to`, we

[2021-05-17 05:45] lpugin commented on #793
Another related discussion https://github.com/rism-digital/verovio/issues/974 (Sorry if it was already listed here)

[2021-05-17 09:53] kepper opened #797 "metaMark has incorrect att nesting"
`att.metaMark.log` is a member of `att.timestamp2.gestural`, which is clearly a nesting error. As a consequence, `<metaMark>` has `@tstamp2.ges` and `@tstamp2.real`, but not `@tstamp2`. Replacing `.gestural` with `.logical` will do the trick here.

https://github.com/music-encoding/music-encoding/blob/bced1582192d2b24e74d904691b581546e8b0919/source/modules/MEI.edittrans.xml#L57

[2021-05-17 15:26] pe-ro commented on #796
The placement in the illustration of the "handle" that controls @`ho`, @`to`, and @`vo` was not intended to suggest a middle reference point for the start and end of control events.  Here's how I understand the use/meaning of the various placement options:

@`tstamp` and @`tstamp2` are the beginning and ending points of an control event.  @`startid` and @`endid` can be substituted, respectively, f

[2021-05-18 06:04] lpugin commented on #796
It does help, thanks! It is much clearer now that understand that no middle point is involved in the calculations. One last thing when offsets are cumulated - again related to the fact that spacing of timestamps is most of the time irregular. Wouldn't it be clearer if the order in which offsets have to be applied would have timestamp ones first? That is:

1. `@tstamp` + `@to` + `@startto` + `@ho`

[2021-05-18 06:05] lpugin commented on #796
See https://github.com/music-encoding/music-encoding/issues/357

[2021-05-21 04:21] craigsapp commented on #761
Here is an example related to accent marks (Chopin Op. 19,  mm1-3):

<img width="403" alt="Screen Shot 2021-05-20 at 9 11 44 PM" src="https://user-images.githubusercontent.com/3487289/119081320-9b8ca300-b9b0-11eb-84c8-762ff24a51f4.png">

The accents are overlapping notes in another voice, but should instead be placed in the E3 space.  In this case a placement of `below` should automatically be int

[2021-05-21 15:28] martha-thomae opened #800 "Allow to encode uncertainty in pname"
Recently, a colleague of mine found out that sometimes (as in the case of Andrew Hughes encodings of chants) you need to encode the fact that you are not certain about the pitch of a note. For that particular project, my colleague is using `pname="?"`. However, this is not valid MEI (pname's value is restrcited to characters `a-g`).

Is there a way to encode the uncertainty of the pitch? Should we

[2021-05-21 15:41] martha-thomae opened #801 "Schematron rule for att.coordinated attributes"
Should we include a schematron rule for verifying that the upper-left (`@ulx`, `@uly`) and lower-right (`@lrx`, `@lry`) coordinates of a bounding box have the correct values?

Right now, the schema only complains when these attributes have negative values. But I was wondering if we should also enforce the following:

- `@ulx < lrx` (because in terms of `x` coordinate, the upper-**left** corner has

[2021-05-21 16:19] davidrizo commented on #800
Hi Martha,

There is an attribute @cert in Editorial Markup (https://music-encoding.org/guidelines/v4/content/scholarlyediting.html#editTrans <https://music-encoding.org/guidelines/v4/content/scholarlyediting.html#editTrans>) that may be useful for it

Best,
David

[2021-05-21 16:58] rettinghaus commented on #800
Better way would be to use `unclear` element:
[code]

if there are multiple possibilities wrap it in `choice`:
[code]

And on `unclear` you have the `@cert` attribute available:
[code]

[2021-05-21 17:00] rettinghaus commented on #800
see Guidelines https://music-encoding.org/guidelines/v4/content/scholarlyediting.html#edittransOmission

[2021-05-21 17:35] martha-thomae commented on #800
Thank you so much, @rettinghaus and @davidrizo!
I will pass this information along and refer my colleague to this issue if he wants to ask more questions. Thank you! :)

[2021-05-23 08:33] musicEnfanthen commented on #800
Hi all, thanks for the interesting discussion.

@rettinghaus Three questions arise for me:
1) `unclear` would declare the entire note element as unclear (i.e., it is unclear if the entity we describe is a note at all). In the given case, however, only the pname attribute is unclear. Is there something like the pattern described in [chapter 11.2.4.1](https://music-encoding.org/guidelines/v4/content

[2021-05-23 10:03] rettinghaus commented on #800
@musicEnfanthen to 1 and 2: there's nothing for individual attributes, as far as I know. But let me ask you, would a note without a position relative to a staff (described by `@loc` or `@pname`/`@oct`) be in all cases a note? It would give you a hard time to encode all blobs and strokes on a manuscript as noteheads and stems.

[2021-05-25 08:08] ahankinson commented on #800
When encoding different readings of a particular note it is common practice to encode the whole note element, even if part of it is different:

[code]

Most of the examples in the Scholarly Editing chapter of the guidelines follow this pattern.

When no pitch is discernable, it is OK to have a `<note>` element with no `@pname` -- This is the recommended practice for unheighted neume notation, for

[2021-05-25 08:13] ahankinson commented on #801
AFAIK there is an unwritten assumption in MEI that these values correspond to a co-ordinate system with origin in the upper-left. If we introduce this rule we should also make that a written assumption. Otherwise, given an origin of 0,0 in the centre of a surface, or even bottom-right, then these schematron rules would not be universal.

[2021-05-25 14:31] martha-thomae commented on #801
Oh, this was me thinking as if the page was on quadrant I of a Cartesian plane. Sorry, my bad. Thank you for the clarification, @ahankinson. Ok, I will see where this clarification of the top-left corner being at the coordinate `(0,0)` can be included in the documentation to avoid confusion.

Ok, then based on this, the coordinates `x` and `y` of the `ul` corner will always be smaller than their c

[2021-05-25 14:41] ahankinson commented on #801
Ah, so you thought the origin was in the bottom left? Yet another reason to make the origin explicit. [We talked about this a long time ago](https://lists.uni-paderborn.de/pipermail/mei-l/2011/thread.html#302), and there wasn't really consensus about origin. It's probably worthwhile to look through this discussion to see if there is anything relevant.

There is also the question of the units. On r

[2021-05-25 14:54] martha-thomae commented on #801
Yes, that is exactly what I thought.

Thank you for sharing, I will look into that discussion.

[2021-05-25 15:09] martha-thomae commented on #800
Thank you, @ahankinson!

[2021-05-27 22:02] kepper commented on #790
There is a first draft of the Schematron validation of the ODD sources. It has already surfaced a couple of inconsistencies that should be addressed before merging this as a PR. We also need to see how it can be integrated into the GH Actions.

[2021-05-28 07:59] KristinaRichts opened #803 "Remove <scoreFormat> from <physDesc>"
The value of scoreFormat is not describing a physical entity. Because of this scoreFormat shouldn’t be available at physDesc anymore. The occurrence in the mei.frbr expression is still fine. The metadata-ig discussed this issue and decided to make this suggestion.

[2021-05-28 08:19] KristinaRichts opened #804 "Correction of misleading links in the metadata chapter"
In the metadata section of the Guidelines, there are numerous links that point to the beginning of Chapter 3, but not to the relevant subchapters that are supposed to describe the respective elements in more detail. Example: physDesc. Here, reference is made to chapters 3.1.4 Manifestations and 3.3 Manuscript Descriptions, but the links lead to nothing for the user.

[2021-05-28 08:46] KristinaRichts opened #805 "Automatic search for no child elements?"
In the metadata part of the guidelines, there are some elements where it says that they may not have child elements (for example: condition). In fact, child elements are allowed. Is there a way to automatically detect these elements?

[2021-05-28 11:28] kepper commented on #805
This is because [<condition>](https://music-encoding.org/guidelines/dev/elements/condition.html) has a `macro group` (here: `macro.struc-unstrucContent`) as sole content, which isn't processed properly. I believe I've seen this error in a separate ticket already, but haven't investigated yet. I'll try to fix asap.

[2021-05-28 12:21] kepper commented on #785
At ODD Friday, we agreed that the Mensural IG should have an eye on this. @martha-thomae, could you circulate this please? Thanks…

[2021-05-28 12:32] musicEnfanthen commented on #790
See also #264 and #806

[2021-05-28 12:52] kepper commented on #733
Discussed on ODD Friday again. We need to clarify the relations between things like `@angle`, `@rotation`, `@rotate`. There are also questions about the rotation origin, skewing, and whether rotation (for instance) is applied before offsets / layout or after. All in all, this isn't fully thought through yet…

[2021-05-28 13:04] kepper commented on #555
Many thanks to @doerners and @musicEnfanthen for the great work on this. Now it seems time to get back to the Metadata IG and revise how your proposal aligns with their understanding. @KristinaRichts, will you take care of forwarding? We can then have another look at the next ODD meeting.

[2021-05-28 13:11] #797 closed, assigned to kepper

[2021-05-28 13:19] kepper commented on #776
At ODD meeting today, we agreed to follow the list above. However, we need to verify that this won't break our workflows. Maybe @bwbohl, @ahankinson, @musicEnfanthen can have a look together?

[2021-05-28 13:34] kepper commented on #803
At ODD Friday, there was consensus that it makes no sense to have `<scoreFormat>` within `<physDesc>`. However, it should be possible to have that kind of information even without the FRBR module, so not only within `<expression>`.  It would be good to think about this use-case, and luckily, @riedde volunteered 👍  :-)

[2021-05-28 13:55] riedde commented on #804
Just a hint @kepper : In the element specs for [`<physDesc>`](https://music-encoding.org/guidelines/v4/elements/physdesc.html) the second backlink to the guidelines is encoded in the page as
`<a class="chapterLink desc" href="/guidelines/v4/content/metadata.html#&quot;msdesc&quot;">3.3 Manuscript Descriptions</a>`.

Maybe the quotation marks around the id are the problem because the id `#"msdesc"`

[2021-05-28 14:50] pe-ro commented on #803
This discussion has already taken place several times.  When the FRBR module isn't used, the next best place for `<scoreFormat>`, however it may annoy the FRBR zealots, is `<physDesc>`.

[2021-05-28 16:58] riedde commented on #803
I agree that `<scoreFormat>` has to be available also when not using the FRBR module, but I don't agree that `<physDesc>` is the best place for that. In MEI 4.1.0 `<physDesc` is only contained by `<item>` or `<manifestation>` and both elements are provided by the MEI.frbr module. Maybe I'm missing something but from my view it would be interesting to use  `<physDesc>` without MEI.frbr. I noticed t

[2021-05-28 17:41] pe-ro commented on #803
I suggest having a look at https://www.loc.gov/marc/bibliographic/bd3xx.html where score format is very clearly grouped with other kinds of physical description.  https://www.loc.gov/marc/bibliographic/bd348.html describes "Format of Notated Music" as "[t]he musical or **physical layout** (emphasis mine) of the content of a resource that is presented in the form of musical notation."

Putting `<sc

[2021-05-28 17:56] riedde commented on #803
Okay, minimizing other problems is one thing i always prefer, but leaving it as it is does also not solve the problem that `<scoreFormat>` can not be used without MEI.frbr ...
Thank you fore the links, I also had a look there. It seems to me that this is some kind of clash of discipline/view/perspective if score format is physical or not.

[2021-05-28 17:56] pe-ro commented on #803
I apologize -- I just realized that my argument with respect to allowing physical description without FRBR is based on v. 3.

Still, I don't recommend removing `<scoreFormat>` from `<physDesc>` since the latter functions as a container for various kinds of data, not all of which are strictly descriptive of physical form.  For example, `<physDesc>` also allows accMat, captureMode, exhibHist, plateN

[2021-05-28 17:57] pe-ro commented on #803
Sometimes it's best to let sleeping dogs lie. :-)

[2021-05-28 22:42] #805 closed, assigned to kepper

[2021-05-28 22:44] kepper commented on #805
This issue was a duplicate of https://github.com/music-encoding/guidelines/issues/172. Both should be fixed now. Thanks to @pe-ro  and @KristinaRichts for reporting the issue 👍

[2021-05-28 23:26] musicEnfanthen commented on #776
Updated the list above with necessary steps and cross-repo references

[2021-05-29 20:21] martha-thomae commented on #785
Yes, of course. I will do that this coming week. Thanks!

[2021-05-31 07:43] ahankinson commented on #803
Where did we land with this issue? Can it be closed with a "won't fix"?

[2021-05-31 07:51] riedde commented on #803
I would like to keep this issue open until the next metadata-ig meeting (in june). After that I can tag an maybe close this issue.

[2021-05-31 08:03] ahankinson commented on #766
`pull_request_target` is the officially recommended way of running this now:

https://github.com/actions/labeler/blob/main/README.md#create-workflow

I'll make the change and submit a PR.

[2021-05-31 08:06] ahankinson commented on #803
OK

[2021-05-31 08:09] ahankinson commented on #800
@martha-thomae can this issue be closed now?

[2021-05-31 08:11] ahankinson commented on #800
Since this is more of a support discussion rather than a feature request (right now) I am going to move this to the "Discussions" tab.

[2021-05-31 08:11] #800 closed, assigned to ahankinson

[2021-06-02 15:55] carrieeex opened #810 "Images not properly loaded in Neume Notation Documentation"
Most images are not loaded in the [Documentation of Neume Notation](https://music-encoding.org/guidelines/v4/content/neumes.html), like this:
<img width="693" alt="MEI website - Neume Notation" src="https://user-images.githubusercontent.com/59303880/120512313-d3a6d380-c3fd-11eb-90b8-a4f5fff89a42.png">

[2021-06-02 18:16] #766 closed, assigned to nobody

[2021-06-03 08:17] carrieeex commented on #810
We think the problem is due to the images in the [guidelines repo](https://github.com/music-encoding/guidelines/tree/master/v4/images/modules/neumes) are not fully uploaded to the main [music-encoding repo](https://github.com/music-encoding/music-encoding/tree/develop/source/images/modules/neumes).

[2021-06-03 08:52] ahankinson commented on #810
The images are available in the Guidelines, they're just not showing up in the documentation:

https://music-encoding.org/guidelines/v4/images/modules/neumes/NEUME-con.png

The guidelines have the image URL as this (you can right click on the image that is not loading and say "Copy image address")

`src="/guidelines/images/v4/modules/neumes/NEUME-con.png"`

It looks like the correct address should

[2021-06-03 09:08] carrieeex commented on #810
Ahh I see. Yes you're right. Thanks for looking into this @ahankinson !

[2021-06-03 14:45] rettinghaus opened #812 "MIDINAMES error in MEI 4/5 RelaxNGs"
Most values from the [data.MIDINAMES](https://music-encoding.org/guidelines/v4/data-types/data.midinames.html) range have lost their underscores in the resulting [rng](https://music-encoding.org/schema/4.0.0/mei-all.rng). Looks like the `altIdent` values slipped into there.
Same applies for [development version](https://music-encoding.org/schema/dev/mei-all.rng).

[2021-06-11 20:09] yinanazhou opened #813 "Failed to initialize submodules (stylesheet error)"
Hi, I was following the instructions on Building MEI in README. But after I ran the command line `git submodule init`, I got an error saying:
[code]
I'm using windows10, and I have also tried to use Oxygen. It also reported an error about stylesheet:
[code]

[2021-06-11 21:05] #813 closed, assigned to nobody

[2021-06-15 19:18] yinanazhou opened #816 "Cannot Add Accidentals in Neume Notation"
Hi, we are currently processing the manuscript _Salzinnes_, and we noticed that there are flats in the manuscript. But MEI encoding in neume notation seems not to provide accidentals for neume components. It would be nicer if it is allowed to insert accidentals since there are accidentals in neume notation.
![accid_image](https://user-images.githubusercontent.com/74484576/122110519-a2120d00-cdec-1

[2021-06-15 20:02] pe-ro commented on #816
In neume and mensural notation accidentals are not attached to neume components because they're often written well before the component/note that they modify.  In these kinds of notation, `<accid>` and other members of the noteModifierLike class (`<artic>` & `<dot>`) are allowed directly within `<staff>`.  I hope this helps.

[2021-06-15 20:29] martha-thomae commented on #816
Thanks for the clarification, @pe-ro!
So the intended use for `<accid>` in neume notation is to include it within the `<layer>`, and maybe use a `@corresp` attribute to relate it to the neume component `<nc>` (the note) it is affecting?

The examples we have found so far in this manuscripts (the Salzinnes Antiphonal) seem to only be next to the affected note. However, I cannot assume that this is

[2021-06-15 20:42] ahankinson commented on #816
<img width="192" alt="image" src="https://user-images.githubusercontent.com/163183/122120485-c68cda00-ce2a-11eb-8adf-83666be123b1.png">

Here's an example from the Salzinnes -- the flat symbol is written before the 'f', even though it affects the 'b'.

https://cantus.simssa.ca/manuscript/133/?folio=002v&chant=5&search%5Btype%5D=volpiano&search%5Bquery%5D=ib#v=d&z=4&n=5&p=4&y=2023&x=915

[2021-06-15 20:53] ahankinson commented on #816
<img width="275" alt="image" src="https://user-images.githubusercontent.com/163183/122121663-30f24a00-ce2c-11eb-94f6-d54ba92f6728.png">

Here is another example, where there are four 'b's that are flattened -- or so my resident musicologist tells me. :-D

(If they are, then maybe the Volpiano transcription is incorrect?)

https://cantus.simssa.ca/manuscript/133/?folio=004r&search%5Btype%5D=volpian

[2021-06-15 20:57] martha-thomae commented on #816
Thanks, @ahankinson!

[2021-06-15 21:36] pe-ro commented on #816
@martha-thomae, yes, `@corresp` is the way to associate the accidental and the note it affects.

[2021-06-15 21:41] martha-thomae commented on #816
Thanks, @pe-ro!

[2021-06-16 06:07] musicEnfanthen commented on #555
Please see also the comments in the related PR: https://github.com/music-encoding/music-encoding/pull/799#discussion_r640353011

[2021-06-16 07:22] ahankinson commented on #816
@yinanazhou @martha-thomae if you're happy with the solution provided, please close this issue. Thanks!

[2021-06-16 07:23] ahankinson commented on #810
I believe this has been addressed now.

[2021-06-16 07:23] #810 closed, assigned to nobody

[2021-06-16 07:29] ahankinson commented on #801
@martha-thomae should we keep this issue open?

[2021-06-16 07:33] ahankinson commented on #786
I'm going to move this to the Discussions section.

[2021-06-16 07:33] #786 closed, assigned to nobody

[2021-06-16 07:34] ahankinson commented on #751
I believe this is fixed now?

[2021-06-16 07:35] ahankinson commented on #785
I am going to move this to the discussions section.

[2021-06-16 07:36] #785 closed, assigned to nobody

[2021-06-16 07:37] ahankinson commented on #783
Sorry -- I didn't see your response! I follow the TEIC/Stylesheets repo, and noticed the PR.

[2021-06-16 07:40] ahankinson commented on #768
@kepper, @rettinghaus can I move this to 'discussions'? Any specific changes can be opened as an issue or a PR referencing the discussion.

[2021-06-16 07:44] ahankinson commented on #707
I'm moving this to Discussions.

[2021-06-16 07:44] #707 closed, assigned to nobody

[2021-06-16 07:45] #554 closed

[2021-06-16 07:49] ahankinson commented on #306
I'm going to close this as I don't think the Tido testing framework is active anymore. (That's not to say that we shouldn't have *any* testing framework, but that can be a separate issue.)

[2021-06-16 07:49] #306 closed

[2021-06-16 12:51] #816 closed, assigned to nobody

[2021-06-16 12:54] martha-thomae commented on #801
You are right, we can close it. I just think that we could clarify things in the documentation about this. But yes, I will close it.

[2021-06-16 12:54] #801 closed, assigned to nobody

[2021-06-16 12:55] martha-thomae commented on #751
Not yet. It is fixed for the current version of the guidelines, but not for the development version.

[2021-06-18 09:28] jacekiwaszko1 opened #822 "Invisible beams - implementation of beam@visible (?)"
Would It be possible to add `@visible` attribute to `<beam>` element?

![col-flauto01](https://user-images.githubusercontent.com/29225574/122537413-d3295200-d025-11eb-9690-888342307b67.png)

In cases like the one above we decided to copy the part of Flauto to Piccolo and hide it when they are supposed to play together (which is implied by _con Flauto_ note). This way we can represent both - meanin

[2021-06-18 09:32] ahankinson commented on #822
This may be a Verovio issue -- rendering visible beams with invisible notes may be a bug? We should see what @lpugin says.

[2021-06-18 09:47] kepper commented on #822
Another option could be to use the `<cpMark>` element. See [cpMark](https://music-encoding.org/guidelines/dev/elements/cpMark.html) and chapter [11.2.1.1. Instructions](https://music-encoding.org/guidelines/dev/content/scholarlyediting.html#edittranscpMark) of the MEI Guidelines. The piccolo measures would have `<mSpace>` then, so it would render properly, and would capture the semantics even more

[2021-06-18 10:02] lpugin commented on #822
We can make Verovio hide beams when all notes are invisible. An I am sure there are many other ways to do the same thing in MEI. But since we have `@visible` on note, I don't see any reason why we should not have it on `@beam`. What would it be?

[2021-06-18 10:36] rettinghaus commented on #822
Why not use `<layer visible="false">` for piccolo? In this particular case it seems to be the most logical approach.

[2021-06-18 10:48] rettinghaus commented on #822
Maybe even: `<layer copyof="#flute" visible="false" />`?

[2021-06-18 10:59] kepper commented on #822
I think it's fine to make [att.beam.vis](https://music-encoding.org/guidelines/dev/attribute-classes/att.beam.vis.html) a member of [att.visibility](https://music-encoding.org/guidelines/dev/attribute-classes/att.visibility.html) (and by doing so allow `@visible` on `<beam>`). I'm less convinced by the proposal to use `@copyof` on `<layer>`, as this allows to do full measures only. _colla parte_ i

[2021-06-18 11:08] musicEnfanthen commented on #822
There is no tuplet or rest in the example, but one could easily imagine passages containing them. Wouldn't we then also need @visible for these elements?

[2021-06-18 11:43] jacekiwaszko1 commented on #822
In this case `layer@visible` would work perfectly, but I just found an example where repetition ends in the middle of measure (same composer, different manuscript). It would be impossible then to use `layer@visible="false"` since it works only on whole measures:

![col-flauto21](https://user-images.githubusercontent.com/29225574/122552982-4d160700-d037-11eb-9044-2df90eed71ac.png)

As far as I know

[2021-06-18 12:14] kepper commented on #822
Just as a side note: We've used `<cpMark>` in conjunction with `<choice>`, `<abbr>`, and `<expan>`. The abbreviated form had spaces, the expansion was the text copied over from a different part. Since Verovio renders only one alternative, it was easy to either show or hide those parts – independent of the semantics, which we covered by the cpMark. Like I said – it all depends on where you want to

[2021-06-18 12:24] musicEnfanthen opened #823 "[GUIDELINES] Tabs in Specs not working in dev version"
The tabs next to `attributes`, `Members`, `Contained by` or `May Contain` in the HTML view of the specs do not work in the dev version of the Guidelines. That applies to all entities (elements, attributes, model classes, macros, data types).

![tabs](https://user-images.githubusercontent.com/21059419/122560457-eb5a9a80-d040-11eb-9a04-3c95fc961366.PNG)

[2021-06-18 12:37] musicEnfanthen opened #824 "[GUIDELINES] Data type specs not displayed correctly in dev version"
For "Used by" and "Remarks" entries in the data types section of the guidelines (dev version) only the row header is displayed. Other entries, like "Allowed values", are not displayed at all. It is working in MEI4 version.

<details>
<summary>Screenshot dev version</summary>
<br>

![datatype](https://user-images.githubusercontent.com/21059419/122561639-63759000-d042-11eb-8349-e8e0aa5e4fa1.PNG)
</d

[2021-06-18 12:39] kepper commented on #823
Hm, that's an error that I've seen (and solved?) in the past already. If I remember correctly, the problem was some Javascript error that prevented the page from loading correctly. I won't be able to investigate today, but I'll put it on my list…

[2021-06-18 12:40] kepper commented on #824
I'll look this up together with #823 (even though it's probably unrelated).

[2021-06-18 15:44] craigsapp commented on #822
Should this sort of thing now be placed in Discussions?

A better encoding in Humdrum would be to have an interpretation that hides/unhides a staff/layer, such as `*yy` to hide and `*Xyy` to unhide.   This would be equivalent to the `<layer visible="false">` suggested by @rettinghaus, with the complication of not starting/ending at a measure boundary in the general case.   In such cases I could co

[2021-06-18 15:51] ahankinson commented on #822
...ish. The start of the conversation was about adding `@visible` to beam, which is a legit feature request. If it arises that @jacekiwaszko1 is happy to go with existing solutions and no changes to the schema are needed, I can move this to a discussion, but I don't think we've landed there just yet?

(I'm kinda making it up as I go, TBH. I was previously trying to clean up old issues where the ch

[2021-06-18 15:56] kepper commented on #822
That's what `<mSpace>` is  for, just like `<mRest>`…

[2021-06-18 15:58] craigsapp commented on #822
Yes, it would be complicated for a general user to figure out whether to place in issues or discussions, and issues might escalate into a discussion as with this one.  But of course if they are confused, then they should place in discussions and then the discussion could be refined into an issue that would then be implemented.

[2021-06-18 15:59] craigsapp commented on #822
Thanks!

[2021-06-21 09:29] rettinghaus commented on #675
@lpugin isn't this solved by now?

[2021-06-21 10:10] rettinghaus opened #827 "Meter signatures printed as fraction"
Some composers / publishers prefer meter signatures printed as fraction with a slash.
(The matching glyph is available in the [SMuFL time signatures range](https://w3c.github.io/smufl/latest/tables/time-signatures.html) as `timeSigFractionalSlash`.)

We could add the value "frac" to `meterSig@form` to address it for simple cases:

B. Bartók, 14 Bagatelles, first edition
![Bartók, 14 Bagatelles, fi

[2021-06-21 13:28] lpugin commented on #675
Yes https://github.com/music-encoding/music-encoding/commit/c838d80ef60d40397d40344c9e3f65af9bfe826e

[2021-06-21 13:28] #675 closed, assigned to nobody

[2021-06-22 04:48] riedde commented on #803
The metadata-ig is informed about this discussion and is fine if we close this issue with the tag "won't fix". We decided to take back this proposal and to keep `<scoreFormat>` as it occurs because of compatibility reasons. Further we are going to extend the description in the guidelines in section _3. Metadata in MEI_ to articulate the different ways of use/meaning.
@ahankinson would you close th

[2021-06-22 05:16] #803 closed, assigned to ahankinson

[2021-06-22 15:16] yinanazhou opened #830 "All images not showing when using Oxygen to build html"
We were trying to fix the [neume-image-not-showing issue](https://github.com/music-encoding/music-encoding/issues/810) in the [development version of the guidelines](https://music-encoding.org/guidelines/dev/content/neumes.html). But we noticed that when using Oxygen to build HTML file, all the images will not show (not just neume notation). The thing is when using command lines to build HTML file

[2021-06-22 15:20] ahankinson commented on #830
This seems related to Discussion #829 -- can we follow it up there?

[2021-06-22 15:21] yinanazhou commented on #830
yeah, sure, thank you!

[2021-06-22 15:22] ahankinson commented on #830
Ok, I will close this.

[2021-06-22 15:22] #830 closed, assigned to nobody

[2021-06-22 19:16] bwbohl commented on #751
It's fixed in development but not in v4 guidelines

[2021-06-22 19:16] bwbohl commented on #751
should we fix it for v4 or just leave as is?

[2021-06-22 20:31] rettinghaus commented on #751
@bwbohl This should definitely be fixed. But it's not done by simply copying over parts from dev version. And unfortunately it's broken in v3 too ([22.2.](https://music-encoding.org/guidelines/v3/content/usersymbols.html#usersymbolsModuleUses)).

[2021-06-24 13:21] bwbohl commented on #804
2021-06-24 ODD Thursday: @riedde thanks for the hint! Did you have the testing it? Of course we'd be happy to receive a pull request with a fix ;-)

[2021-06-24 13:27] riedde commented on #804
@bwbohl I just tested if the regular expression matches. I didn't searched for all broken links.

[2021-06-24 13:45] musicEnfanthen commented on #804
@riedde Just to be sure: Which version of the guidelines are your referring to? MEI4, dev, both?

[2021-06-24 13:47] riedde commented on #804
Oh sry, this issue came up on a discussion on the MEI4 Guidelines.

[2021-06-24 13:49] musicEnfanthen commented on #804
And are the links working in dev?

[2021-06-24 17:56] riedde commented on #804
As I know the problem just occurs in v4.

Looking at the element definition of physDesc: broken in v4, working in dev.

[2021-06-24 20:04] musicEnfanthen commented on #804
Thank you @riedde .

There seems to be some really confusing and major reference issue in v4: The backlinks in <[`physDesc`](https://music-encoding.org/guidelines/v4/elements/physdesc.html)> are referencing the following sub-chapters with the following links:

| Backlink name  | Backlink value |
| ------------- | ------------- |
| 3.1.4 Manifestations | [https://music-encoding.org/guidelines/v4/co

[2021-06-24 20:06] musicEnfanthen commented on #804
@kepper Is this connected to #749 or do you see any other reason for this behaviour?

[2021-06-24 20:21] musicEnfanthen commented on #804
Totally, there are 24 references to the quotation-marked `msdesc` id: https://github.com/music-encoding/guidelines/search?p=3&q=%26%2334%3Bmsdesc%26%2334%3B which are all made from different elements within `v4/elements/...`.

A possible issue with the regex approach above could be that there seem to be indeed valid occurences of quotation marks in the guidelines: https://github.com/music-encoding

[2021-06-24 20:27] kepper commented on #804
I don't think this is related to the search issues from #749. Without having had a closer look, I would assume this is coming either from re-arranging the chapters, from preserving v4 as a static dump of the old markdown-based approach, or from a combination of these two…?!

[2021-06-24 20:51] musicEnfanthen commented on #804
With some digging it seems that the changes to the `physDesc` backlinks were introduced with https://github.com/music-encoding/guidelines/commit/e33fb8a46b66c24244aa3a746ac499c4252cf349 here: https://github.com/music-encoding/guidelines/commit/e33fb8a46b66c24244aa3a746ac499c4252cf349#diff-d687b90d739509675e8020f2664e9e0080f3e8306e9d48ecb66d3993d3da2ca7L16-R16

[2021-06-24 21:04] kepper commented on #804
Maybe, but that won't help anymore – v4 is static content, and cannot be re-generated easily. Maybe we can use this to make sure a semi-automatic approach like @riedde's regex catches everything, but this will require some manual work :-/

[2021-06-25 06:07] riedde commented on #804
@kepper I could try to fix the static content (using the regex), but I would need a hint where I could find those files.
And yes, @musicEnfanthen , sometimes there are links refering to something that does not exist... The "main" capter those links refer to seems to be correct, as I can see.

[2021-06-25 07:56] bwbohl commented on #801
has anyone created an issue for updating the documentation accordingly?

[2021-06-25 11:46] martha-thomae commented on #801
Not really. I quickly went through the discussion, but I saw there is no consensus. I will look into the discussion in more detail and raise a documentation issue if appropriate. Thanks, @bwbohl!

[2021-06-27 00:23] musicEnfanthen commented on #804
Short python-based analysis:

There is a total of 8 quoted fragment IDs with 55 occurrences together.
<details>
<summary>Show quoted fragment IDs</summary>

|                    quoted  fragment id                        |

[2021-06-28 09:37] kepper commented on #804
The algorithm to resolve this would be to
- go to all such links
- retrieve the ID to be looked up
- identify the corresponding chapter in /v4/content
- retrieve the correct number and file name from there
- insert it in the element page

Since HTML is not xml-compliant, my favorite tool (XSLT) is of limited use here. I could try another apporach here, but maybe someone with proper python-skills w

[2021-06-29 16:05] kepper commented on #823
I just looked this up with a variety of browsers, and can't reproduce anywhere. I suspect it was something with broken JS that is now functional again. Probably good to keep an eye on, but nothing to do right now. Thanks for reporting, though.

[2021-06-29 16:05] #823 closed, assigned to kepper

[2021-06-29 18:10] musicEnfanthen commented on #823
Hmmm, for me it is still broken (both on FF and Chrome). Did you check the dev-version?

[2021-06-29 18:44] kepper commented on #823
Yes, see screenshot attached. Cleared my cache, used a completely new browser – looking good for me… Haven't checked with different OS, though?!

<img width="1248" alt="grafik" src="https://user-images.githubusercontent.com/2078563/123850616-89404600-d91a-11eb-8b68-97b050d304df.png">

[2021-06-29 20:15] musicEnfanthen commented on #823
Yes, I see. Checked on a different device, and can confirm your observation (working there). Not sure what's happening here that it does not work on any browser.

[2021-06-29 21:36] kepper commented on #823
Could you give the browser / OS combination that is _not_ working, so we can verify?

[2021-06-30 06:57] ahankinson commented on #823
It doesn't seem to be working for me on Safari / Latest macOs.

I see this in the console:

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/163183/123915573-f1297780-d980-11eb-93e2-4866b53692b2.png">

Similar error in latest Chrome / latest macOs:

<img width="1675" alt="image" src="https://user-images.githubusercontent.com/163183/123915761-22a24300-d981-11eb-8198-9a4b

[2021-06-30 07:02] ahankinson commented on #823
It looks like it's trying to find an element with the `id` of `compact_tab`, but the actual `id` value is `containedBy_compact`

<img width="781" alt="image" src="https://user-images.githubusercontent.com/163183/123916262-bd9b1d00-d981-11eb-9eb8-307cb87d8fbb.png">

<img width="1235" alt="image" src="https://user-images.githubusercontent.com/163183/123916398-e58a8080-d981-11eb-9eda-1b52a875a086.png

[2021-06-30 14:43] musicEnfanthen commented on #823
Thanks @ahankinson for the digging. Thanks to your hint, I recognized that these things are written to Local Storage. After deletion of the Local Storage entries it worked for me again, i.e. displayed the tab contents correctly.

[2021-06-30 14:45] kepper commented on #823
Ok, that explains the problem. I was desparately looking for differences, because the very browsers than @ahankinson mentioned are working for me. Question is now how we can make this more robust…?

[2021-06-30 15:36] ahankinson commented on #823
Don’t use JavaScript? :-D

[2021-06-30 15:38] kepper commented on #823
If you're willing to stick with the first tab, you can safely turn off JavaScript ;-)

[2021-07-01 06:32] ahankinson commented on #727
“Show” seems like a “yes/no” question: “Should I show this? “Showchange=none” would seem to me to be hiding the change, rather than giving the default behaviour.

what about “sig.changestyle” with values of before/after, with “before” being the default if not specified?

[2021-07-01 06:39] craigsapp commented on #727
That sounds good.  It would be useful to avoid backwards compatible problems by using different values in `@sig.showchange`.   But it would be very verbose to include both `@sig.showchange` and `@sig.changestyle` always.  In general `@sig.changestyle` would be the same for all key signatures in the score, so perhaps it would best be added to `staffDef` and `scoreDef` rather than to `keySig`.

[2021-07-01 10:58] #824 closed, assigned to kepper

[2021-07-01 13:44] craigsapp commented on #727
Another though: `@sig.showchange` is a bit confusing: the key *change* is always shown, rather it is the cancellation naturals placement that is being controlled.  Better would be `@sig.showcancellation`, or since that is too long, `@sig.cancellation`, or shorter `@sig.cancel`.   Without the "show" it becomes more non-boolean, so the options could be:

(1) @sig.cancel="none" :: modern style (defau

[2021-07-01 13:48] rettinghaus commented on #727
Should we have another option to place the cancellation before the bar line?

(MusicXML allows the values `left`, `right`, `before-barline`:
https://w3c.github.io/musicxml/musicxml-reference/data-types/cancel-location/)

[2021-07-01 13:57] craigsapp commented on #727
Related to this, it would be useful to have something like `keySig@cautionary` or `keySig@caution` to control display of a key signature at the end of the previous line if the change starts at the beginning of the next system.   The default would be true, and it would be useful to allow `keySig@caution="false"` to suppress it when needed.

This would also apply to time signature changes and clef c

[2021-07-02 02:21] pe-ro commented on #555
The proposal to remove `<composer>`, `<editor>`, etc. conflicts with traditional cataloging practice; e.g., AACR2, which breaks responsibility for a bibliographic entity into a single primary access point (composer, author, editor, etc.) and added access points for secondary responsibility (lyricist, illustrator, etc.)  I understand the desire to break away from this particular tradition, but I ha

[2021-07-02 12:59] kepper opened #833 "PDF version of the Guidelines"
Dear all,

I'm working on bringing back a PDF version of the Guidelines. Much of that has been prepared in our transition back to ODD already, and I'm quite close to making a PR for this. Just for giggles: Right now, we're looking at ~5700 pages, but that can easily go up or down by a couple hundred pages. A more relevant number is probably the size of the Guideline chapters (as opposed to the spe

[2021-07-02 13:27] ahankinson commented on #833
I'm not sure about generating it for the development versions. We recently went through an exercise to try and get a handle on the Verovio repo because we built a new version on each commit, and it ended up being gigabytes in size. That was a lot of space, and it was 99% the same from one revision to the next.

It may also mean that a wayward search engine finds and promotes a development version

[2021-07-02 13:29] ahankinson commented on #833
PS: Can I convert this to a discussion, since there's no actual change proposed or bug reported?

[2021-07-02 13:36] kepper commented on #833
I was hoping that the `obsoletes` flag would help to make crawlers behave nicely (there is also an reversed flag that we could attach to older commits). I agree however that this is something to consider. We've been thinking to build documentation and schemata for branches as well (so that it get's easier to prepare things for a PR), but we surely don't want to publish every commit there with a DO

[2021-07-02 13:37] #833 closed, assigned to kepper

[2021-07-02 15:59] doerners commented on #555
Thank you for your insight @pe-ro!

In regard to the discussion within this issue and also to the discussion in #799 there are still some points that are not quite clear to me:

In my understanding the specalised elements like `<composer>` etc. are just shortcuts for something like `<persName role="composer">` or alike.  Thus I don't see why there shouldn't be the possibility to come up with a cro

[2021-07-02 18:48] pe-ro commented on #555
Thank you, @doerners , for your response.

Like I said, I understand that there is a desire to move away from all things traditional and that there are multiple approaches to this -- LRM, RDA, etc.  And I don't object to that impetus.  I just want to make sure that the intended path is clear.  To that end, a possible path forward is --

1. remove `<respStmt>`;
2. replace `<composer>`, etc. with `<

[2021-07-02 19:58] ahankinson commented on #555
An agent is not a person -- it is a person's role in relation to some action (their "agency"). In other words, an agent does not exist unless and until a person takes an action: composes a musical works, writes lyrics, publishes a book, etc. If I was born, lived, and died without doing a single significant thing, I would still have been a person, but I may never have been an agent. (More likely, I

[2021-07-02 21:27] pe-ro commented on #555
@ahankinson, I don't have any specific examples.  I would suggest creating a few based on traditional chief sources of information and via transcoding from other already-encoded metadata, existing MEI, TEI, MARC or MODS files, for example.

You may have missed the fact that in the content model I proposed for `<agent>`, `<resp>` is replaced by `<role>`.  In this model, `<role>` may be repeated as

[2021-07-02 21:34] pe-ro commented on #555
The simplest answer to @rettinghaus's original question -- one I failed to give long ago -- is that publisher is captured elsewhere; i.e., in `<pubStmt>`.  Adding `<agent>` in order to capture the name of the publisher will result in obliteration of the meaning of `<pubStmt>` and, in turn, traditional cataloging norms that go back centuries.

[2021-07-04 19:28] doerners commented on #555
Thank you @pe-ro and @ahankinson for your comments!

@pe-ro:
Yes I agree that replacing `<composer>` etc. with `<agent>` will have ripple effects and that the definition of `<agent>` should keep that in mind to avoid any unwanted consequences. To that end I want to stress that #799 is the first time for me actually defining an element and really dealing with ODD. The PR is still a draft and I'm ce

[2021-07-22 10:24] kepper opened #840 "MarkDown artifacts in Neumes Chapter"
@fujinaga has spotted a number of MarkDown remnants like the following:

https://github.com/music-encoding/music-encoding/blob/96166b37a2911d2a97911ede87e1ad20c581875f/source/docs/06-neumes.xml#L180

There are some more things to be italicized in this chapter.

[2021-07-22 11:56] rettinghaus opened #841 "meterSig on layers"
`meterSig` should be allowed in `layerDef`.
In some rare cases we find different meters on different layers within one staff, e.g. in Ravel's ''Oiseaux tristes'':
![meterSig_layers](https://user-images.githubusercontent.com/7693447/126623961-66773214-82f1-486e-ba4b-546481be37a8.png)

### Proposed encoding
[code]

[2021-07-22 11:56] rettinghaus commented on #841
This is connected to #818.

[2021-07-22 12:34] kepper commented on #841
You're always bringing up wonderful examples of weird stuff – how can we make sure that those get covered in the Guidelines as well?

[2021-07-22 15:02] martha-thomae commented on #752
@kepper, could you take a look at this? Are there any plans to get the Verovio SVG images back in?

[2021-07-22 15:06] kepper commented on #752
I will have a look. Of course we want this back. Can't say how easy this will be, though.

[2021-07-22 15:43] martha-thomae commented on #752
Thank you, @kepper! :)

[2021-07-27 14:56] rettinghaus opened #845 "String damp indications for harp"
In scores hand damping symbols can pop up everywhere, they are rarely connected to notes.

![dampall](https://user-images.githubusercontent.com/7693447/127176034-1dc74efb-f857-4b72-8caf-78d86d81d01d.png)
![dampsingle_string](https://user-images.githubusercontent.com/7693447/127176036-72cddd12-a66c-4a30-b5eb-c378e510db6f.png)
![Image](https://user-images.githubusercontent.com/7693447/127177549-ec12

[2021-07-27 17:47] ahankinson commented on #845
`artic` can occur directly in `layer`, and has `@plist` so you can attach the 'active participant' IDs.

It can also take various `@tstamp` values. Additionally, `@artic` could be modified to take `@startid`?

Just proposing alternate solutions...

[2021-07-27 17:54] rettinghaus commented on #845
Good point. But is harp damping an articulation at all? Or why are there special elements for piano pedal and laissez vibrer, which are closer related to harp damping than a marcato.

[2021-07-27 17:56] ahankinson commented on #845
🤷

[2021-07-27 18:07] ahankinson commented on #845
If we do choose to do a new element, I propose it *not* be called `<damp>`. Otherwise the brass might mistake it as a direction to empty their spit valves. 😀

[2021-07-27 18:50] pe-ro commented on #845
The statement that "Yet in MEI it is only possible to encode them as artic." isn't true.  In MEI "secondary" entities, such as articulations, can either be associated with a "primary" entity, either via attributes or child elements of the primary entity, or associated with a staff, through the use of a so-called "control event".  When there is no specific control event, as is the case with damping

[2021-07-27 18:52] pe-ro commented on #845
If one thinks that damping symbols aren't articulations, then using `<artic>` to encode them would be "tag abuse".

[2021-07-27 19:10] lpugin commented on #845
In my opinion they do look like control events. So maybe another idea would be to have `damp` to qualify a `<dir>` as suggested here https://github.com/music-encoding/music-encoding/issues/712 ?

[2021-07-27 19:20] pe-ro commented on #845
@lpugin, that's fine, but adding `@func` will lead to confusion between it and `@type` even if `@func` uses a closed list of values.  I prefer a semi-closed value list for `@type`.

[2021-07-27 19:25] lpugin commented on #845
I don't. I prefer to separate them and leave `@type` totally free for project specific uses.

[2021-07-27 19:39] pe-ro commented on #845
That's fine until the values in `@type` and `@func` are the same.  For example, if I use "damp" as the value of `@type`, Verovio will ignore my value until I put it in `@func`.  But doing so will a) cause me to repeat data, and/or force me to change my project-specific needs.

On the other hand, if there's a single place to put project-specific and Verovio-specific info (which is what `@func` is,

[2021-07-27 20:10] lpugin commented on #845
My point is that if we start (again) to fill `@type` with pre-defined values, then `@type` is not completely free for project specific needs. In other words, documenting its use will be more difficult, and that will introduce confusion. Your argument of putting `damp` in `@type` and introducing then duplication with `@func` or the need for the data to be changed could be used for any attribute (e.

[2021-07-27 20:41] lpugin commented on #712
Since there is no consensus and no clear general need for this proposal I am closing this issue. As always, it can be reopen in the future as needed.

[2021-07-27 20:41] #712 closed, assigned to nobody

[2021-07-28 15:54] rettinghaus commented on #845
The problem by using `dir` is that this would be a visual only approach, which isn't very machine readable. What about e.g. MIDI information? And you could only encode the simple sign, but would not be able to add information about the affected pitch range.
Arguing that basically everything can be encoded with `dir`, I wonder then why we do have specialized elements at all? Why is there a dedicate

[2021-07-29 15:17] pe-ro commented on #845
Of course, there has to be a way to encode specialized directives and I don't oppose creating special elements when necessary.  The discussion at the moment is about whether it's necessary to create a new `<damp>` element.  What specific characteristics / attributes would you like `<damp>` to have that `<dir>` doesn't already supply?  MIDI is a bit of a canard, so it would be best to avoid it righ

[2021-07-29 15:46] kepper commented on #845
This whole discussion reminds me about the argument I've given [elsewhere](https://github.com/music-encoding/music-encoding/pull/846#issuecomment-889022967): Sometimes, music notation simply doesn't want to follow our criteria for what is a control event and what is a note modifier. I'm fully aware that opening the door or blurring that line will cause madness, but maybe this is just the madness o

[2021-07-30 12:28] #841 closed, assigned to nobody

[2021-07-30 12:42] #768 closed, assigned to nobody

[2021-07-30 12:50] kepper commented on #827
This seems to be related to #843 in that it also deals with visual rendition of meter signatures. The proposed `frac` value doesn't give the "angledness" of this rendition. An alternative could be `slash`or `slashFrac`, following the SMuFL argument above. As #843 has been pushed, we'll do the same with this one, and will try to come up with a consistent solution for the underlying problem…

[2021-07-30 16:46] ahankinson commented on #845
I don't really see a difference between a control event and a note modifier. As mentioned, `<artic>` can be contained by both layer and note. If you need to express it with standoff notation, then that's OK. If you want to apply it to a specific note, then that's OK too.

I would second @lpugin's wish not to use `@type`. I too remember saying "Oh, just use `@type` for ... ". I also seem to remembe

[2021-07-30 18:11] pe-ro commented on #845
Harp pedals are used to select the pitches of the strings.  They have nothing to do with damping, which is done entirely with the hands.

[2021-08-23 18:46] rettinghaus commented on #845
Well I could imagine a composer wanting the player to dampen the strings with the feet.
But what I was thinking of is to have an element for harp techniques, so rename `harPedal` to simply `harp` (or something similar) and use that for all things the harpist has to do except from plucking the strings (which of course would still be indicated by the notes).

[2021-08-23 19:14] pe-ro commented on #845
Sorry, but that's going in the wrong direction.  Pedal settings can't be mixed with general technique indications because harp pedaling is specific, e.g., has specific function and data requirements.  `<harpPedal>` sets which pitches are actually available and is used to render a specific diagram showing the pedal settings.  When used for damping, a generic `<harp>` element would be overburdened w

[2021-09-20 09:24] rettinghaus commented on #536
@th-we did you open another issue on fingering already? I cannot find one.

[2021-09-20 10:09] th-we commented on #536
@rettinghaus No, apparently I haven't.

[2021-09-21 10:20] rettinghaus opened #852 "Simplify att.numberPlacement"
Do we need to have the attribute `@num.visible` in addition to `@num.place`? Shouldn't it be enough to say `@num.place="none"`?

[2021-09-24 10:47] rettinghaus commented on #852
Why is `att.numberPlacement` actually in `MEI.cmn` and not in `MEI.visual`?

[2021-09-24 12:42] bwbohl commented on #827
ODD meeting notes:

* as opposed to #843 this problem addresses mere graphical aspects of the meter signature
* more examples and encoding suggestions would be highly appreciated

[2021-09-24 12:54] bwbohl commented on #733
ODD meeting notes:

* definitely there seems to be a need to provide such rendition information
* more examples would be appreciated in order to thoroughly discuss the relation of the different attributes mentioned above

[2021-09-24 13:17] bwbohl commented on #852
ODD meeting notes:

* we think you're totally right, either it is placed or not, if not, then location is irrelevant if above or below it can't be invisible ;-)
* Could you please file a PR?

[2021-10-02 13:02] lpugin opened #856 "Add a `data.COURSETUNING` data type"
In the tablature customization, we currently have a list of possible values directly in `att.tuning.log`
https://github.com/music-encoding/music-encoding/blob/059ea54e71a590feace606d1e81b336253254570/source/modules/MEI.shared.xml#L3482-L3504
It would be better to make the list a `data.COURSETUNING` data type.

[2021-10-03 14:53] rettinghaus commented on #856
Does a semi.open list in combination with a data type make sense?

And where are the different tunings for the ukuleles and/or balalaikas?
https://en.wikipedia.org/wiki/Ukulele
https://en.wikipedia.org/wiki/Balalaika
Also I'm missing the Oud.

Maybe it would be good to massively extend the list and split it up into `data.COURSETUNING.guitar`, `data.COURSETUNING.lute` etc.

[2021-10-03 15:08] lpugin commented on #856
Why not? We already have this https://music-encoding.org/guidelines/dev/data-types/data.MODE.extended.html

I leave the other questions to tablature experts.

[2021-10-14 14:55] yinanazhou opened #861 "Request to make divLine a child of layer"
We noticed that right now `divLine` does not have any possible parents (the "contained by" part is empty in this link: https://music-encoding.org/guidelines/dev/elements/divLine.html). To encode our chant pieces, we need to encode `divLine` somewhere in the MEI encoding.

The reasons to make `divLine` a child of `layer` are as follows:
1. In this way, `divLine` will be in the stream of notes, whic

[2021-10-14 20:13] ahankinson commented on #861
Thanks @yinanazhou ! Nice catch -- indeed this element doesn't seem to be able to be included anywhere!

However, I'm wondering if a better solution is to make it part of `model.eventLike.neumes` instead. My reasoning is based on [page 13 of the Liber Usualis](http://liber.simssa.ca/#p=13&z=2).

In this the divisions are identified more as 'pauses' rather than bar lines, which means they are proba

[2021-10-15 09:55] ahankinson commented on #700
`staffDef` can be contained by `staff`... wouldn't this be enough?

[code]

`scoreDef` can also occur within `section`, meaning you can redefine the meter between measures as well:

[code]

As for where the barlines appear and how they line up, wouldn't this be up to the renderer?

[2021-10-15 19:27] yinanazhou commented on #861
Thank you for your quick reply. I agree with you. I will change to the `model.eventLike.neumes` model and validate the new schema next week.

[2021-10-17 17:35] davidrizo opened #863 "Signum congruentiae"
![](https://upload.wikimedia.org/wikipedia/commons/4/4c/Signum_congruentiae_%28Bravura%29.png)

Currently, I've not found any way to encode the *Signum Congruentiae* other than the use of the ``dir`` element as suggested for the *segno* symbols in #520.

It can be encoded as a child of ``staff``, however, we cannot use the ``@tsamp`` attribute.
Show we encode it the same way or should we create a

[2021-10-17 18:20] pe-ro commented on #863
@davidrizo, `<dir>` is permitted within `<staff>`.  Will this not accommodate the encoding of signum congruentiae in mensural notation?

[2021-10-17 18:23] davidrizo commented on #863
@pe-ro I'm sorry, I've added the issue and I've later edited it because I've seen what you mention.  The problem is that ``dir`` uses measure relative information to be set (e.g.,``@tstamp``) and in mensural notation we may have a correct encoding without any ``measure`` element. This is why I proposed to use something similar to the ``custos`` approach

[2021-10-17 18:24] pe-ro commented on #863
@davidrizo , When `dir/@tstamp` isn't appropriate (as in mensural notation), you can use `@startid` to associate the `<dir>` element with another element, such as a particular note.

[2021-10-17 18:31] davidrizo commented on #863
@pe-ro You're right, I'll use this way of encoding it. Thanks !!

[2021-10-17 18:31] #863 closed, assigned to nobody

[2021-10-27 14:29] rettinghaus opened #865 "Incompleteness of note head encoding"
There are several things problematic about the current situation with assigning note heads:

1. The description of `@head.shape` states that this attribute should be "Used to override the head shape normally used for the given duration."
That leads to two questions: What's the difference to `@dur` and `@dur.ges` (which implicitly gives the note head), and what should happen with a stem (e. g. if o

[2021-10-28 14:23] #749 closed, assigned to kepper

[2021-10-28 14:32] bwbohl commented on #861
fixed in #860

[2021-10-28 14:32] #861 closed, assigned to nobody

[2021-10-28 14:43] bwbohl commented on #865
concerning 1. I think we should try to rephrase the description of `@head.shape` removing the implicit assumptions. made by "override" "normally" and "duration" words. Why not just say something like:
„Makes an explicit statement about the shape of a notehead, e.g. to override default assumptions or making this explicit information.“

[2021-10-28 14:53] bwbohl commented on #865
2021-10-28 ODD meeting:

*  maybe some kind of notation style definition in the header could help
* documentation and best practice examples will be essential to documenting this

[2021-10-29 13:26] musicEnfanthen commented on #776
Would like to push this forward to have the transition finished this year. @ahankinson would you be able to rename the master branches of the following repos in the next days/weeks (according to the process with the main repo)?

- [x] [github.io](https://github.com/music-encoding/music-encoding.github.io) (--> `main`)
- [x] [sample-encodings](https://github.com/music-encoding/sample-encodings) (--

[2021-10-29 13:34] ahankinson commented on #776
Yes, I can.

However, for any site that has a published GH page attached to it, it will unpublish the site until another commit is made.

[2021-10-29 13:37] ahankinson commented on #776
<img width="424" alt="Screenshot 2021-10-29 at 15 36 36" src="https://user-images.githubusercontent.com/163183/139444689-5e6bb36b-98ba-47ff-800c-a153ed1ba6aa.png">

[2021-10-29 13:42] ahankinson commented on #776
Done. Please check the respective sites to see if they are still working.

[2021-10-29 13:48] bwbohl commented on #776
- [x] schema is online
- [x] gitHub.io is online
- [x] guidelines is online

[2021-10-29 13:49] #776 closed, assigned to nobody

[2021-10-29 13:51] ahankinson commented on #776
I have made various changes mentioned in the [comment above](https://github.com/music-encoding/music-encoding/issues/776#issuecomment-839864587) and have marked them as completed. Ones not checked I did not do.

[2021-10-29 13:57] musicEnfanthen commented on #776
Thank you @ahankinson, that's awesome! Shall we make a short announcement on MEI-L and Slack?

[2021-10-29 13:59] musicEnfanthen commented on #776
Many thanks, the remaining changes are provided in https://github.com/music-encoding/music-encoding/pull/868

[2021-11-08 09:22] rettinghaus opened #877 "Add source description in Guideline files"
Although it is common practice to leave the mandatory `sourceDesc` element in the TEI header empty it could be filled with some real content.
It needs to be discussed whether and what actually should go in there.

[2021-11-08 09:53] musicEnfanthen commented on #877
Besides leaving it empty as is, another very basic option would be to just indicate the intention in a comment:
``

Other options to be found in the TEI examples for `sourceDesc`: https://tei-c.org/release/doc/tei-p5-doc/en/html/examples-sourceDesc.html:

[code]

[code]
(Original examples with lower case after the colon.)

[2021-11-08 14:54] rettinghaus commented on #787
Also in older prints repeat bar lines usually have four dots (on each side) instead of two.
![image](https://user-images.githubusercontent.com/7693447/140763866-aef0b14c-72f1-4f3b-a44e-bd6fbf2d591e.png)
(Beethoven's Bagatelles Op. 119)

[2021-11-10 19:45] doerners opened #878 "Clarify remarks for elements that are modelled after other standards"
Some elements in MEI are modelled after other standards, e.g. [exhibHist](https://music-encoding.org/guidelines/dev/elements/exhibHist.html), however, the remarks do not seem to specify the exact element(s) that were used as templates for modelling and neither give the exact version of the respective standard used. These information would be helpful in order to provide sufficient descriptions for

[2021-11-10 21:03] doerners opened #879 "Clarify <exhibHist> vs <eventList>"
The element description of [`<exhibHist>`](https://music-encoding.org/guidelines/dev/elements/exhibHist.html) states that it encodes:

The element is only allowed within `<physDesc>`, although I would not consider an exhibition of an item an inherent physical property of a resource. Additionally, the element does not allow to record several exhibition events via structured descriptions, however, i

[2021-11-11 10:28] ahankinson commented on #879
The `<exhibHist>` is meant to indicate the times when the physical item was put on exhibit, so I think it is part of the physical description.

I'm not sure, but I think `event`/`eventList` are meant for marking-up text data (like a list of performances in a printed book), and not as structural metadata. It would be good to check and clarify this.

[2021-11-11 10:31] ahankinson commented on #878
I had a look, and I can't find any reference to `exhibHist` (or indeed `exhibitHist`, as it seemed to be called in earlier forms of MEI). It may be possible that this was available in a local customization of EAD (from the days when EAD was in SGML and you could define your own tags...)

[2021-11-11 10:32] ahankinson commented on #877
I'm partial to the comment option, if we do want to fill it out.

Should we address this before merging #875 ?

[2021-11-11 10:59] rettinghaus commented on #879
I would argue that an *exhibition history* is nothing that belongs to a physical description directly but more to the history of locations.
In `physLoc` we have a `history` element, which holds an `eventList`:

[code]

`history` can also be a direct child of manifestation.
So `event`/`eventList` seems to be able to hold structured information, way better than `exhibHist`:
[code]

[2021-11-11 11:03] ahankinson commented on #879
Often with exhibits there is a tag or a description for the public that accompanies the object, so it's not just about the location; it's also what was said about it.

Not saying either of your comments are not appropriate! Just that it might _also_ need to contain something like:

`ff. 200v/201r: Here you can see the use of fine miniscule hand on the left page, transitioning to a later script sty

[2021-11-12 17:03] pe-ro commented on #879
`<exhibHist>` is based on the MARC 585 field (https://www.loc.gov/marc/bibliographic/bd585.html), not EAD.  Sorry for the error.  As Andrew alluded to, `<physDesc>` is a container for several kinds of information related to, but not absolutely limited to, a description of a physical object.  I think `<exhibHist>` fits the definition of the "handling" of an object allowed by the short definition of

[2021-11-12 17:06] pe-ro commented on #879
Andrew is also correct to point out that it may be necessary to record not just the fact that something was exhibited, but also information about why the object was shown, what was significant about the display, etc.

[2021-11-12 18:00] pe-ro commented on #865
I'll attempt to address each item.

1. What's the difference to `@dur` and `@dur.ges` (which implicitly gives the note head), and what should happen with a stem (e. g. if one encodes a quarter note with `@head.shape="whole"`)?

`@head.shape` affects only the *note head*, so in the case of `<note dur="4" head.shape="whole"/>` I would say that the stem should be drawn as it is implied by the duratio

[2021-11-13 13:18] doerners commented on #879
Thank you @ahankinson, @rettinghaus and @pe-ro for your comments!

What is said for the MARC 585 field makes much more sense to me in this context than somewhat related elements I could find within EAD, thank you @pe-ro for this insight! I propose that the remark for `<exhibHist>` should be updated accordingly.

MARC calls this field 'Exhibitions Note'. From what I understood from your comments re

[2021-11-15 08:26] ahankinson commented on #879
I suspect `<physLoc>` is intended for use when an item shifts institutions, and not the physical location where the item lives _within_ the institution. You might use it to record shifts in shelfmark, though.

Objects can be exhibited without actually leaving the physical space where they are located. They change their shelfmark when they move institutions (usually) or even move collections within

[2021-11-15 09:04] doerners commented on #879
Since `<physLoc>` is modelled after EAD I checked out what is said about the element there, EAD states:

So I understand that it can be used to designate the exact location of an item for e.g. the purpose of retrieval. However, it probably depend on the granularity one wants for the description. If I just want to designate that a library holds an item without giving the exact location I probably n

[2021-11-16 14:54] #822 closed, assigned to nobody

[2021-11-26 09:48] ahankinson commented on #852
Sometimes it's useful to be able to show/hide a number, even if it has a place. I'm not generally a fan of mixing data types and implicit behaviours. A staff placement and a visibility flag are two different types of data.

You couldn't, for example, toggle the visibility of a number while also keeping the encoded placement of it; you would need to overwrite the placement with a value of `none`, a

[2021-11-26 13:13] #852 closed, assigned to nobody

[2021-11-26 13:32] rettinghaus commented on #865
@pe-ro thanks for your answers.

The value "slash" in `data.HEADSHAPE.list` refers to the symbol 1D10D ('MUSICAL SYMBOL REPEATED FIGURE-1'), which is filled. This confused me. Is the tilde in front here meaning something like "resembles"? Maybe it would be better to not point to static glyphs here anyway.

However, `data.HEADSHAPE.list` still compares apples and oranges, because the first section

[2021-11-26 16:45] kepper commented on #812
Would be helpful to have an example for the problem, and I'll try to look into this…

[2021-11-26 16:46] ahankinson commented on #812
For example:

In the MIDINAMES list we have:

`Choir_Aahs  Program #52.`

But in the RNG we have:

[code]

[2021-12-07 11:23] ahankinson commented on #668
I've been thinking about this one in relation to #859.

My understanding of the musical domains is not that something (an attribute or element) belongs in one or another _exclusively_. Many aspects of music notation are a variable combination of the visual / gestural / logical domains, rather than clearly in one domain or another, so saying something is in one domain or another exclusively is to d

[2021-12-07 11:48] th-we commented on #668
@ahankinson I'm perfectly O.K. with considering `@cue` belonging to both the logical and visual domains. But that means that it has implications for both domains, no?  I.e. it implies that the element belongs to a cue and that it is rendered at cue size (unless `@fontsize` overrides this).

The examples I listed only imply that elements are smaller, but not cues.  I suggest that something like `@f

[2021-12-07 11:49] ahankinson commented on #668
Sure -- but is this a modification for the MEI spec, or a modification to the examples you posted?

[2021-12-07 11:51] th-we commented on #668
Yes, the examples should be changed, but as `@cue` seems to be misused so frequently, I think it also needs some clarification in the documentation about what it is and what it is not.

[2022-01-12 08:48] bwbohl opened #882 "Build fails on merge"
Spotted when merging pull request #881

Apparently the Debian-git Dockerimage used in the Action (samueldebruyn/debian-git) is no longer maintained and was unpublished form dockerHub, also see https://github.com/sdebruyn/docker-debian-git

[2022-01-12 09:03] #882 closed, assigned to nobody

[2022-01-12 09:23] DILewis opened #883 "Minor clarification of pitch specification in guidelines"
@alastair has improved the description of pitch and octave by adding a link to Wikipedia to explain ASA pitch specification and an explicit pointer that the octave changes between B and C (and not between G and A).

These are helpful, but we could be more explicit by clarifying the octave specification here rather than relying solely on the link. I'd suggest this has three parts (the first of whic

[2022-01-12 09:44] bwbohl commented on #879
@doerners good spotting, again!

I was completely with you and the notions of streamlining the encoding model (moving or removing exhibHist) until thankfully @pe-ro brought the "document encoding" and with that a potential retro-digitization back to my mind!
(This brings some issues back to my mind that I had with some strict order of elements in the header, but that's another issue).

I think you

[2022-01-12 09:50] bwbohl commented on #878
just spotted this after replying to #879, thanks!

[2022-01-12 09:53] bwbohl commented on #878
Would it be a good starting point to put together a list of those elements? To some degree the knowledge about this might, of course, be considered 'forbidden lore' (it's hard to find something, that isn't there ;-). @pe-ro, as you might be the best resource and our only chance for achieving this, may I assign this ticket to you?

[2022-01-14 14:32] kepper commented on #878
I already had a start on generating functional links into the guidelines for such elements – we usually have a sentence like "This element is modelled on an element in the Encoded Archival Description (EAD) standard." in the `remarks` (the one above is taken from the aforementioned `exhibHist` element. I don't think we will be able to get correct links for all of those automatically, but we should

[2022-01-17 11:53] bwbohl commented on #622
As for a "fix" of this issue (`dedicatee` not being available at some 'senseful' location) what about following the model of e.g. composer and adding dedicatee to`model.respLikePart`. This could be provided as a bug-fix for 4.0.

[2022-01-17 12:29] ahankinson commented on #622
A dedicatee has no "responsibility" for a source (which is what I'm guessing the 'resp' in `respPartLike` means).

I can dedicate a work to the Queen of England, and she may never know the work existed, let alone have any responsibility in creating it.

[2022-01-18 10:40] doerners commented on #879
Thank you @bwbohl!

Could you elaborate why renaming the element would be a bad idea?
To me this is not clear, maybe because I just dealt too little with that matter so that I can't see the whole picture here. From what I read the element has already been renamed from `exhibithist` to `exhibHist` during the evolvement from MEI 2010 to MEI 2012, see e.g. [here](https://github.com/peterstadler/MEI-2

[2022-01-18 10:46] ahankinson commented on #879
I wouldn't read too much into the labelling of the MARC 3XX or 5XX sections between a 'note' and a 'physical description'. You'll notice that there are things like "Binding notes" and "Custodial history notes" in the 5XX, and those are very definitely physical descriptions.

The 3XX fields are primarily **structured** physical description, while the notes fields are more for lengthy prose-style de

[2022-01-18 14:58] bwbohl commented on #622
Nevertheless it would be the easy way to provide encoding possibilities of a dedicatee together with title and responsibilities e.g. in a work or item context.

It's only "resp**Like**" so not necessarily a responsibility but may appear at those locations using the corresponding model.
Would be the easiest fix for 4.0. Alternatively we can leave it as it is for 4.0 as it's possible to use respStmt

[2022-01-19 10:08] riedde opened #885 "Removing <fingerprint>"
Proposal of @music-encoding/ig-metadata
Short summary: We noticed the existence of the element `<fingerprint>` when updating the mei guidelines (chapter 3 Metadata). Our call to the community about usage, need, examples and description for the guidelines remained without result.
Two facts:
- This element is not described anywhere in the Guidelines (only the element definiton exists).
- comment in

[2022-01-24 07:39] bwbohl opened #887 "build-guidelines-html errors"
When building guidelines html the transformationn throws two errors concerning svg:

[code]

@kepper could you please have a look?

[2022-01-24 11:16] bwbohl commented on #705
would this just introduce `@tgrp` or also remove `@ho`?

[2022-01-24 12:00] bwbohl commented on #576
how is this connected to #555

[2022-01-24 12:04] bwbohl commented on #608
@music-encoding/core-contributors can we agree to leave this as is and no changes are required to the schema? then we could move this issue to discussions

[2022-01-24 12:25] rettinghaus commented on #608
Yes, as the examples show, this is rather a question of encoding decisions than a schema problem.

[2022-01-24 12:43] axelberndt commented on #608
Hm, customizing the visual appearance of the accent to make it look like a sfz does not really account for its logic distinction from a regular accent. There is a similar case with `stacc` and `stacciss`. Staccatissimo is also just an even shorter staccato. What was the reasoning here to include both in the schema instead of encoding both as `stacc` and customizing the visual appearance of `stacci

[2022-01-24 14:09] bwbohl commented on #608
@axelberndt got me on this: if we distingusih `stacc`and `stacciss.` we should not hide `sFz` behind a glyph. Could you prepare a pull-request, please?

[2022-01-24 14:22] rettinghaus commented on #608
Then it would be good to have a separate data class with a regex scheme to allow all possible accents like `sfffz`, `rf`, `rfz`, `fp` (as said before).
Still I think it is already possible to distinguish in encodings between "normal" dynamics and "articulation" dynamic by using `@tstamp` vs. `@startid`.
The thing with staccato vs. staccatissimo is a non-argument, because they have a different mean

[2022-01-24 14:38] #883 closed, assigned to nobody

[2022-01-24 15:31] axelberndt commented on #608
Just as `stacc` and `stacciss` have differente meaning and symbol, so do `acc` and `sf`.

The logic of a dynamics instruction does not apply to `sf`. This is what I was hoping to express in my initial post. Hence my suggestion to add it to `data.ARTICULATION`.

@rettinghaus's other cases (`sfffz`, `rf`, `rfz`, `fp`) are certainly further candidates for such an addition. Again, these are no regular

[2022-01-25 15:59] rettinghaus commented on #721
If we assume a stem of a chord is vertical (i.e., right angle to the staff lines), it should be sufficient to tell that a note of that very chord is moved left or right from the main stem. So I propose to add a `stem.split` attribute that could hold the values `left`, `right` and `none`.

[2022-01-27 11:21] musicEnfanthen commented on #885
@bwbohl Is this actually breaking backward compatibility when the element was removed already in 2012? (Not sure how it survived or found its way back anyhow)

[2022-01-27 15:31] lpugin commented on #716
`@fontname` has been used because, as far as I know, there is no way to indicate that a SMuFL compliant font should be used. I don't think that `fontfam="smufl"` would be correct.

[2022-01-28 11:53] doerners commented on #878
I took the liberty to browse through the MEI modules and compile a list of the affected elements – it's 175 in total btw.

I listed the respective module, the element name within MEI, the element name within the other standard according to the guidelines, the element name of the element I think might have been the template if the guidelines didn't specify that and a link to the element description

[2022-01-28 12:42] ahankinson commented on #716
@lpugin and I discussed this earlier; would it be feasible to provide CSS-like fallbacks, e.g., `fontfam="Leipzig,Bravura,smufl"` -- this would choose the first available named font, and if neither were available would choose an available `smufl` font. (There would be an additional issue of having renderers know all possible 'smufl' fonts installed on a system for this to work automatically, thoug

[2022-01-28 13:02] kepper commented on #878
that's an awesome list, thanks @doerners 👍

[2022-01-28 14:09] #783 closed, assigned to bwbohl

[2022-01-28 14:15] kepper opened #901 "add schematron for multiple accidentals inside a note"
This is a ticket to implement the proposals from https://github.com/rism-digital/verovio/issues/2474#issuecomment-980059430. Discussed at ODD Friday on [2022-01-28](https://github.com/orgs/music-encoding/projects/2#column-17014377).

[2022-01-28 15:09] bwbohl commented on #879
2022-01-28 ODD meeting: taking this from the way MEI was developed during the last years would be to keep `exhibHist` as it is but provide a more verbose documentation also illustrating possibilities to encode such events in history/eventList a a more machine-readable alternative.
Please prepare a pull request.

[2022-01-28 15:49] #885 closed, assigned to riedde

[2022-01-28 16:14] musicEnfanthen commented on #878
Thanks for this impressive list @doerners. @pe-ro Could you have a look at the open spots here, as you probably have the best insight into the modelling background of those elements.

At ODD meting 2022-01-28, we proposed to add those elements to the elements remarks sections.

[2022-01-28 19:17] kepper commented on #812
After some more investigation: This is coming from the TEI Stylesheets we use. As already suspected by @rettinghaus, it is triggered on the presence of an `<altIdent>` element. If such an element is available, it's content is preferred over the `@ident` attribute on `<valItem>`.

Here is our current definition (dev, but similar to v4):
[code]

In version 3.0.0, the RNG was correct, but our ODD was

[2022-01-28 20:38] pe-ro commented on #878
As far as I'm concerned, this issue is a tempest in a teacup.  The indication in the Guidelines that an element in MEI is modeled on one in another schema had a political motive, not a technical one.  The idea was to stave off the idea that MEI could/should be a customization of TEI while also paying homage to the work of others so that those people wouldn't feel slighted.  There was never a plan

[2022-01-28 20:44] pe-ro commented on #878
Often, the element name is the same as in the other "standard" but the semantic meaning is not.  Creating follow-able links to the external schemas may give the false impression that the meaning is the same in MEI and TEI (for example).

[2022-01-28 21:09] kepper commented on #878
One option could then be to change the wording here. _is modelled after_ gives the impression that the model is largely the same. If we'd say something like "_The MEI model of XY was influenced by the YZ element from EAD_" (or some such). There could even be an additional sentence saying that both elements don't necessarily share the same model. While I certainly see @pe-ro's point here, I think i

[2022-01-28 21:26] pe-ro commented on #878
Well, there are different meanings of "modelled after".  :-) In the sentence in MEI, it was intended to mean "based on", not the technical meaning of "modeled the same as".  Still, probably a bad word choice on my part.

[2022-01-28 21:48] kepper commented on #878
I wouldn't say so – how could you foresee our current discussions? It would already be great if the thing we'll be deciding for this eventually will last as long as the wording we have now… ;-)

[2022-01-28 22:15] musicEnfanthen commented on #812
Thanks for investigating, @kepper. Following your hints, I found this long-standing discussion about `<altIdent>` in the TEI, revealing some problematic status (of the use and allowed locations) of `<altIdent>` there. Maybe it is helpful for context: https://github.com/TEIC/TEI/issues/2049.

Is there any mechanism to change preference order of `@ident` vs. `<altIdent>`.

Just for reference:  The `

[2022-01-29 09:13] kepper commented on #812
Thanks @musicEnfanthen. If I get those TEI discussions right, there's no proposed change for `valItem/altIdent`. However, even a change on that end wouldn't give more options in the generated RNG. There, we only have two fields to fill:

[code]

The content of `<value>`, and the content of `<a:documentation>`. Whatever we have in our `<desc>` will go into the `<a:documentation>`, and then it's eit

[2022-01-29 11:03] riedde commented on #879
I think the idea upcoming in yesterdays meeting not to delete `<exhibHist>` but to provide an extended documentation instead could be the way to go.
While the metadata-ig tries to update the guidelines chapter 3 and to fill all the (big) gaps in documentation elements like `<exhibHist>` appear. Thank you all for helping questioning the meaning! But there is still one thing that is unsatisfactory,

[2022-01-29 13:50] doerners commented on #879
If the community decides to keep `<exhibHist>` I fully support the proposal of @riedde to move the element.

From what I grasped from yesterdays discussion during the ODD meeting, there seems to be cases where it might be necessary or favoured to write prose instead of encoding certain information in a (purely) machine-readable way. In that light one could argue that `<exhibHist>` is overly specif

[2022-01-29 14:31] doerners commented on #878
I support the [arguments](https://github.com/music-encoding/music-encoding/issues/878#issuecomment-1024637227) made by @kepper. Furthermore, as I stated [above](https://github.com/music-encoding/music-encoding/issues/878#issue-1050236525), I think that identifying the modelling differences and commonalities of the elements would help to craft good descriptions for the guidelines and thus provide g

[2022-01-29 17:25] rettinghaus commented on #812
I'm in favour of dropping `<altIdent>`. It has no additional benefit as to present the "true" name from the General MIDI instrument names list. I think that those underscores obscure the original name.
In #902 I tried to make it clear that MEI is not simply copying the names.

[2022-01-29 18:26] craigsapp commented on #812
General MIDI (Level 1) instrument list is fixed at 128 instruments plus percussion instruments (which are handled separately in General MIDI).

One thought is that there are synthesizers that can play more than 128 instruments.  General-MIDI compliant synthesizers may have more than 128 instruments, but these instruments are not in any industry-standard order (or even in a manufacturer specific or

[2022-01-30 18:58] rettinghaus commented on #789
@martha-thomae Any updates on this? My attempts to find a fix failed so far.

[2022-01-31 12:21] ahankinson commented on #812
Given that description is for human-readable documentation, what about:

[code]

[2022-01-31 17:34] axelberndt commented on #608
Following the discussion in the pull request the addition of sforzato to `data.ARTICULATION` is very unlikely.

[2022-01-31 17:34] #608 closed

[2022-02-01 09:15] ahankinson commented on #879
I would actually be in favour of deprecating `<exhibHist>` for `<history>` lists, since they're fundamentally more expressive and, as we've seen, can capture both machine-readable data and prose. However, I also think it's important we have a clear model of what we're replacing it with. As I mentioned before, the one advantage that `<exhibHist>` has over a generic list is that it has the semantics

[2022-02-01 10:47] doerners commented on #879
Thank you @ahankinson! I'm totally in favour of deprecating `<exhibHist>` as well :)

I also totally understand your point that having semantics built into the name of – in this case – `<exhibHist>` can be advantageous. However, I feel it is somewhat limited since it only applies to a specific form of event. Thus, I personally really like the idea of introducing a new `@eventType` attribute althou

[2022-02-01 10:55] kepper commented on #879
I'm not convinced to deprecate `<exhibHist>` – it just serves a different purpose. Consider you have an essay that introduces the exhibition history of a manuscript. That essay may not be an itemized list. You probably would not expect this to be machine-readable, but I think it's still a good idea to be able to keep that in MEI. All the suggested improvements on `<eventList>`s make sense, but to

[2022-02-01 11:03] ahankinson commented on #879
An additional data point: The TEI msDesc guidelines use the `<custodialHist>` element for this purpose:

https://msdesc.github.io/consolidated-tei-schema/msdesc.html#TEI.custodialHist

[2022-02-01 11:04] doerners commented on #879
I don't really see why one couldn't store the text of an essay about the exhibition history of a manuscript within one or more `<p>` elements inside of an `<event>`. Furthermore I think to keep `<exhibHist>` would favour the encoding of exhibitions  over all other possible types of historical events. What if I want to encode an essay about the preservation history of a manuscript? It would probabl

[2022-02-01 11:05] ahankinson commented on #879
@doerners -- There is `<treatHist>` for that purpose: https://music-encoding.org/guidelines/v3/elements/treathist.html

[2022-02-01 11:14] doerners commented on #879
I admit that was a bad example on my part. However, `<treatHist>` does neither list `<p>` nor `<desc>` under _May contain_. So how should an essay or prose be best encoded there?

[2022-02-01 11:17] ahankinson commented on #879
I didn't say it was a *good* solution :-D It looks like that would indeed need some fixing to be fit for that purpose.

[2022-02-01 11:17] kepper commented on #879
`<treatHist>` uses https://music-encoding.org/guidelines/dev/macro-groups/macro.struc-unstrucContent.html, which means it's either zero or more `<head>`s, followed by zero or more `<p>`, or it allows dropping in content directly (no paragraphs).

[2022-02-01 11:19] kepper commented on #879
In other words, it does `<p>`. And yes, it could be improved with intermediate headings ;-)

[2022-02-01 11:22] ahankinson commented on #879
Unless I'm missing something blindingly obvious, `<p>` isn't allowed, or at least, it isn't listed in the allowed elements.

Allowing plain text means that you can effectively only have a single paragraph for a given header, which is not sufficient for encoding longer text descriptions.

[2022-02-01 11:24] kepper commented on #879
<img width="1249" alt="Bildschirmfoto 2022-02-01 um 12 23 46" src="https://user-images.githubusercontent.com/2078563/151960203-2c997e1b-5344-4249-a864-46d83cddedb5.png">

[2022-02-01 11:25] kepper commented on #879
same for `<exhibHist>`…

[2022-02-01 11:25] doerners commented on #879
@ahankinson I think be both got confused with the MEI version. You posted the link of MEI 3 while @kepper is referring to the current dev version of MEI :)

[2022-02-01 11:27] ahankinson commented on #879
Whoops! You're right. Not sure how *that* happened. 😮‍💨 _(Narrator: It turns out he was missing something blindingly obvious.)_

[2022-02-01 11:28] kepper commented on #879
I'm not saying either that it's perfect, but it's not as bad as it looks like – but we just jointly spotted that the docs for v4 have an error (not to speak of v3, but this was one of the improvements for v4…), because it's actually not listed there (but can be derived from looking at the ODD at the bottom). But that is a spearate issue ;-)

[2022-02-01 12:00] rettinghaus commented on #879
@kepper why are you still not convinced? Or better said: what would it need to convince you to deprecate this overly specific element?

[2022-02-01 13:00] kepper commented on #879
I just believe that it covers a different use case than any _*List_ does. In a way, it is syntactic sugar, but to `<history>`. While the _*Hist_ elements are prose / human-focussed, _*List_ __to me__ seem database / machine-focussed. Of course there are ways to use both of them in different ways, but this is my perception. I totally agree this needs clarification, but I don't see how one could rep

[2022-02-01 22:30] bwbohl opened #906 "provide description and documentation for `manifestation/@singleton`"
Neither the specs nor the guidelines seem to contain any information on `manifestation/@singleton`

[2022-02-02 20:27] rettinghaus opened #907 "Update build process to Saxon 11"
Just now after we've updated the build process to Saxon 10 they released the new version.

Should we update?

[2022-02-02 20:48] bwbohl commented on #907
could you please check if TEI-C already switched? As we're using their Stylesheets we should stick to whatever they use

[2022-02-03 07:49] rettinghaus commented on #907
No. It was just released, so I think we still have some time. This ticket is just a precautionary measure.

[2022-02-03 07:52] rettinghaus commented on #787
Obviously there are so many variations that I don't see the point in trying to catch every possibility in a hard-coded list.
Would there be a way to encode these notation styles in general in MEI?

[2022-02-03 08:01] rettinghaus opened #908 "Images from SMuFL browser don't work"
Images in the Guidelines from the SMuFL-browser don't work, because they're pre-fixed with `../` making it a wrong relative URL.
See: https://music-encoding.org/guidelines/dev/content/cmn.html#cmnFermata

Should we switch to a SMuFL text font in general?

[2022-02-03 08:10] kepper commented on #908
should be fairly simple to test for a `http` at the start of a link to avoid the `../` here. We would need an additional class though, to make the symbols a bit smaller / fit them to line height. I'm not opposed to a SMuFL text font, but in my experience, they cause (other) problems as well… (their fontsize often doesn't fit too well)

[2022-02-03 11:14] rettinghaus commented on #908
The problem is, that there is a test already, but in the end for the html it adds `../` to all urls.

[2022-02-03 11:42] kepper commented on #908
fixing the prefix just now (just to avoid duplicate work on your end)

[2022-02-03 11:44] rettinghaus commented on #908
@kepper did already, please check #909

[2022-02-03 11:46] kepper commented on #908
you're too quick for me ;-)

[2022-02-05 08:38] rettinghaus commented on #669
@kepper @ahankinson Any idea how to fix this? I have none.

[2022-02-05 09:23] kepper commented on #669
We would have to see if [model.noteModifierLike](https://music-encoding.org/guidelines/dev/model-classes/model.noteModifierLike.html) can serve as a good starting point (I haven't thought through yet if the `<dot>` in there may have side effects), and then make this a member of [model.rdgPart.music](https://music-encoding.org/guidelines/dev/model-classes/model.rdgPart.music.html). Without too much

[2022-02-10 15:55] doerners commented on #879
We discussed this matter in the metadata IG today which yielded the following proposal, we see as an acceptable compromise between keeping the element as-is and deprecating it:

re-modell `<exhibHist>` (and in fact `<treatHist>` and `<treatShed>` as well, since these are modelled the same way) exactly the way `<provenance>` is modelled.

This would allow to encode extensive prose on one hand and s

[2022-02-14 08:39] rettinghaus commented on #661
If we want to be precise about the look of tuplets, again the current system isn't sufficient to encoded complex cases like this:
[![](https://www.w3.org/2021/06/musicxml40/static/examples/tuplet-dot-element.png)](https://www.w3.org/2021/06/musicxml40/musicxml-reference/examples/tuplet-dot-element/)

[2022-02-16 09:35] brdvd opened #912 "Extend curve direction for s-shaped slurs"
The available values of `@curvature.curvedir` are insufficient when it comes to encoding s-shaped slurs. It is impossible to distinguish between the following shapes:
![MixedShapes](https://user-images.githubusercontent.com/63608463/154234420-f22ccf46-cb3a-43de-96d8-bfd40dea87f5.png)
For s-shaped cross staff slurs the shape can be deduced following Gould p. 321:
![Cross-staff](https://user-images.

[2022-02-16 09:38] ahankinson commented on #912
Can I check your use case to see *why* this should be specifically encoded?

Is it not sufficient to simply say there should be a slur between point a and point b, and then rely on the rules for the renderer to draw it appropriately?

[2022-02-16 09:50] brdvd commented on #912
Consider the following example:
| Shape 1 | Shape 2|
| ------- | ------- |
| ![Notes1](https://user-images.githubusercontent.com/63608463/154238195-a1f3ceb1-b1b7-4081-9b15-246972e809cc.png) | ![Notes2](https://user-images.githubusercontent.com/63608463/154238252-ded44299-06e9-46fb-819f-ea1f28a4c2a8.png) |

How should the renderer pick the shape in case of mixed curve direction? Both shapes are pos

[2022-02-16 09:51] ahankinson commented on #912
I would think shape 2 would be chosen, since it minimizes collisions with the notes?

[2022-02-16 09:54] ahankinson commented on #912
There is also the `@bezier` attribute on slurs which let you specify complex slur shapes directly.

[2022-02-16 09:55] ahankinson commented on #912
Or `@bulge` probably would also work?

[2022-02-16 09:55] rettinghaus commented on #912
`@bezier` would't be sufficient when you're in a dynamic layout environment.

[2022-02-16 09:56] rettinghaus commented on #912
To use `@bulge` you would have to know if the start point is above or below the note.

[2022-02-16 09:57] brdvd commented on #912
It is obviously possible to use both shapes without collisions.

![Notes3](https://user-images.githubusercontent.com/63608463/154240275-9f3680dc-800d-4785-9882-7db021acad7a.png)

[2022-02-16 09:58] ahankinson commented on #912
It seems like `above/below` or `below/above` also wouldn't be sufficient, since that could also change? I don't know if your goal is to exactly reproduce what is written on a printed score, or to produce "good" dynamic rendering? In the case of the former, I would expect things like `@bezier` and `@bulge` to work, since you're reproducing an existing shape. In the case of the latter, `mixed` in `c

[2022-02-16 10:15] brdvd commented on #912
I would guess if you encode the curve direction as `mixed` (which is an optional attribute), then you probably have a rough shape in mind that you want to see in the rendering.

Dorico makes this [distinction in shape](https://steinberg.help/dorico/v1/en/dorico/topics/notation_reference/notation_reference_slurs_curvature_direction_r.html) as well.

[2022-02-16 10:25] lpugin commented on #912
Maybe we want to keep `curvature_CURVEDIR_mixed` to leave it possible not to have to encode the shape? I think that is what Andrew is wanting not to enforce.

Also `curvature_CURVEDIR_mixed_below_above` could be simply `curvature_CURVEDIR_below_above`, which implies `mixed` and would make it a bit shorter.

[2022-02-16 10:28] ahankinson commented on #912
I would be curious to know how Dorico exports their shapes. Looking at the MusicXML output, I see the same bezier functionality, so I'm wondering if it also exports it as a fixed bezier curve?

[2022-02-16 10:32] rettinghaus opened #913 "Better tagging in Guidelines"
As discussed in #900 and #910 we should use more TEI elements to achieve better, semantically richer Guidelines.

**Proposal**:

- use `abbr` for all used abbreviations
- use `term` for all musical/technical terms (like "glissando")
- add `@rend` to the former to add quotation marks automatically instead of hardcoding them
- use `name` for names of composers and works with `@ref` to point to addit

[2022-02-17 11:59] musicEnfanthen commented on #913
Pinging @kepper since these questions (and their intended use-case) should be coordinated with the Editorial Board of the Guidelines.

[2022-02-17 13:06] rettinghaus opened #915 "Missing documentation on linking attributes"
[Chapter 13](https://music-encoding.org/guidelines/dev/content/linkingdata.html#ptrrefModule) and [Chapter 10](https://music-encoding.org/guidelines/dev/content/analysisharm.html#analysisDescribingRelationships) of the Guidelines should contain some information and examples on `@corresp`.

[2022-02-22 15:40] lpugin commented on #912
As far as I can tell the shape is not exported.

![image](https://user-images.githubusercontent.com/689412/155166003-da709b99-046d-4c4a-a981-4fa5ac0f217c.png)

Here is the MusicXML snippet for the top staff of measure 1 and 2
[code]

This is what I can see when reimporting into MuseScore (or reimporting back into Dorico)

![image](https://user-images.githubusercontent.com/689412/155166214-22f8da88

[2022-02-22 20:35] rettinghaus commented on #767
In latest develop `@tstamp2` is available (though `@tstamp2.ges` and `@tstamp2.real` are not).
What needs to be done here?

[2022-02-24 13:23] kepper commented on #913
In general, I think this is very helpful. It may take some time to implement this throughout the Guidelines, but I'm happy to accept the challenge (fully aware that I haven't found much time in the last couple of months…). One question, though: Shouldn't we just rely on CSS (`:before` and `:after`) instead of an additional `@rend`? Seems to be presentational only, and could help to keep the Guidel

[2022-02-24 13:24] kepper commented on #877
I would perhaps include a slightly longer statement in the comment, but then the comment seems to be a good approach…

[2022-02-24 14:24] #879 closed, assigned to nobody

[2022-02-24 14:35] #789 closed, assigned to kepper

[2022-02-24 14:58] kepper opened #918 "Make all external links in guidelines refer to web.archive.org"
See discussion at https://github.com/music-encoding/music-encoding/pull/902

[2022-02-24 15:30] #908 closed, assigned to kepper

[2022-02-24 15:58] #632 closed

[2022-02-24 16:10] bwbohl opened #919 "add macro `<exhibHist>`, `<treatHist>` and `<treatSched>`after `<provenance>`, et al."
As theses are now modelled all the same way we should confine the definition of the content model to a macro definition and just reference that from the individual element definitions.

[2022-02-24 16:12] bwbohl opened #920 "add discussion and examples of `<exhibHist>`, `<treatHist>` and `<treatSched>`after `<provenance>` to guidelines"
As `<exhibHist>`, `<treatHist>` and `<treatSched>`after `<provenance>` are now modelled the same way (#911) the different possibilities should be illustrated and reflected in the guidelines

[2022-02-24 16:12] bwbohl commented on #919
see #911

[2022-02-25 10:06] #782 closed, assigned to nobody

[2022-03-01 07:17] bwbohl opened #922 "re-conceptualise encoding of font-properties inthe context of smufl"
There have been some discussions about how to encode smufl fonts in MEI. From a `<smufl>`element to using `@fontfam` or `@fontname`. Moreover discussion was on deprecating one of the attributes.
A sound concept should be developed for this, taking into account #716

[2022-03-01 07:32] ahankinson commented on #922
Definitely -1 to a “smufl” element; it ties the encoding to a specific technology, and makes it harder to support non-smufl fonts.

[2022-03-09 07:04] lpugin commented on #912
I am going to make a PR about this. Please let me know if there are any remaining doubts about it.

[2022-03-09 11:29] th-we opened #923 "<componentList> in module MEI.header?"
In [this commit](https://github.com/music-encoding/music-encoding/commit/cd39884a73284f97e860b52c39bca793a0307407#diff-875833397f5d1e47f1737b8e53e46440516b8d9099875605a55e3454a8540552L150) @pe-ro (among other things) renamed `<componentGrp>` to `<componentList>` and changed its `@module` value from `MEI.frbr` to `MEI.header`.  However, now `<componentList>` is the only element in the entire MEI sp

[2022-03-09 11:53] th-we commented on #922
A little summary:

One encoding that [has been proposed](https://github.com/music-encoding/music-encoding/pull/704#issuecomment-802800705):

[code]

Or [without `<rend>`](https://github.com/music-encoding/music-encoding/pull/704#issuecomment-832653453):

[code]

[CSS-like fallbacks](https://github.com/music-encoding/music-encoding/issues/716#issuecomment-1024179509) (e.g. `fontfam="Leipzig,Bravura

[2022-03-10 08:08] brdvd commented on #912
@lpugin Thank you! No doubts from my side, I liked the last suggestion:

[2022-03-10 13:18] pe-ro commented on #923
This change was intentional.  Because `<work>` is in the `MEI.header` module and therefore can be used even when the FRBR module isn't "engaged", `<componentList>` should be there too.  It's not required by the ODD stylesheets that all definitions related to a particular module be located in the same file, but since it's true for every MEI element, it makes sense to move the definition of `<compon

[2022-03-10 13:34] pe-ro commented on #812
Andrew's suggestion is simple, just like me. 😄 I like it.

[2022-03-12 14:01] craigsapp opened #926 "Differentiate between cue and cue-sized notes"
Issue https://github.com/rism-digital/verovio/issues/2625 highlights that there are two semantically different types of notes that currently are lumped together with `note@cue="true"`.   There should be an encoding method to differentiate between these two types of visually similar note types:

* cue notes, which are small notes that should not be played by a performer.
* cue-sized notes which sho

[2022-03-14 08:09] lpugin commented on #926
It looks good to me to have `note@size` with percent. However, I would avoid allowing additional symbolic values. Beside the fact that it makes typed implementation such as in Verovio complicated, the main problem I see is the confusion it would yield with `@grace` (and in particular `@grace="unkown"`).

Instead of the proposed `note@cue="cue-like"`, which maintains the undesirable overlap between

[2022-03-14 08:50] rettinghaus commented on #926
I would propose to drop `@cue` for layer elements entirely and only have it on layer.
The problems we face right now are mixed encodings of "normal" notes and cue notes that are totally unclear, e.g.,

[code]

Would that imply the beam is also cue-sized? If we put `@cue="true"` on the beam, does it mean all notes in there are actually cue notes?
As "real" cue notes are coming from another instrume

[2022-03-14 09:14] craigsapp commented on #926
I like `@fioritura`, but not the name.  For one thing, fioritura is a more restricted concept than "cue-like":

Also, fioritura does not necessarily have to be written in cue-sized notes, for example, and as it is traditionally improvised, it may not even be written down.

Here is original (middle staff) and ornamented version (top staff) of the opening bars of Corelli's Violin Sonata Op. 5, No. 1

[2022-03-14 09:26] craigsapp commented on #926
That seems like an interesting idea, although a survey of how part cues are handled in a wide range of orchestral and piano parts would be good to do to see if this would limit certain existing cases.

For cue-like (cue-sized) notes, a layer-level setting would be nice for Chopin 28/8:

<img width="858" alt="Screen Shot 2022-03-14 at 2 13 07 AM" src="https://user-images.githubusercontent.com/34872

[2022-03-14 09:33] craigsapp commented on #926
In that case the beam must be regular sized since there is a real note that the instrument must play.

I would say so: If there is an ancestor element containing `@cue="true"` then the notes should be considered cue.   This is an extension of `layer@cue="true"`.   If any descendent notes should not be cue for some reason, then they should have `note@cue="false"`.

[2022-03-14 10:50] rettinghaus opened #928 "att.note.vis vs. att.note.vis.cmn"
What is the (intended) difference between [att.note.vis](https://music-encoding.org/guidelines/dev/attribute-classes/att.note.vis.html) and [att.note.vis.cmn](https://music-encoding.org/guidelines/dev/attribute-classes/att.note.vis.cmn.html)?

[2022-03-14 10:52] ahankinson commented on #928
Probably so that you can remove the `@breaksec` attribute from non-cmn `<note>`s in customizations while still keeping the other visual attributes.

[2022-03-14 11:39] lpugin commented on #926
I agree it is not really appropriate. Maybe simply `@small` ? That might seem dull, but maybe a more neutral solution for small notes that are not a grace note and not a cue (i.e., content of another part).

[2022-03-14 12:12] ahankinson opened #929 "data.MIDIVALUE has two different ways of indicating 1-based integers"
`@midi.instrnum` says: "Use an integer for a 0-based value. An integer preceded by "in" indicates a 1-based value."

https://github.com/music-encoding/music-encoding/blob/develop/source/modules/MEI.midi.xml#L104-L105

However, `data.MIDIVALUE` itself says:

"Generic MIDI value. One-based values must be followed by a lower-case letter "o"."

https://github.com/music-encoding/music-encoding/blob/cc1

[2022-03-14 13:40] rettinghaus commented on #928
Oh, yes. I was confused because of the `@stem.with` only in `att.note.vis`, but that's coming from `att.stems`.

[2022-03-14 13:40] #928 closed, assigned to nobody

[2022-03-14 15:57] pe-ro commented on #929
The final decision was to use the "o" suffix.  The description of ***@***.***' is incorrect.

From: Andrew Hankinson ***@***.***>
Sent: Monday, March 14, 2022 8:13 AM
To: music-encoding/music-encoding ***@***.***>
Cc: Roland, Perry D (pdr4h) ***@***.***>; Mention ***@***.***>
Subject: [music-encoding/music-encoding] data.MIDIVALUE has two different ways of indicating 1-based integers (Issue #929)

[2022-03-14 16:15] craigsapp commented on #929
Thinking about it now, I like:

* plain integers are 0-index
* integers prefixed with `in` are instrument numbers that are 1-indexed

The idea with `o` postfix is that it means "ordinal" (1-indexed).   Perhaps using `ord` would be better to avoid confusing with `0`.   This system is useful for applying across multiple attributes (particularly for MIDI).   For example MIDI channel 1 would be `1ord`

[2022-03-14 16:50] craigsapp commented on #926
`@small` is better than `@fioritura` although it seems too neutral since these notes should be the same size as cue notes.  But if the values of `@small` are `true` and `false`, there should not be any significant problem since the renderer can infer that small notes are the same size as cue notes.  They should not have the size of grace notes for example, which are usually smaller than cue notes

[2022-03-14 18:07] rettinghaus commented on #750
Why wouldn't `<instrDef midi.volume="0" />` work?

[2022-03-14 20:45] ahankinson commented on #926
And what about combinations of `@grace` and `@small`? Or `@cue`?  Are they even smaller still?

Putting `@small` in with no other explanation of what it’s function is, is not really great. Should we have a corresponding `@large` too?

The risk, of course, is that we start marking things up by their visual appearance, rather than styling them appropriately based on their function. We are mixing con

[2022-03-14 21:11] lpugin commented on #926
That is something we can prevent with Schematron. At least to prevent `@small` and `@grace` to be used together. I am not sure what is typically happening with grace notes in cues. Maybe these are indeed even smaller.

I don't find `@small` a very good attribute name, but `@glyph.size` is not any better. The rendering of a note is not necessarily or exclusively rendered with a glyph - which is ano

[2022-03-14 22:14] craigsapp commented on #926
A note can be both a cue note (or cue-like note) at the same time as being a grace note, and the cue-grace note is smaller than a regular grace note.

[2022-03-15 01:17] craigsapp commented on #926
Yes, roughly a regular grace note is slightly smaller than a cue note.   Roughly 70% for a cue-sized note and 65% for a grace note.   Cues can contain grace notes, in which case they are about 50% the size of regular notes.  Example from the above-mentioned issue:

<img width="878" alt="Screen Shot 2022-03-14 at 1 54 56 PM" src="https://user-images.githubusercontent.com/3487289/158259727-ccceaf0e-

[2022-03-15 06:35] lpugin commented on #926
I would still try to avoid `cue-sized` if possible. What about `ornam-sized`?

Obviously, any choice need to come with some explanation for what it is meant for. That should include the fact that `@cue-sized` (or `@ornam-sized`, or whatever) on notes would not have any impact on lyric size.

[2022-03-15 07:15] craigsapp commented on #926
Here is some discussion about cue and small notes, cadenzas: https://github.com/music-encoding/music-encoding/issues/406

[2022-03-15 07:18] craigsapp commented on #926
I don't think so.  What would that mean?

Behind Bars page 471 mentions "cue-sized":

<img width="793" alt="Screen Shot 2022-03-14 at 11 43 21 PM" src="https://user-images.githubusercontent.com/3487289/158325916-c9e1e63f-7ed8-4195-973d-51c8b3f3e6d6.png">

but otherwise, I have not found any other mention about this sort of small non-cue note in Behind Bars.

[2022-03-15 07:21] craigsapp commented on #926
Page 568  in Behind Bars discussing lyrics cues:

<img width="720" alt="Screen Shot 2022-03-15 at 12 20 12 AM" src="https://user-images.githubusercontent.com/3487289/158326564-7f64932b-eaee-4105-bc31-aba8dbaa3b10.png">

[2022-03-16 08:51] rettinghaus commented on #733
We could "borrow" `@slope` from `att.beam.vis`. In combination with `@startvo` and `@endvo` we're on a pretty good way I think.

[2022-03-17 17:20] martha-thomae commented on #645
This issue is solved with Johannes's proposal, shown in https://github.com/music-encoding/music-encoding/issues/645#issuecomment-670294397. It just needs to be added to the guidelines for documentation.

[2022-03-17 17:20] #645 closed

[2022-03-21 08:45] lpugin commented on #926
And an example of a grace note within a cue

![image](https://user-images.githubusercontent.com/689412/159228690-3f0b3c1e-b51e-4c12-9c0f-91491b9ef6bf.png)

[2022-03-21 11:52] doerners opened #934 "edit/update schematron rule in `<history>`"
Since `<exhibHist>` et.al. are now modelled after `<provenance>` (#911), they are children of `<history>`.  [`<history>`](https://music-encoding.org/guidelines/dev/elements/history.html) has defined a Schematron rule to prevent the use of `<acquisition>` and `<provenance>` at the `work` and `expression` levels. Also `<exhibHist>` et.al. should not be allowed on these levels, however the Schematron

[2022-03-21 16:53] doerners commented on #920
The Metadata IG is working on this and will create a PR once consensus is reached/the proposed descriptions are approved. Please take a look at issue [#12](https://github.com/music-encoding/metadata-ig/issues/12) in the IG repo to see the status/progress.

[2022-03-23 09:15] rettinghaus commented on #648
If we could refine `@slope` and extract it into a specific attribute class (e.g. `att.sloped`) we could use this in multiple places like hairpins (see #733) and slurs.

What about something like

This would allow to encode unusual steep beams or give better impression of the slur design.
![image](https://user-images.githubusercontent.com/7693447/159663608-b0162d8e-5a99-443b-b61d-e655b558beee.png)

[2022-03-23 11:34] musicEnfanthen commented on #923
Reopened as it will be closed with merge of PR #924

[2022-03-23 15:16] rettinghaus opened #936 "Do incipits encoded in MEI need to be scores?"
`incip` allows a `score` to store MEI encodings. I'm wondering why it then not also allows `part`, because this is what can be stored as PAE in `incipCode`. Would you need to use PAE for that, or do I just misunderstand the concept of `part`?

[2022-03-23 15:35] rettinghaus opened #937 ""Controlling" measures"
In the remarks of `part` it states:

What does this mean? How would you encode a `barLine` to be "controlling"? I think, this is referring to `measure@control` without saying?

This sounds not very MEI-ish, but seems very much to be copied over from [MusicXML](https://www.w3.org/2021/06/musicxml40/musicxml-reference/elements/measure-partwise/), where it makes some sort of sense.

But since we don'

[2022-03-23 15:37] ahankinson commented on #937
`<barLine>` has an `@control="true|false"` attribute as well.

[2022-03-23 15:39] rettinghaus commented on #937
Yeah, missed that one.

[2022-03-23 16:08] ahankinson commented on #937
Can this be closed now? Or is there something else to be fixed?

[2022-03-23 16:11] rettinghaus commented on #937
I still not understand where the point is in having `@control`, if you cannot merge parts that have "non-controlling" measures/barlines. At least the remark in `part` should be "fixed".

[2022-03-23 16:15] ahankinson commented on #937
This seems to be the key clause here; it is not uncommon for sources, such as older part books, to have bar lines that do not correspond across all parts. So a controlling bar line is one that must line up with others; a non-controlling bar line can be allowed to "float" in the layout independently of bar lines in other parts.

I think this is only saying "in the special case where there are non-a

[2022-03-25 14:13] #812 closed, assigned to kepper

[2022-03-25 14:52] bwbohl commented on #934
ODD Meeeting 2022-03:

You're comlpetely right the schematron rule should also apply to `exhibHist` and of course take into account `manifestation=singleton`. Will have a look at it, promise :-p

[2022-03-25 21:25] musicEnfanthen commented on #1413
@kepper Is the proposed change still intended? Or deprecated by later changes/discussions?

[2022-03-27 20:15] bwbohl commented on #922
@th-we thanks for the summary!

[2022-04-06 18:30] rettinghaus commented on #751
fixed with [fac90ff17303713fcaa35e468744197464203a25](https://github.com/rettinghaus/guidelines/commit/fac90ff17303713fcaa35e468744197464203a25)

[2022-04-06 18:30] #751 closed, assigned to nobody

[2022-04-07 19:06] lpugin commented on #504
Looking back at this discussion we actually have a [proposal](https://github.com/music-encoding/music-encoding/issues/504#issuecomment-387104919) pending. No objection have been raised, so unless there is one, I will make a PR with the suggested changes so we can finally close this issue.

[2022-04-07 20:41] ahankinson commented on #504
No objection, but just flagging this that it might be good to examine the proposal in light of the similar discussions in the mensural group for visual / logical mensuration signs, just to see if there's an opportunity to make the behaviours consistent.

[2022-04-07 21:25] pe-ro commented on #504
Absolutely !

[2022-04-10 19:40] craigsapp opened #942 "displaying numbers above `mRpt`"
Related to issue https://github.com/rism-digital/verovio/issues/2784:

Measure repeat signs always have numbers above them when rendered in verovio, starting on the first repeat sign which has a `2` above it.  It would be useful to control display of these numbers (which I do not think is implemented yet).

Looking at the attributes for `mRpt`:
https://music-encoding.org/guidelines/v4/elements/mrp

[2022-04-13 08:50] ahankinson commented on #942
As @rettinghaus suggested in the Verovio ticket, allowing `@num` (from `att.numbered`) and `@num.place` (and also `@num.visible`) from `att.numberPlacement` on `<mRpt>` is a good solution.

[2022-04-13 10:13] rettinghaus commented on #942
I'm wondering if we should have `@num` also available on `mRest`, as we often find in parts with longer cues (or without any reason at all):
![image](https://user-images.githubusercontent.com/7693447/163156080-3519baf7-e162-48c8-b6e3-2b104d8090ab.png)

[2022-04-13 10:16] ahankinson commented on #942
Are you talking about the 44/45/46/47? Or the 3 on the third last measure of the second system?

If the former, then those are measure numbers, no?

[2022-04-13 10:36] rettinghaus commented on #942
I mean the former, and yes, in this very case they're measure numbers, but they can appear as simple counting aid anywhere in parts.

[2022-04-13 14:20] craigsapp commented on #942
Note that this extends to a more general case of mRpt, where full measures can be given repetition numbers (for example, the mRpt should not be used at the start of a system in general, but the repetition numbers should continue):

https://usermanuals.finalemusic.com/Finale2014Mac/Content/Finale/Number_Repeated_Measures_Plug_in.htm

<img width="696" alt="Screen Shot 2022-04-13 at 7 14 15 AM" src="

[2022-04-13 15:40] rettinghaus commented on #733
We probably need this for even more objects:
![Sloped multi-measure rest](https://user-images.githubusercontent.com/7693447/163217952-53a81b18-143d-4514-8462-0eeeec4a9c0d.png)

[2022-04-13 21:25] bwbohl commented on #937
I don't see a problem in the logic, and I understand it exactly the same way @ahankinson described it. So e.g. in the case of the following very simple polymeter example of 3/4 against 4/4:

[code]

the first and last barlines would be controlling, i.e. lining up across all parts and thus tagged `@control="true"`, indicating that these must line up in a rendering. while the others may be rendered

[2022-04-14 00:55] pe-ro commented on #937
Precisely.

--
p.

From: Benjamin W. Bohl ***@***.***>
Sent: Wednesday, April 13, 2022 5:26 PM
To: music-encoding/music-encoding ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [music-encoding/music-encoding] "Controlling" measures (Issue #937)

I don't see a problem in the logic, and I understand it exactly the same way @ahankinson<https://github.com/ahankinson> described it. So e.g. in the

[2022-04-19 10:14] rettinghaus opened #944 "Custos after staff"
Sometimes a custom is not printed/written (completely) on the lines of the staff.
<img width="317" alt="image" src="https://user-images.githubusercontent.com/7693447/163979479-88943533-d779-40fa-ad64-7dfcbb620985.png">

Is there a possibility to encode this?
@music-encoding/ig-mensural Would it make sense and be sufficient if we add the `@onstaff` attribute here, or is there a finer method needed,

[2022-04-19 10:18] ahankinson commented on #944
Perhaps x/y offsets need to be added to `custos` to support a different rendered placement of the symbol.

[2022-04-19 10:44] rettinghaus commented on #944
@ahankinson That would probably make sense, but I'm not completely sure if this will be enough if you want to reconstruct the look with tools like Verovio. The specific given example needs more like `@cutout` from `mRest`.

[2022-04-19 10:49] ahankinson commented on #944
I’m not sure I follow. This looks like a pretty standard custos, just horizontally offset. Why would we need something like `@cutout`?

[2022-04-19 11:19] rettinghaus commented on #944
Actually it's not offset, the notation stops and after the staff lines it is printed. If you just say to a renderer "shift it horizontally" it would still reserve space on the staff lines for the symbol.

This is what Verovio produces:
![custos-onset](https://user-images.githubusercontent.com/7693447/163991032-d83ab5d8-ab75-476d-8b87-7b9374e4ceda.png)

This is what you get if you only move the cus

[2022-04-19 11:25] DILewis commented on #944
I agree that this isn't an offset – it's not positioning something to the right of where it would normally go. Rather, it's applying a (common) layout rule that says that a _custos_ is a marginal addition and shouldn't be within the staff area. Often it applies globally or fairly globally, but if we wanted to encode it, we'd need to be able to do it on a per-symbol basis too.
I don't know `@onstaf

[2022-04-19 11:48] ahankinson commented on #944
Gotcha.

`@onstaff` seems to be pretty generic, so it could probably work -- making `att.custos.vis` a member of `att.placementOnStaff`.

There's a lot of overlap in other "placement" attributes, it seems -- `data.STAFFREL` (both `basic` and `extended` flavours), `data.PLACEMENT`, `data.NONSTAFFPLACE`. I would avoid any of those, though, since it might lead to unintended consequences. (like allowi

[2022-04-19 12:56] kepper commented on #944
We do have a value of `rightmar` in [data.NONSTAFFPLACE](https://music-encoding.org/guidelines/dev/data-types/data.NONSTAFFPLACE.html), which seems quite appropriate. However, that it's not really accessible in this situation, as it's bringing too much other stuff. I therefore agree that [att.placementOnStaff](https://music-encoding.org/guidelines/dev/attribute-classes/att.placementOnStaff.html) s

[2022-04-19 14:19] ahankinson commented on #944
Yeah, I saw that but thought that having a custos with a possible placement value of "facing" would be all kinds of weird. 😆

[2022-04-19 14:23] kepper commented on #944
A potential way around this could be to split up data.NONSTAFFPLACE into multiple data types, but we would probably end up having another attribute named `place`, with yet another set of allowed values, and a lot of complexity added to the internal setup of MEI, so `@onstaff` really seems like the way to go…

[2022-04-19 15:25] rettinghaus commented on #937
@bwbohl With your short example we then would have something like:

[code]

That is still something different than having four measures in the first part, and three measures in the second part. That may lead to an encoding where you crunch a whole piece into one measure, and that is where I start wondering why we have a semantic structural element like measure in the first place.

[2022-04-19 15:35] ahankinson commented on #937
@rettinghaus `<measure>` also has `@control`, with the exact same description. So you can have controlling and non-controlling measures, not just barlines.

Controlling barlines are probably more useful in mensural encodings, where there are no measures.

[2022-04-19 17:09] rettinghaus commented on #937
@ahankinson Sorry, but I really don't understand what this has to do with my previous comment?

[2022-04-19 21:21] bwbohl commented on #913
+1 for the CSS solution instead of `@rend`

[2022-04-20 03:44] craigsapp commented on #937
This comes from MuseData, probably via MusicXML.  Here is mention of controlling versus non-controlling in the MuseData chapter in Beyond MIDI (page 422):

<img width="1091" alt="Screen Shot 2022-04-19 at 8 41 39 PM" src="https://user-images.githubusercontent.com/3487289/164145996-cd3e62ad-8cd5-4a2c-be14-877bc934cd90.png">

This roughly translates into MEI as `<measure>` is a controlling barline,

[2022-04-20 05:17] craigsapp commented on #937
An extreme version of this is probably Ockeghem's Missa Prolationum: https://en.wikipedia.org/wiki/Missa_prolationum
where such grouping measure is 36 barlines (mensural cycles), or probably more (maybe 92 or 120 in some sections).

I used to encode polymetric music in such a manner, but I have changed to converting all "non-controlling" barlines into "controlling" ones.  I.e., in MEI, I encode mu

[2022-04-21 21:43] bwbohl commented on #937
Of course you are right that some problems arise when you try to translate the logical principle – being totally abstract – into a definite instance in any encoding scheme, MEI in your case.

First I really dislike the idea of ”pressing a whole piece into one measure” – that's one of the reasons I dislike the measure concept in the first place and can completely ”why do we have those anyway!“

Alt

[2022-04-21 21:47] bwbohl commented on #700
this seems to be connected to #937

[2022-04-22 02:00] craigsapp commented on #937
I have not dealt with `<parts>` in MEI, although I was under the impression that they were intended for literal parts for performance (which would contain cues from other parts in the orchestra, and have page turns optimized to avoid v.s., etc) -- rather than encoding a full score by part rather than by measure.

MusicXML has a dual system: `<partwise>` which is the most common way of encoding Mus

[2022-04-22 07:46] bwbohl commented on #937
You're absolutely right, that the primary idea of `mei:parts` – due to MEI's orientation as document encoding standard –

Nevertheless the Guidelines state:

And yes maybe the parts-based approach is a sound solution to encoding polymetric music!

[2022-04-22 09:26] kepper commented on #937
I wouldn't like to encourage the use of `mei:parts` for polymetric music – that smells very much like tag abuse, even though your second quote would allow such use. Such a solution also seems to mud the commonalities between some voices – it might be interesting to know which voices share a meter. One would also loose information about score order, or the possibility to have multiple meters for so

[2022-04-22 14:49] rettinghaus opened #946 "Clarify lines.color"
The description of `@lines.color` should be updated because it doesn't say anything about the order of color values. In MEI the first staff line is the lowest, so I would assume the first value applies to the lowest line, but it would be good to make it explicit in the description.

Also it's using the term "RGB" in the description, although `data.COLOR` can hold more values than just RGB.

[2022-04-25 22:02] craigsapp opened #950 "beam@enclose and beamSpan@enclose"
It would be useful to have `beam@enclose` and `beamSpan@enclose` available for examples such as this one:

<img width="1205" alt="Screen Shot 2022-04-25 at 2 54 07 PM" src="https://user-images.githubusercontent.com/3487289/165181708-b489cf0f-b9e7-49b7-b1c7-ac18527b61a7.png">

These examples are beamSpan:

<img width="173" alt="Screen Shot 2022-04-25 at 2 54 14 PM" src="https://user-images.githubus

[2022-04-27 14:14] KristinaRichts opened #952 "add class "att.coordinated" to element <clip>"
We are currently exploring the possibilities of addressing two-dimensional clips in AV media. Would it be possible to add the "att.coordinated" class to the `<clip>` element here? Like in the `<zone>` element?

[2022-04-27 14:20] ahankinson commented on #952
Why not allow `<zone>` inside of `<clip>` instead? I think `<clip>` deals primarily with time, while `<zone>` deals primarily with space.

What is the use case for this? To allow for cropping video clips "on the fly"? Or to annotate a specific region of a video clip?

[2022-04-27 14:54] bwbohl commented on #952
I agree with @ahankinson that some info on potential use cases would help evaluate this idea.

Adding `att.coordinated` to `<clip>` would require rephrasing the element's description because it is defined for temporal things.

Do you have insights into the ideas of the IIIF A/V working group (https://iiif.io/community/groups/av/av-tsg/)?

[2022-04-27 17:59] musicEnfanthen commented on #1607
Is this still an issue @rettinghaus ?

[2022-04-28 07:29] rettinghaus commented on #1607
My comment [above](https://github.com/music-encoding/music-encoding/issues/1607) has lost none of its relevance.

[2022-04-28 11:13] KristinaRichts commented on #952
Apologies for the use cases coming only now. Yes, annotating specific regions of audio recordings or video clips would be one scenario. We are currently working on a Voigtländer example. It is a combination of a tape with a graphical score. In the case of a parallelization of the sources, it would be nice to describe what can be seen in the score on the one hand, and on the other hand, this would

[2022-04-28 11:37] kepper commented on #952
I was actually comparing capablities of MEI and IIIF. For images, __x__ and __y__ coordinates are needed, and both MEI and IIIF handle those well. For audio, a different dimension (let's call it **t**) is needed, and that works equally well in both MEI and IIIF. For video, however, it is necessary to have the combination of all three dimensions – it might be desirable to refer to the viola player

[2022-04-28 21:03] bwbohl commented on #733
this would be much easier in so-called pure ODD:

[code]

For me, a general question concerning `@rotate` is: what is the rotation point (any combinations of top, middle, bottom, left, centre, right)?

Nevertheless, I'm still not decided whether we do need hairpin rotation:

1. Is the intention behind this for transcriptional purposes or born-digital documents?
2. Even though it appears in some do

[2022-04-28 21:12] craigsapp commented on #733
For this one:

![Screen Shot 2022-04-28 at 2 10 41 PM](https://user-images.githubusercontent.com/3487289/165846470-9c762a30-7900-4ee9-8bf3-a539f8269c67.png)

A better control would be to have `@loc` and `@loc2 for the starting and ending of the quasi multi-bar rest.

A problem with `@rotate` or `@slope` is that the endpoints remain vertical lines.

[2022-04-29 13:30] pe-ro commented on #733
`<hairpin>` already has `@startvo` and `@endvo` attributes, so I don't see how `@rotate`, `@angle`, etc. are necessary.  As I imagine it, a hairpin has an imaginary line connecting its starting and ending points, where the starting pointing (for a crescendo mark) is where the lines converge and the ending point is mid-way between the lines at the open end.  For a "normal" hairpin, this line is par

[2022-05-04 09:56] rettinghaus commented on #942
The connected PR has been merged, so closing this for now.

[2022-05-04 09:56] #942 closed, assigned to nobody

[2022-05-04 10:07] KristinaRichts commented on #936
It would certainly be logical to offer the `part` element for selection here as well. I could imagine that the encoding options should be kept deliberately slim here, since one can also simply encode a single voice within the score element. Surely it is not meant that incipits of single voices should only be encoded in PAE.

[2022-05-04 10:27] ahankinson commented on #936
My understanding is that `<part>` is used only in very special circumstances, generally when it is not possible or easy to extract single voices from a score into instrumental parts. My reading of the remarks on the `<part>` element suggest that it's used specifically when you are encoding a physical document, and the document you have is a single part. (e.g., a partbook, or a copy of an instrumen

[2022-05-09 23:35] pfefferniels opened #957 "<neume> not valid as child of <rdg>"
With [this commit](https://github.com/music-encoding/music-encoding/commit/796ccf65ef57e0e0b2038683866051be6ea3bd11), `model.rdgPart.critapp` has been renamed to `model.rdgPart.music`. It seems, that [it has been forgotten in the mei-Neumes customization](https://github.com/music-encoding/music-encoding/blob/develop/customizations/mei-Neumes.xml#L127), which leads to `<neume>` not being a valid ch

[2022-05-10 06:36] ahankinson commented on #957
Good catch. Would you be willing to submit a PR against the neumes customization to fix this?

[2022-05-10 23:07] musicEnfanthen opened #959 "Roadmap to PDF Guidelines"
Steps needed:

XSLTs
- [x] prepare XSLTs to handle PDF Guideline creation
- [x] integrate XSLTs into build workflow
- [x]  adjust to different build environments
- [x] merge pdf-guidelines branch to dev

DOCKER
- [x] prepare docker build workflows for the following steps:
    - [x] render live MEI examples to SVG (https://github.com/Edirom/staticVerovioConverter)
    - [x] generate complete PDF wi

[2022-05-11 05:44] lpugin commented on #959
@kepper don't you want to have the script for converting the MEI within this repository? I am sure that https://github.com/Edirom/staticVerovioConverter works but then things (e.g., options for the conversions) are spread over different repository. It seems to me that a Python script call from the GH action would do the job - we use that a lot.

[2022-05-11 06:01] kepper commented on #959
I'm happy to do whatever is necessary – and this was the easist thing to set up with the skills I have. Not saying this is particularly good or efficient, but it does work quite well. However, in the long run we hope to get all the different build steps into one single docker image (right now, it's a pipe of Ant doing the XSLT plus some more, then the staticVerovioConverter Docker image to render

[2022-05-11 06:15] lpugin commented on #959
OK, thanks for the explanation. Sounds fine. I guess if everything runs from a single docker image then having a Python script vs a JavaScript script makes no real difference. My concern is mostly about having multiple repos / docker images and configurations spread in different places. It seems it will not be the case in the end. Please let me know if you think I can help.

[2022-05-11 07:44] kepper commented on #959
Oh, you can certainly help ;-) At this point, we really don't need the Git Repo at https://github.com/Edirom/staticVerovioConverter, but only the Docker image generated from it, available from https://hub.docker.com/r/edirom/staticverovioconverter. In the process, we just run that image, passing in a folder with files to be converted. So for our current GitHub Actions, it is just one call: `docker

[2022-05-11 07:47] kepper commented on #959
Just for documentation purposes, the other Docker image we need to run (which basically ticks the _generate complete PDF with princexml_ box above, we just need some more integration testing…) is `docker run --rm -it -v $(pwd):/out yeslogic/prince:14.2 /out/source/MEI_Guidelines.html -o /out/exampleGuidelines.pdf --log /out/princeLog.txt -v`

[2022-05-11 08:21] bwbohl opened #960 "build: redesign guidelines build to match target folder structure"
When building the guidelines locally the resulting folder structure is not identical to the structure in the guidelines repo. Consequently local testing does not work 100%. We should inspect this and maybe move the copy actions executed by the GitHub Action script to be run in the ant build, instead.

[2022-05-11 10:03] kepper commented on #960
I think we should come up with a plan on which assets are supposed to go where, and then adjust everything starting from our first steps. It would be easy to adjust output paths in the XSLT, so that we don't need to move things later on at all. Also, it would be good to clean up the location of CSS files…

[2022-05-22 02:50] craigsapp opened #966 "tuplet@onstaff"
It would be useful to add `tuplet@onstaff` which matches behavior of `accid@onstaff` (in MEI v.5).

Example Usage:

<img width="473" alt="Screen Shot 2022-05-21 at 7 45 38 PM" src="https://user-images.githubusercontent.com/3487289/169676009-490c9902-911b-47c4-ad53-3862bb56040a.png">

<details>
<summary>
Click to view MEI data for above example
</summary>

[code]

</details>

Target rendering:

<im

[2022-05-24 02:24] yinanazhou opened #968 "Request for making several elements valid in mei-neume dev-5.0.0 schema"
As shown in the figure below, the underlined elements are not valid in the mei-neume dev-5.0.0 schema. The details and examples are as follows. All the examples are from Einsiedeln (CH-E_611).

![mei-Neumes   dev copy](https://user-images.githubusercontent.com/74484576/169932914-70b01afa-afa1-47a3-b293-ed637cea5ed8.png)

1. `<accid>` is not valid both inside and outside a syllable, but it happens

[2022-05-24 02:27] yinanazhou commented on #968
Thanks to @martha-thomae for testing the schema, and thanks to @JoyfulGen for providing the examples.

[2022-05-24 09:30] bwbohl commented on #968
Many thanks for bringing this up. As I'm no expert in encoding neumes I would like to bring this issue to the attention of the @music-encoding/ig-neumes with a kind request of reviewing and discussing the issues mentioned.

[2022-05-24 22:42] musicEnfanthen commented on #968
Just for the record: The `clef` and `custos` elements have been disabled within syllable in this commit: 78784fa92208ad7683d0c456840ca45ce326efd8 (maybe @kepper remembers about the intention behind that change?)

`accid` seems never to have been allowed, not even in v4?

Just out of curiosity: Is there a semantic difference between a `clef` or `accid` outside a syllable vs. inside a syllable? If t

[2022-05-25 00:02] rettinghaus opened #969 "Make barline with serpent available"
Currently it not easy/possible to encode a `segno` serpent.

![](https://smufl-browser.edirom.de/E04B.png)

How about adding a `dblsegno` value to `data.BARRENDITION`?

[2022-05-27 13:09] #957 closed, assigned to nobody

[2022-05-30 21:28] musicEnfanthen commented on #969
Thank you @rettinghaus .

Short question: Is the segno serpent always used with a double barline? There seems to be another standalone version in SMuFL: https://w3c.github.io/smufl/latest/tables/repeats.html

[2022-05-30 21:29] musicEnfanthen commented on #969
Just for the record, some discussion about that sign in the Steinberg Forum (with links to lilypond approach): https://forums.steinberg.net/t/serpent-segno/127943

[2022-06-02 16:25] rettinghaus opened #970 "Nested meterSigGrps"
Currently it is not possible to nest `meterSigGrp` within `meterSigGrp`.

Take this example from the _Fitzwilliam Virginal Book_ edition from 1899:

![image](https://user-images.githubusercontent.com/7693447/171677606-fcdca5e6-6f57-4615-b9a5-ebee7a386e4c.png)

One way to encode this (visually) would be

[code]

Making it part of `att.enclosingChars` would also allow us to place brackets around a c

[2022-06-04 10:06] fujinaga commented on #968
Thank you for finding that @musicEnfanthen. They were disallowed within a `syllable` because we asked for that. We have found new cases where clef changes do occur within a syllable as shown above in the examples.

As for for the semantic difference, if `clef` (or `accid`) was only allowed outside, it would apply to the entire syllable and not be able to change the pitch of the neumes within a syl

[2022-06-04 10:18] fujinaga commented on #968
After discussing this issue with some members of the @music-encoding/ig-neumes (if I post this on the mailing list, most people would have no idea what I am talking about) and in view of finding new notational practices (as shown above), I believe what we would like is the following elements to be allowed inside or outside of `syllable`:  `accid`, `divLine`, and `clef`.

As for `custos,` they shou

[2022-06-07 16:22] rettinghaus opened #971 "Allow nested zones"
Currently [`zone`](https://music-encoding.org/guidelines/dev/elements/zone.html) only allows [`figDesc`](https://music-encoding.org/guidelines/dev/elements/figDesc.html) and [`graphic`](https://music-encoding.org/guidelines/dev/elements/graphic.html) as children.

TEI allows nested [`zone`](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-zone.html)s, which would be a preferable way to enc

[2022-06-07 18:44] pe-ro commented on #971
This deviation from TEI was by design.  Nested zones don't add any information not already present in the content markup.  In this case, the MEI markup explicitly encodes the parent/child relationship between measure and clef.  Also, adding coordinates to nested zones muddies the water a bit as it becomes less clear if the coordinates of the child zone are relative to the parent or not.  Making th

[2022-06-08 06:32] bwbohl commented on #971
I second this deviation from the TEI model. And also think that keeping the facsimile tree a flat (two-dimensional) space is adequate and more clear for describing a two-dimensional space. Just out of curiosity: Does any of you have a use-case at hand for a graphic nested in zone (because graphic is also possible in surface and even in facsimile)?

[2022-06-08 12:41] bwbohl commented on #877
I'm pro:

[code]

[2022-06-08 13:43] pe-ro commented on #877
Also pro:

[code]

[2022-06-09 07:59] rettinghaus commented on #971
You can provide images of details within a zone without specifying coordinates, e.g. compare https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-graphic.html
What bothers me more is that it is possible in MEI to nest a zone within graphic. I would like to see a use case for this one.

[2022-06-09 08:51] bwbohl commented on #971
Ok, that seems to make sense, e.g., if you mark, let's say, the zone of a watermark that is not visible in your primary image file, and you supply a  thermographic detail image of the watermark.

[code]

[2022-06-09 08:56] bwbohl commented on #971
Picking up the watermark example again you could encode it the other way round, i.e.:
You have a regular RGB and a thermographic image of the whole page:

[code]

I'm just exploring, not sure if we should definitely stick to all those possibilities.

[2022-06-09 09:09] rettinghaus opened #972 "Allowed values in att.transposition"
Maybe I'm missing something, but why are the allowed values for `@trans.diat` and `@trans.semi` decimal values?
Corresponding features in other formats allow integers for those, which should be sufficient.

[2022-06-09 09:13] ahankinson commented on #972
Probably to support quarter tones?

[2022-06-09 09:14] rettinghaus opened #973 "Create att.tuning"
The tuning attributes (`@tune.pname`, `@tune.Hz`, `@tune.temper`) should be grouped into a separate `att.tuning` class.

Maybe `@tune.accid` could be added, to allow semitones as reference.

Currently they are allowed only on `scoreDef`, but should probably also be allowed on `staffDef` and `layerDef`.

[2022-06-09 09:26] rettinghaus commented on #972
I thought about this, but is there something like that in existence? And then, why isn't there a `@trans.quarter`?
And why do we need `@trans.semi`, when it is possible to have `@trans.diat="1,500002"`. Does the latter then mean it's an slightly detuned instrument in e flat or d sharp?

[2022-06-21 14:48] apacha opened #979 "Some links in "Shared Concepts" documentation are broken"
The three links generated by the `<ident type="class">...</ident>` element inside the Shared Concepts documentation don't work. The respective lines in the source code are:

https://github.com/music-encoding/music-encoding/blob/a81ac1d2a359242f871e5cac3f0160b40c3c7401/source/docs/02-shared.xml#L253
https://github.com/music-encoding/music-encoding/blob/a81ac1d2a359242f871e5cac3f0160b40c3c7401/sourc

[2022-06-21 19:07] bwbohl commented on #979
Many thanks for reporting this, will check on it and come back to you:wink:

[2022-06-22 18:27] rettinghaus commented on #979
The code is ok, it's a problem in the static versions of the guidelines (v3/4).

[2022-06-22 18:40] rettinghaus commented on #979
A fix is ready in https://github.com/music-encoding/guidelines/pull/205

[2022-06-23 08:39] rettinghaus commented on #711
Continuation of laissez vibrer: How should this be encoded?
![image](https://user-images.githubusercontent.com/7693447/175255154-fcc633b7-95ca-462c-a764-dcda1d516ad1.png)

Has anyone an idea for this? In a previous measure these are connected to noteheads in a chord, so this could probably be encoded with `@prev` and `@next`. But I have no clue how this could be encoded if you just want to have th

[2022-06-23 08:43] ahankinson commented on #711
I'm assuming that if there's a "Lassez vibrer" there should be a note or an instrument that you're "Laissez vibrer"ing. So you would probably need, at a minimum, an initial scoredef with some instrument and some pitch values. This doesn't exist in isolation.

[2022-06-23 17:16] pe-ro commented on #711
One way to encode these curves would be to use `@x`, `@y`, `@x2`, and `@y2` coordinates to specify the start (x,y) and end (x2, y2) points of the curve.  This way doesn't require encoding the notes, but it does mean that you must know the starting and ending points of the curves in the output coordinate system.

Another method would be to encode the notes with which the curves are associated, but

[2022-06-27 14:11] rettinghaus commented on #923
#924 has been merged, so closing this now.

[2022-06-27 14:11] #923 closed, assigned to nobody

[2022-06-30 09:39] musicEnfanthen commented on #923
Thanks!

[2022-07-06 08:14] rettinghaus commented on #968
You want to treat an accidental like a free floating glyph, but it is always connected to a pitch event, so from my point of view it should be (always and only) a child of `nc`.

[2022-07-06 13:26] rettinghaus commented on #968
A current problem I see is that [model.syllablePart](https://music-encoding.org/guidelines/dev/model-classes/model.syllablePart.html) is member of [model.eventLike](https://music-encoding.org/guidelines/dev/model-classes/model.eventLike.html), allowing as syllable children:
* [barLine](https://music-encoding.org/guidelines/dev/elements/barLine.html)
* [chord](https://music-encoding.org/guidelines/

[2022-07-07 02:28] fujinaga commented on #968
Yes, from the list the only thing we would like to be included within `syllable` is `clef`in the Neume module. I guess you can remove the others from [model.syllablePart](https://music-encoding.org/guidelines/dev/model-classes/model.syllablePart.html) because the model class is only used in the Neume module.
But we would also like to have `accid` and `divLine` to be allowed inside `syllable`.

[2022-07-07 02:31] martha-thomae commented on #968
There was a reason why `<accid>` is not allowed as a child of `<nc>`, see https://github.com/music-encoding/music-encoding/issues/816#issuecomment-861793579. But it seems to have been allowed within syllable at some point, as indicated in https://github.com/music-encoding/music-encoding/issues/665#issue-620153531.

[2022-07-07 06:14] th-we commented on #968
I see two reasons why the `<accid>` should be free-floating:

* Because it's spacial (horizontal) position must be encodable. It is in general not written immediately before the `<nc>` but before a `<ncGrp>` (or `<neume>`) which the `<nc>` is part of.  That's what @pe-ro's comment that @martha-thomae links to above says.
* I remember cases where the Corpus monodicum editors found an accidental tha

[2022-07-08 10:34] rettinghaus commented on #607
I think this needs to be `take` from [data.BARMETHOD](https://music-encoding.org/guidelines/dev/data-types/data.BARMETHOD.html).

[2022-07-21 10:49] #946 closed, assigned to nobody

[2022-07-29 13:31] #979 closed, assigned to nobody

[2022-07-29 13:52] #877 closed, assigned to nobody

[2022-07-30 19:17] craigsapp commented on #972
There will be need for transposition of quarter tone pitches, but the transposition intervals themselves will not need quarter tone (for creating sounding/written orchestral scores/parts).

There is one exception that I can think of: a piece for two pianos tuned a quarter tone apart by Charles Ives that will have one part transposed by a quarter tone:   https://www.youtube.com/watch?v=wwj8mTiZi8o

[2022-07-30 19:27] rettinghaus commented on #972
No, piano is not a transposing instrument. For that you have the tuning attributes available.

[2022-07-30 19:34] craigsapp commented on #972
In this case it is a transposing instrument: all notes are a quarter-tone flat, but all notes are still equal tempered (creating a 24ET octave between the two pianos).  But if the tuning specification can handle this then that seems to mean that quarter tone transpositions can be ignored for this case.

[2022-08-02 13:57] rettinghaus commented on #972
Just had a look at the score. Ives said "Piano I to be tuned a 1/4 tone higher".

[2022-08-03 21:56] fujinaga commented on #968
@yinanazhou can you create an MEI file that has an accid, a divLine, and a clef inside a syllable and also an accid, a divLine, and a clef outside a syllable and place that file in one of our DDMAL GitHub repo? This file will be used to test the changes we will be making here.

[2022-08-04 20:42] yinanazhou commented on #968
Hi @fujinaga, I've uploaded the test file [here](https://github.com/DDMAL/Neon/blob/develop/test/resources/schema_test.mei). The corresponding image file can be found in the same folder.

[2022-08-08 09:53] rettinghaus commented on #971
I think that the notes on TEI's `zone` are quite explicit (and imho better than trying to force correct/logical encoding by design):

And also better than allowing things like:

[code]

[2022-08-11 12:25] riedde commented on #915
Also `@facs` and other ways of pointing.

[2022-08-16 08:56] rettinghaus opened #986 "att.authorized vs. att.bibl"
The description for `@auth.uri` says:

Two problems here:
1. How should a reader/computer find out if the given value defines the _element_ or the _content_?
2. How should a reader/computer find out if the given `@codedval` "completes" the given URI?

On the other hand the question arises how `@auth` and `@auth.uri` should play along with `@analog`. How could `@analog` specify the used system for

[2022-08-16 09:51] rettinghaus opened #987 "Visual appearance of meterSigGrp"
Currently `meterSigGrp` requires a `@func` attribute, but this is not sufficient to specify the visual appearance of the group, as there are different forms for "interchanging" and "alternating" meter signatures.

Sometimes they are printed just next to each other (Tchaikovsky):

![without](https://upload.wikimedia.org/wikipedia/commons/8/87/Tchaikovsky_String_Quartet_in_F_excerpt.png)

Also there

[2022-08-17 07:47] rettinghaus commented on #934
@bwbohl Did you have a look?

[2022-08-17 13:05] ahankinson commented on #968
@yinanazhou @fujinaga could you please test your file against the latest changes in PR #983 and see if it solves your problem?

[2022-08-18 09:54] bwbohl commented on #915
`@data`

[2022-08-19 14:47] yinanazhou commented on #968
Hi @ahankinson, I just tested an example file against this schema. I'm sorry that it doesn't solve all the problems as the elements below should be valid:
1. `accid` is not allowed either inside or outside of a syllable in this schema (`accid` should be allowed both inside and outside of a syllable)

- ![image](https://user-images.githubusercontent.com/74484576/185643968-11e21e0d-724f-45ec-aefb-cd

[2022-08-21 06:10] ahankinson commented on #968
Just an observation, and not really related to the validity, but your `accid` should have a `ploc` attribute; otherwise you don't know which pitch on the staff your accidental affects.

[2022-08-22 07:01] rettinghaus commented on #987
Another thing: is there any particular reason why `meterSigGrp` cannot be made invisible as whole?
Each part `meterSig` can be rendered `invis`, but there is no way to say this for the whole group, so there is a formal ambiguity about each separator glyph.
Probably both, a `@form="invis"` and a `@visible="false"` would be needed to have a complete formal description of visibility.

[2022-08-22 09:28] rettinghaus opened #988 "Submodels are not shown in the guidelines"
I noticed that models that are part of another model are not shown in the latter, e.g., `meterSig` and `meterSigGrp` are grouped in the `model.meterSigLike` which is part of `model.eventLike`, yet both are not shown in `model.eventLike`.
And top model classes like `model.layerPart` don't show any member elements (nor models).

[2022-09-01 14:01] rettinghaus opened #989 "Missing duplex maxima in mensural"
Currently there is no value for a `duplex maxima` note (basically consisting of a pair of maxima notes) that can be found often in prints from the first half of the 17th century:

![image](https://user-images.githubusercontent.com/7693447/187928289-769e894d-65fb-459e-8f11-a0f7783c08cf.png)

![image](https://user-images.githubusercontent.com/7693447/187928426-19ae8e27-e474-4b13-96aa-f2a9c2e3c8a3.pn

[2022-09-05 13:25] craigsapp commented on #672
Here is an example of note parentheses from handwritten music:

![example](https://repozytorium.nifc.pl/iiif/2/pl-wumfc%3A634~JP2~sdvvkrvri4vi/3333,5555,1111,444/full/0/default.jpg)

(I don't know if the extension of the parenthesis is due to the second interval at the bottom of the chord).

And here are several examples from Longo edition of Scarlatti, where they mean that the editor added them (

[2022-09-07 16:21] bwbohl commented on #934
Sorry for my longish silence been on holidays ;-)
Now I'm back and on it.

After a first peak I wonder whether:

1. The schematron rules should better be individualised and instead of reporting history with an error, report the respective disallowed element instead.
2. the rules should report an error or a warning, maybe the latter would be good in case of manifestation context, if the manifestati

[2022-09-07 22:13] bwbohl commented on #972
Except for the "piano becoming a transposing instrument" (a point of view I can understand well), I think integer is the better choice. Not to be nitpicking but why is integer better than int?
@rettinghaus which tuning attributes are you referring to?

[2022-09-07 22:26] bwbohl commented on #988
Good catch, definitely something we should fix the get clearer information on dependencies!

[2022-09-14 14:33] rettinghaus commented on #972
@bwbohl `integer` was the nearest option to `decimal`. But then, why `int` and not `short`?
Even `byte` should be pretty sufficient as it would allow transpositions up to ten and a half octave. But many users wouldn't probably know what "byte" means.
(See http://books.xmlschemata.org/relaxng/relax-CHP-8-SECT-1.html#relax-CHP-8-SECT-1.1.5)

I was referring to the attributes in #973.

[2022-09-17 01:07] t-bullock commented on #572
Any new thoughts on this? It would be nice to see support for different headers or footers on even and odd pages.

[2022-09-18 04:14] martha-thomae commented on #968
So, Klaus's PR #983 does solve the issues with `clef` and `custos`. Thank you, @rettinghaus!

I am providing here a very minimalistic MEI file to test any of the other desired changes mentioned in [this comment](https://github.com/music-encoding/music-encoding/issues/968#issuecomment-1146583421):

**File:** [testing_changes_to_neumes_module.xml.zip](https://github.com/music-encoding/music-encoding

[2022-09-20 13:42] lpugin commented on #572
I agree it would be nice to have this and I like the proposal to support this with `pgHead` and `pgFoot` with `@position` rather than adding specific elements. It seems to me that it would be logical to drop `pgHead2` and `pgFoot2`.

Any objections?

[2022-09-20 18:21] pe-ro commented on #572
What are the proposed values of ***@***.***’?

--
p.

From: Laurent Pugin ***@***.***>
Sent: Tuesday, September 20, 2022 9:42 AM
To: music-encoding/music-encoding ***@***.***>
Cc: Roland, Perry D (pdr4h) ***@***.***>; Author ***@***.***>
Subject: Re: [music-encoding/music-encoding] Add <pgFootLast> (#572)

I agree it would be nice to have this and I like the proposal to support this with pgHead an

[2022-09-20 18:50] lpugin commented on #572
I would suggest `@position` = `first | second | last | even | odd` ?

* `first` would correspond to the current `pgHead` / `pgFoot`
* `second` would correspond to the current `pgHead2` / `pgFoot2`

[2022-09-20 21:07] pe-ro commented on #572
OK.  How will duplicate values of ***@***.***’ be handled?  Assuming such things will be illegal, what mechanism will disallow/handle the following –

<pgHead position=”first”>…</pgHead>
<pgHead position=”first”>…</pgHead> ?

Also, “even” and “odd” depend on physical page numbering or assumed/auto-generated page numbering.  This can present problems.  For example, with the following markup --

<pg

[2022-09-21 05:51] lpugin commented on #572
[code]

I hoped that this could be controlled via Schematron. But I know very little about it, and you seem to imply that it cannot. That is too bad.

[code]

Could you say more about the page labelling markup you have in mind here? I am not aware of strong structuring concept for page labelling in MEI. My understanding is that a page label would be simply some text as it appears on the page, assu

[2022-09-21 17:38] pe-ro commented on #572
Since I haven’t tried it, I can’t say that using Schematron wouldn’t be possible, I just don’t think it’s the most efficient approach.  We’d essentially be trading a complex structure (multiple elements) for a different kind of complexity (complex Schematron).  The Schematron would likely be very complex as it would have to enforce number and order of the pared-down set of elements simultaneously.

[2022-09-21 19:10] lpugin commented on #572
The example did not make it through. You can paste it here if it is now too long.

I believe that, if Schematron can constrain what we want, then we should go for it, even if it is complex. It has to be done once, and it would be a shame to go for a less good modelling solution just because of that.

I still feel that `pgHeadXXX` is not quite right. It does really look like concatenating an attrib

[2022-09-21 20:23] pe-ro commented on #572
Here’s the example markup –

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE test SYSTEM "file:/C:/Users/pdr4h/OneDrive%20-%20University%20of%20Virginia/Desktop/pgHeadFootTest.dtd">
<test>

  <scoreDef/>

 <scoreDef>
    <pgHead><?page-number "3"?></pgHead>
  </scoreDef>

  <scoreDef>
    <pgHead/>
    <pgFoot/>
  </scoreDef>

  <scoreDef>
    <pgHead/>
    <pgFoot2/>
  </scoreDef>

  <scoreDef>

[2022-09-21 21:02] pe-ro commented on #572
Another possibility is to use a generic element, “fw” perhaps and allow the current element names as values in the position attribute; that is –

position := head | foot | head2 | foot2| headLast | footLast

and use Schematron to control number of occurrences of each; that is, 2 occurrences of head, 1 each of the others.  It would be left to the processor to figure out the meaning of the various c

[2022-09-22 05:35] lpugin commented on #572
Sounds good. I assume `alt` means `alternative`. Correct? Or `alternate`?  Or do you want to keep it deliberately ambiguous?

[2022-09-22 07:44] bwbohl opened #993 "build fails on newer java"
In detail it is the `canonicalize-source` and `build-guidelines-html` that fail with:

[code]

While `build-guidelines-html` already has `@failonerror="true"` and thus makes the whole build fail, `canonicalize-source` would still signal `BUILD SUCCESSFUL` although the canonicalization actually failed.

Adding `@fork="true`on both java-calls and `@failonerror="true"` on `canonicalize-source` will d

[2022-09-22 13:22] pe-ro commented on #572
alt = alternating

The value “alt1” and “alt2” indicate alternating (left/right, verso/recto, odd/even) form work, but without reliance on page numbering/labeling. The presence of “alt1” and “alt2” indicates an alternating sequence of alt1, alt2, alt1, alt2, etc.  If only “alt1” is present, then the patten is assumed to be alt1, [blank], alt1, [blank], etc.  Similarly, if only “alt2” is present, t

[2022-09-22 13:38] musicEnfanthen commented on #993
@bwbohl Thanks for tracking this down. Will this still work with older java versions? Would you like to open a PR?

[2022-09-22 14:24] musicEnfanthen commented on #968
Reopened, since #983 only addressed parts of the issue.

[2022-09-22 14:50] bwbohl commented on #972
thanks for the clarification and your argument for integer instead of a less known other datatype is a good one! So I'm completely convinced.

[2022-09-22 15:20] lpugin commented on #572
It does make sense. I think that for backward compatibility we need a replacement for what `pgHead2` currently does. That is, defining a header from the second page onwards, but without alternating. If I understand correctly, one would need to define both `alt1` and `alt2` (i.e., without gap). That is probably not ideal. Any thoughts?

[2022-09-22 15:43] pe-ro commented on #572
Yeah, this needs more thought

_________________________________________
Perry Roland, MA, MLIS
Metadata Operations Librarian
University of Virginia Library
2450 Old Ivy Rd.
Charlottesville, VA 22903
434-982-2702 (w)
pdr4h (at) virginia (dot) edu

* Office phone forwarded to cell
________________________________
From: Laurent Pugin ***@***.***>
Sent: Thursday, September 22, 2022 11:20 AM
To: music

[2022-09-22 20:19] bwbohl opened #994 "resolve literature references in specs"
Sometimes there are still literature references in the specs as xml comments in the form of, e.g., ``

https://github.com/music-encoding/music-encoding/blob/cff88ae4e9d5b406be1358174a08d5a27c889d45/source/modules/MEI.cmn.xml#L1922

I'd rather we resolve them to proper XML encoding and and the cited resource in the metadata

[2022-09-22 20:20] pe-ro commented on #572
The best thing I can come up with at the moment is to add another value, such as “afterFirst”, “followingFirst”, or “all” -- where “all” actually means “all the pages except the first”.

I’d also suggest using “place” rather than “position” as the name of the attribute that controls where the header / footer should be displayed.  <pgHead> and <pgFoot> should NOT be members of the existing att.plac

[2022-09-23 09:47] lpugin commented on #520
I like `<repeatDir>` because it is a good compromise between having a distinct element for each symbol, which is probably too much, and only `<dir>`, which is in my opinion too generic.

[2022-09-23 12:57] #972 closed, assigned to nobody

[2022-09-27 08:55] wergo commented on #603
Has a decision been made on this?

I would quite prefer no units in `<graphic @width and @height>` and have an optional separate attribute to specify this.

Graphic element implemented in a PR for Verovio with need for clarification of this: https://github.com/rism-digital/verovio/pull/3033.

[2022-09-27 15:02] bwbohl commented on #993
fixed in pdf-guidelines-test by 2493df814624861601c8c2386eb05feff8b6d504

[2022-09-27 15:03] bwbohl commented on #993
yes, does work with older java versions. Tested in container with JRE8

[2022-09-27 19:05] #934 closed, assigned to bwbohl

[2022-09-28 11:12] bwbohl commented on #959
I created a new branch [rebase](https://github.com/bwbohl/music-encoding/tree/rebase) in my fork that was a rebase of [pdf-guidelines-test](https://github.com/music-encoding/music-encoding/tree/pdf-guidelines-test) on [develop](https://github.com/music-encoding/music-encoding/tree/develop). Afterwards, I merged and implemented some build fixes (e.g. #993) and added some improvements (e.g.  #996) a

[2022-10-01 13:11] #973 closed, assigned to nobody

[2022-10-01 14:18] musicEnfanthen commented on #912
Discussion at MEI Developer Workshop Berlin lead to an alternative approach for modelling s-slurs. Will be introduced in another PR. Closing this PR.

[2022-10-01 14:18] #912 closed, assigned to nobody

[2022-10-01 16:00] doerners commented on #906
Discussed it on 2022-10-01 during dev meeting in Berlin with @riedde and @mss2221. Metadata-IG will take care of this.

Quick question though: We noticed that `<availability>` is available for `<item>` but not for `<manifestation>`. If `@singleton` = TRUE `<availability>` should probably also be available on `<manifestation>`, right?

If there are no arguments against it, I can implement that.

[2022-10-02 08:24] kepper commented on #474
ping @lpugin if this should go in earlier than someday…

[2022-10-02 08:27] kepper commented on #504
pinging @lpugin and @pe-ro to resolve this

[2022-10-02 08:34] kepper commented on #680
should be read more carefully, maybe adding an attribute class for iranian accidentals

[2022-10-02 08:36] kepper commented on #284
might be related to page-based discussions, in which context this will come up again.

[2022-10-02 08:36] #284 closed

[2022-10-02 08:44] kepper commented on #937
closely related to #700

[2022-10-02 08:58] kepper commented on #324
The observed problem is still there (we guess), but it might be solved differently. First, impact on different repertoires should be considered. Then, it might be interesting to think about the use of clef etc. elements inside layer. The other thing to keep in mind is changing keys at scoreDef, which gets complicated for transposing instruments

[2022-10-02 09:00] kepper commented on #878
@doerners will do it, as @kepper decided (while the others were talking dirty in the other corner) that this is necessary ;-)

[2022-10-02 09:03] kepper commented on #711
according to @lpugin, this is related to types of `<dir>`. I think this means he volunteers himself…

[2022-10-02 09:04] kepper commented on #622
bigger metadata complications involved here…

[2022-10-02 09:09] kepper commented on #322
there might be a need for something like this, but probably not inside `@tstamp` to avoid overloading this attribute. We agree that `@qstamp` could be a good way out.

[2022-10-02 09:16] kepper commented on #715
discussed during 2022 dev meeting in Berlin. @fujinaga, @lpugin, @pe-ro, @doerners and @kepper came to the conclusion that this is sufficiently fixed…

[2022-10-02 09:16] #715 closed, assigned to nobody

[2022-10-02 09:19] kepper commented on #569
Seems like a local need, which might be addressed using processing instructions as part of a local workflow, which are also part of XML. @pe-ro consents to close this.

[2022-10-02 09:19] #569 closed

[2022-10-02 09:20] kepper commented on #944
will close this, according to the arguments given in #951

[2022-10-02 09:20] #944 closed, assigned to nobody

[2022-10-02 09:26] kepper commented on #686
might be a candidate for promoting information to elements, but this requires more careful inspection

[2022-10-02 09:28] kepper commented on #550
@doerners will take it to the Metadata IG…

[2022-10-02 09:30] musicEnfanthen opened #999 "build fails after merge of PR"
After mergin #678, the build workflow is broken. This seems to be due to the genericSpecFuntion.xsl checking for rng:choice in dataSpecs (lines 728-745) not recognizing the defined datatypes in https://github.com/music-encoding/music-encoding/pull/678/files#diff-6f6fa3f8400740c85b98fa07c71d68655fbc4ccbdc10a86380cb81f6c6d3dcdfR1906-R1925

[2022-10-02 09:33] kepper commented on #971
There seemed to be consensus a long time ago. Discussed this again at 2022 dev meeting in Berlin. We will not be able to suppress bad use of MEI in all cases, so a simple "don't do that" is sufficient. Not even sure we need to update documentation for this…

[2022-10-02 09:33] #971 closed, assigned to nobody

[2022-10-02 09:37] kepper commented on #750
@craigsapp: what do you think about @rettinghaus' proposal? An alternative could be something like `@audible` in the `MEI.gestural` module… Closing for now, but we can come back later if necessary…

[2022-10-02 09:37] #750 closed, assigned to nobody

[2022-10-02 09:40] kepper commented on #601
might be related to #322. Probably a bigger issue…

[2022-10-02 09:45] kepper commented on #567
seems like this "just" needs a fix (or check if it's done already…)

[2022-10-02 09:52] kepper commented on #952
discussed this at 2022 Berlin dev meeting. @fujinaga, @lpugin, @pe-ro, @musicEnfanthen and @kepper agree that allowing `<zone>` inside `<clip>` is the way forward.

[2022-10-02 09:59] kepper commented on #787
Styling needs to be addressed in the future anyway. Semantically, this is still a double barline, so this can be encoded in some way already. We will come back to this later in a different context.

[2022-10-02 09:59] #787 closed, assigned to nobody

[2022-10-02 10:13] kepper commented on #716
during 2022 dev meeting in Berlin, @fujinaga, @lpugin, @pe-ro, @musicEnfanthen and @kepper came to the conclusion that we keep it as it is, to allow fallbacks and some such. Closing as wontfix…

[2022-10-02 10:13] #716 closed, assigned to nobody

[2022-10-02 10:22] kepper commented on #668
related to #926

[2022-10-02 10:26] kepper commented on #665
this will be addressed in the context of #968, so closing this one

[2022-10-02 10:26] #665 closed, assigned to nobody

[2022-10-02 10:34] kepper commented on #621
We think that this is sufficiently clear for now. That doesn't mean it can't or shouldn't be changed, but we don't see value in this ticket for now. Closing for now.

[2022-10-02 10:34] #621 closed

[2022-10-02 10:36] kepper commented on #592
this will be examined more closely, but might be closed after that?!

[2022-10-02 11:47] lpugin commented on #439
We can add them, and then remove `@text.dist` because that one would not be needed anymore.

[2022-10-02 11:49] lpugin commented on #363
Not very clear, should be brought up with more context if needed.

[2022-10-02 11:49] #363 closed

[2022-10-02 11:52] lpugin commented on #922
As it stands, we can use `<rend fontfam="smufl">`. That seems to be enough. Re-open if necessary.

[2022-10-02 11:52] #922 closed, assigned to nobody

[2022-10-02 11:54] lpugin commented on #913
Since #938 has been merge I am closing it. This would require a significant work on the guidelines and the need of it is not very clear.

[2022-10-02 11:54] #913 closed, assigned to nobody

[2022-10-02 11:57] lpugin commented on #692
Can be closed because solved differently. See #771

[2022-10-02 11:57] #692 closed, assigned to nobody

[2022-10-02 12:05] lpugin commented on #476
Closing because of the lack of input.

[2022-10-02 12:05] #476 closed

[2022-10-02 12:07] lpugin commented on #176
Needs more real-life examples. Can be re-opened with these.

[2022-10-02 12:07] #176 closed

[2022-10-02 12:16] lpugin commented on #969
We can add `segno` and `dblsegno` to match SMuFL.

[2022-10-02 12:21] lpugin commented on #936
It seems that we have a consensus that `<part>` is not really necessary in `<incip>`. @pe-ro @fujinaga @kepper @musicEnfanthen

[2022-10-02 12:21] #936 closed, assigned to nobody

[2022-10-02 12:25] lpugin commented on #929
@ahankinson is this any clearer for you now? Do we need to add anything that was written here to the guidelines?

[2022-10-02 12:30] lpugin commented on #856
It is done in the tablature customization

[2022-10-02 12:30] #856 closed, assigned to lpugin, pe-ro

[2022-10-02 12:30] ahankinson commented on #929
The guidelines still have a discrepancy:

 - https://music-encoding.org/guidelines/dev/attribute-classes/att.midiInstrument.html
 - https://music-encoding.org/guidelines/dev/data-types/data.MIDIVALUE.html

The first says integers preceded by "in", while the second one (at the top of the page) says "One-based values must be followed by a lower-case letter "o"."

I think the fix is to change the des

[2022-10-02 12:45] #999 closed, assigned to kepper

[2022-10-02 12:54] lpugin commented on #644
I would suggest to have `pedline` instead of `mixed` because it would be clearer.

[2022-10-02 13:01] lpugin commented on #603
Looking at it it seems that everything is fine. It is essentially an implementation issue. Please re-open if necessary.

[2022-10-02 13:01] #603 closed

[2022-10-02 13:16] lpugin commented on #721
I think  `left` and `right` would be enough. (The absence of attribute value would mean `none`.)

[2022-10-02 13:31] ahankinson commented on #721
How would we know which pitches are attached to the split stem?

[2022-10-02 13:51] rettinghaus commented on #721
Something like:

[code]

[2022-10-02 14:04] bwbohl commented on #887
this is fixed in https://github.com/music-encoding/music-encoding/tree/pdf-guidelines-test 5ab0214e8dbb6cea30a581a0633f9c7f572fae49

[2022-10-02 14:23] ahankinson commented on #721
So I guess the documentation for split stem **chords** should specify that the stem splitting is captured on the individual notes on the chords, not on the chord itself.

Otherwise it would be tempting to write

[code]

Which would not work. We should also make sure that chords don't get this attribute, since it wouldn't make sense.

[2022-10-02 15:43] #680 closed, assigned to lpugin, pe-ro

[2022-10-02 15:50] #709 closed, assigned to lpugin, pe-ro

[2022-10-02 15:51] lpugin commented on #568
This has been done https://github.com/music-encoding/music-encoding/pull/784

[2022-10-02 15:51] #568 closed

[2022-10-02 16:45] lpugin commented on #520
Result of the discussion today: add `<coda>` and `<segno>`

[2022-10-03 08:09] lpugin commented on #733
Here is a proposal that we discussed with @pe-ro, @kepper and @fujinaga:
* We add a `@optimize.angle` boolean attribute that indicates that the slope for the haipin can be adjusted to follow the content in order to optimize the spacing
* We add a `@opening.vertical` boolean attribute that indicates if the opening points have to be aligned vertically, including when the hairpin is angled (with `@op

[2022-10-03 08:15] lpugin commented on #721
Another proposal would be to add the values `splitLeft` and `splitRight` to data.STEMPOSITON (https://music-encoding.org/guidelines/dev/data-types/data.STEMPOSITION.html)
That way we do not need a new attribute. Of course, controlling that this  is not happening on a chord would still need to be controlled via Schematron if desired.

[2022-10-03 08:17] ahankinson commented on #733
Perhaps `@angle.optimize` would indicate that the boolean true/false is for the optimization, not the angle. `@optimize.angle` might suggest that the attribute takes an angle.

Did you discuss and reject `@opening="vertical | angled"`? Seems like that would be a bit more declarative, with `angled` being the default if nothing was specified.

[2022-10-03 08:19] lpugin commented on #711
Allowing textual content within `<lv>` seems to be a reasonable first step (moving to MEI 5.0). More complex cases such the last one brought by @rettinghaus would still need to be thought further.

[2022-10-03 08:22] ahankinson commented on #721
Although I like that, it does cause me to wonder about the differences between "pos=right" and "pos=splitRight". The first means it's attached to the right side of the note, while the second means the stem is split to the right. This would make it not possible to split a stem and attach the stem to a different side of the note head...

[2022-10-03 08:26] ahankinson commented on #711
Textual content directly, or `<dir>`?

The advantage of allowing something like `<dir>` is that we don't need to add any extra attributes to `<lv>` directly to control rendering or fonts, etc.

[2022-10-03 09:15] lpugin commented on #733
`@angle.optimize` is better

Because we already have an`@opening` attribute we went for `@opening.vertical`

[2022-10-03 09:20] kepper commented on #767
has been solved in the past. If someone needs `@tstamp2.ges` or `@tstamp2.real` in the future, this can be opened again.

[2022-10-03 09:20] #767 closed, assigned to kepper, pe-ro

[2022-10-03 09:21] ahankinson commented on #733
OK

[2022-10-03 09:24] kepper commented on #688
this seems to be a sub-problem of #968, so we'll be addressing this over there. Re-open if our solution is inadequate :)

[2022-10-03 09:24] #688 closed, assigned to pe-ro

[2022-10-03 09:36] lpugin commented on #711
Textual content directly. Starting to have control events within control events will cause all sorts of problems. Most of the text rendering control happens in `<rend>`, which would be allowed in `<lv>`. So if you want to change the font, you would to
[code]
I prefer it to:
[code]

[2022-10-03 12:17] #644 closed

[2022-10-03 15:35] #710 closed, assigned to lpugin, pe-ro

[2022-10-04 19:59] musicEnfanthen commented on #790
Integration with GH actions not solved yet

[2022-10-04 22:09] rettinghaus commented on #969
Solved with #1004

[2022-10-04 22:09] #969 closed, assigned to lpugin

[2022-10-05 09:11] rettinghaus opened #1028 "workflows: keep build artifacts from ant job in GHActions"
It would be good if the GH action also would keep the build artifacts instead of simply deploying the schema to another repo.

Also it would be good, if the deployment stage would only run in the main repo and not on forks.

[2022-10-05 14:58] pe-ro commented on #727
The original intention of `@sig.showchange` was to indicate whether cancellation accidentals were to be shown or not.  The display location of the key signature wasn't taken into consideration.  Trying to keep the number of changes (in MEI) to a minimum, it seems to me keeping `@sig.showchange` (but perhaps renaming it) and adding another attribute to indicate where the key signature is to be disp

[2022-10-05 15:05] pe-ro commented on #727
How about, as @craigsapp suggests, renaming `@sig.showchange` to `@sig.cancel`,  but with the values "modern", "standard", "historical" instead of "none", "before", and "after"?

Adding `@keysig.caution" with Boolean values sounds good to me.

[2022-10-05 17:14] pe-ro commented on #845
Given the decision made in Berlin this weekend about adding `<repeatMark>` , I think it's ok to move forward with creating a `<damp>` element based on `<dir>`.  I think it can use the same content model and attributes as `<dir>`.

[2022-10-05 17:37] pe-ro commented on #727
Are you satisfied, @ahankinson ?

[2022-10-05 17:39] pe-ro commented on #713
@rettinghaus , can you point to a specific place in the Guidelines where `@staff` is recommended, please?

[2022-10-05 17:43] pe-ro commented on #721
@ahankinson , did you mean to say "This would make it possible to split a stem and attach the stem to a different side of the note head"?  If so, I think the answer is "yes", but we could control this contradiction with Schematron or we can allow the renderer to check for "impossibilities".  @lpugin ?

[2022-10-05 18:02] pe-ro commented on #711
This is another example of creating elements for subclasses of `<dir>`.  It's not a problem to put all the attributes of `<dir>` on `<lv>`.  So, I'm going to reverse my position and agree that direct textual content is fine.

[2022-10-05 18:17] pe-ro commented on #714
Along with @MirijamBeier, I don't understand why `@beam.with` is necessary to achieve a satisfactory display here.  Seems to me to be a problem not with MEI, but with Verovio.

Closing for now.

[2022-10-05 18:17] #714 closed, assigned to nobody

[2022-10-05 18:47] pe-ro commented on #988
There seems to be another (related?) problem with model and class membership.  Currently, only the compact view is available.  Clicking "by class" or "by module" does nothing.

[2022-10-05 19:17] pe-ro commented on #689
The fundamental problem here is that the placement of beams is relative to the placement of the notes, rests, chords under the beam while the placement of tuplet brackets is specified relative to the staves the events are on.  However, "fixing" the placement of tuplets and their accompanying brackets and numbers by making their placement the same as those of beams may introduce a backwards compati

[2022-10-05 19:25] pe-ro commented on #567
Not done yet.  I think the fix is to make `<availability>` and `<unpub>` members of model.imprintPart.

[2022-10-05 19:29] pe-ro commented on #567
Scratch that last suggestion.  Doing that would create an ambiguous content model; that is, availability (and perhaps unpub, too) would be "doubly included" in `<titlePage>`.

[2022-10-05 20:09] pe-ro commented on #567
I believe the correct solution is to exclude `<availability>` from model.titlePagePart and include it in model.imprintPart. This will make `<availability >` a child of `<bibl>`, `<imprint>`, and `<titlePage>` (included in this case via model.imprintPart instead of model.titlePagePart.)

I don't think adding `<unpub>` to model.imprintPart has any side effects.

[2022-10-05 20:19] pe-ro commented on #525
Are there any remaining problems with my last suggestion?  If not, then the changes listed there can be implemented.  If not, please speak up.

[2022-10-05 20:25] pe-ro commented on #592
With the whole key fifths thing off the table, I think this is now a non-issue.  I suggest closing it and dealing with the more specific issues in #525 and #727.

[2022-10-05 20:25] #592 closed

[2022-10-06 07:45] rettinghaus commented on #713
@pe-ro in `MEI.shared`:

[code]

https://github.com/music-encoding/music-encoding/blob/e7afd155b6baca8535d8b3a16d51d9c041949dcd/source/modules/MEI.shared.xml#L2995

[2022-10-06 07:49] bwbohl commented on #525
@pe-ro, generally, I'm entirely with you in terms of harmonising the attribute names. Nevertheless, this should also bring changes to the documentation, namely:

* `<keySig>`

  to something like:

  (key signature) – Transcribed or supplied or otherwise necessary key signature.
* `visible` / `sig.show`

  Here I'm wondering whether `@sig.show` would actually control both visual and gestural aspec

[2022-10-06 08:07] bwbohl commented on #713
Maybe a slight modification to the descripition would clarify things? E.g.:

Signifies the staff on which a notated event occurs or to which a control event
          applies. Mandatory when applicable, e.g., in case when the association to a staff is not clear from an elements xml context.

Clear for `<note>`:
[code]

Unclear for `<dir>`
[code]

@rettinghaus is there also a schematron rule for va

[2022-10-06 08:08] bwbohl commented on #713
same of course should apply to `@part`, `@layer`

[2022-10-06 08:18] bwbohl commented on #714
Copied from https://github.com/music-encoding/music-encoding/issues/689#issuecomment-1268851557

[2022-10-06 08:19] ahankinson commented on #525
A key signature is never really considered for sound output, since we encode the complete absolute pitch on every note.

[2022-10-06 08:24] bwbohl commented on #714
AS this is more of a general question an not (yet) an issue with MEI schemata and guidelines I'm moving this to discussions

[2022-10-06 08:27] bwbohl commented on #689
For discussion on the necessity of beam.with I moved #714 to discussions (https://github.com/music-encoding/music-encoding/discussions/1030), and there added the last comment @pe-ro posted here.

[2022-10-06 11:37] pe-ro commented on #713
The "mandatory when applicable" language is common in metadata circles. It just means "be explicit when necessary."  The `<attDef ident="staff" usage="rec">`
declaration doesn't actually enforce anything.  In the end, it's resolved to "optional".  But it serves a documentary purpose.

Changing the description to --
"Signifies the staff on which a notated event occurs or to which a control event
ap

[2022-10-06 11:43] ahankinson commented on #713
I'm kinda with @rettinghaus here -- the recommendation will always apply, regardless of the specific context of use, and `@staff` is only really applicable when you want to do cross-staff things (i.e., a very small percentage of the time in most repertoires).

It seems misleading to recommend its usage when it's usually not applicable.

In contrast, `@pname` is only marked as `opt` -- I would thin

[2022-10-06 11:45] pe-ro commented on #525
@ahankinson, One might not want to encode absolute pitch on every note and yet want a "renderer" to attempt a sounded rendition.  In this case, the key signature should be a factor in creating reasonable aural output.

[2022-10-06 11:46] pe-ro commented on #713
If `usage="rec"` is confusing, remove it.  It just gets resolved to "opt" anyway.

[2022-10-06 11:50] ahankinson commented on #525
I know that's technically possible (hey, MEI is *almost* turing complete, isn't it? 😁 ) but the prevailing practice is that we encode the absolute pitch on every note. So one might **want** to omit it, but all the tooling will likely interpret the notes as being an absolute pitch, and I don't know if there's any reasonable way of signalling that this isn't the case.

It's more likely that your aur

[2022-10-06 11:55] ahankinson commented on #727
"modern", "standard" and "historical" seem to be values that would need definition, and are an additional layer of abstraction, whereas "before" and "after" (or something similar) would simply indicate placement and would need no term definition.

Like, I don't know if I want "modern" changes or not, I just want the change to appear before the barline. Or "I have historical music, I'll use histori

[2022-10-06 11:58] ahankinson commented on #727
If it's specifically for placement of changes, would `@sig.changeloc="before | after"` work? I'm thinking that something with "cancel" in it is a yes/no question (i.e., "should this be cancelled") but if we specify "loc" (MEI shorthand for "location") that's clearer.

[2022-10-06 12:35] pe-ro commented on #727
'@sig.changeloc="before | after"' doesn't allow one to indicate that no changes should be displayed.

[2022-10-06 12:37] ahankinson commented on #727
`@sig.changeloc="none | before | after"` (basically @craigsapp suggestion https://github.com/music-encoding/music-encoding/issues/727#issuecomment-872260275) "no location" seems like a reasonable approximation of "don't show"?

Or `@sig.changeloc="hidden | before | after"`?

[2022-10-06 15:47] craigsapp commented on #525
Regarding the last three posts:  That is why I always give either `@accid` or `@accid.ges` for every single note in my conversions from Humdrum to MEI.  This guarantees that I mean absolute pitch since both the diatonic pitch name and the chromatic alteration are both given.

For music in the age of ficta where the performers decide the accidentals, then leaving out both `@accid` and `@accid.ges`

[2022-10-06 16:51] lpugin commented on #721
Yes, this is correct. But not being a specialist in split-stem-notation I cannot really judge if this is really an issue or not ;-)

[2022-10-06 19:55] ahankinson commented on #721
Well, just looking at the examples, I'm not really sure where on the note head the stem would be attached.

@pe-ro no, I was meaning that we are overloading the `@pos`  attribute with things that have slightly different functions. The first is where the stem is attached; the second is how the stem (from some parent?) is behaving. Would the second example above be:

`<note stem.pos="left splitRight

[2022-10-06 20:08] lpugin commented on #721
From the examples I have seen it seems always to be attached to the side further apart. But of course, this does not mean it is a rule.

I think if we need that, having two attributes `stem.pos` and `stem.split` as suggested before would better.

[2022-10-06 20:10] pe-ro commented on #721
Yes, having 2 attributes is best.

[2022-10-07 13:48] bwbohl commented on #525
@craigsapp, thanks for the valuable addition. Those are things that should be put down in some best practice guidelines!

[2022-10-08 16:41] #733 closed, assigned to lpugin, pe-ro, rettinghaus

[2022-10-08 20:45] pe-ro commented on #968
I believe the fixes in PR #1019 resolve this issue.

However, it's SUPER important to make a distinction between what's allowed by MEI-all, which exists to accommodate documents that mix notational repertoires, and what's allowed by the neumes customization, which can extend or restrict MEI-all. For example, @fujinaga's  comments above -- "the only thing we would like to be included within syllabl

[2022-10-10 08:53] lpugin commented on #727
"before" and "after" is actually the case only for flats and not for sharps because cancellation for those would always be before. So I would suggest

`@sig.cancel="none | before | cycleOfFifths"`

[2022-10-10 08:58] lpugin commented on #525
Following the discussion on #727 and @craigsapp's proposal above I would suggest:
- on `<scoreDef>` and `<staffDef>`:
[code]
- on `<key>` (no changes):
[code]
- on `<keySig>`:
[code]

[2022-10-10 12:17] ndubo commented on #504
@pe-ro

Without intention to interfer in the search for a practical solution, I just want to point out that it may be useful to have a look at Giovanni Maria Bononcini's _Musico prattico_ (1678):

![Bononcini_musico-pratico_p15extr](https://user-images.githubusercontent.com/33256891/194859169-95acae89-53f7-41d4-89d4-cf57d927c9bc.jpg)
In Bononcini's explanation that all compound meter signs use ind

[2022-10-10 13:27] pe-ro commented on #504
@ndubo, I believe each of the meter signatures in your example can be encoded using my proposal above. For example, the last one would be --
[code]
Both meter signatures can be rendered -- the first using the symbol, the 2nd using numbers --  but the 2nd one is used for logical and layout purposes.  As I understand it, `@form` isn't necessary on the first `<meterSig>` to control visual display as

[2022-10-10 13:53] lpugin commented on #504
Sounds good to me. I would only suggest another attribute name because the meter signature values are used not just for the visual layout. We we really want to encode is that the meter signature is the reference for time stamps. What about `@tstampRef="true"` ?

[2022-10-10 14:42] pe-ro commented on #504
That's what the `@use` attribute is for.  Note my comment about "logical and layout purposes". In this case the name "use" is a verb.  The idea is indicate which time signature is the "real" one.  I'd be glad if you can suggest a value other than "layout". Perhaps "logical"?  This would change "use" from a verb to a noun,, which is probably a good thing.

[2022-10-10 14:49] lpugin commented on #504
Sorry, I was not clear. Yes, I got that and was suggesting `@tstampRef` as another possible name for `@use`. `@use="logical"` is understandable, but the 'use' does not sound very MEI-like. Maybe `@role="primary"`, of simply `@reference="true"` to say that in the meter signature group, it should be used as a reference as if we would have only it?

[2022-10-10 15:04] pe-ro commented on #504
Oh, sorry.  Your message was entirely clear.  It was I who mentally omitted the word "name" in "attribute name".

I'm not wedded to the name "use", but I like `@role` better than `@reference` or `@tstampRef`.  How about `@role="logical"`?  Alternatively, we could use `@logical` as the name but it could only ever take the value "true" or "logical".  This is a common practice in XML for attributes o

[2022-10-10 15:05] craigsapp commented on #504
There is also complication of `<barLine>` versus `<measure>` in music from the 17th century (particularly when dealing with `@tstamps` for the ends of measures).   There can be a meter/time signature/mensuration sign, but the barlines may not always be visually present at the end of each "measure", or the barlines may even be placed in the middle of a measure (yet the meter is understood to contin

[2022-10-11 09:02] pe-ro commented on #572
The best thing I can come up with at the moment is to add another value, such as “afterFirst”, “followingFirst”, or “all” -- where “all” actually means “all the pages except the first”.

[2022-10-11 09:13] #504 closed

[2022-10-11 09:20] musicEnfanthen commented on #1028
@rettinghaus Do you refer to the existing deploy action or to a future version of it?

What would be the intended purpose of keeping the build artifacts (which would be the content that is pushed to schema and guidelines repo, right?)

Agreed that deployment should not run on forks.

[2022-10-11 09:25] lpugin commented on #572
I would actually now leave it as it is. In terms of backward compatibility, if someone has data where only `<pgHead2>` is encoded - which as I understand is the only problematic case - we can recommend to add an empty header for the first page in order to encode that `all` applies actually only from the second page onward:
[code]
Does it work? @musicEnfanthen ?

[2022-10-11 10:03] #988 closed, assigned to kepper

[2022-10-11 13:06] bwbohl commented on #1028
Adding the following line to the steps:

* Checkout SCHEMA_REPO into SCHEMA_DIR
* Check git status before commit
* Configure git
* Commit files
* Push changes to SCHEMA
* Checkout GUIDELINES_REPO into GUIDELINES_DIR
* Copy built guidelines to GUIDELINES_DIR
* Check git status before commit
* Configure git
* Commit files
* Push changes to GUIDELINES

[code]

should do the trick!

[2022-10-11 13:11] rettinghaus commented on #1028
@musicEnfanthen Keeping the artifacts would allow others to test the built schema without checking out the branch and building it themselves.

[2022-10-11 15:41] lpugin commented on #1028
-1 on keeping artifacts for every build. People who might want to have a build corresponding to a specific commit they can always rebuild it.

[2022-10-12 15:27] musicEnfanthen commented on #572
Since, according to the description, `first` interrupts the pattern of `all`, this seems to exclude the empty first pgHead

[2022-10-12 15:49] lpugin commented on #572
Excatly, this is the idea. Works for you?

[2022-10-12 17:08] musicEnfanthen commented on #572
Yes, works for me in general. (However, I am wondering if there are other cases where we use an empty element to indicate that something does not exist? But maybe that is more a philosophical issue...)

[2022-10-12 17:15] lpugin commented on #572
Yes, you are right that this is probably not perfect. But keep in mind that this is only for backward compatibility and for cases that are quite likely pretty rare.

[2022-10-12 17:20] #906 closed, assigned to doerners

[2022-10-12 19:33] pe-ro commented on #572
The only other case for using an empty element to indicate something missing that I can think of now is the case where one source has something another doesn't.  For a markup example, see the Guidelines, 11.1.2 Variants in Musical Content.

[2022-10-12 19:41] bwbohl commented on #572
@pe-ro good example; and for the more philosophical thoughts: `<pubStmt/>`(which is required but may be empty)

[2022-10-12 19:56] bwbohl commented on #525
I like @lpugin 's proposal, can we agree on it?

[2022-10-12 20:07] bwbohl commented on #1028
Issuing the build process on PRs without checkout of the guidelines and schema repositories and without the push actions to the respective repos would do the job. The build artifacts are always made available on the build run and kept available there for a maximum of 90 days. How could this benefit us?
Local testing and validating of existing files (maybe even in a separate action) would be made e

[2022-10-12 20:11] bwbohl commented on #590
maybe this could be tackled on the way with #1010

[2022-10-12 20:19] bwbohl commented on #560
Is there a need of controlling elision direction otherwise I would consider to close this issue?

[2022-10-12 20:20] #887 closed, assigned to kepper

[2022-10-12 20:21] #993 closed, assigned to bwbohl

[2022-10-13 06:17] #968 closed, assigned to fujinaga, pe-ro, rettinghaus, musicEnfanthen

[2022-10-13 09:06] ahankinson commented on #525
I did a review of this issue, the linked issues, and the current definition of elements. Here's a summary of what I found.

 - The sticky issue seems to be how to encode the location of the cancellation _accidentals_. In some styles they come before the new accidentals; in other styles they come after. There is also the possibility that they are shown before the barline, or not at all.
 - The exis

[2022-10-13 14:46] craigsapp commented on #525
See issue https://github.com/rism-digital/verovio/issues/1803 related to this:

<img width="749" alt="Screen Shot 2022-10-13 at 7 17 38 AM" src="https://user-images.githubusercontent.com/3487289/195622160-08686ee9-79e0-4e78-9919-dce233451d12.png">

There should be only one style for the entire work, so ideally the standard style should be presumed if not told otherwise.   And preferably a way to s

[2022-10-14 12:43] musicEnfanthen commented on #572
Closed by #1008

[2022-10-14 12:43] #572 closed

[2022-10-14 14:24] musicEnfanthen commented on #1412
Ping @riedde and @doerners

[2022-10-14 14:42] musicEnfanthen commented on #1413
@kepper @riedde @doerners I guess this can be closed as deprecated?

[2022-10-14 14:55] musicEnfanthen commented on #1496
@riedde @doerners @bwbohl May I ask you to have a look if this is still an ongoing issue? (At least, all corresponding issues that I could find on music-encoding/music-encoding have been closed.)

[2022-10-14 15:03] riedde commented on #1413
@musicEnfanthen not really. The current tasks improve the "Sources" Chapter but do not revise the structure of the Metadata Chapter (3) itself.

I like the idea of a more user-oriented structure. Should be discussed at the next meeting of the IG

[2022-10-14 15:06] doerners commented on #1413
I'm with @riedde on this one and would propose to leave it open - at least for now

[2022-10-14 15:24] musicEnfanthen commented on #1413
Ok, thanks for checking and clarification. Looking forward to the outcome of your IG discussions.

[2022-10-14 16:45] pe-ro commented on #1036
The presence of `<tuplet>` in the markup indicates there is a tuplet visible in the source document.  A quarter note with a '3' (dotted or undotted) may logically and gesturally be a tuplet, but it's not written that way in the source.

We could consider allowing tuplet inside bTrem, e.g.,
[code]

The other way around
[code]
is already allowed, but has a different meaning.

Am I missing something?

[2022-10-17 15:58] doerners commented on #1496
I just had a quick look at the element definition of `<source>` and the guidelines as well. It seems that `<source>` is sufficiently documented. There are also several notes pointing out that in previous MEI versions `<source>` was used for manifestation-level descriptions - which schould aid to alienate the confusion. So to me it seems that this issue could be closed if @bwbohl and @riedde don't

[2022-10-18 04:40] riedde commented on #1496
yes, @doerners is right. In the guidelines (3.2) it is clarified. But in 3.4.1.6 an additional sentence (as in 3.5.1 'Please note: Until MEI 3.0.0, the source element in sourceDesc was used for manifestation-level descriptions.') would be nice.
In 3.8.3 the example clarifies the distinction.

in the End 12.1.1 has to be improved, because this is really unclear or outdated (focussing on the source

[2022-10-20 13:01] #439 closed

[2022-10-20 13:37] #578 closed

[2022-10-20 13:42] #878 closed, assigned to doerners

[2022-10-20 22:36] mfeustle opened #1041 "Metadata elements for chant fragments"
The immediate application I envision for the features proposed below would be their potential to link separated chant fragments, but broader applications seem possible.

Texts in chant fragments are generally standardized enough to be recognizable, as a result of their specific liturgical function. It is therefore possible to determine what text would precede or follow what is present on a fragmen