[2018-01-26 22:22] pe-ro commented on #489
@axgeertinger, good catch!  The duplication is definitely an error.  The descriptions should read ---
[code]

The term "lines" was copied directly from TEI and means "lines of text". I added the attributes that refer to staves.

"Ruled lines" means guide lines for text, while "ruled staves" are for notation. "Ruled staves" includes staves hand-drawn or printed on the base medium prior to the writi

[2018-01-28 12:42] pe-ro commented on #489
Revised attribute descriptions [ba3e053]

[2018-01-31 18:42] craigsapp opened #494 "text directions with duration"
How should `<dir>` type elements be encoded when they possess a duration?  For example:

<img width="821" alt="screen shot 2018-01-31 at 10 14 35 am" src="https://user-images.githubusercontent.com/3487289/35639715-f4d9d2e0-066f-11e8-9af1-0675d3e76760.png">

The `diminuendo` and  `ritardando` both have a duration of three measures.

Presumably by using `@tstamp="0"` for the start of the first measu

[2018-02-02 17:29] pe-ro commented on #494
I'd encode the first example like so --
[code]
where the 1st three `<dynam>` elements are in m. 3 and the last one is in m. 6.

Each of the "components" are encoded separately to provide the greatest amount of control over their start times.

There's no method yet for specifying exactly how the continuous dynamics (diminuendo and ritardando) should be stretched to fit the time allotted to them or

[2018-02-02 20:25] pe-ro opened #495 "Make <dynam> a member of att.extender, add new attribute to att.extender"
Some continuous dynamics, like "cres.", can have a (dashed) extender line.  Making `<dynam>` a member of att.extender would support markup like the following --
[code]
In addition, att.extender can be extended (pun absolutely intended) to include attributes to describe the number/frequency of dots, dashes, or waves for these types of extending lines, say `@lseg`.  A single value can be used to spe

[2018-02-04 20:55] craigsapp opened #496 "Formatting questions for pgHead"
Here is an example `pgHead`:

[code]

which renders in verovio like this:

<img width="903" alt="screen shot 2018-02-04 at 12 29 10 pm" src="https://user-images.githubusercontent.com/3487289/35782125-37a750ee-09a8-11e8-8174-c635c373947e.png">

----------------

The first question is that I want to add the composer's dates underneath the composer's name on the right side of the header:

<img width=

[2018-02-05 16:35] pe-ro commented on #496
I would expect the following markup to do what you're looking for --
[code]
The nested `<rend halign="left">` for the dates should be left justified within the confines of the outer `<rend>`.  In other words, the "box" for the dates is left justified within its containing "box", which is right justified.

A nested `halign="center"` should work the same way --
[code]

Adding additional `<lb/>` elem

[2018-02-05 16:58] pe-ro commented on #496
It should work even without the containing `<seg>` --
[code]
Of course, it's up to Verovio to implement the markup assumptions.  😀

[2018-02-05 17:09] lpugin commented on #496
Yes, this would make an excellent PR to receive 😀

[2018-02-05 19:55] pe-ro commented on #496
It seems at this point at least one of the things that are missing in MEI's handling of this stuff is the ability to specify the *left margin* (and/or the position and size?) of a box that is itself right justified.  Perhaps adding `@position`, `@float`, `@clear`, `@visibility`, and `@z-index` to `<rend>` would be a way forward.

In any case, getting the following HTML to work
[code]
as defined in

[2018-02-09 18:43] davidrizo opened #497 "Encoding a sharp meaning a natural (mensural notation)"
Hi,

in mensural notation we usually find a sharp that cancels a previous flat, with the meaning of a natural.

E.g. in F Major key, if we find a #B it means natural flat.

Which is the correct encoding of it? I'm using:
`<note pname="b" oct="4" dur="minima">
   <accid accid="s" accid.ges="n"/>
 </note>
`
and
`<note pname="b" oct="4" dur="minima" accid="s" accid.ges="n"/>`
Thanks !!

[2018-02-12 14:33] craigsapp opened #498 "Visual augmentation dots"
These questions are related to issue https://github.com/humdrum-tools/verovio-humdrum-viewer/issues/71

First, how would this example be encoded in MEI:

<img width="329" alt="screen shot 2018-02-12 at 6 13 42 am" src="https://user-images.githubusercontent.com/3487289/36100800-4f514488-0fbc-11e8-9048-e2ab9e83f911.png">

Representing a scribal error where the augmentation dots were omitted from the

[2018-02-12 15:52] pe-ro commented on #498
I wouldn't say it's cheating to use `<space>`, but it doesn't help to identify the error.

A scribal error is marked using `<sic>` --
[code]
If you want to provide a correction, use `<corr>` --
[code]
While it isn't technically necessary, `<choice>` can be used to explicitly pair the `<sic>` and `<corr>`.  Also, you can use `<corr>` without a corresponding `<sic>` if you don't care about showing t

[2018-02-12 15:54] pe-ro commented on #497
You got it.

[2018-02-12 15:54] #497 closed, assigned to nobody

[2018-02-12 15:56] pe-ro commented on #496
Another approach is to use `<table>` inside `<pgHead>` for layout.

[2018-02-12 16:11] pe-ro commented on #498
The leading slashes in the `<tagUsage>` example I gave before aren't necessary --
[code]

[code]
works too, but could be broken if a comment or processing instruction appeared within the `<sic>`.

[2018-02-12 16:21] craigsapp commented on #498
Thanks!  That will be useful.

[2018-02-12 16:21] #498 closed, assigned to nobody

[2018-02-15 02:26] craigsapp opened #499 "Implement dots.ges"
Proposal for adding `@dots.ges` to MEI 4.0 from verovio issue:
       https://github.com/rism-ch/verovio/issues/757

Summary of the proposed enhancement:

To add a visual augmentation dot to a note that does not affect the rhythm:

[code]

And to hide a visual dot, but allow it to affect the duration of the note:

[code]

So when calculating logical duration (i.e., the duration value for score ali

[2018-02-16 22:18] pe-ro commented on #499
Here's the ODD --
[code]
It adds `@dots.ges` and re-works `@dur.ges`.  Where `@dur.ges` used to allow multiple kinds of data, it now only allows the same data types as `@dur`; that is, CMN power-of-two values and mensural duration names.  The other data types now have their own attributes -- `@dur.metrical`, `@dur.ppq`, and `@dur.recip`.  Changing the underlying data types also necessitated change

[2018-02-17 04:22] craigsapp opened #500 "implement colorationSpan in MEI 4.0"
It would be useful to add a `colorationSpan` element which would function similarly to the new `ligatureSpan` element:
     https://github.com/music-encoding/music-encoding/commit/3d000618562167b4a82d5956311d535896e7fab6

`ligatureSpan` elements are used to indicate where `ligature` was used in the non-CMN original notation.  Likewise `colorationSpan` would indicate where a `coloration` was used i

[2018-02-17 08:21] rettinghaus commented on #500
I've seen that coming …
I still think `<bracketSpan func="coloration">` and `<bracketSpan func="ligature">` would have been a better approach.
See #403

[2018-02-17 08:23] craigsapp commented on #500
Either way will work for me.

[2018-02-19 06:32] lpugin commented on #499
It looks good to me, in particular the fact that `data.DURATION.cmn` is now allowed in `@dur.ges`. This is useful for encoding 17th century void notation.

[2018-02-26 03:03] craigsapp opened #502 "HTML code generation for documentation"
Here is a page listing accidental attributes which could use some adjustment of the HTML/CSS code:

http://music-encoding.org/documentation/3.0.0/data.ACCIDENTAL.EXPLICIT

<img width="1468" alt="screen shot 2018-02-25 at 7 03 34 pm" src="https://user-images.githubusercontent.com/3487289/36651593-7b2d1bb6-1a5e-11e8-8e0a-ab274acb15b9.png">

<img width="1468" alt="screen shot 2018-02-25 at 7 03 47 pm

[2018-02-26 15:18] #499 closed, assigned to nobody

[2018-02-26 20:09] pe-ro commented on #500
`<bracketSpan>` added and `<ligatureSpan>` removed by 39d5e46

[2018-02-26 20:09] #500 closed, assigned to nobody

[2018-03-06 14:41] axgeertinger opened #503 "Dead link in documentation"
At http://music-encoding.org/support/guidelines and the other documentation pages such as http://music-encoding.org/documentation/3.0.0/chapters , the “Elements” link (http://music-encoding.org/documentation/3.0.0/elements) is dead.

[2018-03-06 14:47] craigsapp commented on #503
What do you mean? When I look at this link: http://music-encoding.org/documentation/3.0.0/elements

I see this page:

<img width="1340" alt="screen shot 2018-03-06 at 6 48 54 am" src="https://user-images.githubusercontent.com/3487289/37038599-12db1c22-210a-11e8-8777-8d8ac4080978.png">

[2018-03-06 15:02] axgeertinger commented on #503
That's peculiar. I get this:
![404](https://user-images.githubusercontent.com/3779074/37039403-afdf2890-2157-11e8-88d0-d58280cb15c0.png)

[2018-03-06 15:06] craigsapp commented on #503
It must be the Danish censors...

[2018-03-06 15:30] lpugin commented on #503
The link works for me too. Maybe you can try a "shift + reload" ?

[2018-03-07 08:09] axgeertinger commented on #503
OK. I tested the link in various environments. Here are the results:

Desktop PC at home:
Firefox 43.0.4:      OK
MSIE 11:              OK
Chrome 64.0.xxx: OK

Desktop PC at office:
Firefox 52.0.1:       404
MSIE 11:               404
Chrome 64.0.xxx:  404

Laptop on WiFi at home or at work (location makes no difference):
Firefox 56.0.1:      404
MSIE 11:              OK
Chrome 64.0.xxx: OK

It do

[2018-03-07 08:26] lpugin commented on #503
It looks on the screenshot that the page requested is `http://music-encoding.org/documentation/3.0.0/elements/` (with a slash at the end) instead of `http://music-encoding.org/documentation/3.0.0/elements`. I wonder how this can be different.

[2018-03-07 08:53] craigsapp commented on #503
Yes, I was just noticing that.   It seems to be a problem with the slash at the end of the address.

This works for me:
   http://music-encoding.org/documentation/3.0.0/elements

This does not work for me:
   http://music-encoding.org/documentation/3.0.0/elements/

The actual URL is:
   http://music-encoding.org/documentation/3.0.0/elements.html

Github is making an alias from `elements.html` to `

[2018-03-07 08:59] craigsapp commented on #503
(And this is probably true for other pages as well, where it might be best to force the contents to `/index.html` allowing for slashes to be optional rather than having `.html` be optional.)

[2018-03-07 11:34] bwbohl commented on #494
see also #495

[2018-03-07 12:33] axgeertinger commented on #503
I notice that Firefox (at least sometimes, it appears) adds the slash if I omit it and therefore fails. I did use the URL without the trailing slash: I just followed the link.
Strangely, http://music-encoding.org/documentation/3.0.0/atts has the same faulty behaviour on my laptop (Firefox adds a slash and fails) but not on my office PC, while http://music-encoding.org/documentation/3.0.0/models wo

[2018-03-08 10:40] ndubo commented on #494
We currently encode these cases of split `dynam` and `dir` with `dynam` for the single syllable and connect the `dynam` with `@next` and `@prev` (a `@plist` would do a similar job).
for the dashes between the syllables , I would suggest allowing `@con="d"` directly in `dynam`.
If dynamics are spilt, a sort of semantic representation of the full dynamic expression is required, in other words, a dec

[2018-03-09 04:37] craigsapp commented on #470
Raise the priority on this issue

[2018-03-13 09:28] lpugin opened #504 "Clarify meterSig sym / form and numbers"
See discussion in https://github.com/rism-ch/verovio/issues/800

Currently, the documentation says that `@sym` "Indicates the use of a meter symbol instead of a numeric meter signature". Howerver, in some cases displaying both can be desirable.

Also, `@form` deals with the visibility of the numbers, but not exclusively because the value "invis" indicates that the "Meter signature [is] not rendere

[2018-03-13 10:26] axgeertinger commented on #504
The question also applies to `@meter.rend` on `<scoreDef>` and `<staffDef>`, which is equivalent to `meterSig/@form`. This, by the way, raises a question of naming: should `@form` be renamed `@rend`? Or should `@meter.rend` be renamed `@meter.form`?

[2018-03-13 11:37] lpugin commented on #504
I agree. Renaming `@form` to `@rend` sounds good to me. I am waiting for comments and will make a PR unless there are some objections.

[2018-03-13 15:52] craigsapp opened #505 "Typo in note element documentation"
On the page:

http://music-encoding.org/documentation/3.0.0/note

The description of articulations discusses the `<fingering>` element:

<img width="823" alt="screen shot 2018-03-13 at 8 53 53 am" src="https://user-images.githubusercontent.com/3487289/37353000-aa3143da-269b-11e8-94dd-81915b4faa8d.png">

But this should instead be the `<fing>` element:

http://music-encoding.org/documentation/3.0.0

[2018-03-14 21:30] bwbohl opened #506 "duplicate declaration of att.fing.ges missing att.fingGrp.ges"
I stumbled over this when trying to generate the guidelines from the current dev version and was unable to complete my transformation

1. due to duplicate classSpec `att.fing.ges`
2. after deleting the second one from my canonicalised file being unable to resolve `att.fingGrp.ges` being referenced from elementSpec `fingGrp`.

[2018-03-14 21:34] bwbohl commented on #506
probably the attributes of both classes `att.fing.ges` and ``att.fingGrp.ges` should be identical? If so you can merge #507

[2018-03-15 06:07] #506 closed, assigned to nobody

[2018-03-26 06:01] bwbohl commented on #504
I agree, that there's something at odds and with `meterSig/@meter.form` and in comparison with `scoreDef` resp. `staffDef` `@meter.rend`  it definitely should be renamed to `@meter.rend`, too!

Moreover I wonder whether `meterSig/@sym` could be `true/false` instead of `common/cut` as the type of symbol can be inferred from the actual meter? As with `@facs` and the glyph attributes the `meterSig` c

[2018-03-26 09:08] bwbohl commented on #502
Page moved resulting in the above link being dead. Please see: http://music-encoding.org/guidelines/v3/data-types/data.accidental.explicit.html

[2018-03-26 09:11] lpugin commented on #503
This should not be fixed because the links have `.html`. See http://music-encoding.org/guidelines/v3/elements.html

[2018-03-26 09:11] #503 closed, assigned to nobody

[2018-03-26 09:15] lpugin commented on #502
Fixed

[2018-03-26 09:15] #502 closed, assigned to nobody

[2018-03-26 09:30] lpugin commented on #502
Fixed: see http://music-encoding.org/guidelines/dev/data-types/data.accidental.written.html

[2018-03-26 10:10] jacekiwaszko1 opened #509 "How to encode a single line for a beam?"
In this example from Chopin's mazurka in A minor, Op. 17, No. 4:

![1beam](https://user-images.githubusercontent.com/29225574/37899497-f580f6f0-30eb-11e8-96df-2c7f426b6c69.png)

The top staff has 15 notes notes beamed together.  Logically these are quintuplet sixteenth notes, and by default the beam should display two lines; however, in this case only one is used.  Is there a way to represent this

[2018-03-27 16:39] lpugin commented on #505
Fixed http://music-encoding.org/guidelines/dev/elements/note.html

[2018-03-27 16:39] #505 closed, assigned to nobody

[2018-03-29 17:49] craigsapp commented on #503
One possibility is to use redirections:

https://github.com/jekyll/jekyll/issues/3368
http://www.marran.com/tech/creating-redirects-with-jekyll
https://github.com/jekyll/jekyll-redirect-from

[2018-03-29 17:54] craigsapp commented on #503
Note that this URL also works:

http://music-encoding.org/guidelines/v3/elements

With some sort of automatic redirect to

http://music-encoding.org/guidelines/v3/elements.html

So additionally an alias could be made to:

http://music-encoding.org/guidelines/v3/elements/

Since that typically the mapping in most webservers for a URL like

http://music-encoding.org/guidelines/v3/elements

(hence th

[2018-03-31 20:57] craigsapp opened #510 "Clarification of MIDI instrument numbers"
On the page:

http://music-encoding.org/guidelines/v3/attribute-classes/att.midiinstrument.html

The definition of a `midi.instrnum` attribute is to be of type `data.MIDIVALUE`:

[code]

And on the page

http://music-encoding.org/guidelines/v3/data-types/data.midivalue.html

The definition of a MIDI value is:

[code]

Is this correct?  In other words, did I win the argument about the starting numb

[2018-04-01 15:12] rettinghaus commented on #510
I implemented the MIDI program change in Verovio with offset.

Wikipedia tells about GM

As I see MEI coding more on the visual side, I would go with 1-128.
Although it is not always a good idea to follow MusicXML, this is how it is used there.
https://usermanuals.musicxml.com/MusicXML/Content/CT-MusicXML-midi-instrument.htm

[2018-04-01 15:16] rettinghaus commented on #510
And whatever it may be, it should be harmonized with `data.MIDICHANNEL`.

[2018-04-01 16:06] craigsapp commented on #510
One idea related to `data.MIDICHANNEL` data types would be to allow both systems (enumerating from 1 or enumerating from 0): A plain integer would be zero offset, so MIDI channels would be in the range from 0 to 15.  To use the one-indexed version, the channel would be a string rather than a number, and the values would be something like: `ch1`, `ch2`, `ch3`, ..., `ch16`,  prefixing the data with

[2018-04-02 13:50] pe-ro commented on #510
I like @craigsapp's idea of accommodating both 0- and 1-based values.  I'd keep integer or "ch"+integer values for MIDI channels, but use integers or "in"+integer (for "instrument") values for instrument numbers.  "pc" (for "patch change") implies a change from something to something else; "in" is more declarative.

[2018-04-02 15:49] craigsapp commented on #510
Using `in` as a prefix for General MIDI instrument numbers that are indexed starting at 1 sounds good to me.

"Patch change" is the traditional name for the MIDI message that changes the instrument, but of course the input parameter is the instrument number.  "Patch change" is a bit technically obscure now and comes from electroacoustic era and early computers where there was a patch bay that was

[2018-04-06 18:31] pe-ro commented on #510
@craigsapp, Can you submit a feature request please?

Is this pressing enough to add to v. 4.0.0 or can it wait 'til 5.0.0?

[2018-04-06 19:05] rettinghaus commented on #510
It should be definitely in 4.0.0, as the current state isn’t ok!

[2018-04-06 19:43] pe-ro commented on #510
I'll implement the following ODD asap --

[code]

[2018-04-06 20:13] pe-ro commented on #510
Question -- Should other places where 0-127 is currently expected,

- midi.port
- midi.pan
- midi.patchnum
- midi.volume
- att.midiNumber/num
- att.midiValue/value
- att.midiValue2/value2
- vel

also allow 0- and 1-based values?

If so, then we may want to use a single, generic prefix for distinguishing the different kinds of values. The only thing that comes to mind immediately is "o" (oh) for "o

[2018-04-06 20:43] craigsapp commented on #510
[code]

For `midi.pan` 0-127 is the raw MIDI implemetation.  It might be nice to have two alternate units:  percentage from `0%` to `100%`, and degrees from `-90deg` to `+90deg` (however for degrees, how to deal with MusicXML range from -180degrees to +180degrees should be considered):
     https://usermanuals.musicxml.com/MusicXML/Content/EL-MusicXML-pan.htm
MIDI panning is strictly stereo pannin

[2018-04-06 20:44] pe-ro commented on #510
Instead of "o" (oh) we could use "-" (minus, as in minus 1) for 1-based values. Not a bad mnemonic, I think.

Putting the "-" after the value, i.e. `@midi.pan="100-"` would fit well with any of those places where percentage values could also be used, i.e. `@midi.pan="100%"`.  Bare integers, i.e. `@midi.pan="100"`, would still indicate 0-based values.

[2018-04-06 20:51] pe-ro commented on #510
@craigsapp, I'm inclined to allow 0- and 1-based values everywhere.  That way, I can modify the data.MIDIVALUE declaration and be done for those attributes that use only a number.

For those items in your list that need another kind of value, percent or degree, the data.MIDIVALUE can be alternated with other kinds of values.

`@midi.patchnum` was added to handle non-General MIDI instrument layouts

[2018-04-06 21:05] pe-ro commented on #510
Currently, there's no distinction between percussion and non-percussion instrument names/numbers.  It's up to the encoder to use the correct values.  I'm not confident that much more can be done within the schema.

[2018-04-07 19:36] rettinghaus commented on #510
I don't think handling 1-based values with a minus or an "o" would be very obvious. The whole problem arises from differentiating between programmable (internal) MIDI values and the user-side "visual" values. And the suggestions by @craigsapp are pointing in a more convenient direction. I like the proposed ODD very much, but it shoud be, indeed, expanded consistently over other attributes. But IMH

[2018-04-09 10:03] rettinghaus opened #511 "make neume part of att.placement"
When using `<neume>` within `<syllable>` it would be good to say wether the neume is "above" or "below" the letters (even it doesn't really fit `data.STAFFREL`).

[2018-04-09 10:17] rettinghaus opened #512 "orphaned neume data types"
If I'm not mistaken, the revision of `<ineume>` and `<uneume>` left the following data types unused:
`data.INEUMEFORM`
`data.INEUMENAME`
`data.UNEUMEFORM`
`data.UNEUMENAME`

Refer to:
http://music-encoding.org/guidelines/dev/data-types/data.ineumeform.html
http://music-encoding.org/guidelines/dev/data-types/data.ineumename.html
http://music-encoding.org/guidelines/dev/data-types/data.uneumeform.ht

[2018-04-09 10:21] rettinghaus opened #513 "update guideline section Neume Notation"
(self-explanatory)

[2018-04-09 13:50] pe-ro commented on #512
"We should make shure, that all available data types are used somewhere!"

I'm not 100% convinced of this.  Some data types are not used currently, but are made available for use in future customizations.

[2018-04-09 21:11] lpugin commented on #513
Please raise the issue in https://github.com/music-encoding/guidelines

[2018-04-09 21:11] #513 closed, assigned to nobody

[2018-04-10 11:08] axgeertinger commented on #504
I'm not sure I understand. How can you do that for certain? Especially if `@meter.unit` and `@meter.count` are not even provided (or only `@meter.count` for time signature like "3", for instance)?

[2018-04-13 15:53] pe-ro commented on #510
@rettinghaus, my intention is to allow both 0-based and 1-based values everywhere a "raw" MIDI value is expected and to allow "alternative" values where convenient, 0-100% for pan and volume, -90 to +90 deg for pan, etc.  However, rather than prefix each 1-based value with a different mnemonic, such as 'ch' for values for MIDI channel or 'in' for MIDI instrument numbers, I'd prefer to use a single

[2018-04-13 16:05] pe-ro commented on #510
Yet another possibility is to use only MIDI-approved values in `@midi.pan`, but add another attribute (such as `@surround`, `@field`, etc.) to hold values intended to represent a 180- or 360-degree sound field.  While we're at it, we could add an attribute that's equivalent to MusicXML's concept of elevation (with the same 180- or 360-degree range, but on an "above/below" axis).

[2018-04-13 19:55] pe-ro commented on #510
Regarding my earlier comments, I'm including percentage values in the phrase "MIDI-approved values", since they're another expression of the 0-127 range.

On the other hand, spatial location seems like a different thing to me.  How about "azimuth" and "elevation" as names for the new attributes that describe this concept?  Just to be clear -- `@azimuth` is different from `@midi.pan` because it des

[2018-04-14 04:52] pe-ro commented on #510
Here's another stab at it --
[code]
I believe this captures all the desired features --
- anywhere 0-127 values are allowed, so are values in the range 1-128
- the letter "o" may be appended to values 1-127 to identify 1-based values
- `@midi.channel` is limited to 0-15 or 1-16
- `@midi.pan` allows numeric or percentage values
- `@azimuth` and `@elevation` record "surround sound" values; MusicXML

[2018-04-14 07:17] rettinghaus commented on #510
Have I spotted an error in your regex? Shouldn't it be
`0|([1-9]|1[0-5])o?|16o`
and `0|([1-9]|[1-9][0-9]|1([0-1][0-1]|2[0-7]))o?|128o` ?

[2018-04-14 14:01] pe-ro commented on #510
Perhaps for clarity, but not absolutely necessary.  "16" and "128" are only possible in a 1-based system, just as "0" is only possible in a 0-based one. It's only the values that are possible in both systems, 1-127, which must be differentiated with "o".

[2018-04-16 07:24] lpugin commented on #504
I do not think I understand either how `@meter.sym` could be changed to `true/false`.

[2018-04-16 14:31] pe-ro opened #514 "Revise <verse> to allow the encoding of a display label"
Neither `@n` nor `@label` can be used on `<verse>` to encode a label, such as "1." that precedes the syllabic content of `<verse>`.   `@label` isn't acceptable for this because it's not supposed to be used for document content.

Adding `<label>` to the content of `<verse>` appears to be a workable solution --
[code]
When necessary, the `@source` attribute can be used to indicate the particular sou

[2018-04-16 15:23] pe-ro commented on #504
I agree there's a naming problem with regard to `@meter.form` and `@meter.rend`.  I've been trying to move away from naming anything using "rend", since it's a loaded word, but it looks like I missed one.  So, I will rename `@meter.rend` to `@meter.form.`

With regard to the display of a (more-or-less) numeric form of the meter signature **and** a symbolic form, I think the best way forward is to

[2018-04-16 15:24] pe-ro commented on #504
@bwbohl, Like @lpugin and @axgeertinger, I don't understand how `@meter.sym` can be modified to use true/false values.

[2018-04-16 15:34] pe-ro commented on #428
This appears to be fixed in the development version of the Guidelines.

[2018-04-16 15:34] #428 closed, assigned to nobody

[2018-04-16 15:37] pe-ro commented on #485
Looks like this is fixed in the development version of the Guidelines.

[2018-04-16 15:39] pe-ro commented on #454
It seems the development version of the Guidelines is fixed.

[2018-04-16 15:39] #454 closed, assigned to kepper

[2018-04-16 15:39] pe-ro commented on #512
Closing this for now.

[2018-04-16 15:39] #512 closed, assigned to nobody

[2018-04-16 15:41] pe-ro commented on #510
@craigsapp, @lpugin,  Unless I hear objections, I'll make the changes to the schema described above at the end of the week.

[2018-04-16 15:42] pe-ro commented on #479
Having heard to further request, I'm closing this for now.

[2018-04-16 15:42] #479 closed, assigned to nobody

[2018-04-16 15:52] pe-ro commented on #496
Closing this for now, reopen if necessary.

[2018-04-16 15:52] #496 closed, assigned to nobody

[2018-04-16 15:54] pe-ro commented on #450
The move to gitpages resolves this, right?

[2018-04-16 15:54] #450 closed, assigned to nobody

[2018-04-16 15:59] bwbohl commented on #450
not really… it just moves the issue to another repo ;-)

See: https://github.com/music-encoding/guidelines/issues/28

[2018-04-16 17:01] pe-ro commented on #450
I see.  But, it moves it out of the realm of MEI encoding.  :grinning:

[2018-04-17 08:09] lpugin commented on #504
I would expect a `<meterSigGrp>`. That is:
[code]
Wouldn't you?

[2018-04-17 14:03] pe-ro commented on #504
That could work too.  But, `<meterSigGrp>` requires `@func`, which currently only allows the following values:

- alternating
- interchanging
- mixed

What's the relationship between the meter signatures in this case?  Are they "duplicative"? Or "equivalent"?

[2018-04-19 12:19] lpugin commented on #495
It would be useful to have this for `<dir>` too

[2018-04-19 12:39] rettinghaus commented on #514
With `<label>` available, there should be `<labelAbbr>`, too. When having multiple verses, some publishers print the verse number repeatedly on every new system.

[2018-04-19 13:11] frakel commented on #495
just noticed that `@extender` is currently supported in `<dir>` only but not in `<dynam>` ?!?!
@pe-ro is this meant to be extended ;) also to `<dynam>`? ...would make the DME happy :)

[2018-04-19 15:03] rettinghaus opened #515 "Has meter.unit to be a decimal?"
The Guidelines say `@meter.unit` has to be a `Value of datatype decimal.`
Can somebody enlighten me, please? I thought it has to be a power of 2.

[2018-04-19 15:13] rettinghaus commented on #510
I like clarity. :-)
Take `data.PERCENT` for example: `0%` is always `0`, but you have to add the `%`.

[2018-04-20 21:37] pe-ro commented on #510
True, but this case is somewhat different.

A percent sign is not significant for values that are always expressed in hundredths of something.  Its real value is in differentiating percent values from others when something may be expressed in multiple ways, for instance, in the case of font size.  In addition to percentage values, `data.FONTSIZE` allows other numeric values -- it's the trailing "%

[2018-04-20 21:40] pe-ro commented on #495
@lpugin, an extender is already possible on `<dir>`.

@frakel, yes, the intention is to allow `@extender` on `<dynam>`.

[2018-04-20 22:01] pe-ro commented on #515
"There are more things in heaven and Earth, Horatio, / Than are dreamt of in your philosophy."

Have a look at https://en.wikipedia.org/wiki/Time_signature#Irrational_meters for info on so-called "irrational" meters.  They are extremely uncommon, but if someone has used them, I think it's important that MEI make an effort to support them.

[2018-04-20 22:17] pe-ro commented on #510
@craigsapp and @lpugin, thoughts?

[2018-04-20 22:59] craigsapp commented on #510
A somewhat confusing thing is that `o` looks like a zero, but that is not very much of a problem (definitely do not allow a capital `O`...).  Also `o` can also mean "ordinal" which is what is happening here, which is good:  `0` is the first channel, `1` is the second channel and so on.  So `0` = `1o`, `1` = `2o`, etc.

A reverse point of view could be to use `m` for the 0-indexed numbers and leave

[2018-04-21 03:48] pe-ro commented on #510
I can get behind the argument for "o" as short hand for "ordinal".  So, "16o" and "128o" it is.  I'll make the change to the regex.

[2018-04-21 03:52] craigsapp commented on #510
Sounds good.

[2018-04-21 09:10] rettinghaus commented on #515
You live and learn! But all the examples shown there have a positive integer as unit. Only exception is the strange "pi over e" example given, but not only that "e" is no decimal value, in such cases you'd probably prefer `@altsym`.
On the other hand `@meter.count` allows additive values, but not fractional values, or even roots, as seen there.

[2018-04-21 15:43] pe-ro commented on #515
It seems to me that there's a line somewhere (although it's difficult to be sure exactly where to draw it) between "useful" time signatures and "speculative" ones.  My definition of "useful" is something that can be used to meaningfully measure time, while "speculative" time signatures are extensions of the concept of Augenmusik -- they look nice, but can't be used for any kind of calculation.

Yo

[2018-04-21 15:48] pe-ro commented on #514
I don't think `<labelAbbr>` is necessary since each instance of the label can be marked using `<label>`.  But could you provide an example please for testing?  Thanks.

[2018-04-21 16:15] craigsapp commented on #515
In the Josquin Research Project encodings, I occasionally use `@meter.unit` of a triplet whole note.

[2018-04-21 16:44] craigsapp commented on #514
If `<labelAbbr>` will always be the same as `<label>`, then it would not be necessary to have different from `<label>`.  But if `<labelAbbr>` is not allowed, then the number-at-every-break style would have to be input externally in the graphical music rendering process, such as an option to verovio.  Allowing `<labelAbbr>` would function as a sort of option to display such numbers, in a similar ma

[2018-04-21 16:49] #510 closed, assigned to nobody

[2018-04-22 14:48] rettinghaus commented on #514
Thanks @craigsapp, this is exactly what I meant. So `<labelAbbr>` is, like for `<staffDef>`, an instruction for repetition, as I argued before in #361:

[2018-04-23 10:16] rettinghaus commented on #360
@pe-ro could you please give me an example, how to encode "vocal text that isn't directly associated with (i.e., written under) the notes"?

[2018-04-23 12:12] rettinghaus commented on #515
IMHO pure MEI should allow only positive integers for `@meter.unit` and leave the rest to `@altsym` or customization.

[2018-04-23 13:40] pe-ro commented on #515
@rettinghaus, if by "pure MEI" you mean "MEI Basic", then I agree.  I'm less certain about such restriction for mei-all.  In any case, I'm closing this for now.  It can be re-opened when necessary.

[2018-04-23 13:40] #515 closed, assigned to nobody

[2018-04-24 13:09] axgeertinger commented on #504
Suggesting the use of `<meterSigGrp>` was exactly my starting point for the discussion at [rism-ch/verovio#800](https://github.com/rism-ch/verovio/issues/800), so that's fine with me.  And I agree that we should add a `@func` value describing this situation. I'll leave it to the native English speakers to decide what to call it. Perhaps we even need two more values: "duplicative" or "equivalent" m

[2018-04-24 15:23] axgeertinger commented on #504
BTW, I notice that this issue is closed, but the initial issue is not resolved. `@meter.rend` has been renamed, but it's still not possible to encode the combined time signatures until we have suitable values for either `scoreDef/@meter.form` or `meterSigGrp/@func` or both.

[2018-04-24 21:38] pe-ro commented on #504
I'm fine with re-opening the issue, but I think so-called "combined" time signatures will require a lot more thought and support for them should be delayed until v. 5.0.0.

[2018-04-25 09:36] lpugin commented on #509
[code]

[2018-04-25 09:36] #509 closed, assigned to nobody

[2018-04-25 15:11] axgeertinger commented on #504
I may be naive, but how is this situation more complicated than mixed, interchanging or alternating meters? What are the problems to be thought about (other than terminology)?

[2018-04-28 15:38] pe-ro commented on #504
[code]
If by "combined time signature" you mean those cases where `<meterSigGrp>` contains multiple, *complete* meter signatures, I agree that what's required is a label for the case where the signatures are different expressions of a single concept of time.  If there are no objections, we can use the term "equivalent".

However, I don't think this extends to a mensuration sign such as "C3".  Firs

[2018-04-28 17:54] rettinghaus commented on #504
I tend to disagree. These are *complete meter signatures*, and together they form a `<meterSigGrp>`. But in this combination they mean something different. Although they still apply to barred notation. They are *not* a mensur, they try to imitate the look of a mensur. So this is somewhat a "neomensural" notation. Perhaps a value "neomensural" for `@func` would do the trick?

[2018-05-07 11:22] axgeertinger commented on #504
Here are some examples using both common time and numbers. The first one is from Bernardo Pasquini's "Il Lisimaco" (1681), the other one from Alessandro Scarlatti's "La principessa fedele" (1710). These are quite far from the mensural repertoire. In my collection of about 100 sinfonias from between 1680 and 1710, I found 15 instances of such meter signatures. I don't know of any pieces using the c

[2018-05-07 11:33] lpugin commented on #504
I think one additional issue than terminology is the clarification required with contradicting information. Usually, `meter.sym="common"` implies 4/4, which is a different `meter.count` and `meter.unit`. The later is critical because it needs to be unambiguous for timestamp calculation.

[2018-05-07 12:14] axgeertinger commented on #504
I think a fairly consistent rule would be that `meter.sym="common"` is to be treated as 4/4 _unless_ there are `meter.count` and `meter.unit` values contradicting it, in which case the number values should be used for timestamp calculations. The simple "3" signature is tricky in any case as it does not explicitly state the meter unit. That is also true for the "C3" time signature, of course. I won

[2018-05-07 15:33] craigsapp commented on #504
See issue #322

[2018-05-07 15:35] pe-ro commented on #504
@axgeertinger, I have no doubt such things exist.  And perhaps there should be ways to render them.  However, we have to dig deeper and find out the intended meaning behind these particular "scribblings".

In other words, what does the combination of "C" and "6/8" *mean*?  I suspect that in these examples the scribe wrote "C" at the start of every piece, (it does stand for "common", after all), no

[2018-05-07 15:36] pe-ro commented on #504
Based on our decisions about modern time signatures, we can undertake a similar approach to mensuration signs.

[2018-05-07 17:42] craigsapp opened #516 "Suppressing courtesy clef/key changes at ends of systems"
In this example music:

<img width="1039" alt="screen shot 2018-05-07 at 10 29 56 am" src="https://user-images.githubusercontent.com/3487289/39715310-ba55a866-51e1-11e8-87a0-8968a58ca159.png">

I would like to suppress the courtesy time signature change at the end of the system after the double barline.

Should there be an attribute created for barline/measure that serves as a print suggestion to

[2018-05-07 17:54] rettinghaus commented on #516
I would structure it like
[code]

Different movements should go into different `<mdiv>` elements.

Didn't we had a discussion about courtesy time signatures before somewhere?

[2018-05-07 17:58] craigsapp commented on #516
I probably asked the same question a few years ago...

[2018-05-07 18:03] pe-ro commented on #516
This is what `@meter.showchange` is intended to do; that is, display the old time signature when a new one is provided.  Unfortunately, the description of this attribute --
```Determines whether a new meter signature should be displayed when the meter signature changes.```
was garbled somewhere along the way.  It should read more like that of `@sig.showchange`; that is,
```Determines whether the o

[2018-05-07 18:13] craigsapp commented on #516
In this case I want to force a display of the meter at the start of the next section even if it is the same as the previous section, so `@meter.showchange` would not work in this case, since the meter could be the same across sections (but maybe it would need to be `@mensur.showchange` here?)

Notice the redundant clefs, which I need to work on removing:

<img width="235" alt="screen shot 2018-05-

[2018-05-07 18:44] pe-ro commented on #516
1. I've always assumed, perhaps incorrectly, that a meter signature or indication of mensuration, would be displayed whenever it was encoded, *even if it were the same as the previous one*.

2. You're probably right -- there ought to be a `@mensur.showchange` attribute, along with any other parallel attributes.

3. Right again, there's no `@clef.showchange`, but doesn't the same rule apply as to i

[2018-05-07 19:39] rettinghaus opened #517 "make ligature part of att.color"
One can color individual (child) notes in a ligature, but having an *figura obliqua* there are no individual (rendered) notes anymore.

[2018-05-07 19:52] rettinghaus opened #518 "make proport part of att.color"
as `<mensur>` allows `@color`, `<proport>` should, too.

[2018-05-08 07:52] axgeertinger commented on #504
@pe-ro, I am fine with the changes you suggest. I am as eager as you to grasp the _meaning_ of this notation, but I still don't know for sure. I am absolutely sure, however, that this use of meter symbols and numbers is not a mistake. Looking at the manuscripts, there is no doubt that these signatures are actually intended. But even though we may not be able to name their meaning, there is also no

[2018-05-08 14:38] rettinghaus opened #519 "Why is dot on mensur a boolean?"
While `mensur@slash` allows to specifiy a number of slashes, `mensur@dot` is just true or false.
If you take a look at the SMuFL range, there are glyphs for up to three dots. So perhaps it woulg be better to allow a number here, too?

https://www.smufl.org/version/latest/range/medievalAndRenaissanceProlations/

[2018-05-12 05:46] craigsapp opened #520 "coda and segno encoding"
How are coda and segno encoded?  They should use `<dir>` as mentioned in the guidelines:

http://music-encoding.org/docs/MEI_Guidelines_v3.0.0.pdf

But there is not an example, which would better than me using telepathy to figure it out :-)

Example to fill in:

<img width="680" alt="screen shot 2018-05-11 at 10 45 17 pm" src="https://user-images.githubusercontent.com/3487289/39954046-cc06f48c-556

[2018-05-22 20:10] rettinghaus opened #521 "let breaks be beginnings"
As TEI moved from line/page/etc. "breaks" to "beginnings", MEI probably should follow the lead. That should cause less confusion in encodings.

[2018-05-28 18:26] rettinghaus commented on #519
Mensural Interest Group discussed this.

[2018-05-28 18:26] #519 closed, assigned to nobody

[2018-05-31 15:52] #518 closed, assigned to nobody

[2018-05-31 15:56] #517 closed, assigned to nobody

[2018-06-01 15:21] pe-ro commented on #470
Having provided a workable solution, I'm closing this issue.

[code]

[2018-06-01 15:21] #470 closed, assigned to nobody

[2018-06-01 15:51] #495 closed, assigned to nobody

[2018-06-01 17:42] pe-ro opened #523 "Make <syl> a member of att.extender"
There's currently no method for indicating that a word/syllable has an extension line.  Making `<syl>` a member of att.extender will permit mark up like the following --
[code]
If `@extender` is present, in addition to the connecting symbol, a line should be drawn at the text baseline from the syllable "Je" until the next syllable.  If it isn't present, then a renderer may choose to
1. show only t

[2018-06-04 00:51] craigsapp opened #524 "More elements with @color"
It would be useful if all visible elements could have `@color`

    http://music-encoding.org/guidelines/v3/attribute-classes/att.color.html

Of particular interest is `<harm>`.  Also `<syl>` to color individual syllables in a `<verse>`.  Also applying to `<dir>` would be particularly useful.

[2018-06-04 06:46] rettinghaus commented on #524
The original idea was to have `@color` on the `<rend>` subelement for textual elements,
see #337.

[2018-06-04 07:18] craigsapp commented on #524
Thanks!  That should work for most everything I will want to color.

Example:

<img width="317" alt="screen shot 2018-06-04 at 12 19 55 am" src="https://user-images.githubusercontent.com/3487289/40903604-be9d7c08-678c-11e8-94a4-c40a67e4d062.png">

MEI data:

[code]

[2018-06-04 07:18] #524 closed, assigned to nobody

[2018-06-06 01:18] craigsapp opened #525 "Harmonize key.sig et al. attributes on scoreDef, staffDef, key and keySig"
Since `staffDef@key.sig.showchange` is changing to `staffDef@keysig.showchange` in MEI 4, it is probably best to change `staffDef@key.sig` to `staffDef@keysig` for consistency.

There are `<key>` and `<keySig>` elements:

http://music-encoding.org/guidelines/v3/elements/key.html
http://music-encoding.org/guidelines/v3/elements/keysig.html

`<key>` should be used for analytical purposes, and `<keyS

[2018-06-08 06:51] craigsapp opened #526 "Website CSS styling"
In the list of elements:
    http://music-encoding.org/guidelines/v3/elements.html

<img width="851" alt="screen shot 2018-06-07 at 11 53 45 pm" src="https://user-images.githubusercontent.com/3487289/41143313-a7068fd4-6aad-11e8-8c2f-6aa7efdb6c9b.png">

And on element documentation pages:
    http://music-encoding.org/guidelines/v3/elements/desc.html

The alternating gray background and element tag

[2018-06-08 07:01] rettinghaus commented on #526
This is the wrong place, should be reported on https://github.com/music-encoding/music-encoding.github.io

[2018-06-08 07:29] craigsapp commented on #526
ok

[2018-06-08 07:29] #526 closed, assigned to nobody

[2018-06-09 08:15] rettinghaus commented on #525
Do you mean to use `@keysig` `@keypname` `@keyaccid` `@keymode` etc on `staffDef`, or `@keysig.sig` `@keysig.pname` `@keysig.accid` `@keysig.mode`?
(Only) the latter would make some sense, as they are shorthands for `keySig@pname` etc.

[2018-06-14 16:15] ahankinson commented on #525
I've reverted the commit and re-opened this issue for discussion.

[2018-06-14 16:59] lpugin commented on #525
I guess this change was motivated by another one, namely `@key.sig.showchange` to `@keysig.showchange` and `@key.sig.show` to `@keysig.show`. Maybe these should be reverted as well?

[2018-06-14 17:58] craigsapp commented on #525
There are two elements to keep in mind:

(1) `<key>` "Key captures information about tonal center and mode."
http://music-encoding.org/guidelines/v3/elements/key.html
"This element is used exclusively within bibliographic descriptions. Do not confuse this element with keySig, which is used within the body of an MEI file to record this data."

(2) `<keySig>` "Written key signature."
http://music-en

[2018-06-14 18:55] pe-ro commented on #525
Once upon a time, I tried to make this change (to *.fifths) and nearly got run out of town on a rail.  :grinning:

The names of the key* attributes are just names, which I'm happy to change to support a more logical system of naming.  But, creating a logical system and maintaining backward compatibility are nearly diametrically opposed.

[2018-06-14 19:10] craigsapp commented on #525
😄

I would expect that   `XXX@YYY.ZZZ` (attribute viewpoint), would expand to the element viewpoint as `XXX/YYY@ZZZ`.

If the dot character (`.`) does not imply that sort of transformation, then there is no great problem with the names, since `key.` would not imply `<key>` rather than `<keysig>`.  In that case `staffDef@key.sig.showchange` should probably not be changed to `staffDef@keysig.showcha

[2018-06-15 05:38] lpugin commented on #525
(@pe-ro  If I remember correctly the change on *.fifths was another issue.)

The desired consistency helps to understand the schema. I do not see backward compatibility as a problem here because 1) we have a major version release, and we should take the opportunity to do it, and 2) they are easy upgrades. So if the changes (now reverted) trigger other ones, let's just go for them.

[2018-06-15 07:35] ahankinson commented on #523
Could this also be achieved by allowing a new value on `@con`? Or is the point to allow the specification of `@extender=false` with `@con`?

[2018-06-15 07:39] ahankinson commented on #481
Can we keep `<incip>` and use an attribute to control whether it was original or 'supplied'?

[2018-06-15 07:44] ahankinson commented on #363
My take on this is that, even if we do supply a closed or semi-open list of note spacing 'algorithms', not every renderer will do this correctly, and certainly won't do it consistently in every context (different screen sizes, etc.)

What does 'exp' and 'fact' mean?

[2018-06-15 08:01] craigsapp commented on #523
You will have to explain this more @pe-ro.

`<syl con="d" wordpos="i">Je</syl>`

Means that "Je" is the first syllable in the word (because of `@wordpos="i"`), and `@con="d"` means that it should be connected to the next syllable in the word with a dashed line.

`@con="u"` can be used to add a line extender at the end of a word (as an underline).

When should such an extender stop?  This can be am

[2018-06-15 14:29] pe-ro commented on #525
@lpugin, I agree that now is the time to do it, if we're going to make changes.

The naming of the key- and key signature-related attributes has grown organically, leading to some inconsistency.  `@key` was created first and `@key.sig` came after.  The latter was named to emphasize the dependency on `@key`.  At this time, though, I think it makes sense to emphasize the distinction between key and

[2018-06-15 14:48] craigsapp commented on #525
That sounds good

[2018-06-15 14:54] pe-ro commented on #523
@craigsapp, We decided some time ago to not put things other than the actual syllable itself, such as verse numbers,  inside `<syl>`, didn't we?  I recall a campaign to replace trailing dashes in `<syl>` with `@con`.  I don't think a return to that method is the way to go.

Just as `@con="d"` can lead to any number of actual dashes that are required to fill the time/space between syllables, `@exte

[2018-06-15 17:23] ahankinson commented on #525
OK, so next steps? Do we merge the original PR? @rettinghaus are you satisfied?

[2018-06-15 17:28] ahankinson commented on #523
My main concerns are whether `@extender=true/false` is specific enough for the desired functionality, and if @extender overlaps in functionality with `@con` (it seems to).

[2018-06-15 19:01] pe-ro commented on #525
There wasn't a PR, was there?  There were only the changes I committed directly.

[2018-06-15 19:05] pe-ro commented on #521
Fixed by a2529bef36bc59e140ad0fa0eaac50a2962a690c

[2018-06-15 19:05] #521 closed, assigned to nobody

[2018-06-15 19:15] pe-ro commented on #481
No, because `<incip>` and `<origIncip>` will have different functions and, therefore, different content.  `<incip>` has the content model --

[code]
while `<origIncip>` will use --
[code]
In other words, `<origIncip>` contains score data and `<incip>` contains metadata.

[2018-06-15 19:31] pe-ro commented on #514
Sorry, I still don't get your point.  If you want to provide another label, repeated or not, use the `<label>` element at the appropriate place.  The `<label>` element simply divides the content of `<verse>` into a label and the syllables that follow --
[code]

[2018-06-15 19:44] pe-ro commented on #511
`<syl>` already allows place, so it's possible to provide this info, although from the opposite perspective; that is, the position of `<syl>` relative to the neumes --
[code]
This and `<neume place="below">` allow capture of relative placement on every `<syl>` or `<neume>`.  Perhaps, however, the problem is that it *requires* recording the placement on every `<syl>` or `<neume>`.  It might be usef

[2018-06-15 19:48] pe-ro commented on #511
Also, encoding order could be significant.  For example,
[code]
could be used to convey the relative positioning of the neumes and the text syllable.

[2018-06-15 20:25] pe-ro commented on #504
@axgeertinger, you're absolutely correct about "C" standing for "common time".  It's incredibly English-centric and anachronistic.  So, I suggest we change
[code]
 to
[code]
I leave it to others to replace `<desc>` in each case.

[2018-06-15 20:53] ahankinson commented on #525
Ok. Let’s wait to see what @rettinghaus says before proceeding.

[2018-06-15 21:01] pe-ro commented on #504
@axgeertinger, I also see your point about using `@count` and `@unit` in both `<meterSig>`  elements --
[code]
but this is the most descriptive method.  To indicate which `<meterSig>` element; that is, which count and unit values, is to be used for layout calculations, we could a new attribute to `<meterSigGrp>`.  For instance,
[code]
This makes it possible to encode the individual `<meterSig>` el

[2018-06-15 21:03] pe-ro commented on #494
Waiting for comments ............

[2018-06-15 21:05] pe-ro commented on #449
@rettinghaus, satisfied?

[2018-06-15 21:22] pe-ro commented on #363
From the Mup User's Guide (http://www.arkkra.com/doc/uguide/index.html) --

[code]
and
[code]
Another related Mup parameter --
[code]

[2018-06-16 09:00] rettinghaus commented on #449
Basically, yes.
I'm just wondering if it's the correct approach to have `@barlinelen` and `@barplace` on `staffDef`/`scoreDef` *and* `barLine`.

[2018-06-16 13:26] pe-ro commented on #449
This is the usual procedure -- `@barlinelen` and `@barplace` attributes at the `<scoreDef>` and `<staffDef>` level affect the score from that point onward for ***all*** bar lines, while these attributes on `<barLine>` affect only ***this*** bar line.

[2018-06-16 13:36] rettinghaus commented on #449
Yes, but usual procedure is to name those attributes on staffDef as short hand for the respective element, e.g. `@beam.color`, `@clef.visible`, `@meter.count` etc.

[2018-06-16 13:39] pe-ro commented on #449
Yes, we can revise the names for "barlinelen" and "barplace".  "taktplace" is somewhat more problematic.

[2018-06-17 19:37] pe-ro commented on #449
Here's a first pass at the ODD to accomplish what we've been discussing --
[code]
I've tried to revise the attribute names in keeping with the recent discussion re: naming.  `@taktplace` is gone, since the combination of `@bar.len` and `@bar.place` can be used to express what it once did.  Default values aren't declared in the schema, but can be assumed based on context.

The formula for usual/max

[2018-06-17 21:57] rettinghaus commented on #449
Looks perfect to me! Seems to address all my problems/reservations.
Everyone else fine with that!?

pe-ro <notifications@github.com> schrieb am So., 17. Juni 2018, 21:37:

[2018-06-18 09:10] lpugin commented on #514
@pe-ro : with dynamic rendering you do not necessary know where the new system will occur. If I understand correctly the idea is to supplied the abbreviation `<labelAbbr>` at the same place where `<label>` is given and the understanding of it should be to use this abbreviation of the label for its repetition at the beginning of a system.

[2018-06-18 10:36] rettinghaus commented on #514
@lpugin Yes, exactly. This was the idea.

[2018-06-18 14:01] pe-ro commented on #514
Ok, now I understand.  You're expecting this --
[code]
when the verse numbering system changes.  And in the case where it doesn't change, `<labelAbbr>` wouldn't be present, right?  The idea is that the `<labelAbbr>` element would affect the verse numbering at the next system break, wherever/whenever that might happen, correct?

It's not likely to be a problem, but, of course, this markup could occ

[2018-06-18 18:50] rettinghaus commented on #514
@pe-ro It could and should occur in any measure.
Many editors combined refrains in print, so that not only the label itself would change, but indeed the "repeated" label would, too (that is, if it should be repeated on system starts).
![591b](https://user-images.githubusercontent.com/7693447/41555791-0e57d786-7339-11e8-957a-5bbff18de071.jpg)

[2018-06-18 20:03] rettinghaus commented on #363
I definitely think we need something like this, but don't no, what the best approach could look like.
In LilyPond there are tons of spacing options, e.g. the `SpacingSpanner`:

    average-spacing-wishes (boolean):

        #t

        If set, the spacing wishes are averaged over staves.
    base-shortest-duration (moment):

        #<Mom 3/16>

        Spacing is based on the shortest notes in a

[2018-06-19 04:05] craigsapp commented on #525
An interesting potential change in the future is to rename `note@accid` to `note@accid.vis`, and this would map to the element `accid@vis`.  This would be parallel to `note@accid.ges` which could map to the element `accid@ges`.

[2018-06-19 08:02] ahankinson commented on #525
The creation of bare vis and ges attributes is a pretty significant change with wide ranging effects. accid.ges is not the only gestural attribute on an element so you would only be able to encode a single (implicit) visual or gestural parameter.

I'm a strong -1 on that, @craigsapp

[2018-06-19 08:59] ahankinson commented on #525
Pinging @rettinghaus

[2018-06-19 09:33] rettinghaus commented on #525
Sorry for being late.
As `<keySig>` has `@visible` there's basically no need for `@sig.showchange`.
Then `@keysig.show` and `@keysig.showchange` on `staffDef` would serve a special function, which could justify a different naming, i.e. leave the rest as it is.
However, if we want to take the step in renaming `@key.xxx` into `@keysig.xxx` we should also rename `keySig@key` into `keySig@fifths` to c

[2018-06-19 09:35] ahankinson commented on #525
`@visible` and `@sig.showchange` are (I think) two different functions. The first is whether it's visible; the second is whether to show the cautionary symbol should the change happen over a system break.

[2018-06-19 09:44] rettinghaus commented on #525
@ahankinson yes, I understand. But that applies mainly to dynamic rendering and should be an `scoreDef` or `staffDef` option like `@mnum.visible`, `@multi.number` or even `<staffDef>/<labelAbbr>`.
I don't think it makes much sense to mark/change it on every `keySig` in a complex score.

[2018-06-19 10:22] rettinghaus commented on #511
As we encode *music with text* in MEI and not *text with music* this approach makes sense.

[2018-06-19 10:22] #511 closed, assigned to nobody

[2018-06-19 12:00] rettinghaus commented on #311
Works now with 7f7f26d

[2018-06-19 12:05] ahankinson commented on #311
Ha. Yes, it does, by completely disabling them.

[2018-06-19 12:07] rettinghaus commented on #311
Perhaps the subject should be changed to "fix unit tests" or something?

[2018-06-19 13:29] ahankinson opened #534 "Duplicate ID in MEI Source"
@rettinghaus -- `xml:id="KR"` is already used for Kristina Richts. Could you please adjust mei-source.xml and use a different xml:id value? Thanks.

[2018-06-19 13:45] lpugin commented on #525
We currently have:
* on staffDef / scoreDef
[code]
* on key
[code]
* on keySig
[code]
All the ones on staffDef / scoreDef that appears in both key and keySig are ambiguous. Also, it seems that `staffDef@key.sig` is often used for `keySig@sig`

[2018-06-19 15:59] #534 closed, assigned to nobody

[2018-06-24 18:41] craigsapp opened #536 "hand bracket"
Is it currently possible to encode the following bracket in MEI?

<img width="176" alt="screen shot 2018-06-24 at 11 41 57 am" src="https://user-images.githubusercontent.com/3487289/41822371-570c612c-77a3-11e8-8358-9fd60c264e83.png">

This bracket means to play all of the notes in both staves (between the brackets) with the same hand (the left hand in this case, although that is not explicitly spe

[2018-06-24 19:09] pe-ro commented on #536
You can encode it using `<line>` elements placed relative to the notes it encompasses --
[code]
This is a commonly occurring symbol though, so it might be worthwhile to consider a way to capture it somewhat more semantically by creating a dedicated element for it, say `<vBracket>`.  However, this would only really amount to giving a name to a class of `<line>` with particular values for `@form`, `

[2018-06-25 07:23] ahankinson opened #538 "Remove Guidelines XML"
Now that we've shifted to the Guidelines repo, we should remove the old TEI XML for the guidelines. (It will still be available in the version history). This is so contributors do not get confused where they need to make their updates.

I will do this, but would like to get approval from other members of the technical team first.

[2018-06-25 07:25] rettinghaus commented on #538
Makes sense.

[2018-06-25 07:27] lpugin commented on #538
(It thought this was already done.) 👍

[2018-06-25 07:28] ahankinson commented on #538
Nope: https://github.com/music-encoding/music-encoding/tree/develop/source/guidelines

I will file a PR later today.

[2018-06-25 08:00] kepper commented on #538
+1

[2018-06-25 11:56] ahankinson commented on #536
It seems to me that the proper way to encode it would be to use 'fingering'. The line is a visual artefact, but it doesn't actually capture its meaning.

[2018-06-25 13:42] craigsapp commented on #536
It would be "hand" rather than "fingering", since the line indicates to play with the same hand, not with any specific finger.  Here are lines associated with fingers:

<img width="587" alt="screen shot 2018-06-25 at 6 34 30 am" src="https://user-images.githubusercontent.com/3487289/41853089-c52ad2bc-7841-11e8-9514-3b2b09aedb63.png">

(encoded with `fing@extender`)

[2018-06-25 13:50] craigsapp commented on #536
This is also related to text markings for hands:

"m.g." means play with left hand:

<img width="823" alt="screen shot 2018-06-25 at 6 46 32 am" src="https://user-images.githubusercontent.com/3487289/41853607-022d4284-7843-11e8-8a06-40d5b77e5bb4.png">

And "m.d." for right hand.  This example also includes a half-bracket line to indicate the notes it applies to:

<img width="477" alt="screen shot

[2018-06-25 16:55] craigsapp commented on #536
Here is a case of three hand brackets within two beats:

<img width="245" alt="screen shot 2018-06-25 at 9 57 33 am" src="https://user-images.githubusercontent.com/3487289/41864190-deb8ee5a-785d-11e8-9039-55e519ed07ea.png">

[2018-06-26 06:12] #538 closed, assigned to ahankinson

[2018-06-30 03:42] craigsapp opened #540 "Dynam + Dir"
How should the "sempre pp senza sordini" be encoded in this example:

<img width="566" alt="screen shot 2018-06-29 at 8 41 53 pm" src="https://user-images.githubusercontent.com/3487289/42121102-98ce038a-7bdc-11e8-9dba-efc2dc7c8f6f.png">

(also notice the difference in font between the text on each side of `pp`).

[2018-07-06 19:11] #514 closed, assigned to nobody

[2018-07-06 19:38] #449 closed, assigned to nobody

[2018-07-07 09:28] rettinghaus opened #1607 "Invalid html in guidelines"
The *Declaration* fields in the guidelines, that present the ODD snippet, are invalid, because `<div>` is not allowed within `<code>`.

Example:
http://music-encoding.org/guidelines/dev/data-types/data.uneumename.html

[2018-07-17 10:14] jacekiwaszko1 opened #542 "Chord with one augmentation dot missing"
How should a chord missing one augmentation dot be encoded?  This question related to this example:

![one-dot-chord](https://user-images.githubusercontent.com/29225574/42811217-4df7ec18-89ba-11e8-869e-ee34544f3d3d.png)

The B-flat octaves in the first measure only have an augmentation dot on the upper B-flat and not the lower (either it was forgotten by the typesetter, or the typesetter removed i

[2018-07-18 07:40] ahankinson commented on #542
It depends on what you want to capture.

If you just want to capture the editorial intervention on the digital edition, you can use the `<supplied>` tag to record the dot.

If you want to record more information about it, you could use the `<sic>` and `<corr>` elements to record that it's a correction from the original.

[2018-07-22 09:20] craigsapp opened #1604 "beam@num.place meaning"
`beam@num.place` (and `beam@bracket.place`) can have the value `above` or `below`.  What exactly does this mean?   The documentation says that it is in relation to the noteheads:

<img width="726" alt="screen shot 2018-07-22 at 11 00 06 am" src="https://user-images.githubusercontent.com/3487289/43044091-05b15702-8da0-11e8-86fc-eb635d459d6c.png">

`@place` in other cases are related to a fixed vert

[2018-08-06 08:31] o-sapov commented on #542
You may encode it with different @dots values on `<chord>` and `<note>`s

`<chord  dur="4" dots="1" >`

`           <note pname="b" oct="5" accid.ges="f" dur="4" dots="1"/>`
`           <note  pname="c" oct="5" accid="n" dur="4" dots="0"/>`
`            <note  pname="e" oct="4" dur="4" dots="0"/>`

`</chord>`

![screenshot_2](https://user-images.githubusercontent.com/24490898/43705693-8beba74a-996

[2018-08-06 08:41] o-sapov commented on #542
To capture an editorial intervention or a mistake is on my opinion rather difficult here. You cannot wrap @dots in an `<supplied>` or `<sic>` and there is no `<dots>`. And if you ecode it like this:

 `<supplied>`
     `<note pname="c" oct="5" accid="n" dur="4" dots="0"/>`
`</supplied>`

it would mean that the _note_ is supplied.
The same problem is with some other attributes. For instance, @num,

[2018-08-06 08:59] ahankinson commented on #542
There is a `<dot>` element:

http://music-encoding.org/guidelines/v3/elements/dot.html

[code]

[2018-08-06 11:11] jacekiwaszko1 commented on #542
And this solution:
[code]
wouldn't mean that one note goes on longer than the others?

EDIT:

apparenly there's `@dots.ges` atribute in MEI now (see #499). What do you think about that?

[code]

[2018-08-06 11:27] lpugin commented on #542
`@dots` and `@dur` on the first note is not necessary in my opinion. Also, if you want to be explicit about the editorial aspect you can do:
[code]
Regarding the duplication of values, they cannot be fully avoided as long as attributes are used. When you encode the correction of the pitch of a note, the duration `@dur` is duplicated, for example. It is a question of granularity and again, the only

[2018-08-06 16:28] o-sapov commented on #542
@jacekiwaszko1:

yes, in my example I encoded notes with different durations (violin).

[2018-09-12 14:45] axgeertinger commented on #403
I am terribly sorry to arrive far too late to the party once again (Perry closed this issue twice already – long ago...), but the bracket issue has bothered me ever since this discussion, so I dare asking a question. So, `<ligature>` is no longer supported in MEI 4.0.0; instead, `<bracketSpan func='ligature'>` is introduced. Am I correct in saying that the only way to encode a ligature in the futu

[2018-09-12 14:49] axgeertinger commented on #403
Perhaps I should have put my comment here instead: #500

[2018-09-13 03:01] craigsapp commented on #500
@axgeertinger wrote:

No, I don't think so, but @pe-ro can clarify:  `<ligature>` is for encoding music that contains a visual ligature (as in the originally notated music).  The `<bracketSpan func='ligature'>` is used to encompass a series of individual (modern) notes that were originally in a ligature, but now are notated as separate notes, and the original intent is indicated by a bracket in th

[2018-09-13 13:45] axgeertinger commented on #500
Ah, now I see it! Yes, indeed `<ligature>`is still available in the mensural module. My apologies for missing that.

[2018-09-20 13:10] peterstadler opened #544 "alter definition of `@auth.uri` to allow for pointing at resources directly"
Currently, the (dev version of the) Guidelines define `@auth.uri` to be a "web-accessible location of the controlled vocabulary or other authoritative source for this element or its content".

Participants at the MEI workshop at Paderborn suggest to explicitly allow pointing at resources directly. This would enable encodings like

[code]

and is especially useful for resources which are not addres

[2018-09-23 09:09] riedde opened #545 "meiHeader: key, clef, timeSignature in source"
In the header elements like `<incip>`, `<key>`, `<clef>` and so on are only available in `<workDesc>/<work>`. Thinking about sketches or other sources where the work is unknown, it might be helpful to save that the `<sourceDesc>/<source>`-level as data. This would be also helpful for encoding sources that contain material of the same work in different transpositions.

[2018-09-23 10:29] ahankinson commented on #545
[edit: code formatting for tags]

[2018-09-23 10:37] ahankinson commented on #545
The work isn’t actually unknown — you would have it in front of you. That it is unnamed or unattributed doesn’t make it less of a work, in the bibliographic sense.

The distinction is that the source elements describe the source material, while the work elements describe the intellectual material. You can see this in the child elements of source: physical description, history, etc.

[2018-09-23 17:57] kepper opened #546 "Clarification of FRBR levels / source"
On various occasions, members of the MEI Community have expressed confusion that `<workDesc>` is a first-level child of `<meiHead>`, while `<sourceDesc>` is nested into `<fileDesc>`. This has historical reasons: Before the introduction of FRBR into MEI, `<source>` was used to describe both the material used in the preparation of the file, and sources (prints, manuscripts, …) for which there is an

[2018-09-23 20:50] pe-ro commented on #546
Here's what I have so far --

[code]
As you can see from the comments, there's quite a bit going on here.  The gist of it, however, is that

1. `<source>` is replaced by a choice of bibliographic elements: `<bibl>`, which is completely unstructured, and `<biblStruct>` which is structured like a bibliographic citation.
2. `<biblStruct>` is compatible with the TEI element of the same name.
3. `<work

[2018-09-24 09:02] ghost opened #547 "Documentation Development"
In the Guidelines (Development Status) there is no possibility to click on the elements when you come from the Guideline side.

Certainly it works from the element list.

[2018-09-24 09:07] ghost opened #548 "<bindingDesc>"
As discussed at the ESS Metadata Workshop the `<bindingDesc>` should not be nested in `<physMedium>` but only in `<physDesc>`.

[2018-09-24 09:09] ahankinson commented on #548
[Edit: code formatting]

[2018-09-24 09:18] ghost opened #549 "<hand>"
As discussed at the ESS Metadata Workshop it would be good to have a `<classification>` at `<hand>` to remark if the information is sure or not. At RISM there are the 4 levels: "sicher" "ermittelt" "mutmaßlich" and "fälschlich".

[2018-09-24 09:21] ghost opened #550 "contradiction in the explanation of <hand>"
In the `<hand>` the explanation of `@resp` is contradicting the remarks at the end.

[2018-09-24 09:29] ahankinson commented on #549
[Edit: Code formatting. When putting XML tags in an issue, they won't appear unless you put "backticks" (`) around them.]

[2018-09-24 14:43] ndubo opened #551 "Stem notes in different layers together"
It is a common practice in music engraving when two parts or instruments are notated on a common staff they are usually treated as separate entities, i.e. with individual stems pointing in opposite directions. Once they reach the interval of the octave or more, however, the parts are stemmed together, as can be seen in the example (Mozart, K. 425/1) below. The traditional approach in MEI would be

[2018-09-24 16:14] pe-ro commented on #551
`commonStem` seems to generic to me.  How about calling the new attribute "stem.event" to match a change of name from "stem.with" to "stem.staff"?  For example:
[code]
I presume that redundantly specifying `@stem.event` on the corresponding events in layer 1 (note[id="31455"] and note[id="31461"]) is ok.  Is that correct?

Also, the rests in layer 2 are literally the same rests as those in layer 1

[2018-09-26 07:22] pe-ro opened #552 "Move manuscript description elements from physMedium to physDesc"
Based on feedback from the metadata IG, the manuscript description elements introduced earlier should be moved from `<physMedium>` to `<physDesc>`.

[2018-09-26 07:47] #552 closed, assigned to nobody

[2018-09-26 09:13] riedde commented on #545
Understanding the element `<work>` as a place were musical details of a source can be encoded I would agree. Differentiating source material and intellectual material might be my problem, because in my opinion, there is some kind of transition. Source descriptions contain very often information about the key.
On searching the documentation I noticed that `<work>` appears at different places. `<wor

[2018-09-26 09:13] #545 closed, assigned to nobody

[2018-09-26 10:00] kepper commented on #545
You should really turn on Schematron validation. With that turned on, work can only be used as component of a work. This is only allowed to benefit from the ODD class system, instead of having individual models for work, expression, manifestation (=source) and item. All this belongs to the FRBR model in MEI. I'd recommend that you read the corresponding chapter in the Guidelines , which should giv

[2018-09-26 12:15] lpugin commented on #551
I am not too sure about `@stem.event`. What about `@stem.sameas`?

[2018-09-26 13:04] pe-ro commented on #551
Before we get too far into discussion of the name, let's consider an alternative plan --

[code]
It may be a disadvantage that the **event** says "stem me with an (as yet undetermined) event on some other **layer**", not "stem me with another (explicitly indicated) **event**".  I think this implies a certain processing model; that is, that the processor can locate the proper event which shares the

[2018-09-26 16:32] ndubo commented on #551
I like the `@stemwith.layer`, especially when it can be applied to `layer`. It makes coding of a great deal of wind parts in orchestral scores really easy. I would also keep the reciprocal specification in both layers, maybe not mandatory, but as a recommended practice.
I would just like to mention that encoders need to make sure they do not use `@stem.dir` on notes of  both layers - if they want

[2018-09-26 17:09] ahankinson commented on #551
Don’t we want to stem with another note, not another layer?

It would be difficult, for example, to know which note in the first layer we want to stem with in the second layer, and vice versa. You can’t rely on counting the number of notes in each.

[2018-09-26 17:42] kepper commented on #551
In general it should be a note with the same tstamp. Admittedly, if that isn’t provided in the file, some processing is required to obtain it. However, maintaining a reference to a layer (usually either “1” or “2”) is much easier than a reference to an xml:id. So targeting layers is a compromise, but we need to find the right balance. I think it’s a good compromise, but it’ll be interesting to hea

[2018-09-27 12:25] ndubo commented on #551
The old `@stem.with` (MEI 3.0.0) for staff simply used the visual parameters "below" and "above" as values; in this regard, pointing directly to the `layer` as in `stemwith.layer="1"` looks even more precise since it establishes a logical connection.
For the old `@stem.with` the question what notes to connect was not considered a problem, so it should not be a problem for the new one either. Howev

[2018-09-27 12:37] kepper commented on #551
Just to clarify: I wasn't suggesting to insert tstamp values, I was just referring to what's necessary when you want to identify the corresponding note in a layer referenced by its n attribute.

[2018-09-27 12:58] ahankinson commented on #551
1. Shouldn't all notes in the above example have `stemwith.layer`? They are all being stemmed *with respect* to the notes in the other layer; that they're stemmed in opposite directions is functionally immaterial.
 2. The editor may have done this for purely visual purposes; rendering the quarter notes in the first beat of the second measure is done because doing it like the first beat in the firs

[2018-09-27 13:25] kepper commented on #551
2. I don't think it's possible to infer the required information from notes in different layers pointing in the same `@stem.dir`. Sometimes you may have three layers (piano…), where you still want to have them rendered as independent layers. Of course the stems may go up and down only, so you typically move the horizontal position of one of the noteheads just a bit, so that the stems don't overlap

[2018-09-27 13:37] ahankinson commented on #551
2. Sure; I was more suggesting that the motivation for putting stems in different directions should be surfaced. There may be an argument for making the control external to the notes or the layers. (`<stemSpan>`, anyone? :-D )

[2018-09-27 14:19] ndubo commented on #551
1. @ahankinson Maybe I do not get your point, but this is what comes to my mind.
Of course the way the notes are stemmed is a sort of interaction and they are stemmed with respect to each other - and to the style of engraving that is chosen.
A passage like the following one with all stems in opposite direction (K. 385/01 2fl/2ob/2cl)
![385b](https://user-images.githubusercontent.com/33256891/46151

[2018-10-01 17:24] rettinghaus commented on #551
I see the need to address this for single events with shared stems on the encoding side.
However for automatic engraving it is much simpler to say "try to combine stems whenever possible", i.e. when two parts share the same rhythm, share their stems, otherwise don't.

In LilyPond there's a feature called [`partcombine`](http://lilypond.org/doc/v2.19/Documentation/notation/multiple-voices#automatic

[2018-10-01 18:01] pe-ro commented on #551
After thinking a little more about this, I remembered that there's already a `@layerscheme` attribute on `<staffDef>` that could be used for this purpose.  We could add a new value, something like "2c" or "2s" (for 2 layers combined or displayed with shared stems).  I'm not sure how to handle more than 2 layers, though.  Also, this wouldn't work in those situations where you want to engage this be

[2018-10-01 18:51] craigsapp commented on #551
One aspect that should be considered/discussed is the relationship between scores and parts in MEI files.  What @ndubo wants is closer to the concept of encoding parts, and then assembling a score from the parts.

The MuseData system does this: the primary encoding effort is done by encoding the parts.  These parts in turn are then compiled into a score, merging separate parts onto a single staff.

[2018-10-03 18:19] craigsapp commented on #469
Has this been implemented yet?   Invisible ties are a required feature of MEI.

[2018-10-03 20:08] pe-ro opened #553 "Make members of att.bibl members of att.responsibility"
One should be able to use `@resp` on most (or perhaps all) elements in the header to indicate the individual or group responsible for encoding the metadata.

Please note that `@resp` is independent of `@auth` and `@auth.uri`.  While the latter attributes typically point at entities described outside the MEI document, `@resp` associates the element that bears it with an entity named inside the MEI

[2018-10-04 15:35] craigsapp opened #554 "barLine@barplace and barLine@tstamp questions"
In the following example, how should the second barlines between the two parts be aligned:

<img width="797" alt="screen shot 2018-10-04 at 8 24 26 am" src="https://user-images.githubusercontent.com/3487289/46484650-044a9100-c7af-11e8-8574-a2d7cd63e949.png">

In other words, the E4 note on the top staff should be split in half for the placement of the barline.

In theory this looks like it should

[2018-10-04 17:22] rettinghaus opened #555 "publisher of a work"
`<work>` allows the following elements as direct children:
* arranger
* author
* composer
* contributor
* editor
* funder
* librettist
* lyricist
* sponsor

Why then is `<publisher>` not allowed?
IMHO this is an inconsistency. While some elements totally make sense as children of work, others don't, e.g. why is `<editor>` allowed whilst `<publisher>` isn't?

I want to compile a simple straight-for

[2018-10-05 16:15] pe-ro commented on #555
@rettinghaus, in the FRBR universe a work is an abstract concept.  Therefore, publisher isn't necessary here because manifestations are published, not works.

We might consider removing `<editor>` from the list of allowed roles in this context, depending on whether the editorial role is considered a creative one.

Compiling a list of works inside `<work>` is highly questionable, so `<biblList>` sh

[2018-10-06 19:58] rettinghaus commented on #555
Thanks @pe-ro. I was aware of the "abstract concept" of a work and completely agree. But coudn't one argue that the first edition of a work is somewhat documentary? Well, I'll rethink my structure.

Anyway the other point still remains: An edition is always a form of interpretation of a work. So even if you take an `<editor>` as a creative contributor this would then apply to a manifestation.
On t

[2018-10-06 20:07] ahankinson commented on #555
A dedicatee is not a creator, it is the person to which the object is dedicated. I may dedicate a work to Queen Elizabeth II, and she may never know, nor ever even care.

[2018-10-07 15:32] pe-ro commented on #555
As @ahankinson points out, a dedicatee is a passive participant in the creation of a work, so I see no reason to add `<dedicatee>` to `<work>`.

On the other hand, while its use should be rare, I think there's reason to keep `<editor>` because this person can be an active participant in a work's creation.  I'm not thinking of the traditional editorial role in the creation of a manifestation, but r

[2018-10-07 20:28] pe-ro commented on #550
@Irmlind, Could you be more specific please?

[2018-10-07 20:32] pe-ro commented on #550
I made some changes, but I'm re-opening this issue to get more feedback from Irmlind.

[2018-10-07 21:23] ghost commented on #550
the attribute Responsibility igenerally s described: "Indicates the agent(s) responsible for some aspect of the text's creation, transcription, editing, or encoding. Its value must point to one or more identifiers declared in the document header. One or more values from data.URI, separated by spaces."

Here is mentioned that it is also the agent for the text's creation.

But in the remarks there i

[2018-10-07 21:31] pe-ro commented on #550
Then I fixed it.  (Yay!)  I just removed any mention of the creation of the text.

The description of `@resp` now reads --
[code]

The description of `<hand>` now says --
[code]

[2018-10-07 21:36] pe-ro commented on #548
Fixed by 71e6c4c5ed5a377dc884bb2a8619faaba084e726

[2018-10-07 21:36] #548 closed, assigned to nobody

[2018-10-07 22:16] pe-ro commented on #549
@Irmlind, I don't think "fälschlich" (false) is particularly useful. It's better if editorial assertions are stated positively, e.g. , `<composer cert="high">Beethoven</composer>` because it's impossible to prove a negative statement.  If what the editor/cataloger wishes to say is that "once upon a time this was attributed to Beethoven, but now I know differently", then instead of   `<composer cer

[2018-10-07 22:24] pe-ro commented on #547
@Irmlind, Since there's now a separate repository for the Guidelines, I suggest you raise an issue there.

[2018-10-07 22:24] #547 closed, assigned to nobody

[2018-10-08 07:45] ghost commented on #549
Hallo Perry,

the terms for qualifying the decision „sicher“, „mutmaßlich“ und „fälschlich“ und „ermittelt" were mentioned by Roland Schmidt-Hensel and come from RISM therefore I have written it. But your proposal is good. Thank you!

I wish you a god week
Best regards Irmlind

[2018-10-08 09:11] kepper commented on #550
Well, using `@resp` to identify the editor responsible for identifying the writer is consistent with other uses of `@resp` and should stay like that. But: Don't we lack a mechanism to link to that writer then? Relying on the roles specified in a `<respStmt>` isn't sufficient, I believe, but that's the only way I see (besides `@corresp`, which isn't specific enough either). If there are different h

[2018-10-08 15:54] pe-ro commented on #550
Then I think we need additional attributes.  Conveniently, TEI provides several --

- scribe
- scribeRef
- script
- scriptRef
- medium
- scope

See http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.handFeatures.html for fuller descriptions.

[2018-10-09 15:15] pe-ro opened #556 "Add new module for genetic encoding"

[2018-10-09 15:27] pe-ro opened #557 "Add new <metaMark> element in the edittrans module"
A meta-mark is a graphical or textual statement with additional / explanatory information about the       musical text. The textual consequences of this intervention are encoded independently via other means;  that is, with elements such as `<add>`, `<del>`, etc.

[2018-10-09 15:31] #557 closed, assigned to nobody

[2018-10-09 18:25] #556 closed, assigned to nobody

[2018-10-09 18:39] lpugin commented on #556
That was quick ;-)

[2018-10-09 22:42] pe-ro commented on #549
Fixed by 128e577a09a19ebbc05f466eca30c166785ec5b2

[2018-10-09 22:42] #549 closed, assigned to nobody

[2018-10-10 00:50] pe-ro commented on #556
It's been simmering in the kitchen for about 2 years now.  Time to serve it up. 😀

[2018-10-10 20:42] pe-ro commented on #553
Actually, `@resp` was made available on all elements by commit d82a5b5.

[2018-10-10 20:42] #553 closed, assigned to nobody

[2018-10-10 21:04] #544 closed, assigned to nobody

[2018-10-10 21:31] pe-ro commented on #550
One approach is to use all the TEI attributes (perhaps also adding `@mediumref` to maintain the pattern). In this case, the attributes without "ref" in their name would take textual values, while those with "ref" take one or more URIs. Typically, the URIs would reference other elements in the MEI file, but it would be possible to point outside as well.  `@scriberef` cannot point to a `<person>` el

[2018-10-11 14:33] pe-ro commented on #1604
[code]
Exactly.  The position of the number is independent of the stem direction.

Am I correct in assuming that what you're looking for is a way to create a dependency between the stems and the tuplet numbers?  That is, if the stems are flipped, then so is the position of the numbers?

We might be able to accommodate both by allowing `@num.place` to use 2 sets of values: "above" and "below" for a

[2018-10-11 15:01] pe-ro commented on #540
There are several options:
1. capture the dynamic marking only as text in a different style embedded in a directive; i.e.,
`<dir tstamp="1">sempre <rend rend="bold italic">pp</rend> senza sordini</dir>`
2. treat the whole thing as a dynamic, where the text other than "pp" is rendered differently; i.e.
`<dynam tstamp="1"><rend fontname="roman">sempre</rend> pp <rend fontname="roman">senza sordini</

[2018-10-11 17:44] #546 closed, assigned to nobody

[2018-10-12 21:02] craigsapp commented on #1604
Yes

Here are the possible cases:

<img width="1179" alt="screen shot 2018-10-12 at 12 02 58 pm" src="https://user-images.githubusercontent.com/3487289/46893709-b70d9580-ce26-11e8-9d8a-8464b90ffeec.png">

A, C, F, G: "below"
B, D, E, H: "above"
A, E: "tail"
B, F: "head"

tail/head assignments are confusing for C, D, G, and H.  Perhaps they can be defined by the direction of the first note in the b

[2018-10-13 20:39] pe-ro commented on #1604
Makes sense.  But, how should Verovio / other processor deal with mixed stem direction AND relative number placement?  For instance, a value of "head" or "tail" for case G?  Should "head" and "tail" be disallowed by Schematron when stem directions are mixed?

[2018-10-13 20:43] craigsapp commented on #1604
For "head"/"tail" mapping to "above"/"below" in the case of a mixed-direction beam:

So:

C, H: "tail"
D, G: "head"

[2018-10-13 20:52] pe-ro commented on #1604
Sorry, missed that sentence.  The exact mapping strategy doesn't matter as long as Verovio is consistent.

Is this something that should be in 4.0 or can it wait 'til the next revision?

[2018-10-13 21:41] craigsapp commented on #1604
There is no hurry, so it can wait until the next version.

[2018-10-14 04:15] pe-ro commented on #525
At present in v. 4, we have --

- on `<scoreDef>` and `<staffDef>`:
[code]
- on `<key>`:
[code]
- on `<keySig>`:
[code]
I think our targets should be --
- on `<scoreDef>` and `<staffDef>`:
[code]
- on `<key>` (no changes):
[code]
- on `<keySig>`:
[code]
This proposal
- prefaces the analytical attributes with "key." on `<scoreDef>`, `<staffDef>`, and `<keySig>`;
- groups the attributes related to t

[2018-10-15 14:08] pe-ro commented on #536
`<arpeg>` and `<bracketSpan>` set the precedent for a `<vBracket>` (or similarly named) element.  Using `<vBracket>` with a `@func` attribute for all instances of vertical brackets (with the caveats below) is probably better than creating a different element for each kind of bracket, but it depends on the attributes necessary for differently-functioning brackets.

`<vBracket>` is not intended for

[2018-10-15 14:12] pe-ro commented on #542
This support request has been answered, so I'm closing the issue.

[2018-10-15 14:12] #542 closed, assigned to nobody

[2018-10-15 14:23] pe-ro commented on #494
`<dynam>` is a member of the `att.extender` class in MEI v. 4 which, along with `@vgrp`, answers this question.  Closing now ...

[2018-10-15 14:23] #494 closed, assigned to nobody

[2018-10-15 14:31] pe-ro commented on #61
Addressed in 4c5a821

[2018-10-15 14:31] #61 closed, assigned to ahankinson

[2018-10-15 14:34] pe-ro commented on #540
No new features being required or requested, I'm closing this one.

[2018-10-15 14:34] #540 closed, assigned to nobody

[2018-10-15 16:26] craigsapp opened #558 "beam@cue"
For beams, there are notational cases where cue-size notes and regular-sized notes are attached to the same beam.  It would be useful to control the beam type (cue or regular) with a `beam@cue` attribute:

Here is the ODD code for it:

[code]

Having this in MEI 4.0.0 would be good ;-)

Discussed in verovio issues https://github.com/rism-ch/verovio/issues/808

[2018-10-15 17:22] #558 closed, assigned to nobody

[2018-10-15 21:21] craigsapp opened #559 "mensural timestamps"
For mensural notation, how do `@tstamp`s work?   In other words do `<barLine>` events in the layer restart the timestamp calculations, or do timestamps only get reset at the start of the parent container of a staff/layer (so timestamp would start at a section that then contains a staff/layer).  Also, the time units for `@tstamp` is the bottom of a time signature.  What happens if there is no time

[2018-10-15 22:03] pe-ro commented on #559
@craigsapp, All very good questions.  I don't feel qualified to answer them, so I hope we'll both get some help from others. 😀

Some observations --
- if there's no time signature, one may be assigned (probably also made invisible) for calculating alignment, but we may need to work out exactly how this should be done ;
- `@dur` on `<space>` can take multiple values (as it can in several other plac

[2018-10-15 23:39] craigsapp commented on #559
Yes, this would be good.  I have a related issue for verovio which has some discussions of proposals:
 https://github.com/rism-ch/verovio/issues/853

Meaning that a 5 breve rest would be:?

[code]

But a general problem would be that breves in mensural music have an indeterminate duration.  Basically they can be imperfect, consisting of two semi-breves, or perfect, consisting of two semi-breves.

[2018-10-16 02:23] pe-ro commented on #559
[code]
Sorry, I gave you incorrect information.  `@dur` currently only allows multiple values on `<mSpace>` and control events; that is, those elements that cut across the measure hierarchy, like `<dir>`, `<slur>`, etc.

We could consider allowing `@dur` to take multiple values on `<space>` too, or in all cases, or maybe just when the mensural module is invoked, but using `@dur.ppq` is likely to b

[2018-10-16 02:33] pe-ro commented on #559
@craigsapp, As an added bonus, you'll finally have your context-less time stamp. 😀

[2018-10-16 02:38] craigsapp commented on #559
🎉 🎈

[2018-10-16 02:47] craigsapp commented on #559
There is some advantage to that.  Humdrum allows partial layers, while MEI requires complete layers (or at least padding at the start of a measure to align notes in the layer with other layers).  So I have to implement automatic splitting of the implicit padding `<spaces>` when converting to MEI.  Allowing a list of durations would mostly avoid that problem and allow one padding `<space>` where I

[2018-10-16 02:48] craigsapp commented on #559
I got distracted by something...  Probably it was supposed to be something like "unless you don't change the mensuration signs in the score".

[2018-10-18 04:56] craigsapp opened #560 "Finger change elision marks"
How should finger change markings in the following examples be encoded in MEI:

First where there is an elision mark below the numbers (but not necessarily a gap between the numbers as would be found in lyrics, since they are single-digits):

![fing-switch3](https://user-images.githubusercontent.com/29225574/45431925-e3f44e80-b6a8-11e8-8583-a5e744d2896b.png)

And a similar case, but the elision is

[2018-10-19 14:08] ndubo commented on #551
@craigsapp, it is not exactly may intention to assemble scores from parts but rather the opposite operation, extract - at some point - parts from scores. However, I am an advocate of a layer=part relationship at least for orchestral scores (the situation is different for piano music as there is often no exact part writing).
The 'a 2' passages in the examples of @craigsapp (Beethoven, m. 3) can be

[2018-10-19 14:39] craigsapp commented on #551
It is not your intention yet, but it will be eventually :wink:.  It takes much more experience for a person to encode a score properly to be able to extract parts rather than the other way around.  But in any case, it is definitely desirable to add features to the score-orientation of the data to make extracting parts easier.

[2018-10-20 15:19] pe-ro commented on #551
There's another way we could approach this issue --

As of v. 4, control events, like `<dir>`, `<harm>`, etc., carry `@part` and `@partstaff` attributes.  These attributes make it possible to assign these elements to a part which is explicitly encoded in a `<part>` element or that will be generated.

I haven't worked out the details yet, but this solution could also be applied to events, like `<no

[2018-10-24 12:21] ndubo commented on #551
I am a little unhappy about the direction the discussion has taken. Therefore, I would like to state, for the record, once more: I am not interested in assembling scores from parts and I am not interested in extracting parts from scores.
My focus is on a better way of encoding orchestral scores. My goal was to get rid of this back and forth from one measure to the next between one and two layers,

[2018-10-24 13:58] craigsapp commented on #551
It is alarming that you are unhappy, as there are larger implications to what you want beyond your immediate needs.  MEI has not been used yet in a significant way to encode orchestral music, so the discussion here is relevant to your topic.  I am not disagreeing with what you are saying, and the general proposed procedure is terrific, dependent on @pe-ro and @lpugin approval of specifics, but I a

[2018-10-24 15:20] pe-ro commented on #551
@craigsapp is right -- while we're considering how to handle the "stemmed with" issue, we should also think about the larger implications.

@ndubo, There's a great deal of inconsistency in MEI.  But, it's due to the fact that there's a lot of schizophrenia in music notation.  Notation is designed to be compact, so it munges together a bunch of things that are difficult to pull apart.  Specifically

[2018-10-31 15:00] ndubo commented on #551
@craigsapp: Thanks for the clarification about _generating_ and _encoding_.
We are not encoding from scratch but we usually start with a kind of raw MEI that requires a certain amount of post processing. The raw MEI is obtained from a coding in a totally different format which, in fact, uses a 'common stem' attribute (as we found out later). This may or may not be inspired by MuseData but it shows

[2018-11-06 21:00] musicEnfanthen commented on #1607
Where did you find this information that `<div>` is not allowed within `<code>`? By definition, every html element should be allowed inside `<code>`?

[2018-11-06 21:02] ahankinson commented on #1607
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code

'Phrasing content' are the only allowed tags within `<code>`. If you want to embed other tags you have to character-encode them, e.g., `&lt;div&gt;`

[2018-11-07 08:18] musicEnfanthen commented on #1607
I see. It's not allowed as genuine html tag.

If I understand it right, the divs and spans in the _Declaration_ part are used for styling purposes (indentation, coloring)?  How is it generated? Automatically?

[2018-11-07 08:29] kepper commented on #1607
All that is generated automatically on commit. However, the code in there is quite old, and has been adjusted several times to different needs (it's been generating the starting point for our Guidelines PDFs in the past, amongst other things). There have been all kinds of issues in the past, and given that I've essentially build a similar thing last week twice (the only hard part is resolving the

[2018-11-07 08:57] lpugin commented on #1607
Could we use LibMEI and have a guidelines output for it?

[2018-11-07 09:16] ahankinson commented on #1607
Given that the libmei processor is essentially just a bunch of xpath queries in Python, I don't think there is much advantage to that over XSLT.

[2018-11-11 21:56] craigsapp opened #565 "Using `@staff` with cross-staff slurs, ties, etc."
When a slur (or tie) starts on one staff and ends on another staff, how should this best be described in `@staff` of the element?  Most likely a list of the staves involved should be given (at least for the two endpoints of the element), but I am wondering if it is preferential/recommended/allowed to specify the order of the staves in such cases?

Here is an example:

<img width="1144" alt="screen

[2018-11-13 21:51] pe-ro commented on #565
The order of values is significant, so `staff="1 2"` indicates a slur that starts on staff 1 and ends on staff 2.  But `@staff` is useful  _only when timestamps alone are provided_, i.e., `<slur tstamp="1" tstamp2="3m+1"/>`. Since you're using `@startid` and `@endid`, `@staff` is unnecessary.

I'd also say that I don't think your example is actually a staff-crossing slur.  From a visual standpoint

[2018-11-13 21:51] #565 closed, assigned to nobody

[2018-11-13 22:43] craigsapp commented on #565
Thanks.  That sounds good.

Yes, but I was attaching the end to a note that is technically on staff 1, so it seems confusing as to what the ending staff number should be, since that note is displayed on staff 2.  But in any case, removing staff number when not using timestamps seems to be a good idea.  A counter-example would be if you want to extract staves from a full score, knowing the staff nu

[2018-11-13 23:02] pe-ro commented on #565
Use of the word "technically" means you're over-thinking it.  😀  As far as the slur is concerned, the ending note is on staff 2, in spite of the fact it's encoded with the chord on staff 1.

My previous answer could've been more succinct: If a slur is attached to a staff / staves; that is, at particular points in time, not necessarily to any events, then `@staff` is necessary to say which staff /

[2018-11-18 11:35] kepper commented on #1607
just a brief update – I'm working on this (including music-encoding/guidelines#46, music-encoding/guidelines#59, music-encoding/guidelines#35 and potentially music-encoding/guidelines#28), and hope to have something ready for review soon. No need for someone else to pick these up

[2018-11-20 10:57] aseipelt opened #566 "<accid> in <add> not allowed when i delete MEI.mensural in MEI 4.0"
When I customize my schema based on MEI 4.0 by deleting the MEI.mensural module, it is not allowed to nest `accid` in `add`. I think the problem is that model.layerPart.mensural, that is between these elements, is part of the MEI.mensural module (all other model classes in this case are part of MEI-shared) and I don't want to have MEI.mensural in my customization.

[2018-11-27 21:45] pe-ro opened #567 "Allow <availability> within <imprint>"
`<availability>` was inadvertently omitted from `<imprint>` in v. 4.0.0.

[2018-11-27 21:46] ahankinson commented on #567
Are you thinking of adding it in?

[2018-11-27 21:46] pe-ro commented on #566
Oops!

I think we can remedy this in v. 4.1.0.

[2018-11-27 21:51] pe-ro commented on #560
This was always my assumption.  At present, there's no way to control for those cases where this doesn't apply, but we can add an attribute in att.fingGrp.vis to account for them.

[2018-11-27 21:53] pe-ro commented on #559
This may be addressed in v. 4.1.0, but I'm assigning it to v. 5.0.0 for now because I can't be certain whether we'll need to break backward compatibility.

[2018-11-27 22:06] pe-ro commented on #525
This issue didn't get fully resolved in v. 4.0, so I'm kicking it down the road to v. 5.0.

[2018-11-27 22:31] pe-ro commented on #281
Closing for now due to lack of interest. 😄

[2018-11-27 22:31] #281 closed, assigned to nobody

[2018-11-27 22:35] pe-ro commented on #567
Yes, that's why I added the MEI 4.1.0 milestone.

I've also added milestones to other things I think can be fixed in 4.1 or 5.0.

[2018-11-28 18:30] pe-ro commented on #567
`<unpub>` can be added as well.  This will make `<imprint>` the analog of `<pubStmt>` in the context of `<bibl>`.

[2018-12-05 12:03] rettinghaus commented on #1607
HTML errors/warnings
* still `div` within `code`
* `div` does not allow `xml:space="preserve"`
* `script` may omit `type` attribute.

[2018-12-05 12:45] kepper commented on #1607
that's the code I kept ;-)

[2018-12-13 15:49] lpugin opened #568 "Make bracketSpan@func member of att.braketSpan.log"
It would be handy for consistency to have `@func` that is currently a direct member of `bracketSpan` becoming a member of `att.bracketSpan.log` instead. Anything against it?

[2018-12-18 18:06] pe-ro opened #569 "Add @occurs attribute on attUsage element"
Provides a place to store the number of times an attribute occurs in a document or corpus.  The value is contextual; that is, when `<attUsage>` is the child of `<tagUsage>`, the value will indicate how many times the attribute occurs on the element named by `<tagUsage>` and, when `<attUsage>` is the child of `<tagsDecl>`, the value is the number of times the attribute occurs in the file.  In the l

[2018-12-18 18:14] pe-ro commented on #569
An analysis of the markup for Mozart's Quartett in B für 2 Violinen, Viola und Violoncello, 1. Satz, KV 458/01:

[code]

[2018-12-18 18:21] pe-ro commented on #569
The enumeration of attribute values in the preceding example is "kludgey".  It would be better to permit more-specific markup, perhaps based on TEI's `<valList>` element:

[code]
It would also be helpful to add `@occurs` on `<valItem>` to provide an indication of how many times this particular value is used.

[2018-12-18 19:49] lpugin commented on #569
What would be the typical usage of this? It looks to me like something you can evaluate dynamically with an xpath query and not something to store statically in the file. I must be overlooking something ...

[2018-12-18 19:59] pe-ro commented on #569
One need not store it in the file.  But the point of `<tagsDecl>` is that one *can store it* if he likes.  One might dynamically generate a `<tagsDecl>` fragment, put it in a separate file (where it can get updated periodically), and XInclude it in the MEI header upon publication.

Also, it's helpful to have a strictly-defined form for sharing the results of a dynamic query, even if one doesn't st

[2018-12-18 20:02] pe-ro commented on #569
A `<tagsDecl>` fragment could also be part of a quality control workflow.

But, you're right, it doesn't have to be (and maybe shouldn't be) stored in the MEI file it describes.

[2018-12-18 20:10] lpugin commented on #569
This makes sense. Thank you for the explanation

[2018-12-18 20:11] pe-ro commented on #569
You're welcome.

[2018-12-19 10:17] axgeertinger opened #1605 "Clarify use of @dur.ges"
data.DURATION.gestural and data.DURATION both refer to data.DURATION.cmn (and data.DURATION.mensural). That restricts the values of `@dur.ges` to the same as those for `@dur`, which doesn't make sense, does it?

[2018-12-19 10:18] axgeertinger commented on #1605
See guidelines: [https://music-encoding.org/guidelines/v4/data-types/data.duration.gestural.html](https://music-encoding.org/guidelines/v4/data-types/data.duration.gestural.html)

[2018-12-19 14:39] pe-ro commented on #1605
In v. 3.x `@dur.ges` was a hodge-podge of many datatypes.  In v. 4.0 `@dur.ges` is restricted to alternative values for `@dur`.  That is, `@dur.ges` only allows the same datatypes as `@dur`.  Values of `@dur.ges` that require dots should also use `@dots.ges`.

Additional attributes (`@dur.metrical`, `@dur.ppq`, `@dur.real`, and `@dur.recip`) are provided for other datatypes.

[2018-12-19 15:03] axgeertinger commented on #1605
OK. Perhaps the difference between these should explained in the guidelines? The description of `@dur.ges` only says that it "Records performed duration information that differs from the written duration. "  That might lead ignorant users like me to think that it records actually performed durations (relative time like ppq or absolute like seconds). Maybe it is sufficient to add that it records th

[2018-12-19 15:32] craigsapp commented on #1605
That sounds good.  More technically, it functions as an alignment duration between notes in different layers when the visual duration is different than needed, so it is not purely a performance duration, but also needed for score rendering.

[2018-12-19 15:39] ahankinson commented on #569
What's the use case for this? I've been puzzling over this for a bit and can't seem to identify a case where this would be used.

The closest I can come to is that this is more like a "meta-MEI" use... data that describes the mechanics of an encoding, not necessarily the encoding itself. Is that correct?

[2018-12-19 16:39] pe-ro commented on #569
Yes.

[2018-12-19 16:40] ahankinson commented on #569
Would that be better encapsulated as a separate specification, then?

[2018-12-19 16:43] pe-ro commented on #569
Changed my mind --

No, it describes the encoding in a very precise and machine-processable way -- the namespaces, elements, attributes, and attribute values (if the changes proposed here are adopted) used.

[2018-12-21 12:21] axgeertinger commented on #1605
Changed the issue title accordingly

[2019-01-06 16:20] pe-ro opened #571 "Add schematron to flag under/overfull measures w/o @metcon"
As indirectly suggested by @craigsapp in https://github.com/music-encoding/sample-encodings/issues/9.

[2019-01-06 16:32] pe-ro opened #572 "Add <pgFootLast>"
Currently, MEI can deal with a page header and footer on the first page, and on the following pages.  However, sometimes a page footer on the last page is unique; that is, different from those on the preceding pages.  Adding `<pgFootLast>` would make it possible to represent this situation.

For example:
[code]
could be used for a score with a unique header on the first and last pages and repeatin

[2019-01-06 23:52] ahankinson commented on #572
`<pgFoot type="last">`? Or something along those lines?

[2019-01-07 00:31] pe-ro commented on #572
Nope.  That assigns special meaning to a particular value of `@type`, which is a no-no.

What's your objection to `<pgFootLast>`?

[2019-01-07 00:34] ahankinson commented on #572
The "something along those lines" meant "maybe not type, but something else?"

I tend to think of elements as "things" and attributes as "and this what makes this thing different than the others." It's still a page footer -- it's just a specific type of page footer.

[2019-01-07 01:36] pe-ro commented on #572
That works -- sometimes.

But at what point does a "thing of a certain type" become a new thing?  Horse-drawn carts and jet airplanes are both types of conveyance, but are vastly different in practical terms.  In this case, a pattern has already been established -- we have `<pgHead>` for a header on the first page, `<pgHead2>` for headers on subsequent pages, `<pgFoot>` for footers on the first pa

[2019-01-07 01:43] ahankinson commented on #572
I wouldn't necessarily say that 'pgFoot' and 'pgFoot2' are great examples to follow either, but wasn't going to open that can of worms :). If you want to take lessons from page layout, you would have footers for even/odd (left/right in an opening), and then perhaps one for a single page. The first and last are then styled based on being, well, first and last.

Would we also need to have pgHeadLast

[2019-01-07 02:01] pe-ro commented on #572
You're in charge now.  Do what you feel is appropriate.

[2019-01-07 02:06] craigsapp commented on #572
That is a good point.

What example case of this?  Related to this I am wondering where someone would place lyrics for secondary verses that are sometimes given after the music? Verovio has page footers implemented, so they can go there (if the last footer is available), but that is a hack in terms of what a footer usually means.

And somewhat related, I get requests for footnotes.  Is there a way

[2019-01-07 02:33] ahankinson commented on #572
What I think is appropriate is to have a conversation about it and work through it. Don't you think that's the best way to tackle this?

[2019-01-08 12:56] jamesopstad opened #573 "Dynamics, slurs etc. without measures."
What is the correct way to add slurs, dynamics etc. when there is no measure element? It seems these need to be contained by a measure element but I am encoding music without measures, as stated here - https://music-encoding.org/guidelines/v3/content/mensural.html#mensuralData.

[2019-01-21 13:49] lpugin opened #574 "Making <when> element refer to arbitrary points in the score"
In `<when>` elements (for example within ./music/performance/recording/clip) it is possible to refer to elements such as `<note>` with `@data`. However, a way to refer to a point where no musical event occurs is currently lacking. It would be useful to have a way to refer to a point in a timestamp manner.

[2019-01-21 14:15] kepper commented on #574
What you expect to have absolute timestamps, that is, from the beginning of the work (or more precisely, `<mdiv>`), or would you want to refer to the measure first, and then specify the timestamp in relation to that measure (leaving aside older repertoires for now…)?

[2019-01-21 14:27] lpugin commented on #574
A simple way would indeed to refer to a measure first and then to be able to add a timestamp value. Referring from the beginning could be possible, but then timestamp would need to have the form of `tstamp2`, and I don't think this would be ideal in all cases.

[2019-01-21 14:31] kepper commented on #574
Would it be sufficient to allow tstamp-based values for `@interval` (plus `@inttype`, which ultimately means within https://music-encoding.org/guidelines/v4/data-types/data.betype.html), in conjunction with `@since` referring to the measure?

[2019-01-21 14:39] lpugin commented on #574
Yes, I think this would work. The definition of `when@since` also needs to be revised because now it explicitly requires the reference to be another `<when>` element.

[2019-01-21 14:45] kepper commented on #574
We need to step back a little. First I though that it would be sufficient to have a `<when>` for every measure, and then just relate to that. However, we're expressing that "relative" time in two ways here: Both as actual time (milliseconds in the audio), and as musical time (timestamps within the measure). Since `@since` is intended to capture the first, it can't to the second at the same time. L

[2019-01-22 15:58] craigsapp commented on #1604
This also applies to `tuplet@num.place`.  See issue https://github.com/rism-ch/verovio/issues/987

[2019-01-24 19:26] craigsapp commented on #573
This is related to issue https://github.com/music-encoding/music-encoding/issues/559, where the problem is kicked down the road into the future :-)

The problem is that `@tstamp` is useless (or virtually useless and very fragile) in measureless encodings.  In those sorts of situations, you must instead use `@startid` and `@endid` to place floating elements into the music.  To do this, assign an `x

[2019-01-24 19:37] craigsapp opened #575 "Incipit letters"
How should an incipit letter be encoded in MEI, with the long-term goal of rendering such an image in an MEI notation renderer such as veorvio?  (this is a question that someone asked me that I am fowarding for discussion and later reference when implementing such a feature, so I am not the originator of the question).

Here is a random example from the web:

<img width="507" alt="screen shot 2019

[2019-01-24 23:45] ahankinson commented on #575
Hi Craig, I think this would be a question better posed to the mailing list. Could you send a message out there to solicit feedback? Thanks.

[2019-01-24 23:45] #575 closed, assigned to nobody

[2019-01-24 23:51] ahankinson commented on #573
The suggestion of doing `@startid`/`@endid` is a good one. The `<slur>` element can appear in `<layer>`, so it does not need to be in `<measure>`.

See: https://music-encoding.org/guidelines/v3/elements/slur.html

A note, however, that `<slur>` does appear within the CMN module, so it is not really part of the Mensural symbol repertoire.

[2019-02-06 12:20] axgeertinger opened #576 "make composer, author etc. member of att.name?"
According to the guidelines, `<composer>`, `<author>` and similar elements are supposed to contain the _name_ of a contributor. Shouldn't these person-related elements be members of att.name in order to allow reference to authority files, then? Or are they meant to contain `<persName>` elements marking the actual names in their contents?

[2019-02-08 09:06] craigsapp commented on #520
Perhaps `<coda>` and `<segno>` elements should be added to MEI, since these two symbols are common in music notation and are graphical (`<dir>` elements are more suitable for text).

[2019-02-22 21:09] wergo opened #577 "Tuplets with a space and a note are not valid"
I came across a Schematron error that occurs when you have only a space and a note within a tuplet, as sometimes required for secondary voices in CMN piano repertoire.

<img width="838" alt="tuplet-with-one-element" src="https://user-images.githubusercontent.com/45632600/53271052-8fd8a600-36ed-11e9-9ab7-f65092c57a06.png">

Please see my example in which I made the tuplet brackets and numbers visib

[2019-02-27 11:27] jamesopstad commented on #573
@craigsapp I tried to recreate your example but when I render it with Verovio it logs:

`[Warning] Element 'slur' is unknown and will be ignored`

What am I doing wrong? Here is the full file.

[code]

[2019-03-12 12:29] lpugin opened #578 "Empty beam element with sameas attribute is not valid"
Validation fails with empty `<beam>` elements using `@sameas`
[code]
![image](https://user-images.githubusercontent.com/689412/54200106-d2aac400-44ca-11e9-8fe3-0ce84807fd51.png)

[2019-03-12 14:24] craigsapp commented on #578
The main problem is a duplicated ID:

<img width="1073" alt="Screen Shot 2019-03-12 at 10 23 53 AM" src="https://user-images.githubusercontent.com/3487289/54207559-bd28a080-44b0-11e9-9fff-124dd2193a53.png">

The id for the first sameas beam should be  `beam_45426b`.

[2019-03-12 14:51] lpugin commented on #578
Here is a complete and shorter example:
[code]
Validation (Schematron) triggers:
[code]

[2019-03-13 08:52] cividini commented on #551
The solution of this issue is crucial for the encoding of orchestral works, so I would like to continue the discussion and to keep the focus on it. I’ll try to reconsider three main questions in the issue from the point of view of a music editor with no special technical skills in MEI (as unfortunately I am):

1. Parts from score or Score from parts?
2. Different representations of two (or more) p

[2019-03-13 13:50] craigsapp commented on #551
Yes, that should be the guiding principle.  Encoding the notes for each part in separate layers as @ndubo proposes is one encoding technique that helps with the score/part transformation (as well as for conversion between different score styles).  Stemming controls for notes in different layers that minimize encoding effort would be useful, such as encoding the preferred stemming model between lay

[2019-03-14 20:43] raffazizzi opened #579 "What happened to content model of `<source>`?"
I was looking at [`<source>`](https://github.com/music-encoding/music-encoding/blob/develop/source/modules/MEI.header.xml#L2320) in v4 and noticed that it cannot contain `<identifier>` and `<titleStmt>` any longer. Is this intentional?

[The examples on the Guidelines](https://music-encoding.org/guidelines/v4/content/header.html#headerSourceDescription) still show those elements as children of `<s

[2019-03-14 21:02] kepper commented on #579
Hi Raff, yes, this is intentional. In v4, the double use of `<source>` for a) describing the material used to encode the file at hand and b) a frbr:manifestation has been removed. Now, `<source>` serves only the first purpose, while the latter is dealt with by a new `<manifestation>` element. `<source>` allows bibliographic content (`<head>`, `<bibl>`, `<biblStruct>`,…), while `<manifestation>` is

[2019-03-15 08:56] bwbohl commented on #579
The discussion leading towards this descision (in part) took l´place in:
* https://github.com/music-encoding/music-encoding/issues/478
* https://github.com/music-encoding/music-encoding/issues/61
* https://github.com/music-encoding/music-encoding/issues/546

[2019-03-15 08:59] bwbohl opened #1496 "Revise documentation of `<source>`"
In v4.0.0 `<source>` underwent heavy changes that are not reflected in the documentation. This leads to confusion (cf. https://github.com/music-encoding/music-encoding/issues/579) and should be fixed

[2019-03-19 09:14] bwbohl opened #580 "anyStart schema should allow @meiversion on any element"
When encoding an MEI snippet according to the anyStart schema there is no way to encode the MEI-version used. In the MEI-all specs @meiversion is allowed on all respective starting points, mei, meiCorpus, meiHead, music

[2019-03-26 13:33] sonovice commented on #390
Since the issue was closed: Is there now a defined order of elements that should normally be used?

[2019-03-26 13:37] kepper commented on #390
In MEI v4, this is handled by `@aboveorder` / `@beloworder` on `<staffDef>`. C.f.

- https://music-encoding.org/guidelines/v4/attribute-classes/att.staffitems.html
- https://music-encoding.org/guidelines/v4/data-types/data.staffitem.html

[2019-03-26 13:39] kepper commented on #390
which means no, there is no default order. MEI very rarely prescribes defaults – they're usually too context-dependent…

[2019-03-26 15:59] yockyrr opened #581 "Build fails on SVG error"
Attempting to build with command ``PATH_TO_XMLLINT="/usr/bin/xmllint" PATH_TO_JING="/usr/bin/jing" PATH_TO_SAXON_JAR="../saxon9he.jar" PATH_TO_TEI_STYLESHEETS="../Stylesheets" ./build.sh build`` gives this error:
[mei-err.log](https://github.com/music-encoding/music-encoding/files/3008993/mei-err.log)

[2019-03-29 11:25] frakel commented on #581
Hi,
the essential message in your error log is this line:
`Caused by: org.xml.sax.SAXParseException; systemId: http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/svg11.rng; lineNumber: 6; columnNumber: 3; The element type "hr" must be terminated by the matching end-tag "</hr>"`

To my opinion this is a bug in the TEIC/Stylesheets project as it does not resolve correctly the mentionned URL.

[2019-03-29 11:26] ahankinson commented on #581
Is this a problem with the value currently set in the MEI sources?

[2019-03-29 11:37] frakel commented on #581
yes, seems to  be:
[code]

[2019-03-29 11:40] yockyrr commented on #581
Can confirm that changing SVG links to HTTPS solves my issue.

[2019-03-29 11:45] ahankinson commented on #581
OK; thanks. I'll flag this as an urgent change

[2019-03-29 11:49] ahankinson opened #582 "Create MEI 4.0.1 release"
I think we need to do a critical bugfix release to push the fix in #581 out to master.

[2019-03-29 11:50] ahankinson commented on #581
I've filed a new tracking issue for this fix to go into the MEI core, so I will close this issue now.

[2019-03-29 13:13] ahankinson commented on #581
Re-opening so we can have a specific issue to fix, as per the Slack conversation.

[2019-03-29 13:37] #581 closed, assigned to ahankinson

[2019-03-29 13:39] bwbohl commented on #578
it's valid when you use `@copyof`. Makes me wonder about the difference of these two attributes, gotta do some research on that…

my _advocatus diavoli_ asks: why do you actually want to use `@sameas` why not just encode the beam?

[2019-03-29 13:48] lpugin commented on #578
It is used when to instruments are playing unisson. Here is an example:
![image](https://user-images.githubusercontent.com/689412/55237101-a06ec580-5231-11e9-8d94-cbdd4fa404ab.png)
[code]

[2019-03-29 14:05] bwbohl commented on #578
Ok, plausible! Although You encode visual or logical domain?
Anyway for a best practice of encoding, I'd consider wrapping this in `choice`but that might be due to my editorial background.

But the issue here is true both in v3.0.0 and v4.0.0 – same error reported. Question is: is it a bug or intentional?

[2019-03-29 14:08] bwbohl commented on #582
is there anything else that might be bugfixed on the same go? Maybe we should revisit all open issues

[2019-03-29 14:12] lpugin commented on #578
I am not convinced, but I am OK to have `@sameas` as a second best practice. The approach is to encode the visual domain: you can see only one beam on the score - but to provide semantic information that two instruments are behind it. It also makes instrument extraction (e.g., sound) easy.

I would call it a bug.

[2019-03-29 14:14] bwbohl commented on #578
ok, sorry the image didn't load as I was in a bad connection area.
In that case I'm with you and consider it a bug!

[2019-04-01 12:24] bwbohl commented on #573
as this is almost valid MEI except for the fileDesc missing in meiHead), have you tried filing an issue in the verovio GitHub repository (https://github.com/rism-ch/verovio)?

[2019-04-01 12:41] lpugin commented on #573
Verovio does not support slurs in un-measured.

[2019-04-01 20:20] bwbohl commented on #573
have to correct myself, it's almost valid MEI 3.0.0 ;-)

@lpugin th for clarifying

[2019-04-01 20:20] #573 closed, assigned to nobody

[2019-04-04 09:16] bwbohl commented on #554
could you please provide the corresponding XML?

[2019-04-04 09:23] bwbohl commented on #555
Gathering from our past discussions about this I thought we kept those elements for library catalog "compatibility". @pe-ro 's proposal:

Brings me back to my general thoughts about responsibilities, being:
- get rid of all "specialised" elements (those mentioned by @rettinghaus )
- generally stick to the concept of `<respStmt>`

[2019-04-04 09:24] bwbohl commented on #555
of course always referring some standard controlled vocabulary to indicate the kind of responsibility

[2019-04-04 15:55] craigsapp commented on #554
Here is an approximate MEI encoding:

[code]

The current rendering of this MEI data in verovio:

<img width="1034" alt="Screen Shot 2019-04-04 at 11 51 58 AM" src="https://user-images.githubusercontent.com/3487289/55569437-93d5eb80-56cf-11e9-8ee8-4fe9c6085f34.png">

The final target rendering mit Mensurstrich:

<img width="924" alt="Screen Shot 2019-04-04 at 11 31 06 AM" src="https://user-images.

[2019-04-04 16:55] kepper opened #1606 "Revise chapter 14: Integrating MEI with other Standards and Formats"
This issue can be used to discuss chapter 14 of the guidelines.

[2019-04-05 08:19] wergo commented on #582
May I point to #577 that I raised some time ago. It seems to be a quick fix (if I did not misunderstand). Thanks

[2019-04-05 08:30] wergo commented on #582
May I additionally point to this discussion https://github.com/rism-ch/verovio/issues/774.

`<pedal>` elements should be allowed to have `@vgrp` attributes, just as `<dynam>` and `<hairpin>` are.

[2019-04-08 10:58] ndubo opened #585 "Temporary split of staves in orchestral scores"
We recently started a discussion with @lpugin on the private github account of the Digital Mozart Edition about score layout when instruments notated on a single staff are temporarily notated on separate staves. We already exchanged a few arguments in favor of either split or merged staves. Since this is an important subject not just for rendering but also the for the encoding of orchestral scores

[2019-04-12 13:35] bwbohl commented on #577
Hi @wergo thanks for spotting this! It pretty obviously seems to be an oversight. Although we will not fix it in v4.0.1, as we want the critical bugfix asap, we will fix this in a soon to come bugfix release.

[2019-04-12 14:22] ahankinson commented on #582
Fixed.

[2019-04-12 14:22] #582 closed, assigned to nobody

[2019-04-12 14:24] ahankinson commented on #579
Can this be closed now?

[2019-04-12 14:33] ahankinson commented on #83
We've moved the guidelines, and are going in a different direction. Closing this one.

[2019-04-12 14:33] #83 closed, assigned to ahankinson

[2019-04-12 14:36] ahankinson commented on #222
We're going a different direction with the guidelines, so I'll close this one.

[2019-04-12 14:36] #222 closed, assigned to ahankinson

[2019-04-12 14:37] #311 closed, assigned to nobody

[2019-04-12 14:48] ahankinson commented on #567
This sounds to me like a bug and can be addressed in 4.0.2

[2019-04-12 16:28] craigsapp commented on #1606
Changes from MEI 3.0 to MEI 4.0 and other edits to do for chapter 14

- [ ]  `@dur.ges`values using PPQ tick durations should now be changed to `@dur.ppq` for MIDI in particular (but also applies to MusicXML `<duration>`, so probably add a section for MusicXML to discuss that).
- [ ]  Maybe mention `@dur.real` and relation to MIDI.
- [ ]  `@midi.instrnum`  has changed significantly in MEI 4: Now i

[2019-05-10 12:36] rettinghaus opened #590 "key signatures: written vs. gestural"
Perhaps I missed something, but I don't understand why
`scoreDef@key.accid` is of `data.ACCIDENTAL.GESTURAL`
whereas `keySig@accid` is of `data.ACCIDENTAL.WRITTEN`.

[2019-05-19 15:10] rettinghaus opened #592 "data_KEYSIGNATURE vs data.KEYFIFTHS"
82e2648261eaf6afecc32e976789dd67fbab36bc seems to be part of an unfinished revision which we discussed in #525. Same with #590.

I think we should revert these changes for 4.0.2 and (if we manage to clear things up) move them to 5.0.0.

[2019-05-19 15:33] ahankinson commented on #592
Would reverting them break backwards compatibility?

[2019-05-22 19:36] lpugin commented on #474
If there is no objection I will make a PR in order to add `bTrem/@slash`.

[2019-05-30 09:52] kepper opened #594 "MEI Basic: allow @barthru on staffGrp"
Currently, MEI Basic disallows `@barthrue` on staffGrp. That should be available.

[2019-05-30 09:55] kepper opened #595 "MEI Basic: allow @key.mode on <scoreDef>"
`<scoreDef>` and `<staffDef>` should allow @key.mode

[2019-05-30 10:31] kepper opened #596 "discuss attributes for <scoreDef> that should go into MEI Basic"
Some preliminary decisions have been taken to build a straw man for MEI Basic, based on the discussions in Oxford in late 2018. However, there are plenty of attributes that are still allowed in MEI Basic, and others might be missing. Here's a list of _available_ attributes:

- `@aboveorder`
- `@bar.len`
- `@bar.method`
- `@bar.place`
- `@beam.color`
- `@beam.rend`
- `@beam.slope`
- `@beloworder`
-

[2019-05-30 12:10] kepper commented on #596
I didn't want to be the first to comment, but here I go. I would recommend to restrict MEI Basic as much as possible. This means removing the MIDI module, all page / system layout, the tuning, lyrics and music font info, everything that has a ".default" in it, everything about beams, etc. I'm not so sure about the `@mm` (metronome marking) and the `@optimize` (compress system by omitting resting s

[2019-06-05 12:40] lpugin opened #597 "Making distinction between visual and gestural domains with a notationtype.ges attribute"
In some cases, it can be desirable to make the distinction between the visual and the gestural domains regarding the notation type as given in staffDef@notationtype. It can be the case when dealing with notations from transition phases in music history, for example between mensural to cmn. One might want to have the visual domain of one notation type, but having the gestural domain of another. Thi

[2019-06-05 13:48] lpugin commented on #590
@rettinghaus how changing this would break compatibility? In other words, 4.1 or 5.0?

[2019-06-05 13:50] lpugin commented on #474
No objection apparently. Can this go in 4.1?

[2019-06-05 13:59] rettinghaus commented on #590
I don't think this would break anything in existing encodings. So more like `4.0.2`?

[2019-06-05 14:09] rettinghaus commented on #592
A complete revert wouldn't work, as there were changes afterwards. I think we just should revert the name to `data.KEYSIGNATURE` to match the revert from `@fifths` to `@sig`.

[2019-06-05 14:17] rettinghaus commented on #474
Yes, please!

[2019-06-07 08:51] kepper commented on #474
I think the main argument for `//bTrem/note/@slash` was (and still is) that an OMR application (or a human transcriber) may recognize that slash _visually_, but not necessarily the _logical_ meaning. If this comes to knowledge later on, it's easier to wrap everything in one additional element than to split the existing information up between the existing note and the (still required) wrapping cont

[2019-06-12 15:00] craigsapp opened #600 "Percussion clef vertical placement for cases where there are an even number of staff lines"
Clefs can be positioned vertically with the `staffDef@clef.line` option.  This allows vertical placement with respect to lines on the staff which is good for pitched clefs; however, for percussion clefs where there are an even number of lines on the staff, the clef cannot be positioned in the middle of the clef as is desired.

Perhaps it is necessary to implement an option `staffDef@clef.loc` or t

[2019-06-17 10:34] axgeertinger opened #601 "control events in non-measured notation?"
The MEI 3 model.controleventLike has changed somewhat into model.controlEventLike.cmn in MEI 4. It seems that its members are no longer available in non-measured notation (within `<layer>`, for instance, where they used to be allowed) except inside editorial markup. Is that intentional? Specifically, my question is: Where can I put a fermata in square (neume) notation?

[2019-06-17 11:48] ahankinson commented on #601
I think the short answer is that fermata weren't really considered as part of the neume notation module, and are only really available in CMN. I'm not sure that 'mixed mode' CMN/Neumes were tested.

You could probably create your own customization that re-enables the CMN module with the neumes module. Or are you already using the `mei-all.rng`?

[2019-06-18 10:57] axgeertinger commented on #601
Yes, I'm using `mei-all.rng`. The problem is that the members of model.controlEventLike.cmn are not allowed in `<layer>` as they used to be in MEI 3. Would it be a problem to reinstate that option? I'd prefer not having to customize the schema. Below is an example from what we are encoding. Fermatas in lines 2 and 5.
![jesp30](https://user-images.githubusercontent.com/3779074/59676778-9624ed80-91c

[2019-06-21 10:43] axgeertinger commented on #555
This discussion started long ago, but it came up once more at the MEC in Vienna (see the group's [report](https://lists.uni-paderborn.de/pipermail/mei-catalog-ig/2019-June/000047.html) on the mail list). The current change from `<respStmt>`  as the place for those "responsible for creation or realization of the intellectual or artistic content" (MEI 3) to `<contributor>` for "individuals, institut

[2019-06-21 11:02] axgeertinger commented on #555
BTW, I agree with @pe-ro that a publisher can never be a relator at work level, at least not literally in the role of the actual publisher of a work. That's happening at manifestation level. Not so sure about the editor; isn't the modern critical editor, for instance, creating a new expression through the process of editing? But again: I am not sure we are the ones to dictate such limitations.

[2019-06-21 11:52] kepper commented on #555
I also never liked the "shortcuts", and personally wouldn't stand against their scheduled removal from MEI. From my perspective, the ideal workflow for that would be like so:

1. Ask people on MEI-L to fill a form on their current use of these elements – if a majority of MEI users uses them, and prefers to do so in the future, it's a harder sell to remove them, I think.
2. Mark them as deprecated

[2019-06-21 13:20] axgeertinger commented on #555
@kepper, interesting thought. I am a little worried, though, that `<relation>` may actually be too generic, heading us in a direction where everything may be described as a relationship between two things/entities/persons/whatever. Also, `<relation>`  must not have any content, so what would the encoding of the composer's name, for instance, look like? Something like this?
[code]
Not pretty with m

[2019-06-21 13:33] kepper commented on #555
Admittedly, I haven't thought a whole lot about it yet ;-) I was thinking of it as independent pieces of information, so something like

`<persName xml:id="WMA">Wolfgang Amadeus Mozart</persName>`

and elsewhere

`<work xml:id="KV525" label="Eine kleine Nachtmusik"/>`

and again elsewhere

`<relation rel="cmp" plist="#WMA" target="#KV525"/>`

I agree that this isn't really well-thought so far, and

[2019-06-21 13:37] kepper commented on #555
Obviously, this also suffers from the need for a rather loose interpretation of responsibility in "responsibility statement"…

[2019-06-21 13:41] axgeertinger commented on #555
I don't know. I like the straightforwardness of
[code]
which works without any idrefs (assuming that the target of the relation defaults to the relevant parent like with `<composer>` etc.), but let's have some more opinions on it.

[2019-06-24 20:18] lpugin commented on #597
Do we need (more) discussion on this? If there is not objection I will make a PR.

[2019-06-25 09:45] rettinghaus opened #602 "how to encode mixed key?"
As `@key.sig.mixed` is gone in MEI4 it's not quite clear how to encode a key signature consisting of a sharp and a flat.

[2019-07-17 13:56] kepper opened #603 "Reconsider units on graphic"
In v4, `<graphic>` has no `@unit` anymore. Instead, one has to trust that `@width` and `@height` provide a unit with values like "3000px". If no unit is provided, the default unit is "vu" (according to https://music-encoding.org/guidelines/v4/data-types/data.measurementabs.html), which makes no particular sense on `<graphic>`. When upconverting files from v3 to v4, the current XSLT does not append

[2019-07-31 08:43] bwbohl commented on #306
see also #311

[2019-07-31 08:47] bwbohl opened #1602 "Provide markup examples and illustrations within elementSpec"
Adding this from closed issue in music-encoding/music-encoding, cf. https://github.com/music-encoding/music-encoding/issues/222

[2019-07-31 09:10] bwbohl commented on #1599
After the basic review of the guidelines to match MEI v4 we could introduce a new Repertoire chapter for percussion. Do you have anyone in mind who encodes percussion notation in MEI and could write that chapter?

[2019-08-01 18:06] rettinghaus opened #605 "mensural and other clefs"
`data.CLEFSHAPE` seems to be a bit too limited, especially referring to the Unicode symbols.
One could argue, that `@notationtype` affects the clef also, but you can't define a specific (mensural) clef within `staffDef` without using `@glyph.*` on `clef`

for a variety of clefs see:
https://www.w3.org/2019/03/smufl13/tables/medieval-and-renaissance-clefs.html
http://lilypond.org/doc/v2.19/Document

[2019-08-14 15:03] kepper opened #1413 "Revise structure of metadata chapter"
@axgeertinger, @irmlindcapelle and I where thinking to adjust the structure of the metadata chapter to the following:

- Intro
- Structure of the MEI Header (here we explain the different areas of the header)
- Works
- Sources
- The MEI file (`<fileDesc>`, `<revisionDesc>`)
- FRBR
- Authority Files
- Common Concepts (here we explain things like `<respStmt>`
- Typical Use Cases (here we plan to giv

[2019-08-20 10:01] rettinghaus opened #607 "Tick barlines"
AFAICS there is no easy way to have tick barlines.

Please add value `tick` to `data.BARRENDITION`

See:
https://w3c.github.io/smufl/gitbook/tables/barlines.html
https://usermanuals.musicxml.com/MusicXML/Content/EL-MusicXML-bar-style.htm

[2019-08-22 10:02] axelberndt opened #608 "sforzato as articulation"
Typical instantaneous dynamics instructions define a loudness that applies to all notes at and after the position of the instruction until another instruction specifies a different loudness level. This is different with sforzato. It (often if not usually) applies to only the notes at but not after its position, similar to an accent. Basically, sf is the "maximum accent". I suggest adding `<valItem

[2019-09-03 13:35] wergo opened #610 "Allow @vgrp as attribue of <pedal>"
`@vgrp` should be a valid attribute of `<pedal>` (just as of `<dynam>` and `<hairpin>`), so that vertical alignment is also formally possible. Verovio renders already it correctly, see discussion at rism-ch/verovio#774.

[2019-09-10 19:14] rettinghaus commented on #602
If the only way for this should be `<keyAccid/>` it's ok, but this has to be documented.

[2019-09-10 19:14] #602 closed, assigned to nobody

[2019-09-10 19:30] bwbohl opened #1535 "Document changes in encoding mixed key signatures"
As pointed to in https://github.com/music-encoding/music-encoding/issues/602 @key.sig.mixed is no longer available in MEI v4. A way of encoding mixed key signatures should be provided in the guidelines.

[2019-09-10 19:57] bwbohl commented on #579
closing as now referenced from guidelines issue

[2019-09-10 19:57] #579 closed, assigned to nobody

[2019-09-10 20:11] bwbohl commented on #567
Well, neither `<availability>` nor `<unpub>` had been allowed inside `<imprint>` in MEI v3… so actually tis would be two new features, ergo **MEI v4.1**

I think they would both make sense, though. Referencing an unpublished bibliographic item in `<source>` is common when dealing with e.g. autograph sources and being able to encode `<accessRestrict>` (child of `<availability>`) could also make sen

[2019-09-10 20:16] bwbohl commented on #596
I completely agree. I'd keep `@mm`, though but remove `@optimize`

[2019-09-10 20:42] bwbohl commented on #525
What I really do question though how `keySig/@visible`can actually make any sense with `<keySig>`being defined as "Written key signature"

[2019-09-11 07:44] lpugin commented on #1535
One question I have on this topic is the meaning of keySig@sig="mixed". This should be clarified too. When do we expect the attribute value to be used, and what does it mean?

[2019-09-11 10:05] rettinghaus commented on #1535
@lpugin When `<keyAccid>` is used, there is no need for an additional `<keySig sig="mixed">`. Question is: do one wants/needs to say, that there *is* a mixed key without  bothering to encode the used accidentals explicitly?
Being part of `data.KEYFIFTHS` I wonder if the value `mixed` does make sense at all …

[2019-09-11 11:23] lpugin commented on #1535
I don't think `data.KEYFIFTHS` is really appropriate for this. I would go back to `data.KEYSIGNATURE`
https://music-encoding.org/guidelines/v3/data-types/data.keysignature.html

[2019-09-11 13:59] rettinghaus commented on #1535
see music-encoding/music-encoding#592 and music-encoding/music-encoding#598

[2019-09-11 18:36] bwbohl commented on #1535
Please keep the discussion on the matter itself in the issues mentioned by @rettinghaus. This ticket is only about adding a description for mixed key signatures to the guidelines

[2019-09-12 06:23] bwbohl commented on #577
fixed with 35c27fa

[2019-09-12 06:23] #577 closed, assigned to bwbohl

[2019-09-12 06:27] bwbohl commented on #592
Pasting discussion from guidelines repo https://github.com/music-encoding/music-encoding/issues/1535

@lpugin :

@rettinghaus

Being part of `data.KEYFIFTHS` I wonder if the value `mixed` does make sense at all …

@lpugin

https://music-encoding.org/guidelines/v3/data-types/data.keysignature.html

@rettinghaus

[2019-09-12 20:58] bwbohl commented on #601
For cases like this we should definitely come up with a solution, which might mean to reinstate the control events in layer in mei all and disallowing them in CMN?

[2019-09-15 19:06] rettinghaus opened #613 "data.FRETNUMBER.limited"
`data.FRETNUMBER.limited` currently isn't part of `data.FRETNUMBER` nor is used anywhere else.

[2019-09-15 23:27] craigsapp opened #614 "keySig@sig.showchange"
On the page:

https://music-encoding.org/guidelines/v4/elements/keysig.html

The option to show a cancellation key signature is `keySig@sig.showchange`:

<img width="652" alt="Screen Shot 2019-09-15 at 4 21 25 PM" src="https://user-images.githubusercontent.com/3487289/64929007-11e90300-d7d5-11e9-9e0d-403ec223f49d.png">

It would be better if this were `keySig@showchange` since the `sig.` part is r

[2019-09-19 14:20] ndubo opened #617 "Rendering of two syllables on one note"
In Italian, but I assume in other (Romance) languages as well, there may be two (sometimes even more) syllables on one note, one of them at the end of a word, the other one at the beginning (see third note; the full piece is found here: <https://dme.mozarteum.at/movi/navigator/621/023/01/0013>).

![wordpos_01](https://user-images.githubusercontent.com/33256891/65250866-90f07b00-daf6-11e9-8ba3-03f3

[2019-09-19 16:29] craigsapp commented on #617
You have submitted the issue to the wrong repository 😉

[2019-09-20 08:34] bwbohl commented on #617
Yes, please file an issue in the verovio repository at: https://github.com/rism-ch/verovio

[2019-09-20 08:35] #617 closed, assigned to nobody

[2019-09-20 08:42] bwbohl commented on #614
Thanks for bringing this up. Going this direction, refactoring everything according to a consistent naming scheme certainly would improve MEI but introduce a massive backward compatibility break.

[2019-09-29 20:07] rettinghaus opened #619 "Parentheses on figured bass"
`@enclose` isn't allowed (yet) on `<fb>` and `<f>`. How should these numbers be encoded with parentheses?
[code]
Probably something like this would make sense, but it still doesn't look right.

[2019-10-02 19:57] rettinghaus opened #621 "revise description of staff element"
We should rethink the description of what a *staff* may be, e.g. a staff could be a single line instead of a group, the lines don't have to be equidistant, the lines don't have to be horizontal etc.
The current situation is not satisfactory.

[2019-10-02 21:01] craigsapp commented on #621
What sort of repertories would you plan on expanding to?   "equidistant horizontal" lines could be simplified to "parallel lines" or looser wording such as "parallel-like lines" for some of the examples below.  The main intention is horizontal staff lines as found in both chant, mensural, and cmn.  Would you want to encompass corruptions of the standard notation of these, or expand to non-western

[2019-10-03 05:05] rettinghaus commented on #621
Whatever we decide. I was thinking about those "warped" examples, too. But my main point is that the current version somewhat tries to describe a standard 5-lines staff without saying so explicitly. Percussion staffs are not covered at all. So "one ore more parallel-like lines" would be a start.

[2019-10-03 06:30] craigsapp commented on #621
Here is an example of a percussion staff where there are two lines, but the two lines are spaced as if there were a missing middle line between the two:

<img width="1480" alt="Screen Shot 2019-10-02 at 11 11 06 PM" src="https://user-images.githubusercontent.com/3487289/66103273-13068800-e56a-11e9-9062-d0af1b6431ad.png">

This sort of staff would be useful to be able to encode in MEI.  There is al

[2019-10-04 08:21] rettinghaus commented on #603
Maybe related to this is that something seems to be mixed up in `<dimensions>`.
It's part of the two `model.physDescPartGroups` and `model.textPhraseLike.limited`, but as content only `macro.struc-unstrucContent` is allowed (although the `remarks` say otherwise). It seems to me `model.textPhraseLike.limited` moved to the wrong position.

[2019-10-04 08:49] rettinghaus opened #622 "dedicatee is senseless"
`<dedicatee>` isn't allowed anywhere it would make sense (like `<item>` or `<manifestation>`). Instead it is part of `model.textPhraseLike.limited`, which allows it in all those non-sense places like `<date>`, `<dynam>`, and `<tempo>`.

The IG Metadata recommends to drop this element completely and use `@role="dedicatee"` whenever and wherever it is needed.

[2019-10-04 09:05] lpugin commented on #619
I agree it would make sense to have it on `<f>`. I am less sure about `<fb>`.

For now I would probably do:
[code]
Or, maybe better, use editorial markup, such as `supplied`

[2019-10-05 07:00] th-we opened #1036 "@num on <fTrem>/<bTrem>"
[This guildeline page](https://github.com/music-encoding/guidelines/blob/7f07d846987f90b428db689520d5e8027faf5135/_guidelines-v4/04-cmn/03-cmnadditionalmeasurecontent/05-cmnartic/03-cmntrem.md) says:

I was a little confused by that. I read this as "don't use `@num` unless you're an OMR process." But when an OMR process recognizes a tuplet number on a tremolo, why can't it just wrap the `<fTrem>`/

[2019-10-06 16:19] rettinghaus opened #623 "too many branches"
Perhaps it would be better to clean up the repo and delete stale branches that are older than five years.

[2019-10-07 06:28] ahankinson commented on #623
Done.

[2019-10-07 06:28] #623 closed, assigned to nobody

[2019-10-07 06:31] ahankinson commented on #622
I can't find any documentation on `@role`?

[2019-10-07 06:40] ahankinson commented on #621
I think the description obscures this bit too much, but the point is still that the "lines" may or may not actually be visible. Staff lines are a method of relating pitch, higher or lower, from another and in this sense they are equidistant parallel lines. The 'horizontal' is also strange, given the real-world examples shown, but it is also tightly bound to the metaphor of using space to show prog

[2019-10-07 08:13] rettinghaus commented on #622
The guidelines state it is

This is taken from [TEI](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.naming.html).

[2019-10-07 11:28] ahankinson commented on #622
I would challenge the metadata IG on that recommendation, then. The difference is that `<dedicatee>` is a controlled role name, while `@role` takes any string. If we're getting rid of `<dedicatee>` we'll probably want a method that recommends the use of some controlled list of roles.

[2019-10-07 11:29] ahankinson commented on #622
Is dedicatee the only one being dropped?

[2019-10-09 17:07] rettinghaus commented on #622
There will be more to be dropped, but this will be a different issue.
It is common (in the MEI examples) to use the [*MARC Code List for Relators*](http://www.loc.gov/marc/relators/relacode.html). This is described in the [Guidlines](https://music-encoding.org/guidelines/v4/content/metadata.html#headerTitleStatement).
The IG Metadata recommends in general to use a more generic way of coding, than

[2019-10-09 17:22] ahankinson commented on #622
I understand that we could use the list of relator codes, but as the `@role` attribute is uncontrolled, there is no way to specify that this is the authority that is used to control the values.

An alternative is the `@auth` and `@authURI` attributes. It's also not clear to me that 'whenever and whereever' is a useful application guideline. If, for example, you have

`<persName role="dedicatee" />

[2019-10-15 15:09] rettinghaus opened #627 "data.MODE is incomplete"
`data.MODE` is incomplete, e.g. all the plagal modes are missing.
I would like to add them.
Question is if all the Gregorian modes should go into `data.MODE.gregorian` as part of the mensural module. @music-encoding/mensural-ig

[2019-10-15 17:18] craigsapp commented on #627
They should definitely be added, and I think that particularly for early mensural music, the Gregorian modes would be useful to include, since the mode of a polyphonic piece was often described by the mode of the tenor part.

However, adding Gregorian modes to the current set might need some though to avoid confusion related to the historical definitions of modality.  The current MEI list of modes

[2019-10-15 17:50] ahankinson commented on #627
I know mode, like 'key,' gets more problematic the further back you go.

We might consider removing the `data.MODE` datatype altogether and simply allow the `@mode` attributes to be a semi-closed list, so that there are a number of non-controversial choices but anyone wishing to add more can do so without causing a validation error.

[2019-10-15 18:19] craigsapp commented on #627
That sounds OK to me, although for analysis and automation purposes it would be good to have enforced forms.  Giving a preferred list should be sufficient, and if someone really wants to not use the list they could.  For example "major" could be called "maj.", "Major", "Maggiore", "Dur", "C major" etc., with the alternate names not adding anything useful and making automatic processing of the mode

[2019-10-16 09:20] DILewis commented on #627
I’m far from being knowledgable about this subject (which also kind of means that I know enough to be scared of it). I agree that, since it’s much more an analytical concept than, say, key is in the early C19, it makes sense to have a semi-closed list as Andrew suggests.

Another advantage of this approach is that it allows it to be used by Jazzers (and possibly for the analysis of some post-tonal

[2019-10-16 13:02] rettinghaus commented on #627
Thank you all for the input. As @craigsapp mentioned a semi-closed list is always bad for parsing. Basically we always have (in every context) a strict list of values for "mode", and if you're not happy with the available ones, you should customize MEI to your needs (I think @kepper would agree).
Thus said, I'm not against a semi-closed list per se.

In the above description the ["Tonus peregrinus

[2019-10-16 13:10] rettinghaus commented on #627
Additionally I wanted to point out, that some music code systems use modes for rendering key signatures, e.g. Lilypond uses `\key f \mixolydian` and ABC music `K:H phrygian`.

[2019-10-16 13:13] ahankinson commented on #627
The change to a semi-closed list is actually as simple as changing:

`<valList type="closed">`

to

`<valList type="semi">`

Here: https://github.com/music-encoding/music-encoding/blob/develop/source/modules/MEI.xml#L2613

This can happen independently of the additional values, and, as @DILewis points out, could support additional modes like "[octatonic](https://en.wikipedia.org/wiki/Octatonic_sca

[2019-10-16 13:14] DILewis commented on #627
This is the sort of thing I worry about, though – from my position of partial knowledge, this looks like a hack. Lots of early music has a signature that is a step or two away from what this would suggest, and many pieces have different sigs in different parts without being in different modes. Arguably, this is true for key as well, and that’s why the signature is usually explicitly specified in a

[2019-10-16 15:35] craigsapp commented on #627
These are using the modern modal theory, so there is not any particular ambiguity (other than I didn't know ABC allowed German pitch names, which would make `K:B phrygian` difficult to interpret...).  In any case, MEI separates the key signature (visual domain) from the mode (analytic domain) in a manner similar to Humdrum.   This is important for the early key signatures as you mention, where an

[2019-10-21 18:17] kepper opened #628 "Neumes ODD customization incorrect"
The Neumes ODD tries to delete an `att.augmentdots` attribute class, which is actually called `att.augmentDots`.

https://github.com/music-encoding/music-encoding/blob/77c9a599e21da43da36513f65b9ff17a30c59370/customizations/mei-Neumes.xml#L107 https://github.com/music-encoding/music-encoding/blob/77c9a599e21da43da36513f65b9ff17a30c59370/source/modules/MEI.shared.xml#L308

[2019-10-21 18:24] kepper commented on #628
mei-Neumes.xml also references `att.duration.musical`, which doesn't exist (anymore)

[2019-10-24 17:52] rettinghaus opened #629 "custos and sb"
The guidelines say `sb` is

Hence it may contain a `custos`. As costodes only appear at the end of lines, it does not make sense to put it in an empty (!) element, that starts (!) a new line.

[2019-10-25 15:44] ahankinson commented on #629
To clarify: Are you saying that `sb` can currently contain custos, or that it should be able to contain it?

[2019-10-25 17:46] rettinghaus commented on #629
`sb` currently can contain `custos`.

[2019-10-25 17:56] davidrizo commented on #629
Hi all,

The title of the <sb> documentation page in "https://music-encoding.org/guidelines/v4/elements/sb.html” is (**system beginning**) – An empty formatting element that forces musical notation to begin on a new line. I agree with the fact of having an element that denotes the start of a system. Among other things It helps in the encoding of facsimiles.

If sb stands for "system beginning", ma

[2019-10-25 19:11] rettinghaus commented on #629
`custos` is a normal layer element, and that should be sufficient.
`barLine` also can end a system but it is not allowed within `sb`.

[2019-10-25 19:14] rettinghaus commented on #629
Just noticed that `custos` may also appear in `tuplet`. Does that make any sense? As custodes have no duration itself.

[2019-10-25 19:37] craigsapp commented on #629
A custos could theoretically be inserted within a tuplet group, provided that there is a system break within that group.  But this would typically be encoded as a `tupletSpan`, at least in measured music in the CMN module.

In mensural music, the scribe will generally break the music at a breve boundary, but if they are probably not very musical or they run out of space they may break at an arbitr

[2019-10-25 22:07] ahankinson commented on #629
I believe that 'round about MEI 2012 the definition of sb changed from "system break" to "system beginning". This was to bring it in line with TEI's "Line Beginning" element: https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-lb.html

So it's possible that `custos` as child is a hangover from that era. I agree that `custos` shouldn't be a child of `sb`, though.

[2019-10-26 16:36] #629 closed, assigned to nobody

[2019-10-27 17:38] rettinghaus opened #631 "chapter 4 examples"
The octave shift example is now missing.

[2019-10-30 18:10] #631 closed, assigned to nobody

[2019-10-30 18:13] rettinghaus opened #632 "choice not allowed in verse"
Strangely `<choice>` isn't allowed within `<verse>` but within `<syl>`. As `<verse>` may contain multiple syllables, this should be allowed.

[2019-11-05 17:42] rettinghaus opened #633 "plist available twice at tempo"
`att.plist` lists `<tempo>` twice in the "Available at" list:
https://music-encoding.org/guidelines/v4/attribute-classes/att.plist.html

[2019-11-19 12:57] rettinghaus opened #635 "custos with accid"
In CMN `custos` is a "substitute" for `note`, so it should allow `accid` as subelement.
Example from Mattheson's *Grosse General-Baß-Schule* (upper system):
![example](https://api.digitale-sammlungen.de/iiif/image/v2/bsb10598495_00434/1200,900,750,750/full/0/default.png)

[2019-11-22 09:29] rettinghaus opened #636 "all lists should allow subgroupings"
Some list elements (`<biblList>`, `<eventList>`) allow subgroupings while others don't, i.e. MEI allows something like
[code]
but disallows the same with `workList` or `expressionList`.

[2019-11-28 20:10] rettinghaus opened #638 "Values for MIDI volume"
`@midi.volume` should conform to `data.MIDIVALUE_PERCENT`, but there is no such datatype.

[2019-11-28 20:57] craigsapp commented on #638
Probably `data.MIDIVALUE_PERCENT` is a typo, and it should be `data.PERCENT`?

https://music-encoding.org/guidelines/v4/data-types/data.percent.html

Percent is a generic unit, so it is not specific to MIDI.

Also I do not see an attribute `@midi.volume` in the guidelines.  What elements can it be used on?  I theory it can exist since there is a master volume continuous controller in MIDI.  There

[2019-11-28 21:09] rettinghaus commented on #638
I would have guessed it meant data.MIDIVALUE *or* data.PERCENT …

It’s used here
https://music-encoding.org/guidelines/v4/elements/instrdef.html

[2019-11-28 21:16] craigsapp commented on #638
Yes, that makes sense.

[2019-12-08 22:08] craigsapp commented on #1604
Should discussions about new features (or changes in features) be placed here (music-encoding/guidelines) or in (music-encoding/music-encoding)?  I am going to submit a new issue for `<key>`, which I will start in this repository...

[2019-12-08 22:34] craigsapp opened #1536 "Enhancement of key element and/or clarification of keySig@pname"
The key element:

https://music-encoding.org/guidelines/v4/elements/key.html

Is currently allowed to be contained in these element:

<img width="416" alt="Screen Shot 2019-12-08 at 2 12 13 PM" src="https://user-images.githubusercontent.com/3487289/70397161-b0e05e00-19c4-11ea-8840-3a0ef369e88e.png">

It was originally designed to be a header-specific description of the key for the work.  However,

[2019-12-09 10:08] rettinghaus commented on #1536
As you can see from the Guidelines `@key.mode` `@key.accid` `@key.pname` are part of `MEI.analytical` and thus independent from `@key.sig`. There are multiple examples where the written key signature and the logical key signature doesn't seem to match (e.g. pieces by Mattheson and Mendelssohn):
[code]

[2019-12-09 13:49] craigsapp commented on #1536
Thanks.

Is `staffDef@key.pname` equivalent to `keySig@pname` (and same for mode)?

In other words, are these two equivalent in meaning:

[code]

[code]

In other words, when I look for the key, then I will have to look in both places to find it?

[2019-12-09 14:15] rettinghaus commented on #1536
I would say yes, they're equivalent.

[2019-12-09 17:34] craigsapp commented on #1536
Thanks!

[2019-12-10 15:47] craigsapp opened #639 "Coordinating triple sharp/flats in @accid and @accid.ges"
`note@accid` now allows for triple sharps/flats, so `note@accid.ges` should be updated to allow for the same:

| accid.ges | meaning | typical accid equivalence |
|--------|----------|-------------------|
| `sss`    | triple sharp |  `xs`, `sx`, `ts` |
| `fff`      | triple flat | `tf` |

https://music-encoding.org/guidelines/v4/data-types/data.accidental.gestural.html
https://music-encoding.org/g

[2019-12-10 16:41] earboxer commented on #639
We may want to support additional quartertone values so we don't leave any gaps:

[SMuFL has some glyphs for "Five-quarter-tones sharp" and others](http://www.smufl.org/version/latest/range/gouldArrowQuartertoneAccidentals24Edo/)

I guess I'm proposing addition of 2 values for "Five-quarter-tones flat" (-2.5 semitones) and "Five-quarter-tones sharp" (+2.5 semitones) for `accid.ges` (`ffd` and `ssu

[2019-12-20 23:01] efreja opened #641 "Qualifying Jazz chords"
MEI seems insufficient for the moment for qualifying accurately the harmonic analysis of jazz chords.

For instance, the **harm** element has a label that was foreseen to qualify the kind of chord, but using that label for harmonic analysis may be delicate, not to say impossible.
As an example, the chords in Jazz can be written in many different ways, for example the half diminished chord D-7b5 ca

[2020-01-17 14:25] kepper opened #642 "`@inth` inconsistently defined on `chordMember`"
The data type for `@inth` (`data.interval.harmonic`) requires information to be specified in diatones (https://music-encoding.org/guidelines/v4/data-types/data.interval.harmonic.html), while a remark on `<chordMember>` requires information in `@inth` to be specified in semitones (https://music-encoding.org/guidelines/v4/elements/chordmember.html). This needs to be resolved. I think the data type i

[2020-01-24 16:59] craigsapp commented on #322
Another thought for a contextless timestamp would be to explicitly (but optionally) mark the rhythmic unit of the timestamp.  For example `@tstamp="4q"` would mean a duration of four quarter notes regardless of the prevailing time signature.  Then `@tstamp="4e"` would be a duration of four eighth notes, `@tstamp="4h"` is for four half notes, `@tsamp="4w"` is four whole notes, `@tstamp="4s"` is fou

[2020-01-27 10:46] lpugin commented on #322
I am not convinced that `@tstamp.ges` is really the right option for context-less timestamps. My understanding of `*.ges` attributes is for them to be provided when the gestural domain information differs from the visual one. For example, `@oct` and `@oct.ges` when octava notation occurs. This does not seem to be the case with context-less timestamp. They are more just another way of encoding the

[2020-01-30 17:49] rettinghaus opened #643 "harpPedal missing form attribute"
The guidelines on harp pedals state that these

But there is no way to specify the desired rendering. So I recommend adding a `@form` attribute maybe with the values `text` and `diagram`.

[2020-01-31 13:14] #638 closed, assigned to nobody

[2020-02-03 13:18] rettinghaus opened #644 "pedal line vs. pedstar"
In `<pedal>` we can use `form="pedstar"` or `form="line"` to encode the first and the last case of the following example.
![grafik](https://user-images.githubusercontent.com/7693447/73655674-cdc8a300-468e-11ea-804c-9f7b06321f8c.png)

To encode the middle one (which is quite common in modern notation) I recommend to add the value `"mixed"` to the value list.

[2020-02-04 10:56] th-we opened #1494 "Need documentation for `@endid` on trills"
I'm not clear about whether the `@endid` of a trill should point to the last note of the trill or the first note/rest/whatever after the trill. Verovio seems to interpret `@endid` as the first thing after the trill:

    <measure n="1">
        <staff n="1">
            <layer n="1">
                <note xml:id="m-38" dur="1" oct="4" pname="g"/>
            </layer>
        </staff>
        <tril

[2020-02-04 19:46] craigsapp commented on #1494
I use `@tstamp2` in such cases (I think I use `@tstamp2` in all cases for trill lines):

<img width="1582" alt="Screen Shot 2020-02-04 at 11 41 45" src="https://user-images.githubusercontent.com/3487289/73780454-5c96f780-4743-11ea-98a5-f29cc1f77dc0.png">

using `@endid` for the next note would be somewhat problematic since the trill line should not cross the barline, that is why I added a tstamp t

[2020-02-05 17:47] davidrizo opened #645 "Plain chant encoding in mensural module"
Is there any specific element to encode a a plain chant melody in mensural module or the space element must be used?

In this example, I've composed how these voices should be approximately aligned, i.e., the altus (second voice) must start before the other voices until the bar line is found. In this case it happens at the beginning of the work, but it may be located in the middle of the piece:

!

[2020-02-20 22:15] davidrizo commented on #601
In mensural it happens the same situation. I suppose they were removed because the `tstamp` attribute was difficult to use in non measure notation. However, not it seems we can use this kind of notation that can be used to reinstate the control events:

`<fermata staff="1" startid="#note1" place="above" />`

[2020-02-25 15:13] rettinghaus opened #648 "beam slope"
The `@slope` attribute on `<beam>` currently allows decimal values, although the schema doesn't say anything about the meaning of this. Do the allowed values make sense at all? I guess
`data.DEGREES` would be better here.

[2020-02-25 16:56] craigsapp commented on #648
Yes, fractional values would be required, since the endpoints of a slur are typically locked to specific positions in relation to the staff lines (they are usually tangent to the staff line, or centered on a staff line). In order to do this, the angle needs to be a continuous floating-point number.

The `@slope` attribute is not very useful and should be calculated as a byproduct of the stem lengt

[2020-02-27 08:11] rettinghaus opened #649 "specify scope of system.leftline"
The guidelines say about `@system.leftline` on `<scoreDef>`:

To me it's not completely clear what should happen to one-staff systems.
Normally single staves do not have a starting bar line, yet the default value is "true". If this attribute only applies to multi-staff systems, a single staff *never* could be drawn with a line at the beginning of the system.
We should drop the un-MEI-ish default v

[2020-02-27 08:13] kepper commented on #649
agreed

[2020-02-27 10:44] bwbohl commented on #649
Agree aswell,
Maybe we should indicate that this also includes the case of a single-staff system?

[2020-02-28 11:25] musicEnfanthen opened #1412 "Chapter 03 (Metadata): Add examples for Metadata and Data association"
Dear Metadata IG (@margrethesb , @KristinaRichts , @axgeertinger et al.),

would it be possible (and feasible) to add some small examples to the section `3.1.1.7.1. Associating Metadata and Data` in the Metadata chapter (#82) for the use of `@data` and `@decls` to see the mechanism working?

Background: As far as I understand, `decls` is also a pointing/linking technique, that is available on `<pt

[2020-03-03 10:29] rettinghaus opened #651 "tuplet attributes"
`att.tuplet.log` currently is member of `att.event` and `att.startEndId`.
But what is the meaning of things like `@tstamp` and `@startid` on a layer element?

[2020-03-09 08:55] o-sapov opened #652 "slurs with multiple endings"
There are two use cases for slurs which currently seem quite problematically to encode.

## Case 1: Repeat signs

![543-003_TRIO](https://user-images.githubusercontent.com/24490898/76193697-e0318180-61e4-11ea-9fcc-19d74e830f3c.png)
Slurs 1 and 2 have two possible endings depending on which repetition is currently played.
-	endings for slur 1: 1a and 1b
-	endings for slur 2: 2a and 2b
-	slur 1b/2a

[2020-03-09 11:58] rettinghaus opened #653 "remove reading references"
In some remarks we find references like "(Read, p. 37-38)".
We should remove those as far as possible and add correct bibliographic citations to the remaining ones.

[2020-03-11 08:16] bwbohl commented on #1496
connected to music-encoding/guidelines#82

[2020-03-11 08:26] bwbohl commented on #1602
As mentioned in music-encoding/music-encoding#222 and obvious from the guidelines repo being separated from the schema development it is questionable whether to include code examples in the schema definition, nevertheless the guidelines and/or specs should provide examples and potentially even more than in the text-flow.
Maybe the best way would be to run a query of all examples in the guidelines

[2020-03-11 08:44] bwbohl opened #654 "Application independent symbol encoding"
see: https://github.com/music-encoding/guidelines/pull/145

[2020-03-14 11:23] rettinghaus commented on #601
`<fermatas>` are currently part of `model.controlEventLike.cmn`
First step is to make them part of `model.controlEventLike`
Also it may be in `model.sectionLike` to make it available in a `<section>`
That way it would be possible to use them in unmeasured music and also to use it *between* two measures without trying to figure out a logical value for `@tstamp` to place it on top of a bar line.

[2020-03-24 08:37] bwbohl commented on #632
good catch

[2020-04-01 16:22] rettinghaus commented on #1494
Usually `@endid` points to the last constituent of the affected ones, so the trill should last until the second note in the example. (Like a glissando has a start note and an end note, but the glissando doesn't continue on the end note.)
Trills to bar lines should (in this particular case) use `@tstamp2="5"`.

[2020-04-08 19:25] bwbohl commented on #636
Ok lists should definitely behave in a common way to some degree. But I think to some degree `biblList` originates from a earlier stage of modelling MEI than the rather recent `workList` and `expressionList`. The latter two now are to be seen in the FRBR-context which brings up the modelling of relations and thus `relationList`. The question consequently is: what does a nested list actually mean?

[2020-04-08 19:56] pe-ro commented on #636
Nesting <biblList> permits the creation of, well, nested lists like –

<biblList>
  <head>My favorites</head>
  <biblList>
   <head>Movies</head>
    …
  </biblList>
  <biblList>
    <head>Books</head>
    …
   </biblList>
</biblList>

Not necessarily useful within a simple header, but potentially very useful in explanatory text that might be found in, say, a thematic catalog.

--
p.

From: Benjam

[2020-04-08 20:00] pe-ro commented on #636
<worklist> and <expressionList> intentionally do not allow for hierarchical relationships between their “items”.  Those relationships can be expressed in other ways.

[2020-04-08 20:23] bwbohl commented on #636
That’s what I was trying to say, too ;-)
Thanks for putting it simple @pe-ro

[2020-04-08 21:23] pe-ro commented on #636
Oh, I’m definitely good at being simple. 😊

Seriously, it must be remembered that many of the elements used in both the header and in the “text-y bits” serve multiple purposes – their nature is often not just “this *or* that”, but rather “this *and* that”.  I’m aware of the inconsistency, but inconsistency and ambiguity are, like the poor, with us always.

[2020-04-10 18:33] davidrizo opened #660 "Parts in score organization"
Some time ago we were discussing in the MEI-L list [this issue](https://lists.uni-paderborn.de/pipermail/mei-l/2017/002058.html), but seems it has not been closed yet.

Let's take this example from the [sample encodings](https://github.com/music-encoding/sample-encodings/tree/master/MEI_4.0/Music/Complete_examples)
![image](https://user-images.githubusercontent.com/10772049/79011145-b52faa00-7b63-

[2020-04-10 21:00] pe-ro commented on #660
Hi David,

What you propose is fine, but I suggest that if the goal is to link directly to a <perfRes> element, then the attribute should be named ‘perfRes’ and it should be required to take the value of an existing <perfRes> element’s @xml:id.

Another possibility is to use a value in @label <instrDef> that matches the corresponding <perfRes> element’s @xml:id attribute or its content.  For examp

[2020-04-11 17:42] davidrizo commented on #660
Hi Perry,
I think the simplest option to understand is what you first suggest:
"...link directly to a <perfRes> element, then the attribute should be named ‘perfRes’ and it should be required to take the value of an existing <perfRes> element’s @xml:id."

Personally I don't need to have it now, it's just a proposal for improving MEI.
If it's considered interesting for being added to the next versi

[2020-04-14 15:35] rettinghaus commented on #651
Also it's unclear to me what `@dur.visible` is for, or why and where it may be different from `@num.visible`?

[2020-04-14 15:39] rettinghaus opened #661 "tuplet numbers with note glyphs"
Currently the values `count` and `ratio` are available in `@num.format`.
There should be a third option (perhaps `note`), to be able to encode things like this:
![tuplet](https://steinberg.help/dorico/v1/en/_shared_picts/picts/dorico/notation_reference/tuplets_number_ratio_note_value.png)

[2020-04-15 16:22] davidrizo commented on #660
Maybe, it makes more sense to use directly `instrDef` rather than the `perfRes`. Besides, we can link directly the `layerDef` to the `instrDef` in the current MEI version:

[code]

[2020-04-15 18:02] pe-ro commented on #660
Yep, that works too.  Definitely makes more sense, as it separates the info needed to associate a layer with an instrument from the textual label / metadata for the performing forces.  Sorry I didn’t recall this before.

From: davidrizo <notifications@github.com>
Sent: Wednesday, April 15, 2020 12:23 PM
To: music-encoding/music-encoding <music-encoding@noreply.github.com>
Cc: Roland, Perry D (pdr4

[2020-04-21 20:18] bwbohl commented on #636
If you'd want a hierarchical organised list of works you probably should stick with `biblList` and make the entries reference the respective `work`

[2020-04-21 20:18] #636 closed, assigned to nobody

[2020-04-21 20:37] bwbohl commented on #1604
new features please to the music-encoding repo, not the guidelines

[2020-04-21 20:40] bwbohl commented on #1536
probably we should add some schematron rules pointing to the relation if both exist in an encoding or even contradict each other

[2020-04-22 13:32] rettinghaus commented on #578
As far as I understood the concept of `@sameas`, it was meant for visual features. I think the beams should also carry a `@copyof`, and this would make it valid.
Just the description of these attributes should be enhanced in the guidelines.

[2020-04-22 13:51] lpugin commented on #578
I think you misunderstood. The guidelines seem very clear: "the `@sameas` indicates that the current element represents exactly the same entity as the one referenced in `@sameas`. Use of `@sameas` is used for describing the same entity from multiple perspectives, e.g., the same event in two layers."

[2020-04-22 14:24] kepper commented on #578
A simple `@sameas` should be sufficient, I agree. The schematron on beams is a little too strict, or at least its sibling on tuplet is – a tuplet may very well contain a `<bTrem>` with only one note in there. I think we should revise them…

[2020-04-22 19:25] bwbohl commented on #645
@martha-thomae could you please revise this issue?

[2020-04-22 22:24] giulianodibacco commented on #645
@davidrizo It is not entirely clear to me if you are asking how to encode the correct alignment (how to record the time when the other parts are silent and the altus sings solo, without using rests if there are no rests) or how to encode the alternance between mensural and chant notation. Could you clarify?

BTW with my shortsightedness, I am almost seeing a ligature c-d and two diamonds, as if th

[2020-04-23 01:20] pe-ro commented on #578
1. The schematron can be relaxed to also allow a beam with `@sameas` and no children, just as it currently does with `@copyof`.
2. A tuplet should always have more than one child. A tuplet shouldn't contain a single `<bTrem>` element. Doing so mixes visual and logical encoding. While a `<bTrem>` is often used as a shorthand way of writing a tuplet, it's *not a tuplet on the page*.  If you want to

[2020-04-23 01:54] pe-ro commented on #645
1. It would not be heretical to make `<section>` and `<ending>` and perhaps `<mdiv>` members of att.notationType.  This would permit capturing the notation type of time spans.
2. If it does turn out that the opening of @davidrizo's example is neume, not mensural notation, as @giulianodibacco suggests, why not use 'neumatic' as the value of `@notationtype` instead of adding 'chant'? "chant" is not

[2020-04-23 02:10] giulianodibacco commented on #645
@pe-ro 1) I am glad to hear that. 2) Totally agreed about using "neumatic" as a value. (I was not suggesting "chant" as a value but to introduce 'a value for chant' (the repertoire using neumatic notation).)

[2020-04-23 02:22] martha-thomae commented on #645
This sounds like the right solution!
Thanks, @pe-ro!

Regarding **point 2**, there is already a `@notationtype` value for neumatic notation (the value is `neume`), so we can use that. We would only need to make the changes indicated in **point 1** (make `<section>` a member of att.notationType to be able to use `@notationtype` within this element—because right now it only works on `<staffDef>`)

[2020-04-23 03:11] pe-ro commented on #645
@martha-thomae, you're correct -- the value is 'neume', not 'neumatic'.  Old, tired eyes.

[2020-04-23 09:07] giulianodibacco commented on #645
@martha-thomae worth mentioning in ch.5 when you discuss notationtype?

[2020-04-23 10:04] kepper commented on #578
I'm not saying a `<bTrem>` may serve to encode a tuplet – hence the need to wrap it into one. The correct encoding would then be to do something like
[code]
Of course, one may (or sometimes even should?) wrap the `<bTrem>` inside a `<choice>`, but I think this is independent from the tuplet. A complete example in that sense would look like so:
[code]
I think this is the proper way to separate logi

[2020-04-23 10:14] lpugin commented on #578
Wouldn't you (probably) expect?
[code]
And this does not have to be in a `<tuplet>`, does it?

[2020-04-23 10:27] kepper commented on #578
Well, I may need a `<beam>` when interested in nice rendition – for pure logical information, I don't need that. Let's say I left this out for brevity ;-)
And then of course I only need a `<tuplet>` when there is one in the source material I'm trying to encode. I have nothing at hand, so excuse my hand-drawn example below:
![bTremSample](https://user-images.githubusercontent.com/2078563/80088744-3

[2020-04-23 14:12] pe-ro commented on #578
I think we agree that the best way to represent this situation is to use `<choice>` to capture the encoding alternatives; that is, the abbreviation that uses a bowed tremolo vs. the expansion which uses beamed notes (with or without enclosing them in `<tuplet>`).

The desire is to put `<bTrem>` **inside** `<tuplet>` is just **wrong** because a tuplet indicates some things (the plural here is IMPOR

[2020-04-23 18:32] davidrizo commented on #645
@giulianodibacco I was asking all what you've discussed: the change of notation type and the alignment, and the key points have been discussed in your answers :)

Regarding the notation type let's better use an image that belongs to @martha-thomae (Martha, it's the document "1 ASPERGES ME", image 1v.jpg) -- see the segment until the bar line.

![image](https://user-images.githubusercontent.com/107

[2020-04-24 07:31] lpugin commented on #645
@davidrizo `@notationsubtype` is an open attribute with no predefined values. It is of course absolutely fine to use it the way you want, and to have your system using it. However, this is not going to be a generic approach.
Regarding the distinction between the visual aspect of the notation and its duration, I suggested a while ago to have a `@notationtype.ges` attribute for cases where there is

[2020-04-24 10:07] davidrizo commented on #645
Regarding the example below, all notes, despite their notated figure, should be played with the same duration.
![](https://user-images.githubusercontent.com/10772049/80128991-c2eb2380-8596-11ea-84b3-068005c6b482.png)

It is explained in "El melopeo y maestro :tractado de musica theorica y pratica", by Pietro Cerone, 1613.
(It is [digitised](https://books.google.es/books?id=yfwobs9YNwMC&pg=PA415&lp

[2020-04-27 14:25] rettinghaus opened #662 "Is syl@con logical or visual?"
`@con` and `@wordpos` are part of `att.syl.log`, but as `@syl` "Describes the symbols" shouldn't it be part of `att.syl.vis`?

[2020-04-27 19:52] martha-thomae commented on #645
Hi @davidrizo

Yes, this is plainchant. And all that you say is correct regarding that it appears as the incipit or alternating with polyphonic sections. But, as far as I know, **plainchant is notated in neumatic notation**. And all what you say later is in agreement with neumes:
1. notes not having specific durations
2. ligatures originated in neumes, but they didn't have a specific meaning in te

[2020-04-27 20:22] martha-thomae commented on #645
Regarding the other example—the one that looks like black mensural notation, but it is not—I agree with @lpugin solution. The use of a `@notationtype` and `@notationtype.ges` attributes to encode the visual and gestural domain seems perfect.

Yes, I agree, it would be something like `@notationtype = "black.mensural"` and `@notationtype.ges` equal to either `"neume"` or `"plainchant"` (whichever is

[2020-04-27 21:54] pe-ro commented on #645
I think
[code]
is gilding the lily.

Why not simply
[code]
?
This adequately captures the "form" of the notation in `@notationtype` and its function in `@notationsubtype` without adding yet another attribute.

Since the value space of `@notationsubtype` is unconstrained, it may even contradict `@notationtype`, for  example, in those cases where one form of notation is effectively functioning as an

[2020-04-29 08:45] rettinghaus opened #663 "meaning of data.FONTSIZESCALE"
I don't understand `data.FONTSIZESCALE`. I would have guessed, that "relative" means a percentage value. But an integer between 1 and 9?
@pe-ro could you explain this, please?

[2020-04-29 15:14] pe-ro commented on #663
Absolute values consist of a number and some kind of unit, e.g. "10 px".  The values here, however, are just numbers -- 1 is the smallest size, 9 is largest.  The actual rendition is dependent on/relative to the "base" or "normal" size, which is equivalent to the value "5".

Percentage values provide continuous values between 1 and 100. The integers 1 - 9 were chosen instead in order to give a sma

[2020-04-29 15:20] rettinghaus commented on #663
Thanks. Yes, I think FONTSIZESTEPPED would be better. But we should note somewhere, that "5" means "normal size", and that rendition may differ from one application to another.

[2020-04-29 15:57] lpugin commented on #663
I fully agree we can improve the description of the data type. I less sure about the name change. It does not bring much and I would leave it as it.

[2020-04-30 11:21] elsinhadl commented on #645
Hi,

Thank you for involving me in this interesting discussion.

_- Is the 'Asperges me' incipit of this piece written in neumes or is it some other type of notation?__
It is square notation, thus it is encoded using the MEI neume module. This incipit is sung as plainchant (no concern for expressing the rhythm in the notation).

_- @davidrizo 's incipit Dixit Dominus Domine meo:_
this looks notate

[2020-04-30 11:42] lpugin commented on #645
@pe-ro

I agree that `@notationtype.ges` is meant to serve a different purpose - I guess this is what you are referring to. Its purpose is to cover cases when the visual aspect of a notation differs than the gestural one. Maybe this is not useful in this particular case, but certainly in other ones in my opinion. I can elaborate in #597 if you think this is desirable. (This being said, I am not co

[2020-05-04 01:29] pe-ro commented on #645
We can take the discussion over to #597 if you like, but first I'd like to say that instead of `@notationtype.ges`, I'd prefer additional values in `@notationtype`.  One approach would be to use the value 'transitional' in `@notationtype`, then give the principal types in `@notationsubtype`.  For example,
[code]
would indicate a transitional notation between neume and black mensural notation that

[2020-05-04 01:29] pe-ro commented on #597
See my initial comments over in #645.

[2020-05-05 10:43] rettinghaus opened #664 "drop model.harmLike"
Currently `<harm>` is the only member of `model.harmLike`, which itself is member of `model.controlEventLike.harmony`. But `model.controlEventLike.harmony` itself is empty.
I propose to drop `model.harmLike` and make `<harm>` a direct member of `model.controlEventLike.harmony`.

[2020-05-05 16:30] pe-ro commented on #664
Sounds good with adequate testing, of course. 😀

[2020-05-05 17:17] th-we commented on #536
I share @ahankinson's opinion this should be encoded logically as `<fing>`.  We could allow a bracket element inside `<fing>`, or probably even better `<fingGrp>`.

I see `<fing>` as a more generally applicable element for encoding anything that eventually only describes which finger/hand/foot/body part to use how or where.  (For example, if [this chap](https://youtu.be/PcRyjkYdDxM?t=16) had a sch

[2020-06-05 15:43] #649 closed, assigned to nobody

[2020-08-27 13:37] #635 closed, assigned to nobody

[2020-10-16 12:29] #627 closed, assigned to nobody

[2020-10-29 13:55] #551 closed, assigned to nobody

[2021-01-20 15:17] #319 closed, assigned to nobody

[2021-02-25 13:38] #610 closed, assigned to nobody

[2021-03-26 14:03] #633 closed, assigned to kepper

[2021-04-29 12:50] #473 closed, assigned to nobody

[2021-06-16 07:45] #554 closed, assigned to nobody

[2021-06-16 07:49] #306 closed, assigned to ahankinson

[2022-01-24 11:57] #170 closed, assigned to nobody

[2022-01-31 17:34] #608 closed, assigned to axelberndt

[2022-02-24 15:58] #632 closed, assigned to nobody

[2022-03-17 17:20] #645 closed, assigned to martha-thomae

[2022-07-08 10:34] #607 closed, assigned to nobody

[2022-10-02 08:36] #284 closed, assigned to nobody

[2022-10-02 09:19] #569 closed, assigned to nobody

[2022-10-02 10:34] #621 closed, assigned to nobody

[2022-10-02 11:49] #363 closed, assigned to nobody

[2022-10-02 12:05] #476 closed, assigned to nobody

[2022-10-02 12:07] #176 closed, assigned to ahankinson

[2022-10-02 13:01] #603 closed, assigned to kepper

[2022-10-02 15:51] #568 closed, assigned to lpugin

[2022-10-03 12:17] #644 closed, assigned to lpugin, pe-ro

[2022-10-05 20:25] #592 closed, assigned to lpugin, bwbohl, pe-ro

[2022-10-11 09:13] #504 closed, assigned to lpugin, pe-ro

[2022-10-14 12:43] #572 closed, assigned to lpugin, pe-ro

[2022-10-20 13:01] #439 closed, assigned to pe-ro

[2022-10-20 13:37] #578 closed, assigned to lpugin, pe-ro